<template>
<vs-td > 
    <p @click.right="updateContextMenu($event)">{{data}}</p>
</vs-td>
</template>

<script>
export default {
    props:{
        data: {
            required: true,
            type: String
        },
        id: {
            required: true,
            type: Number
        }
    },
    methods: {
        updateContextMenu(event)
        {
            console.log(event)
            this.$emit('updateContextMenu',{
                id: this.id,
                position: {
                    clientX: event.clientX,
                    clientY: event.clientY
                }
            })
        }
    }
}
</script>