<template>
  <vs-sidebar @keyup.esc="isSidebarActiveLocal = false" click-not-close position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
    <div class="mt-6 flex items-center justify-between px-6">
        <h4>{{Object.entries(this.data).length == 0 ? 'Thêm mới' : 'Cập nhật'}} trạng thái hóa đơn</h4>
        <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
    </div>
    <vs-divider class="mb-0"></vs-divider>
    <VuePerfectScrollbar class="scroll-area--data-list-add-new" >
        <div class="p-3">
            <label for="LIST_STORE" class="vs-input--label">Danh sách cửa hàng</label>
            <v-select :options="LIST_STORE" v-model="selected_store" 
                value="ID_CUA_HANG"
                label="TEN_CUA_HANG" class="w-full"
                placeholder="Chọn cửa hàng"
                :disabled="Object.entries(this.data).length > 0"></v-select>
        </div>
        <vs-input :disabled="STT_LOCAL > 1 ? false : true"   class="w-full p-3" label="Tên trạng thái" v-model="status.TEN_TRANG_THAI"></vs-input>
        <vs-input :disabled="STT_LOCAL > 1 ? false: true" type="number" v-model="STT_LOCAL" class="w-full p-3" label="Số thư tự" :min="2"></vs-input>
        <div class="p-3">
            <vs-textarea class="mt-3 w-full"  height="100" counter="255" label="Mô tả" v-model="status.MO_TA_TRANG_THAI"/>
        </div>

    </VuePerfectScrollbar>
    <div class="flex flex-wrap items-center p-6 layout-pc" slot="footer">
      <vs-button type="border" color="primary" 
      style="margin-right: 5px;" @click="submitStatusBill">{{Object.entries(this.data).length == 0 ? 'Thêm mới' : 'Cập nhật'}}</vs-button>
      <vs-button @click="updateDefault" type="border" v-if="status.SELECTED == 0 && Object.entries(this.data).length > 0" color="warning"  style="margin-right: 5px;">Mặc định</vs-button>
      <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">Đóng</vs-button>
    </div>
  </vs-sidebar>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import { mapGetters } from 'vuex'

export default {
    name: 'sidebar-status-bill',
    props: {
        isSidebarActive: {
            required: true,
            type: Boolean
        },
        data: {
            requried: true,
            type: Object
        }
    },
    components:
    {
        VuePerfectScrollbar
    },
    data()
    {
        return {
            selected_store: null,
            loading: false,
            status: {}
        }
    },
    computed:
    {
        ...mapGetters([ "LIST_STORE"]),
        isSidebarActiveLocal:
        {
            get() {
                return this.isSidebarActive
            },
            set(val)
            {
                this.$emit('close',val)
            }
        },
        STT_LOCAL: {
            get()
            {
                return this.status.STT;
            },
            set(number)
            {
                this.status.STT = number;
            }
        }
    },
    watch:
    {
        isSidebarActiveLocal(boolean)
        {
           if(!boolean) return;
            this.$validator.reset();
            if(Object.entries(this.data).length == 0)
            {
                this.initValue();
            }
            else
            {
               this.status = {...this.data}
               this.selected_store = this.LIST_STORE.find((store) => store.ID_CUA_HANG == this.data.ID_CUA_HANG)

            }
        },
        selected_store(store)
        {
            if(store != null && Object.entries(this.data).length == 0)
            {
                this.status.ID_CUA_HANG = store.ID_CUA_HANG
                this.status.TEN_CUA_HANG = store.TEN_CUA_HANG
            }
        }
    },
    methods:
    {
        initValue()
        {
            this.status = {
                STT: 2,
                SELECTED: 0
            }
            this.selected_store = this.LIST_STORE[0]
        },
        submitStatusBill()
        {
            if(Object.entries(this.data).length == 0)
            {
                if(this.selected_store != null)
                {
                    this.apiCreateStatus()
                }
                else
                {
                    this.$vs.notify({
                        title: 'TẠO MỚI TRẠNG THÁI HÓA ĐƠN',
                        text: 'Bạn chưa chọn cửa hàng',
                        color: 'warning'
                    });
                }
            }
            else
            {
                this.apiUpdateStatus()
            }
        },
        apiCreateStatus()
        {
            this.$vs.loading();
            this.$store.dispatch('createStatusBill',this.status)
            .then((response) => {
                if(response.status == 401) this.$router.push('/logout');
                if(response.success == true) this.initValue();
                this.$vs.notify({
                    title: 'THÊM MỚI TRẠNG THÁI',
                    text: response.message,
                    color: response.success == true ? 'success' : 'warning'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
            .catch((err) => {
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
        },
        apiUpdateStatus()
        {
            this.$vs.loading();
            this.$store.dispatch('updateStatusBill',this.status)
            .then((response) => {
                if(response.status == 401) this.$router.push('/logout');
                this.$vs.notify({
                    title: 'CẬP NHẬT TRẠNG THÁI HÓA ĐƠN',
                    text: response.message,
                    color: response.success == true ? 'success' : 'warning'
                });

                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
            .catch((err) => {
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
        },
        updateDefault()
        {
            this.$vs.loading();
            this.$store.dispatch('defaultStatusBill',this.status.ID_TRANG_THAI)
            .then((response) => {
                if(response.status == 401) this.$router.push('/logout');
                this.$vs.notify({
                    title: 'CẬP NHẬT TRẠNG THÁI HÓA ĐƠN',
                    text: response.message,
                    color: response.success == true ? 'success' : 'warning'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
            .catch((err) => {
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
        }
    }
}
</script>


<style lang="scss" scoped>
.card-image-customer {
  width: 150px;
  height: 200px;
  margin: auto;
  margin-bottom: 15px;
  position: relative;
}
.input-file, .Imagecustomer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
}
.Imagecustomer {z-index: 998;opacity: 1;height: auto;}
.icon-upload-file {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 997;
  transform: translate(-50%,-50%)
}
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 40vw;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    height: calc(100% - 4.3rem);
}
#data-setting.active {position: absolute;width: 100%;height: 100%;top: 0;left: 0;opacity: .5;;}
</style>