<template lang="html">
  <div class="fuelux admin">
    <div class="wizard">
      <ul class="list-tab steps">
        <li :class="tab.account == true ? 'active' : ''" @click="chosetab('account')">
          <span class="badge badge-info">1</span>
          Danh sách người dùng
          <span class="chevron"></span>
        </li>
        <li :class="tab.group_role == true ? 'active' : ''" @click="chosetab('group_role')">
          <span class="badge badge-info">2</span>
          Danh sách nhóm quyền
          <span class="chevron"></span>
        </li>
        <li :class="tab.function == true ? 'active' : ''" @click="chosetab('function')">
          <span class="badge badge-info">3</span>
          Danh sách chức năng
          <span class="chevron"></span>
        </li>

        <li :class="tab.menu == true ? 'active' : ''" @click="chosetab('menu')">
          <span class="badge badge-info">4</span>
          Danh sách menu
          <span class="chevron"></span>
        </li>
      
      </ul>
    </div>
    <div class="list-tab">
      <div class="item-tab" :class="tab.account == true ? 'active' : ''">
        <tb-account />
      </div>
      <div class="item-tab" :class="tab.group_role == true ? 'active' : ''">
        <div class="layout-function bg-white">
          <div class="group-function mt-10">
           
            <tb-group-role />
          </div>
        </div>
      </div>
      <div class="item-tab" :class="tab.function == true ? 'active' : ''">
        <div class="layout-function bg-white p-4 mt-10">
          <group-function />
        </div>
      </div>

      <div class="item-tab" :class="tab.menu == true ? 'active' : ''">
        <div class="layout-function bg-white p-4 mt-10">
          <tab-menu />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    'tb-account' : () => import ('./tableAccount.vue'),
    'tb-function' : () => import ('./tableFunction.vue'),
    'tb-group-role' : () => import('./tableGroupRole.vue'),
    'group-function' : () => import('./groupFunction.vue'),
    'tab-menu' : () => import('./menu/tabMenu.vue')
  },
  data()
  {
    return {
      tab: {
        account: true,
        group_role: false,
        function: false,
        role: false,
        menu: false
      }
    }
  },
  methods:
  {
    chosetab(tab)
    {
      if(tab == 'account')
      {
        this.tab.account = true
        this.tab.group_role = false
        this.tab.function = false
        this.tab.role = false
        this.tab.menu = false
      }
      else if(tab == 'function')
      {
        this.tab.account = false
        this.tab.group_role = false
        this.tab.function = true
        this.tab.role = false
        this.tab.menu = false
      }
      else if(tab == 'group_role')
      {
        this.tab.account = false
        this.tab.group_role = true
        this.tab.function = false
        this.tab.role = false
        this.tab.menu = false
      }
      else if(tab == 'menu')
      {
        this.tab.menu = true
        this.tab.account = false
        this.tab.group_role = false
        this.tab.function = false
        this.tab.role = false
      }
      else
      {
        this.tab.account = false
        this.tab.group_role = false
        this.tab.function = false
        this.tab.role = true
        this.tab.menu = false
      }
    }
  }
}
</script>

<style>
  .list-tab>li {
    display: inline-block;
  }
  .item-tab {display: none;}
  .item-tab.active {display: block;}
  .list-action>li {display: inline-block;padding: 5px;width: 20%;text-align: center;}
</style>