<template>
<div id="page-detail-account">
    <vs-row>
        <vs-col class="p-3" vs-sm="12" vs-md="4" vs-lg="3">
            <ul id="menu-action-profile" class="list-action-profile mt-3">
                <li class="item-action-profile" v-for="(item, index) in menu_action" :key="index"
                    :class="{'active': item.active}"
                    @click="openAction(item)"
                >
                    <i :class="item.icon"></i> <span class="ml-3"> {{item.text}}</span>
                </li>
               
            </ul>
        </vs-col>
        <vs-col class="p-3" vs-sm="12" vs-md="8" vs-lg="9">
            <router-view></router-view>
        </vs-col>
    </vs-row>
    <div class="vx-row">
        <router-view name="detailAccount"></router-view>
    </div>
</div>
</template>

<script>
import ModuleAdmin from '@/store/admin/moduleAdmin.js'
import { mapGetters } from 'vuex'
export default {
    data()
    {
        return {
            menu_action: [
                {
                    text: 'Thông tin tài khoản',
                    icon: 'fa fa-user',
                    active: true,
                    link: `/account/${this.$route.params.ID_USER}`,
                },
                {
                    text: 'Đổi mật khẩu',
                    icon: 'fa fa-key',
                    active: false,
                    link: `/account/${this.$route.params.ID_USER}/reset-password`,
                },
                {
                    text: 'Thông tin cửa hàng',
                    icon: 'fa fa-store',
                    active: false,
                    link: `/account/${this.$route.params.ID_USER}/stores`,
                },
            ],
            ID_USER: null
           
        }
    },
    computed: {
    },
    methods:
    {
        openAction(item)
        {
            const IndexActive = this.menu_action.findIndex((action) => action.active == true)
            this.menu_action[IndexActive].active = false
            const IndexChose = this.menu_action.findIndex((action) => action == item)
            this.menu_action[IndexChose].active = true
            // alert('/account/'+this.$route.params.ID_USER+'/'+item.link)
            this.$router.push(item.link)
        },
        updateAction()
        {
            const paths = this.$route.fullPath;
            const IndexActive = this.menu_action.findIndex((menu) => menu.active == true);
            this.menu_action[IndexActive].active = false
            console.log(paths)
            const IndexUpdate = this.menu_action.findIndex((menu) => menu.link == paths);
            this.menu_action[IndexUpdate].active = true
        }
    },
    beforeCreate()
    {
        
        if(!this.$store.hasModule('admin'))
        {
            this.$store.registerModule('admin',ModuleAdmin)
        }
    },
    created()
    {
        this.ID_USER = this.$route.params.ID_USER
        this.updateAction();
    },
    mounted()
    {
        this.updateAction();
    }
}
</script>

<style lang="css" slote>
    .list-action-profile {background: #fff;}
    .list-action-profile> li{display: block;width: 100%;padding: 10px;border: 1px solid #e2e2e2;
        border-bottom: none;
        cursor: pointer;
    }
    .list-action-profile> li:last-child{
        border-bottom: 1px solid #e2e2e2;
    }
    .list-action-profile>li:hover, .list-action-profile>li.active {background: #4E8FB5; border-color: #4E8FB5;}
    @media (max-width: 991px)
    {
        .list-action-profile> li span {display: none;}
        .list-action-profile> li {display: inline-block;width: auto;}
        .list-action-profile> li {border-bottom: 1px solid #e2e2e2;border-right: none;}
        .list-action-profile> li:last-child {border-right: 1px solid #e2e2e2;}
    }
</style>