<template>
 <div class="group-function">
    <vs-row>
        <vs-col class="p-3" vs-sm="4" vs-md="5" vs-lg="4">
             <v-select name="GROUP_ROLE"  class="w-full" placeholder="Chọn nhóm người dùng" 
                v-model="selected_role_function" 
                :options="group_roles"
                value="UUID_GROUP_ROLE"  
                label="NAME_GROUP_ROLE"  >
              </v-select>
        </vs-col>
        <vs-col class="p-3" vs-sm="4" vs-md="5" vs-lg="4">
            <v-select  class="w-full" placeholder="Chọn tài khoản" 
            v-model="selected_user" :options="accounts_role" value="ID_USER"  label="USERNAME_USER"  ></v-select>
        </vs-col>
        
        <vs-col class="p-3" vs-sm="4" vs-md="2" vs-lg="4">
            <vs-button style="float:right;" @click="sidebarActive = true">Thêm mới</vs-button>
        </vs-col>
    </vs-row>
    <vs-row>
        <vs-col class="p-3" vs-sm="7" vs-lg="8">
            <p>DANH SÁCH CHỨC NĂNG</p>
        </vs-col>
        <vs-col class="p-3" vs-sm="5" vs-lg="4">
        <ul class="list-action">
            <li>
            <p>ADMIN</p>
            </li>
            <li>
                <p>XEM</p>
            </li>
            <li>
            <p>THÊM</p>
            </li>
            <li>
            <p>SỬA</p>
            </li>
            <li>
            <p>XÓA</p>
            </li>
        </ul>
        </vs-col>
    </vs-row>
    <item-function v-for="(item, index) in group_function_local" :key="index" :data="item"/>
    <vs-row>
        <vs-col vs-sm="12">
            <vs-button @click="update_detail_role()">CẬP NHẬT</vs-button>
        </vs-col>
    </vs-row>
    <sidebar-group-function  :isSidebarActive="sidebarActive"
        :data="group_function_edit"
        @close="sidebarActive = $event"
        @add="group_function_local.push($event)"/>
</div>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
    components: {
        'item-function' : () => import('./itemFunction.vue'),
        'sidebar-group-function' : () => import('./sidebarGroupFunction.vue')
    },
    data()
    {
        return {
            sidebarActive: false,
            group_function_edit: {},
            group_function_local: [],
            selected_role_function: null,
            selected_user: null   ,
        }
    },
    computed: {
        ...mapGetters(["group_roles", "accounts_role"])
    },
    watch: {
        selected_role_function(role)
        {
            if(role != null)
            {
                this.selected_user = null;
                this.$vs.loading();
                this.apiFecthDetailRole(role);
                this.apiFecthUserByRole(role);
                setTimeout(() => {
                    this.$vs.loading.close();
                },500)
            }
        },
        selected_user(user)
        {
            if(user != null){
                this.$vs.loading();
                this.$store.dispatch('fetchDetailRoleByIDUSER',user.ID_USER)
                .then(() => {
                    setTimeout(() => {
                        this.$vs.loading.close()
                    })
                })
                .catch(() => {
                    setTimeout(() => {
                        this.$vs.loading.close()
                    })
                    this.$vs.notify({
                        title: 'CẬP NHẬT QUYỀN',
                        text: 'Lỗi! Xin vui lòng F5 thử lại',
                        color: 'warning'
                    })
                })
            }
        }
    },
    methods: {
        apiFecthUserByRole(role)
        {
            this.$store.dispatch('fetchUserByRole',role.UUID_GROUP_ROLE)
            .then((response) => {
                if(response.success == false)
                {
                    this.$vs.notify({
                        title: 'DANH SÁCH NGƯỜI DÙNG',
                        text: response.message,
                        color: 'warning'
                    })
                }
            })
            .catch((err) => {
                 this.$vs.notify({
                    title: 'DANH SÁCH NGƯỜI DÙNG',
                    text: 'Lỗi! Xin vui lòng F5 thử lại',
                    color: 'warning'
                })
                setTimeout(() => {
                    this.$vs.loading.close()
                })
            })
        },
        apiFecthDetailRole(role)
        {
             this.$store.dispatch('fetchDetailRoleByUUID',role.UUID_GROUP_ROLE)
                .then((response) => {
                    if(response.success == false)
                    {
                        this.$vs.notify({
                            title: 'DANH SÁCH CHỨC NĂNG',
                            text: response.message,
                            color: 'warning'
                        })
                    }
                })
                .catch((err) => {
                    console.log('detail role', err)
                    setTimeout(() => {
                        this.$vs.loading.close()
                    })
                    this.$vs.notify({
                        title: 'CẬP NHẬT QUYỀN',
                        text: 'Lỗi! Xin vui lòng F5 thử lại',
                        color: 'warning'
                    })
                })
        },
        update_detail_role()
        {
            if(this.selected_role_function == null && this.selected_user == null)
            {
                this.$vs.notify({
                    title: 'CẬP NHẬT NHÓM QUYỀN',
                    text: 'Bạn chưa chọn nhóm quyền để cập nhật!',
                    color: 'warning'
                })
            }
            else
            {
                this.$vs.loading()
                var data = {
                    ID: this.selected_role_function == null ? this.selected_user.ID_USER : this.selected_role_function.UUID_GROUP_ROLE,
                    TYPE: this.selected_role_function == null ? 'ID_USER' : 'UUID_ROLE'
                }
                // console.log('data update', data);
                this.$store.dispatch('updateDetailRole',data)
                .then((response) => {
                    setTimeout(() => {
                        this.$vs.loading.close()
                    },500)
                    this.$vs.notify({
                        title: 'CẬP NHẬT QUYỀN',
                        text: response.message,
                        color: response.success == true ? 'success' : 'warning'
                    })
                })
                .catch((err) => {
                    setTimeout(() => {
                        this.$vs.loading.close()
                    },500)
                    this.$vs.notify({
                        title: 'CẬP NHẬT QUYỀN',
                        text: 'Lỗi! Xin vui lòng F5 thử lại!',
                        color: 'danger'
                    })
                })
            }
        }
    },
    created() {
      
        this.$store.dispatch('fetchFunction').then((response) => {
            this.group_function_local = response.result
            if(response.success == false)
            {
                this.$vs.notify({
                    title: 'DANH SÁCH CHỨC NĂNG',
                    text: response.message,
                    color: 'warning'
                })
            }
        })
        .catch((err) => {
            console.log(err)
            this.$vs.notify({
                title: 'DANH SÁCH CHỨC NĂNG',
                text : 'Lỗi! Xin vui lòng F5 thử lại!',
                color: 'danger'
            })
        })        
    },
}
</script>