<template>
    <div>
        <router-view></router-view>
    </div>
</template>

<script>
import ModuleGroupRole from '@/store/role/ModuleRole.js'
import moduleAdmin from '@/store/admin/moduleAdmin.js'
export default {
    beforeCreate() {
        if(!this.$store.hasModule('admin'))
        {
             this.$store.registerModule('admin',moduleAdmin)
        }
        if(!this.$store.hasModule('group_role'))
        {
            this.$store.registerModule('group_role',ModuleGroupRole)
        }
    },
    beforeDestroy()
    {   
        // this.$store.unregisterModule('group_role')
    }
}
</script>