<template>
    <vs-row>
        <vs-col class="p-3" vs-sm="7" vs-lg="8">{{data.NAME_FUNCTION}}</vs-col>
        <vs-col class="p-3" vs-sm="5" vs-lg="4">
            <ul class="list-action">
                <li>
                    <vs-checkbox @change="update_role(true)" v-model="role.admin" vs-true="true" vs-false="false"></vs-checkbox>
                </li>
                <li>
                    <vs-checkbox @change="update_role(false)"  v-model="role.view" vs-true="true" vs-false="false"></vs-checkbox>
                </li>
                <li>
                  <vs-checkbox @change="update_role(false)"  v-model="role.add" vs-true="true" vs-false="false"> </vs-checkbox>
                </li>
                <li>
                    <vs-checkbox @change="update_role(false)" v-model="role.edit" vs-true="true" vs-false="false"></vs-checkbox>
                </li>
                <li>
                    <vs-checkbox  @change="update_role(false)" v-model="role.delete" vs-true="true" vs-false="false"></vs-checkbox>
                </li>
              </ul>
        </vs-col>
    </vs-row>
</template>

<style>
    .checkbox_x.vs-checkbox {text-align: center;margin: auto;}
</style>

<script>
import {mapGetters} from 'vuex'
export default {
   props: {
       data : {
        type: Object,
        required: true
       }
   },
   data()
   {
       return {
           role: {
               admin: false,
               view: false,
               edit: false,
               add: false,
               delete: false
           }
       }
   },
   computed: {
       ...mapGetters(["detail_roles"])
   },
   watch: {
       role(new_role)
       {
            console.log(new_role)
       },
       detail_roles(new_detail_roles)
       {
           var detail_role = new_detail_roles.filter((value,index,array) => {
               return array[index].UUID_FUNCTION == this.data.UUID_FUNCTION
           })[0]
           if(detail_role != undefined)
           {
               if(detail_role.roles != undefined)
               {
                   this.role = detail_role.roles
               }
               else
               {
                    this.role = JSON.parse(detail_role.JSON_VALUE)
                    this.$store.commit("UPDATE_DETAIL_ROLE",{
                        UUID_FUNCTION: this.data.UUID_FUNCTION,
                        roles: JSON.parse(detail_role.JSON_VALUE)
                    })
               }
           }
           else
           {
                this.initValue(0)
           }
        //    console.log(detail_role)
       }
   },
   methods:
   {
    update_role(boolean)
    {
        if(this.role.admin == boolean && boolean == true)
        {
            this.role = {
               admin: true,
               view: true,
               edit: true,
               add: true,
               delete: true
           }
        }
        this.$store.commit("UPDATE_DETAIL_ROLE",{
            UUID_FUNCTION: this.data.UUID_FUNCTION,
            roles: this.role
        })
    },
    initValue()
    {
        this.role = {
               admin: false,
               view: false,
               edit: false,
               add: false,
               delete: false
           }
    }
   }
}
</script>