<template>
<div>
  <vs-sidebar @keyup.esc="isSidebarActiveLocal = false" click-not-close position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
    <div class="mt-6 flex items-center justify-between px-6">
        <h4>{{ Object.entries(this.data).length === 0 ? "THÊM MỚI" : "CẬP NHẬT" }} TÀI KHOẢN</h4>
        <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
    </div>
    <vs-divider class="mb-0"></vs-divider>
    <VuePerfectScrollbar class="scroll-area--data-list-add-new" >
      <div class="form-account p-3">
        <label for="GT_USER" class="vs-input--label">Loại tài khoản</label>
         <v-select  class="w-full" placeholder="Chọn nhóm người dùng" 
            v-model="selected_role" :options="group_roles_local" value="UUID_GROUP_ROLE"  label="NAME_GROUP_ROLE"  ></v-select>
        
        <vs-input 
          @change="checkAccount"
          class="w-full" label="Tài khoản" name="USERNAME_USER" 
          :class="warning == true ? 'warning' : ''"
          v-model="account.USERNAME_USER" :disabled="Object.entries(this.data).length > 0 ? true : false" required></vs-input>
        
         <vs-input 
          class="w-full" label="Mật khẩu" name="PASSWORD_USER" 
          v-if="Object.entries(this.data).length  == 0"
          v-model="account.PASSWORD_USER" ></vs-input>

        <vs-input class="w-full" label="Email" v-model="account.EMAIL_USER"></vs-input>

        <vs-input class="w-full" label="Số điện thoại" v-model="account.SDT_USER"></vs-input>

        <vs-input class="w-full" label="Tên người dùng" v-model="account.HO_TEN_USER"></vs-input>
        
        <vs-input class="w-full" label="Ngày sinh" type="date" v-model="account.BIRTH_DAY"></vs-input>

        <label for="GT_USER" class="vs-input--label">Giới tính người dùng</label>
        <v-select class="w-full" name="GT_USER" :options="gender" value="ID_GENDER" label="NAME_GENDER" v-model="selected_gender"></v-select>
        
        <vs-textarea v-model="account.DC_USER" label="Địa chỉ" class="w-full mt-3" />
      </div>
    </VuePerfectScrollbar>
    <div class="flex flex-wrap items-center p-6 layout-pc" slot="footer">
      <vs-button class="mr-6" @click="submitFunction()" :disabled="!isFormValid || account.STATUS == 1">{{Object.entries(this.data).length === 0 ? "THÊM MỚI": "CẬP NHẬT"}}</vs-button>
      <vs-button color="warning" class="mr-6" @click="lockAccount" v-if="Object.entries(this.data).length > 0">{{this.data.STATUS == 1 ? 'MỞ KHÓA' : 'KHÓA TÀI KHOẢN'}}</vs-button>
      <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">Cancel</vs-button>
    </div>
     
  </vs-sidebar>
</div>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import {mapGetters} from 'vuex'

export default {
    name: 'sidebar-action-account',
    components:
    {
      VuePerfectScrollbar
    },
   props: {
     isSidebarActive: {
       type: Boolean,
       required: true
     },
    data: {
      type: Object,
      default: () => {},
    }
  },
  watch: {
    group_roles(roles)
    {
      this.group_roles_local = roles
    },
    isSidebarActiveLocal(val) {
      if(!val) return
      if(Object.entries(this.data).length === 0) {
        this.$validator.reset()
        this.initValue();
      }else {
          
          this.selected_role = this.group_roles.filter((value,index,array) => {
            return array[index].UUID_GROUP_ROLE == this.data.UUID_GROUP_ROLE
          })[0]
          this.selected_gender = this.gender.filter((value,index,array) => {
            return array[index].ID_GENDER == this.data.GT_USER
          })[0]
          this.account = {...this.data}
      }
    },
    selected_role(role)
    {
      if(role != null)
      {
        this.account.NAME_GROUP_ROLE = role.NAME_GROUP_ROLE
        this.account.UUID_GROUP_ROLE = role.UUID_GROUP_ROLE
      }
    }
    
  },
  computed: {
    isFormValid() {
      return !this.errors.any()
    },
    isSidebarActiveLocal:{
      get()
      {
        return this.isSidebarActive
      },
      set(val)
      {
        this.$emit('closeSidebar',val)
      }
    },
    ...mapGetters(["group_roles"])
  },
  data()
  { 
    return {
        warning: false,
        selected_role: null,
        gender: [
          {
            ID_GENDER: 0,
            NAME_GENDER: 'Nam',
          },
          {
            ID_GENDER: 1,
            NAME_GENDER: 'Nữ',
          },
        ],
        account: {
          STATUS: 0,
          GT_USER: 0,
          DC_USER: '',
          PASSWORD_USER: Math.random().toString(36).substring(2, 15)
        },
        selected_gender: {
          ID_GENDER: 0,
          NAME_GENDER: 'Nam'
        },
        group_roles_local: this.group_roles
    }
  },
  methods: {
    initValue()
    { 
      this.selected_gender = {
         ID_GENDER: 0,
          NAME_GENDER: 'Nam'
      },
      this.selected_role = null
      this.account = {
        STATUS: 0,
        GT_USER: 0,
        DC_USER: '',
        PASSWORD_USER: Math.random().toString(36).substring(2, 15)
      }
      // console.log('account', this.account)
    },

    submitFunction()
    {
      this.$vs.loading();
      if(this.account.STATUS == 0)
      {
        if(Object.entries(this.data).length > 0)
        {
          this.$store.dispatch('updateAccount',this.account)
          .then((response) => {
              this.$vs.notify({
                title: 'Cập nhật tài khoản',
                text: `${response.message}`,
                color: response.success == true ? 'success' : 'warning'
              })
          })
          .catch((err) => {
            console.log('err ',err)
            this.$vs.notify({
              title: 'Cập nhật tài khoản',
              text: 'Lỗi! Xin vui lòng F5 thử lại!',
              color: 'danger'
            })
            setTimeout(() => {
              this.$vs.loading.close();
            }, 500);
          })
        }
        else
        {
          if(this.warning == true)
          {
            this.$vs.notify({
              title: 'Tạo tài khoản',
              text: 'Tài khoản này đã tồn tại!',
              color: 'warning'
            });
          }
          else
          {
            this.$store.dispatch('createAccount',this.account)
            .then((response) => {
              this.$vs.notify({
                title: 'Tạo tài khoản',
                text: response.message,
                color: response.success == true ? 'success' : 'warning'
              })
              if(response.success == true )
              {
                this.initValue();
              }
            })
            .catch((err) => {
              console.log(err)
              this.$vs.notify({
                title: 'Tạo tài khoản',
                text: 'Lỗi! Xin vui lòng F5 thử lại!',
                color: 'danger'
              })
              setTimeout(() => {
                this.$vs.loading.close();
              }, 500);
            })
          }
        }
      }
      else
      {
        this.$vs.notify({
          title: Object.entries(this.data).length > 0 ? 'Cập nhật tài khoản' : 'Tạo tài khoản',
          text: 'Tài khoản đã bị khóa',
          color: 'warning'
        });
      }
      setTimeout(() => {
        this.$vs.loading.close();
      }, 500);
    },
    lockAccount()
    {
        this.$vs.loading();
        this.$store.dispatch('lockAccount',this.account)
        .then((response) => {
          this.$vs.notify({
            title: this.account.STATUS == 1 ? 'Mở tài khoản' : 'Khóa tài khoản',
            text: `${response.message}`,
            color: response.success == true ? 'success' : 'warning'
          })
        })
        .catch((err) => {
          this.$vs.notify({
            title: this.account.STATUS == 1 ? 'Mở tài khoản' : 'Khóa tài khoản',
            text: 'Lỗi! Xin vui lòng F5 thử lại!',
            color: 'danger'
          })
          setTimeout(() => {
            this.$vs.loading.close();
          }, 500);
        })
        setTimeout(() => {
          this.$vs.loading.close();
        }, 500);
    },
    checkAccount()
    {
      this.$vs.loading();
      this.$store.dispatch('user/checkUsername',this.account.USERNAME_USER).then((response)=> {
        console.log(response)
        if(response.success == true)
        {
          this.$vs.notify({
            title: 'Thêm mới tài khoản',
            text: 'Tài khoản đã tồn tại!',
            color: 'warning'
          })
          this.warning = true;
        }
        else{
          this.warning = false
        }
      }).catch(() => {
        this.$vs.notify({
           title: 'Thêm mới tài khoản',
           text: 'Tài khoản đã tồn tại!',
           color: 'warning'
        });
         setTimeout(() => {
          this.$vs.loading.close();
        }, 500);
      })
       setTimeout(() => {
          this.$vs.loading.close();
        }, 500);
    }
  },
  created()
  {

  }
}
</script>


<style lang="scss" scoped>
.warning {color: rgba(var(--vs-danger),1)!important;}
.card-image-customer {
  width: 150px;
  height: 200px;
  margin: auto;
  margin-bottom: 15px;
  position: relative;
}
.input-file, .Imagecustomer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
}
.Imagecustomer {z-index: 998;opacity: 1;height: auto;}
.icon-upload-file {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 997;
  transform: translate(-50%,-50%)
}
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 600px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    height: calc(100% - 4.3rem);
}
</style>