<template>
<div>
  <vs-sidebar @keyup.esc="isSidebarActiveLocal = false" click-not-close position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
    <div class="mt-6 flex items-center justify-between px-6">
        <h4>THÊM MỚI NHÓM CHỨC NĂNG</h4>
        <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
    </div>
    <vs-divider class="mb-0"></vs-divider>
    <VuePerfectScrollbar class="scroll-area--data-list-add-new" >
        <vs-input  label="TÊN CHỨC NĂNG" v-model="fc.NAME_FUNCTION" class="w-full p-6 mt-5" v-validate="'required'"  />
       <div class="p-6">
         <vs-textarea v-model="fc.DESC_FUNCTION" label="MÔ TẢ" class="w-full " />
       </div>

    </VuePerfectScrollbar>
    <div class="flex flex-wrap items-center p-6 layout-pc" slot="footer">
      <vs-button class="mr-6" @click="submitGroupFunction" :disabled="!isFormValid">THÊM MỚI</vs-button>
      <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">Cancel</vs-button>
    </div>
     
  </vs-sidebar>
</div>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import {mapGetters} from 'vuex'

export default {
    name: 'sidebar-action-group',
    components:
    {
      VuePerfectScrollbar
    },
   props: {
     isSidebarActive: {
       type: Boolean,
       required: true
     },
     data:{
       type: Object,
       required: false
     }
  },
  watch: {
    isSidebarActiveLocal(val) {
      if(!val) return
      if(Object.entries(this.data).length === 0) {
        this.$validator.reset()
      }else {
          
      }
    }
  },
  computed: {
    isFormValid() {
      return !this.errors.any()
    },
    isSidebarActiveLocal:{
      get()
      {
        return this.isSidebarActive
      },
      set(val)
      {
        this.$emit('close',val)
      }
    },
  },
    data()
    { 
        return {
            fc:{
                NAME_FUNCTION: '',
                DESC_FUNCTION: '',
                STATUS_FUNCTION: 0
            }
        }
    },
    methods: {
        initValue()
        {
            this.fc = {
                NAME_FUNCTION: '',
                DESC_FUNCTION: '',
                STATUS_FUNCTION: 0
            }
        },
        submitGroupFunction()
        {
            this.$vs.loading()
            this.$store.dispatch('createFunction',this.fc)
            .then((response) => {
                var color = response.success == true ? 'success' : 'warning';
                this.$vs.notify({
                    title: 'THÊM MỚI CHỨC NĂNG',
                    text: response.message,
                    color: color
                })
                if(response.success == true)
                {
                    this.fc.UUID_FUNCTION = response.result
                    setTimeout(() => {
                      // this.$emit('add',this.fc)
                      this.$vs.loading.close()
                      this.initValue()
                    },500)
                   
                }
             
            })
            .catch((err) => {
              console.log('err ', err)
              this.$vs.notify({
                title: 'THÊM MỚI CHỨC NĂNG',
                text: 'Lỗi! Xin vui lòng F5 thử lại!',
                color: 'danger',
                position: 'bottom-right'
              })
              setTimeout(() => {
                this.$vs.loading.close()
              }, 500);
            })
           
        },
       
    },
    created()
    {

    }
}
</script>


<style lang="scss" scoped>
.card-image-customer {
  width: 150px;
  height: 200px;
  margin: auto;
  margin-bottom: 15px;
  position: relative;
}
.input-file, .Imagecustomer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
}
.Imagecustomer {z-index: 998;opacity: 1;height: auto;}
.icon-upload-file {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 997;
  transform: translate(-50%,-50%)
}
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 600px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    height: calc(100% - 4.3rem);
}
</style>