<template>
    <div>
        <vs-table ref="table" class="mt-10" 
          :data="ACCOUNT_LOCAL" 
          :maxItems="20"
          loading
        >
          <div id="table-ecosy" slot="header" class=" p-3 header-table-search flex flex-wrap-reverse items-center flex-grow bg-white">
            <vs-row>
              <vs-col class="p-3" vs-sm="6" vs-md="5" vs-lg="3">
                <vs-input class="w-full" placeholder="Nhập tài khoản người dùng" @input="search_text" v-model="filter.text"></vs-input>
              </vs-col>
              <vs-col class="p-3" vs-sm="6" vs-md="4" vs-lg="4">
                <v-select name="GROUP_ROLE"  class="w-full" placeholder="Chọn nhóm người dùng" 
              v-model="selected_role" :options="group_roles" value="UUID_GROUP_ROLE"  label="NAME_GROUP_ROLE"  ></v-select>
              </vs-col>
              <vs-col class="p-3" vs-sm="4" vs-md="3" vs-lg="3">
                 <vs-button type="border" color="success" @click="isSidebar = true">Thêm mới</vs-button>
              </vs-col>
            </vs-row>
          </div>
            
          <template slot="thead" >
             <vs-th>Loại tài khoản</vs-th>
            <vs-th>Tài khoản </vs-th>
            <vs-th>Email</vs-th>
            <vs-th>Tên người dùng</vs-th>
            <vs-th>Ngày sinh</vs-th>
            <vs-th>Số điện thoại</vs-th>
            <vs-th>Giới tính</vs-th>
            <vs-th>Thao tác</vs-th>
          </template>
          <template slot-scope="{data}" >
            <tbody oncontextmenu="return false;">
              <vs-tr 
              :data="tr" 
              :key="index" 
              v-for="(tr, index) in data" 
              :class="tr.STATUS == 1 ? 'warning': ''"
              >
                
                <item-td :data="tr.NAME_GROUP_ROLE" @updateContextMenu="updateContextMenu" 
                    :id="tr.ID_USER" 
                  />

                <vs-td>
                    <span class="text-hover" @click="edit_account(tr)">{{tr.USERNAME_USER}}</span>
                </vs-td>

                <vs-td>{{tr.EMAIL_USER}}</vs-td>

                <vs-td>
                    {{tr.HO_TEN_USER}}
                </vs-td>

                <vs-td>
                    {{tr.BIRTH_DAY == null ? 'Chưa cập nhật' : formatBirthDay(tr.BIRTH_DAY)}}
                </vs-td>
                
                <vs-td>
                  {{tr.SDT_USER == undefined ? '' : tr.SDT_USER }}
                </vs-td>

                <vs-td>
                  {{tr.GT_USER == 0 ? 'Nam' : 'Nữ'}}
                </vs-td>

                <vs-td class="whitespace-no-wrap">
                    <button  class="m-1 btn-action p-2" @click="edit_account(tr)"><i class="fa fa-edit"></i></button>
                    <button class="m-1 btn-action p-2" @click="delete_account(tr)"><i :class="tr.STATUS == 0 ? 'fa fa-trash': 'fa fa-key'"></i></button>
                    <button class="m-1 btn-action p-2" @click="detailAccount(tr)"><i class="fa fa-chevron-right"></i></button>
                </vs-td>

              </vs-tr>
            </tbody>
          </template>
        </vs-table>
        <div class="pagination p-3">
           <vs-row>
                <vs-pagination :total="pagination.total" v-model="current_page"></vs-pagination>
            </vs-row>
        </div>
        <sidebar-action-account :isSidebarActive="isSidebar" :data="data_edit"
          @closeSidebar="updateEdit" />
        <ul class="list-menu-context" 
          :class="show_menu_context == true ? 'active' : ''"
          :style="{ top: position.clientY + 'px', right: position.clientY + 'px' }"
          >
          <li>Xem chi tiết</li>
          <li>Cập nật thông tin</li>
          <li>Khóa tài khoản</li>
        </ul>
    </div>
</template>
<script>
import moment from 'moment'
import { mapGetters } from 'vuex'
export default {
    components:
    {
      'sidebar-action-account': () => import('./sidebarActionAccount.vue'),
      'item-td': () => import('./table/itemtdTable.vue')
    },  
    data(){
        return {
            ACCOUNT_LOCAL: this.accounts_all,
            isSidebar: false,
            data_edit: {},
            selected_role: null,
            filter: {
              text: ''
            },
            show_menu_context: false,
            position:  {},
            pagination: {
              total: 0,
              current_page: 1,
              show: 20
            }
        }
    },
    computed:{
      ...mapGetters(["group_roles", "accounts_all"]),
      current_page:
      {
        get()
        {
          return this.pagination.current_page
        },
        set(number)
        {
          this.pagination.current_page = number
          this.fetchAccount(this.pagination)
        }
      }
    },
    watch:
    {
      isSidebar(boolean)
      {
        if(boolean == false)
        {
          this.data_edit = {}
        }
      },
      selected_role(role)
      {
        this.$vs.loading();
        if(role!=null)
        {
          this.search_text();
          this.ACCOUNT_LOCAL = this.ACCOUNT_LOCAL.filter((value,index,array) => {
            return array[index].UUID_GROUP_ROLE == role.UUID_GROUP_ROLE
          })
        }
        else
        {
          this.search_text();
        }
        setTimeout(() => {
          this.$vs.loading.close();
        }, 500);
      },
      pagination(new_pagination)
      {
        console.log(new_pagination)
        this.fetchAccount(new_pagination)
      }
    },
    methods: {
        formatBirthDay(date)
        {   
            if(date == null) return date;
            else return moment(date,'YYYY-MM-DD').format('DD/MM/YYYY')
        },
        edit_account(data)
        {
          this.isSidebar = true
          this.data_edit = data
        },
        delete_account(data)
        {
           this.$vs.dialog({
                type:'confirm',
                color: 'warning',
                title: data.STATUS == 1 ? 'Mở tài khoản' : 'Khóa tài khoản' ,
                text: data.STATUS == 1 ? 'Bạn chắc chắn mở tài khoản'  +data.USERNAME_USER + ' ?' : 'Bạn có chắc chắn kháo tài khoản '+ data.USERNAME_USER + ' ?',
                data: data,
                acceptText: 'Đồng ý',
                cancelText: 'Hủy',
                accept: () => {
                this.accept_lock_account(data)
                }
            })
        },
        updateEdit(boolean)
        {
          this.isSidebar = boolean
          this.data_edit = {}
        },
        accept_lock_account(data)
        {
          this.$vs.loading();
          this.$store.dispatch('lockAccount',data)
          .then((response) => {
            this.$vs.notify({
              title: data.STATUS == 1 ? 'Mở tài khoản' : 'Khóa tài khoản',
              text: `${response.message}`,
              color: response.success == true ? 'success' : 'warning'
            })
          })
          .catch((err) => {
            this.$vs.notify({
              title: data.STATUS == 1 ? 'Mở tài khoản' : 'Khóa tài khoản',
              text: 'Lỗi! Xin vui lòng F5 thử lại!',
              color: 'danger'
            })
            setTimeout(() => {
              this.$vs.loading.close();
            }, 500);
          });
          setTimeout(() => {
            this.$vs.loading.close();
          }, 500);
        },
        detailAccount(data)
        {
          this.$store.commit('SET_DETAIL_ACCOUNT',data);
          this.$router.push(`/account/${data.ID_USER}`)
        },
        fetchAccount(pagination)
        {
          this.$vs.loading();
          this.$store.dispatch('FetchAccount',pagination)
          .then((response) => {
              if(response.success == true)
              {
                this.ACCOUNT_LOCAL = response.result.data
                this.pagination.total = response.result.last_page
                this.pagination.current_page = response.result.current_page
                
              }
              setTimeout(() => {
                this.$vs.loading.close();
              }, 500);
          })
          .catch((err) => {
            console.log(err)
            this.$vs.notify({
              title: 'DANH SÁCH TÀI KHOẢN',
              text: 'Lỗi! Xin vui lòng F5 thử lại!',
              color: 'danger'
            })
            setTimeout(() => {
              this.$vs.loading.close();
            }, 500);
          })
        },

        search_text()
        {
          this.ACCOUNT_LOCAL = this.accounts_all.data.filter((value,index,array) => {
            return (array[index].USERNAME_USER.toLowerCase()).indexOf(this.filter.text.toLowerCase()) != -1
          })
        },
        updateContextMenu(data)
        {
          this.show_menu_context = true
          this.position = data.position
        }
        
    },
    created() {
        this.fetchAccount();
    },
}
</script>

<style lang="css">
  tr.warning {
    background: rgba(var(--vs-warning),1)!important;
      color: #fff
  }
  .btn-action:hover {cursor: pointer;}
  .list-menu-context {position: absolute;width: 250px;background: #fff;display: none;}
  .list-menu-context.active {display: block;}
  .list-menu-context>li {display: block;width: 100%;padding: 10px; border: 1px solid #e2e2e2;
  border-bottom: none;cursor: pointer;}
  .list-menu-context>li:hover {background: #e2e2e2;}
  .list-menu-context>li:last-child {border-bottom: 1px solid #e2e2e2;}
</style>