<template>
    <div class="p-6">
         <vs-table ref="table" :data="GROUP_ROLE_LOCAL" v-if="GROUP_ROLE_LOCAL.length > 0 && GROUP_ROLE_LOCAL != undefined">
          <div id="table-ecosy" slot="header" class="header-table-search flex flex-wrap-reverse items-center flex-grow  mb-10">
             
            <div class="total-bill w-full">
                <vs-button @click="sidebarActive = true">Thêm mới</vs-button>
            </div> 
          </div>
            
            
          <template slot="thead" >
            <vs-th>STT</vs-th>
            <vs-th>TÊN NHÓM QUYỀN</vs-th>
             <vs-th>MÔ TẢ</vs-th>
            <vs-th sort-key="action">THAO TÁC</vs-th>
          </template>
          <template slot-scope="{data}">
            <tbody>
              <vs-tr :data="tr" :key="index" v-for="(tr, index) in data">


                <vs-td>
                 {{index + 1}}
                </vs-td>
                
                <vs-td>{{tr.NAME_GROUP_ROLE}}</vs-td>
                
                <vs-td> {{tr.DESC_GROUP_ROLE}}</vs-td>

                <vs-td class="whitespace-no-wrap">
                  <vs-button class="btn-not-color p-1" @click="editData(tr)" size="small"> <vs-icon icon="edit"></vs-icon></vs-button>
                  <vs-button class="btn-not-color p-1" @click="editData(tr)" size="small"> <vs-icon icon="menu"></vs-icon></vs-button>
                  <vs-button class="btn-not-color p-1" @click="deleteData(tr)" size="small"> <vs-icon icon="delete"></vs-icon></vs-button>
                </vs-td>

              </vs-tr>
            </tbody>
          </template>
        </vs-table>
        <sidebar-group-role :isSidebarActive="sidebarActive" 
            :data="group_role_edit"
            @close="sidebarActive = $event" />
    </div>
</template>

<script>
    export default {
        components:{
            'sidebar-group-role' : () => import('./sidebarActionGroupRole.vue')
        },
        data(){
            return {
                GROUP_ROLE_LOCAL: [],
                sidebarActive: false,
                group_role_edit: {}
            }
        },
        methods: {
        },
        created() {
            this.$store.dispatch('fetchGroupRole')
            .then((response) => {
                this.GROUP_ROLE_LOCAL = response.result
            })
        },
    }
    </script>
    