<template>
    <div>
        <vs-table ref="table" :data="ACCOUNT_LOCAL"  v-if="ACCOUNT_LOCAL.length > 0 && ACCOUNT_LOCAL != undefined">
          <div id="table-ecosy" slot="header" class="header-table-search flex flex-wrap-reverse items-center flex-grow  mb-10">
             
            <div class="total-bill w-full">
                <vs-button @click="edit = true">Thêm mới</vs-button>
            </div> 
          </div>
            
            
          <template slot="thead" >
            <vs-th sort-key="image">STT</vs-th>
            <vs-th>TÊN QUYỀN</vs-th>
             <vs-th>MÔ TẢ</vs-th>
            <vs-th sort-key="action">Thao tác</vs-th>
          </template>
          <template slot-scope="{data}">
            <tbody>
              <vs-tr :data="tr" :key="index" v-for="(tr, index) in data">


                <vs-td>
                 {{index + 1}}
                </vs-td>
                
                <vs-td></vs-td>
                
                <vs-td> {{tr.UUID_KH == NULL ? 'Cửa hàng' : 'Khách hàng'}}</vs-td>

                <vs-td>
                    {{tr.USERNAME_USER}}
                </vs-td>

                <vs-td>
                    {{tr.HO_TEN_USER}}
                </vs-td>

                <vs-td>
                    {{tr.BIRTH_DAY == null ? 'Chưa cập nhật' : formatBirthDay(tr.BIRTH_DAY)}}
                </vs-td>
                
                <vs-td>
                  {{tr.SDT_USER}}
                </vs-td>

                <vs-td>
                  {{tr.GT_USER == 0 ? 'Nam' : 'Nữ'}}
                </vs-td>

                <vs-td class="whitespace-no-wrap">
                  <vs-button class="btn-not-color" @click="editData(tr)" size="small"> <vs-icon icon="edit"></vs-icon></vs-button>
                  <vs-button class="btn-not-color" @click="deleteData(tr)" size="small"> <vs-icon icon="delete"></vs-icon></vs-button>
                </vs-td>

              </vs-tr>
            </tbody>
          </template>
        </vs-table>
        <sidebar-action-function 
        :data="data_edit" 
        :isSidebarActive="edit"
         @closeSidebar="edit = $event" />
    </div>
</template>
<script>
export default {
    components:
    {
        'sidebar-action-function': () => import ('./sidebarActionFunction.vue')
    },
    data(){
        return {
            ACCOUNT_LOCAL: [],
            data_edit: {},
            edit: false
        }
    },
    methods: {
       
        editData(data)
        {

        },
        deleteData(data)
        {

        }
    },
    created() {
       
    },
}
</script>

