<template>
    <div>
        <vs-table ref="table" :data="FUNCTION_LOCAL" v-if="FUNCTION_LOCAL.length > 0">
          <div id="table-ecosy" slot="header" class="header-table-search flex flex-wrap-reverse items-center flex-grow  mb-10">
             
            <div class="total-bill w-full">
                <vs-button @click="add_group = true" class="mr-5">Nhóm chức năng</vs-button >
                <vs-button @click="edit = true">Chức năng</vs-button>
            </div> 
          </div>
            
            
          <template slot="thead" >
            <vs-th>STT</vs-th>
            <vs-th>NHÓM CHỨC NĂNG</vs-th>
            <vs-th>TÊN CHỨC NĂNG</vs-th>
            <vs-th>MÔ TẢ</vs-th>
            <vs-th>TRẠNG THÁI</vs-th>
            <vs-th sort-key="action">Thao tác</vs-th>
          </template>
          <template slot-scope="{data}">
            <tbody>
              <vs-tr :data="tr" :key="index" v-for="(tr, index) in data">


                <vs-td>
                 {{index + 1}}
                </vs-td>
                
                <vs-td>{{tr.NAME_GROUP}}</vs-td>

                <vs-td>{{tr.NAME_FUNCTION}}</vs-td>

                <vs-td>{{tr.DES_FUNCTION}}</vs-td>

                <vs-td>{{tr.STATUS_FUNCTION == 0 ? 'Đang hoạt động' : 'Dừng hoạt động'}}</vs-td>

                <vs-td class="whitespace-no-wrap">
                  <vs-button class="btn-not-color" @click="editData(tr)" size="small"> <vs-icon icon="edit"></vs-icon></vs-button>
                  <vs-button class="btn-not-color" @click="deleteData(tr)" size="small"> <vs-icon icon="delete"></vs-icon></vs-button>
                </vs-td>

              </vs-tr>
            </tbody>
          </template>
        </vs-table>
        <sidebar-action-function 
        :data="data_edit" 
        :isSidebarActive="edit"
         @closeSidebar="edit = $event" />
        <sidebar-action-group
            :isSidebarActive="add_group"
             @closeSidebar="add_group = $event"
            :data="group_edit" 
          />
    </div>
</template>
<script>
export default {
    components:
    {
        'sidebar-action-function': () => import ('./sidebarActionFunction.vue'),
        'sidebar-action-group': () => import ('./sidebarGroupFunction.vue')
    },
    data(){
        return {
            FUNCTION_LOCAL: [],
            data_edit: {},
            edit: false,
            add_group: false,
            group_edit: {}
        }
    },
    methods: {
       
        editData(data)
        {

        },
        deleteData(data)
        {

        },
        fetchFunction()
        {
            this.$store.dispatch('fetchFunction')
            .then((response) => {
                this.FUNCTION_LOCAL = response.result
            })
            .catch((err) => {
                this.FUNCTION_LOCAL = []
                this.$vs.notify({
                    title: 'DANH SÁCH CHỨC NĂNG',
                    text: 'Lỗi! Xin vui lòng F5 thử lại!',
                    color: 'warning'
                })
            })
        }
    },
    created() {
       this.fetchFunction()
    },
}
</script>

