<template>
   <router-view></router-view>
</template>

<script>
import moduleBill from '@/store/bill/moduleBill.js'
import moduleCustomer from '@/store/customer/moduleCustomer.js'
import moduleProduct from '@/store/product/moduleProduct.js'
export default {
    name: 'page-bill',
    created()
    {
        this.$store.registerModule('bill', moduleBill)
        this.$store.registerModule('customer', moduleCustomer)
        this.$store.registerModule('product', moduleProduct)
    },
    beforeDestroy()
    {
        this.$store.unregisterModule('bill')
        this.$store.unregisterModule('customer')
        this.$store.unregisterModule('product')
    }
}
</script>