<template>
   <router-view></router-view>
</template>

<script>
import moduleBill from '@/store/bill/moduleBill.js'
export default {
    name: 'page-bill',
    created()
    {
        this.$store.registerModule('bill', moduleBill)
    }
}
</script>