<template>
     <vs-card class="mt-3">
        <form @submit.prevent="submitPassword">
            <vs-row>
                <div class="vx-col w-full md:w-full">
                    <vs-input class="p-3 w-full"
                        type="password"
                        v-model="user.NEW_PASSWORD" 
                        label="Mật khẩu mới"
                        v-validate="'required|min:8'"
                        name="NEW_PASSWORD"
                        data-vv-validate-on="blur">
                    </vs-input>
                    <span class="text-danger text-sm p-3" 
                    v-show="errors.has('NEW_PASSWORD')">
                        {{ errors.has('NEW_PASSWORD') == true ? 'Mật khẩu ít nhất 8 ký tự' : ''}}
                    </span>
                    
                    <vs-input class="p-3 w-full"
                        type="password"
                        v-model="user.COMFIRM_PASSWORD"
                        @blur="comfirmPasswordBlur" 
                        label="Nhập lại mật khẩu">
                    </vs-input>

                    <span class="text-danger text-sm p-3" v-show="COMFIRM_PASSWORD"> {{COMFIRM_PASSWORD == false ? 'Mật khẩu chưa khớp' : ''}}</span>
                    
                </div>

                <div class="w-full p-3">
                   <button class="btn vs-component vs-button vs-button-primary vs-button-border" type="submit">CẬP NHẬT</button>
                </div>
            </vs-row>
        </form>
    </vs-card>
</template>


<script>
export default {
    name: 'form-reset-password',
    data()
    {
        return {
            user: {
                NEW_PASSWORD: '',
                COMFIRM_PASSWORD: ''
            },
            COMFIRM_PASSWORD: true
        }
    },
    computed: {
        isFormValid() {
            return !this.errors.any()
        },
    },
    methods: {
        initValue()
        {
            this.user = {
                NEW_PASSWORD: '',
                COMFIRM_PASSWORD: ''
            }
        },
        submitPassword()
        {
            this.$vs.loading();
            if(this.isFormValid && this.COMFIRM_PASSWORD)
            {
                this.$store.dispatch('user/updatePasswordUser',this.user)
                .then((response) => {
                    if(response.status == 401) this.$router.push('/logout');
                    if(response.success == true) this.initValue();
                    this.$vs.notify({
                        title: 'Cập nhật mật khẩu',
                        text: response.message,
                        color: response.success == true ? 'success' : 'warning'
                    });
                    setTimeout(() => {
                        this.$vs.loading.close();
                    }, 500);
                })
                .catch((err) => {
                    setTimeout(() => {
                        this.$vs.loading.close();
                    }, 500);
                })
            }
            else
            {
                this.$vs.notify({
                    title: 'Cập nhật mật khẩu',
                    text: this.errors.has('NEW_PASSWORD') == true ? 'Mật khẩu ít nhất 8 ký tự' : 'Mật khẩu chưa khớp',
                    color: 'warning'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            }
        },
        comfirmPasswordBlur()
        {
            this.COMFIRM_PASSWORD = this.user.NEW_PASSWORD == this.user.COMFIRM_PASSWORD ? true: false;
        }
    },
}
</script>