<template>
    <div id="form-setting-point" class="bg-white mt-3 p-3 vx-card">
       <div id="data-setting" :class="{active: loading}" class="vs-con-loading__container" type="relief"></div>
        <div class="p-3 w-full">
           <label for="STORE" class="vs-input--label">Cửa hàng</label>
          <v-select 
            name="STORE"
            :options="LIST_STORE" 
            v-model="selected_store"
            value="ID_CUA_HANG" 
            label="TEN_CUA_HANG"
            placeholder="Chọn cửa hàng">
          </v-select>
        </div>
        <div class="vx-col w-full p-3 group-money" >
            <vs-input type="text" v-model="SO_TIEN_LOCAL" class="w-full" 
              label="Cài đặt số tiền hóa đơn"
              placeholder="Nhập số tiền thấp nhất có thể nhận điểm"
              name="so_tien_local"
            ></vs-input>
            <vs-input type="number" v-model="setting.SO_TIEN" class="w-full top" 
              label="Cài đặt số tiền hóa đơn"
              placeholder="Nhập số tiền thấp nhất có thể nhận điểm"
              name="SO_TIEN"
              v-validate="'required|min_value:1000'" 
              data-vv-validate-on="blur"
            ></vs-input>
            <span  class="text-danger text-sm p-3" v-show="errors.has('SO_TIEN')">
                {{ errors.has('SO_TIEN') == true ? 'Số tiền thấp nhất là 1,000 vnđ ' : '' }}
            </span>
        </div>
        

        <vs-input class="p-3 w-full" v-model="setting.SO_DIEM" 
        type="number" label="Cài đặt điểm"
        placeholder="Nhập số điểm được nhận khi đủ điều kiện"
        name="SO_DIEM"
        v-validate="'required|min_value:1'" 
        data-vv-validate-on="blur"
        ></vs-input>
        <span  class="text-danger text-sm p-3" v-show="errors.has('DOI_TIEN')">
            {{ errors.has('SO_DIEM') == true ? 'Số điểm thấp nhất là 1 ' : '' }}
        </span>
        <div class="vx-col w-full p-3 group-money" >
          <vs-input class="w-full" 
            v-model="DOI_TIEN_LOCAL" 
            type="text" 
            label="Cài đặt đổi tiền / 1 điểm"
            placeholder="Nhập số tiền quy đổi / 1 điểm"
            name="DOI_TIEN"
            v-validate="'required|min_value:1000'" 
            data-vv-validate-on="blur"
            ></vs-input>

          <vs-input class="w-full top" 
            v-model="setting.DOI_TIEN" 
            type="number" 
            label="Cài đặt đổi tiền /1 điểm"
            placeholder="Nhập số tiền quy đổi / 1 điểm"
            name="DOI_TIEN"
            v-validate="'required|min_value:1000'" 
            data-vv-validate-on="blur"
            ></vs-input>
          <span  class="text-danger text-sm p-3" v-show="errors.has('DOI_TIEN')">
              {{ errors.has('DOI_TIEN') == true ? 'Số tiền thấp nhất là 1,000 vnđ ' : '' }}
          </span>
        </div>
          
        <p class="p-3">
          *Lưu ý: Dựa vào số tiền hóa đơn để đổi thành điểm <br/>
          - Ví dụ: 100,000 vnđ = 1 điểm thì hóa đơn khi 150,000 vnđ sẽ là 1 điểm, 200,000 vnđ sẽ là 2 điểm <br/>
          - Điểm tích lũy cũ của khách hàng sẽ không thay đổi nếu cập nhật lại, điểm lích lũy các hóa đơn từ các lần thanh toán sau sẽ thay đổi. <br/>
          - Điểm tích lũy của khách A tại cửa hàng A sẽ không được cộng ở cửa hàng B
        </p>
      <div class="flex flex-wrap items-center p-6" >
        <vs-button @click="submitPoint()" 
          type="border" color="primary" 
          style="margin-right: 5px;"
          :disabled="!isFormValid">Cập nhật</vs-button>
      </div> 
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    name: 'form-setting-point',
    data()
    {
      return {
        setting: {
          SO_TIEN: 0,
          SO_DIEM: 0,
          DOI_TIEN: 0
        },
        selected_store: null,
        loading: true
      }
    },
    computed: 
    {
      ...mapGetters(["LIST_STORE"]),
      SO_TIEN_LOCAL:
      {
        get()
        {
          return this.formatToCurrency(this.setting.SO_TIEN);
        }
      },
      DOI_TIEN_LOCAL()
      {
        return this.formatToCurrency(this.setting.DOI_TIEN);
      },
      isFormValid() {
        return !this.errors.any()
      },
    },
    watch:
    {
      selected_store(store)
      {
        if(store != null)
        {
          this.setting.ID_CUA_HANG = store.ID_CUA_HANG;
          this.apiFetchPoint(store);
        }
      }
    },
    methods:
    {
      initValue()
      {
        // this.selected_store = null
        this.setting = {
          SO_TIEN: 0,
          SO_DIEM: 0,
          DOI_TIEN: 0
        }
      },
      submitPoint()
      {
        if(this.selected_store == null && this.isFormValid == false)
        {
          this.$vs.notify({
            title: 'CÀI ĐẶT ĐIỂM',
            text: this.selected_store == null ? 'Chưa chọn cửa hàng ':  'Vui lòng kiểm tra lại thông tin! ',
            color: 'warninig'
          });
        }
        else
        {
          this.setting.ID_CUA_HANG = this.selected_store.ID_CUA_HANG;
          this.apiSubmitPoint();
        }
      },
      apiSubmitPoint()
      {
        this.loading = true;
        this.$vs.loading({
          container: '#data-setting',
          type: 'sound'
        })
        this.$store.dispatch('createPoint',this.setting)
        .then((response) => {
          if(response.success == true) {
            this.$validator.reset();
          }
          this.$vs.notify({
            title: 'CẬP NHẬT ĐIỂM TÍCH LŨY',
            text: response.message,
            color: response.success == true ? 'success' : 'warning'
          });
          setTimeout(() => {
            this.loading = false;
          }, 500);
        })
        .catch(() => {
           this.$vs.notify({
             title: 'CẬP NHẬT ĐIỂM TÍCH LŨY',
             text: 'Lỗi! Xin vui lòng đăng xuất thử lại!',
             color: 'danger'
           });
           setTimeout(() => {
             this.loading = false;
           }, 500);
        })
      },
      apiFetchPoint(store)
      {
        this.loading = true;
        this.$vs.loading({
          container: '#data-setting',
          type: 'sound'
        })
        this.$store.dispatch('fetchPoint',store.ID_CUA_HANG).then((response) => {
          if(response.status == 401) this.$router.push('/logout');
          // console.log('result', response.result)
          if(response.result != null)  this.setting = response.result;
          else this.initValue();
          this.$vs.notify({
            title: 'CÀI ĐẶT ĐIỂM TÍCH LŨY',
            text: response.message,
            color: response.success == true ? 'success' : 'warning'
          });
          setTimeout(() => {
            this.loading = false
          },500)
        })
        .catch(() => {
          this.$vs.notify({
            title: 'CÀI ĐẶT ĐIỂM TÍCH LŨY',
            text: 'Lỗi! Xin vui lòng đăng xuất thử lại!',
            color: 'danger'
          });
          setTimeout(() => {
            this.loading = false
          },500)

        })
      },
      formatToCurrency(number){
          if(number == undefined) return 0;
          return  (number).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      }
    },
    created()
    {
      this.selected_store = this.LIST_STORE[0]
    }
}
</script>

<style lang="css">
#data-setting.active {position: absolute;width: 100%;height: 100%;top: 0;left: 0;opacity: .5;;}
</style>
  