<template>
    <vs-card class="mt-3">
        <form @submit.prevent="submitInfo">
            <vs-row>
                <div class="vx-col vx-center items-center w-full justify-between" style="text-align:center">
                    <vs-avatar @click="updateAvatar" style="margin:auto" size="150px" :src="AVATAR_LOCAL" />
                </div>
                <div class="vx-col w-full md:w-1/2">
                    <vs-input class="p-3 w-full"
                        v-model="user.USERNAME_USER" disabled
                        label="TÀI KHOẢN">
                    </vs-input>
                    <vs-input class="p-3 w-full"
                        label="HỌ & TÊN"
                        v-model="user.HO_TEN_USER">
                    </vs-input>
                    <vs-input class="p-3 w-full"
                        label="EMAIL"
                        v-model="user.EMAIL_USER"
                        :disabled="check_email">
                    </vs-input>
                    <div class="w-full p-3">
                        <label for="GENDER" class="vs-input--label">GIỚI TÍNH</label>
                        <div class="vx-flex flex mt-3">
                            <vs-checkbox v-model="gender_male" :vs-value="0">NAM</vs-checkbox>
                            <vs-checkbox v-model="gender_female" :vs-value="1">NỮ</vs-checkbox>
                        </div>
                    </div>
                </div>
                <div class="vx-col- w-full md:w-1/2">
                    <vs-input v-model="user.NAME_GROUP_ROLE" class="w-full p-3"
                        label="NHÓM QUYỀN"
                        disabled></vs-input>

                    <vs-input v-model="user.SDT_USER" class="w-full p-3"
                        label="SỐ ĐIỆN THOẠI"
                        ></vs-input>

                    <vs-input v-model="BIRTH_DAY" type="date" class="w-full p-3" label="NGÀY SINH">

                    </vs-input>
                </div>
                <div class="w-full p-3">
                     <vs-textarea v-model="user.DC_USER" label="ĐỊA CHỈ" class="w-full" height="100" />
                </div>
                <div class="w-full p-3">
                   <button class="btn vs-component vs-button vs-button-primary vs-button-border" type="submit">CẬP NHẬT</button>
                </div>
            </vs-row>
        </form>
    </vs-card>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
    name: 'form-info-user',
    data()
    {
        return {
            user: {
                BIRTH_DAY: null
            },
            check_email: false
        }
    },
    computed:
    {
        AVATAR_LOCAL:
        {
            get()
            {
                return this.user.AVATAR
            },
            set(url)
            {
                this.user.AVATAR = url
            }
        },
        BIRTH_DAY:
        {
            get()
            {
                if(this.user.BIRTH_DAY != null) return new Date(this.user.BIRTH_DAY).toISOString().substr(0,10);
                else return null;
            },
            set(date)
            {
                this.user.BIRTH_DAY  = date;
            }
        },
        gender_male:
        {
            get()
            {
                if(this.user.GT_USER == 0) return true;
                return false
            },
            set(boolean)
            {
                if(boolean == true) this.user.GT_USER = 0;
            }
        },
        gender_female:
        {
            get()
            {
                if(this.user.GT_USER == 1) return true;
                return false;
            },
            set(boolean)
            {
                if(boolean == true) this.user.GT_USER = 1;
            }
        },
        ...mapGetters(["media_result","open_close_sidebar"])
    },
    watch:
    {
        open_close_sidebar(new_boolean)
        {
            console.log('watch ',new_boolean)
            if(new_boolean== false)
            {
               
                if(this.media_result.length > 0)
                {
                    this.user.AVATAR = this.media_result[0].FULL_URL;
                    console.log('user ',this.user.AVATAR)
                    this.$store.commit("SET_MEDIA_RESULT",[]);
                }
            }
        }
    },
    methods:
    {
        submitInfo()
        {
            this.$vs.loading();
            this.$store.dispatch('user/updateInfo',this.user)
            .then((response) => {
                if(response.status == 401) this.$router.push('/logout');
                this.$vs.notify({
                    title: 'CẬP NHẬT THÔNG TIN CÁ NHÂN',
                    text: response.message,
                    color: response.success == true ? 'success' : 'warning'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
            .catch((err) => {
                this.$vs.notify({
                    title: 'CẬP NHẬT THÔNG TIN CÁ NHÂN',
                    text: 'Lỗi! Xin vui lòng đăng xuất thử lại!',
                    color: 'danger'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
        },
        apiInfoUser()
        {
            this.$store.dispatch('user/checkUser')
            .then((response) => {
                if(response.status == 401) this.$router.push('/logout');
                this.check_email = response.result.EMAIL_USER == null ? false : true;
                this.user = {...response.result}
            })
            .catch((err) => {
                this.$vs.notify({
                    title: 'THÔNG TIN TÀI KHOẢN',
                    text: 'Lỗi! Xin vui lòng đăng xuất thử lại!',
                    color: 'danger'
                });
            })
        },
        updateAvatar()
        {
            this.$store.commit('UPDATE_SIDEBAR',true);
        }
    },
    created()
    {
        
        this.apiInfoUser();
    }
}
</script>