<template>
<div>
  <vs-sidebar @keyup.esc="isSidebarActiveLocal = false" click-not-close position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
    <div class="mt-6 flex items-center justify-between px-6">
        <h4>{{ Object.entries(this.data).length === 0 ? "THÊM MỚI" : "CẬP NHẬT" }} NHÓM DỊCH VỤ</h4>
        <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
    </div>
    <vs-divider class="mb-0"></vs-divider>
    <VuePerfectScrollbar class="scroll-area--data-list-add-new" >

        <vs-input class="w-full p-3" label="TÊN NHÓM DỊCH VỤ" 
            v-model="group.NAME_GROUP_SERVICES"
            placeholder="Nhập tên dịch vụ"
            name='NAME_GROUP_SERVICES'
            v-validate="'required'" 
            data-vv-validate-on="blur">
        </vs-input>
        <span  class="text-danger text-sm p-3" v-show="errors.has('NAME_GROUP_SERVICES')">
            {{ errors.has('NAME_GROUP_SERVICES') == true ? 'Chưa nhập tên nhóm dịch vụ' : '' }}
        </span>
        
        <div class="content-services p-3">
            <vs-textarea class="p-3 w-full"  height="100" label="MÔ TẢ" v-model="group.DESC_GROUP_SERVICES" />
        </div>

    </VuePerfectScrollbar>
    <div class="flex flex-wrap items-center p-6 layout-pc" slot="footer">
      <vs-button class="mr-6" @click="submitServices" :disabled="!isFormValid">{{Object.entries(this.data).length === 0 ? "THÊM MỚI": "CẬP NHẬT"}}</vs-button>
      <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">Cancel</vs-button>
    </div>
     
  </vs-sidebar>
</div>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import {mapGetters} from 'vuex'

export default {
    name: 'sidebar-group-serivce',
    components:
    {
      VuePerfectScrollbar
    },
   props: {
     isSidebarActive: {
       type: Boolean,
       required: true
     },
    data: {
      type: Object,
      default: () => {},
    }
  },
  watch: {
    isSidebarActiveLocal(val) {
      if(!val) return
      if(Object.entries(this.data).length === 0) {
        this.$validator.reset()
        this.initValue();
      }else {
        this.group = {...this.data}
      }
    },
  },
  computed: {
    isFormValid() {
      return !this.errors.any()
    },
    isSidebarActiveLocal:{
      get()
      {
        return this.isSidebarActive
      },
      set(val)
      {
        this.$emit('close',val)
      }
    },
  },
  data()
  { 
    return {
        group: {
            NAME_GROUP_SERVICES: '',
            DESC_GROUP_SERVICES: ''
        },
    }
  },
  methods: {
    initValue()
    {
        this.group = {
            NAME_GROUP_SERVICES: '',
            DESC_GROUP_SERVICES: ''
        }
    },
    submitServices()
    {
      if(Object.entries(this.data).length == 0)
      {
        this.apiCreateGroupServices();
      }
      else
      {
        this.apiUpdateGroupService();
      }
    },
    apiCreateGroupServices()
    {
        this.$vs.loading();
        if(this.isFormValid )
        {
            this.$store.dispatch('createGroupService',this.group)
            .then((response) => {
                if(response.success == true)
                {
                    this.initValue();
                }
                this.$vs.notify({
                    title: 'THÊM MỚI NHÓM DỊCH VỤ',
                    text: response.message,
                    color: response.success == true ? 'success' : 'warning'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
            .catch((err) => {
                console.log('tạo nhóm dịch vụ ',err)
                this.$vs.notify({
                    title: 'THÊM MỚI NHÓM DỊCH VỤ',
                    text: 'Lỗi! Xin vui lòng đăng xuất thử lại!',
                    color: 'danger'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
        }
        else
        {
            this.$vs.notify({
                title: 'THÊM MỚI DỊCH VỤ',
                text: 'Chưa nhập đầy đủ thông tin!',
                color: 'danger'
            });
            setTimeout(() => {
                this.$vs.loading.close();
            }, 500);
        }
    },
    apiUpdateGroupService()
    {
      this.$vs.loading();
      if(this.isFormValid)
      {
        this.$store.dispatch('updateGroupService',this.group)
        .then((response) => {
          this.$vs.notify({
            title: 'CẬP NHẬT NHÓM DỊCH VỤ',
            text: response.message,
            color: response.success == true ? 'success' : 'warning'
          });
          setTimeout(() => {
            this.$vs.loading.close();
          }, 500);
        })
        .catch((err) => {
          this.$vs.notify({
            title : 'CẬP NHẬT NHÓM DỊCH VỤ',
            text: 'Lỗi! Xin vui lòng đăng xuất thử lại!',
            color: 'danger'
          });
          setTimeout(() => {
            this.$vs.loading.close();
          }, 500);
        })
      }
      else
      {
        this.$vs.notify({
          title: 'CẬP NHẬT NHÓM DỊCH VỤ',
          text: 'Thông tin không đầy đủ, xin vui lòng kiểm tra lại!',
          color: 'warning'
        });
        setTimeout(() => {
          this.$vs.loading.close();
        }, 500);
      }
    }
  },
  created()
  {

  }
}
</script>


<style lang="scss" scoped>
.card-image-customer {
  width: 150px;
  height: 200px;
  margin: auto;
  margin-bottom: 15px;
  position: relative;
}
.input-file, .Imagecustomer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
}
.Imagecustomer {z-index: 998;opacity: 1;height: auto;}
.icon-upload-file {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 997;
  transform: translate(-50%,-50%)
}
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 600px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    height: calc(100% - 4.3rem);
}
</style>