<template>
<div>
  <vs-sidebar @keyup.esc="isSidebarActiveLocal = false" click-not-close position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
    <div class="mt-6 flex items-center justify-between px-6">
        <h4>{{ Object.entries(this.data).length === 0 ? "THÊM MỚI" : "CẬP NHẬT" }} DỊCH VỤ</h4>
        <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
    </div>
    <vs-divider class="mb-0"></vs-divider>
    <VuePerfectScrollbar class="scroll-area--data-list-add-new" >
        <div class="group-services p-3">
            <v-select class="w-full" :options="LIST_GROUP_SERVICES_LOCAL" 
                v-model="selected_group_services"
                value="ID_GROUP_SERVICES"
                label="NAME_GROUP_SERVICES"
                placeholder="Chọn nhóm dịch vụ">
            
            </v-select>
        </div>

        <vs-input class="w-full p-3" label="TÊN DỊCH VỤ" 
            v-model="service.NAME_SERVICES"
            placeholder="Nhập tên dịch vụ"
            name='NAME_SERVICES'
            v-validate="'required'" 
            data-vv-validate-on="blur">
        </vs-input>
        <span  class="text-danger text-sm p-3" v-show="errors.has('NAME_SERVICES')">
            {{ errors.has('NAME_SERVICES') == true ? 'Chưa nhập tên dịch vụ' : '' }}
        </span>

        <vs-input class="w-full p-3" label="GIÁ TRỊ DỊCH VỤ" 
            v-model="service.VALUE_SERVICES"
            placeholder="Nhập tên dịch vụ"
            name='VALUE_SERVICES'
            v-validate="'required'" 
            data-vv-validate-on="blur">
        </vs-input>
        <span  class="text-danger text-sm p-3" v-show="errors.has('VALUE_SERVICES')">
            {{ errors.has('VALUE_SERVICES') == true ? 'Chưa nhập giá trị' : '' }}
        </span>
        
        <vs-radio class="p-3 w-1/2" v-model="service.REGISTER_SERVICES" :vs-value="0">DỊCH VỤ MIỄN PHÍ</vs-radio>
        <vs-radio class="p-3 w-1/2" v-model="service.REGISTER_SERVICES" :vs-value="1">DỊCH VỤ CẦN ĐĂNG KÝ</vs-radio>

        <div class="content-services p-3">
            <vs-textarea class="p-3 w-full"  height="100" label="MÔ TẢ" v-model="service.DESC_SERVICES" />
        </div>

    </VuePerfectScrollbar>
    <div class="flex flex-wrap items-center p-6 layout-pc" slot="footer">
      <vs-button class="mr-6" @click="submitServices" :disabled="!isFormValid">{{Object.entries(this.data).length === 0 ? "THÊM MỚI": "CẬP NHẬT"}}</vs-button>
      <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">Cancel</vs-button>
    </div>
     
  </vs-sidebar>
</div>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import {mapGetters} from 'vuex'

export default {
    name: 'sidebar-services',
    components:
    {
      VuePerfectScrollbar
    },
   props: {
     isSidebarActive: {
       type: Boolean,
       required: true
     },
    data: {
      type: Object,
      default: () => {},
    }
  },
  watch: {
    isSidebarActiveLocal(val) {
      if(!val) return
      this.apiGroupServices();
      if(Object.entries(this.data).length === 0) {
        this.$validator.reset()
        this.initValue();
      }else {
        this.service = {...this.data}
        this.selected_group_services = this.LIST_GROUP_SERVICES_LOCAL.filter((value,index,array) => {
            return array[index].ID_GROUP_SERVICES == this.data.ID_GROUP_SERVICES
        })[0]
      }
    },
    selected_group_services(group_service)
    {
        if(group_service != null)
        {
            this.service.ID_GROUP_SERVICES = group_service.ID_GROUP_SERVICES
            this.service.NAME_GROUP_SERVICES = group_service.NAME_GROUP_SERVICES
        }
    }
  },
  computed: {
    isFormValid() {
      return !this.errors.any()
    },
    isSidebarActiveLocal:{
      get()
      {
        
        return this.isSidebarActive
      },
      set(val)
      {
        this.$emit('close',val)
      }
    },
    ...mapGetters(["group_services"])
  },
  data()
  { 
    return {
        LIST_GROUP_SERVICES_LOCAL: [],
        service: {
            NAME_SERVICES: '',
            DESC_SERVICES: '',
            VALUE_SERVICES: '',
            REGISTER_SERVICES: 0
        },
        selected_group_services: null
    }
  },
  methods: {
    initValue()
    {
        this.service = {
            NAME_SERVICES: '',
            DESC_SERVICES: '',
            VALUE_SERVICES: '',
            REGISTER_SERVICES: 0
        }
        this.selected_group_services = null 
    },
    submitServices()
    {
      if(Object.entries(this.data).length == 0)
      {
          this.apiCreateService();
      }
      else
      {
        this.apiUpdateService();
      }
    },
    apiGroupServices()
    {
        this.$vs.loading();
        if(this.group_services.length == 0)
        {
            this.$store.dispatch('fetchGroupServices')
            .then((response) => {
                this.LIST_GROUP_SERVICES_LOCAL = response.result
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
            .catch((err) => {
                this.$vs.notify({
                    title: 'DANH SÁCH NHÓM DỊCH VỤ',
                    text: 'Lỗi! Xin vui lòng đăng xuất thử lại!',
                    color: 'danger'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
        }
        else
        {
            this.LIST_GROUP_SERVICES_LOCAL = this.group_services
             setTimeout(() => {
                this.$vs.loading.close();
            }, 500);
        }
    },
    apiCreateService()
    {
        this.$vs.loading();
        if(this.isFormValid && this.selected_group_services != null)
        {
            this.$store.dispatch('createServices',this.service)
            .then((response) => {
                if(response.success == true)
                {
                    this.initValue();
                }
                this.$vs.notify({
                    title: 'THÊM DỊCH VỤ',
                    text: response.message,
                    color: response.success == true ? 'success' : 'warning'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
            .catch((err) => {
                this.$vs.notify({
                    title: 'THÊM MỚI DỊCH VỤ',
                    text: 'Lỗi! Xin vui lòng đăng xuất thử lại!',
                    color: 'danger'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
        }
        else
        {
            this.$vs.notify({
                title: 'THÊM MỚI DỊCH VỤ',
                text: 'Chưa nhập đầy đủ thông tin!',
                color: 'danger'
            });
            setTimeout(() => {
                this.$vs.loading.close();
            }, 500);
        }
    },
    apiUpdateService()
    {
      this.$vs.loading();
      if(this.isFormValid && this.selected_group_services != null)
      {
        this.$store.dispatch('updateService',this.service)
        .then((response) => {
          this.$vs.notify({
            title: 'CẬP NHẬT DỊCH VỤ',
            text: response.message,
            color: response.success == true ? 'success' : 'warning'
          });
          setTimeout(() => {
            this.$vs.loading.close();
          }, 500);
        })
        .catch((err) => {
          this.$vs.notify({
            title: 'CẬP NHẬT DỊCH VỤ',
            text: 'Lỗi! Xin vui lòng đăng xuất thử lại!',
            color: 'danger'
          });
          setTimeout(() => {
            this.$vs.loading.close();
          }, 500);
        })
      }
      else
      {
        this.$vs.notify({
          title: 'CẬP NHẬT DỊCH VỤ',
          text: 'Chưa nhập đầy đủ thông tin dịch vụ!',
          color: 'warning'
        });
        setTimeout(() => {
          this.$vs.loading.close();
        }, 500);
      }
    }
  },
  created()
  {

  }
}
</script>


<style lang="scss" scoped>
.card-image-customer {
  width: 150px;
  height: 200px;
  margin: auto;
  margin-bottom: 15px;
  position: relative;
}
.input-file, .Imagecustomer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
}
.Imagecustomer {z-index: 998;opacity: 1;height: auto;}
.icon-upload-file {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 997;
  transform: translate(-50%,-50%)
}
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 600px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    height: calc(100% - 4.3rem);
}
</style>