<template>
    <div class="content-data-services">
        <vs-table  :data="SERVICES_LOCAL">
            <div id="table-ecosy" slot="header" class="header-table-search flex flex-wrap-reverse items-center flex-grow mb-5">
                
                <div class="total-bill w-full">
                    <vs-button @click="add_services = true" class="mr-5">Thêm mới</vs-button >
                </div> 
            </div>
            <template slot="thead" >
                <vs-th>NHÓM DỊCH VỤ</vs-th>
                <vs-th>TÊN DỊCH VỤ </vs-th>
                <vs-th>MÔ TẢ DỊCH VỤ</vs-th>
                <vs-th>GIÁ TRỊ DỊCH VỤ</vs-th>
                <vs-th>NGÀY TẠO</vs-th>
                <vs-th>THAO TÁC</vs-th>
            </template>
            <template slot-scope="{data}" >
                <tbody oncontextmenu="return false;">
                <vs-tr 
                :data="tr" 
                :key="index" 
                v-for="(tr, index) in data" 
                >
                    <vs-td>{{tr.NAME_GROUP_SERVICES}}</vs-td> 

                    <vs-td>{{tr.NAME_SERVICES}}</vs-td> 

                    <vs-td>{{tr.VALUE_SERVICES}}</vs-td> 

                    <vs-td>{{tr.DESC_SERVICES}}</vs-td> 

                    <vs-td>{{formatDate(tr.CREATED_AT)}}</vs-td>

                    <vs-td class="whitespace-no-wrap">
                        <button @click="editData(tr)" class="btn btn-action"> <i class="fa fa-edit" aria-hidden="true"></i></button>
                        <button @click="deleteData(tr)" class="btn btn-action"> <i class="fa fa-trash" aria-hidden="true"></i></button>
                    </vs-td>

                </vs-tr>
                </tbody>
            </template>
        </vs-table>
        <sidebar-services 
            :isSidebarActive="add_services" 
            :data="services_edit"
            @close="add_services = $event" />
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import moment from 'moment';
export default {
    components: {
        'sidebar-services' : () => import('./sidebarServices.vue')
    },
    computed:
    {
        ...mapGetters(["services"])
    },
    data()
    {
        return {
            SERVICES_LOCAL: [],
            add_services: false,
            services_edit: {}
        }
    },
    watch:
    {
        add_services(boolean)
        {
            if(boolean == false)
            {
                this.services_edit = {}
            }
        }
    },
    methods: {
        formatDate(date)
        {
            return moment(date, 'YYYY-MM-DD HH:mm:ss').format('HH:mm DD/MM/YYYY');
        },
        apiServices()
        {
            this.$vs.loading();
            if(this.services.length == 0)
            {
                 this.$store.dispatch('fetchServices')
                .then((response) => {
                    if(response.success == true)
                    {
                        this.SERVICES_LOCAL = response.result
                    }
                    else
                    {
                        this.$vs.notify({
                            title: 'DANH SÁCH DỊCH VỤ',
                            text: response.message,
                            color: 'warning'
                        });
                    }
                    setTimeout(() => {
                        this.$vs.loading.close();
                    }, 500);
                })
                .catch((err) => {
                    console.log('Danh sách dịch vụ ',err);
                    this.$vs.notify({
                        title: 'DANH SÁCH DỊCH VỤ',
                        text: 'Lỗi! Xin vui lòng đăng xuất thử lại!',
                        color: 'danger'
                    });
                    setTimeout(() => {
                        this.$vs.loading.close();
                    }, 500);
                })
            }
            else
            {
                this.SERVICES_LOCAL = this.services
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            }
        },
        editData(data)
        {
            this.add_services = true
            this.services_edit = data
        },
        deleteData(data)
        {
            this.$vs.dialog({
                type:'confirm',
                color: 'warning',
                title:  'Bạn chắc chắn xóa dịch vụ '+data.NAME_SERVICES + ' ?',
                text: 'Sau khi xóa sẽ lưu lại lịch sử thao tác của người dùng!',
                data: data,
                acceptText: 'Đồng ý',
                cancelText: 'Hủy',
                accept: () => {
                this.acceptDeleteServices(data)
                }
            })
        },
        acceptDeleteServices(data)
        {
            this.$vs.loading();
            this.$store.dispatch('deleteService',data.UUID_SERVICES)
            .then((response) => {
                this.$vs.notify({
                    title: 'XÓA DỊCH VỤ',
                    text: response.message,
                    color: response.success == true ? 'success' : 'warning'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
            .catch((err) => {
                this.$vs.notify({
                    title: 'XÓA DỊCH VỤ',
                    text: 'Lỗi! Xin vui lòng đăng xuất thử lại!',
                    color: 'danger'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
        }
    },
    created()
    {
        this.apiServices();
    }
}
</script>