<template>
    <div class="content-data-services">
        <vs-table  :data="GROUP_SERVICES_LOCAL">
            <div id="table-ecosy" slot="header" class="header-table-search flex flex-wrap-reverse items-center flex-grow mb-5">
                
                <div class="total-bill w-full">
                    <vs-button @click="add_group_services = true" class="mr-5">Thêm mới</vs-button >
                </div> 
            </div>
            <template slot="thead" >
                <vs-th>TÊN NHÓM DỊCH VỤ</vs-th>
                <vs-th>MÔ TẢ DỊCH VỤ </vs-th>
                <vs-th>NGÀY TẠO</vs-th>
                <vs-th>THAO TÁC</vs-th>
            </template>
            <template slot-scope="{data}" >
                <tbody oncontextmenu="return false;">
                <vs-tr 
                :data="tr" 
                :key="index" 
                v-for="(tr, index) in data" 
                >
                    
                    <vs-td>{{tr.NAME_GROUP_SERVICES}}</vs-td>

                    <vs-td>{{tr.DESC_GROUP_SERVICES}}</vs-td>
                    
                    <vs-td>{{formatDate(tr.CREATED_AT)}}</vs-td>

                    <vs-td class="whitespace-no-wrap">
                        <button @click="editData(tr)" class="btn btn-action"> <i class="fa fa-edit" aria-hidden="true"></i></button>
                        <button @click="deleteData(tr)" class="btn btn-action"> <i class="fa fa-trash" aria-hidden="true"></i></button>
                    </vs-td>
                </vs-tr>
                </tbody>
            </template>
        </vs-table>
        <sidebar-group-service :isSidebarActive="add_group_services" 
            :data="group_service_edit"
            @close="add_group_services = $event"
            @ADD_GROUP_SERVICES="GROUP_SERVICES_LOCAL.unshift($event)" />
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import moment from 'moment';
export default {
    name: 'tab-group-serivces',
    components: {
      'sidebar-group-service' : () => import('./sidebarGroupService.vue')
    },
    computed:
    {
        ...mapGetters(["group_services"])
    },
    data()
    {
        return {
            GROUP_SERVICES_LOCAL: [],
            add_group_services: false,
            group_service_edit: {}
        }
    },
    watch:
    {
        add_group_services(boolean)
        {
            if(!boolean) this.group_service_edit = {}
        },
        group_services(group_services_new)
        {
            this.GROUP_SERVICES_LOCAL = group_services_new
        }
    },
    methods:
    {
        formatDate(date)
        {
            return moment(date, 'YYYY-MM-DD HH:mm:ss').format('HH:mm DD/MM/YYYY')
        },
        apiGroupSerivces()
        {
            
            if(this.group_services.length == 0)
            {
                this.$vs.loading();
                this.$store.dispatch('fetchGroupServices',this.filter)
                .then((response) => {
                    if(response.success == true)
                    {
                        this.GROUP_SERVICES_LOCAL = response.result
                    }
                    this.$vs.notify({
                        title: 'DANH SÁCH NHÓM DỊCH VỤ',
                        text: response.message,
                        color: response.success == true ? 'success' : 'warning'
                    });
                    setTimeout(() => {
                        this.$vs.loading.close();
                    }, 500);
                })
                .catch((err) => {
                    this.$vs.notify({
                        title: 'DANH SÁCH NHÓM DỊCH VỤ',
                        text: 'Lỗi! Xin vui lòng đăng xuất thử lại!',
                        color: 'danger'
                    });
                    setTimeout(() => {
                        this.$vs.loading.close();
                    }, 500);
                })
            }
            else
            {
                console.log('set group services')
                this.GROUP_SERVICES_LOCAL = this.group_services
            }
        },
        editData(data)
        {
            this.group_service_edit = data
            this.add_group_services = true
        }
    },
    created()
    {
        this.apiGroupSerivces();
    }
}
</script>