<template>
    <div id="page-data-user-store" class="w-full page-content">
        <vs-table ref="table" :data="LIST_ACCOUNT_STORE_LOCAL" 
          :noDataText="'Danh sách thành viên rỗng! Bạn hãy tạo thêm thành viên cho cửa hàng để quản lý hệ thống cho mình!'">
            <div slot="header" style="width:100%">
              <vs-row vs-w="12">
                  <vs-col class="p-6 pl-0"  vs-justify="left" vs-align="left" vs-lg="3" vs-sm="12" vs-xs="12" >
                      <vs-button type="border" icon-pack="feather" icon="icon-plus" @click="isSidebarActive = true">Thêm mới</vs-button>
                  </vs-col>
                   
              </vs-row>
              
            </div>

          <template slot="thead">
            <vs-th sort-key="TEN_CUA_HANG">CỬA HÀNG</vs-th>
            <vs-th sort-key="USERNAME_USER">CMND</vs-th>
            <vs-th sort-key="HO_TEN_USER">HỌ & TÊN</vs-th>
            <vs-th sort-key="EMAIL_USER">EMAIL</vs-th>
            <vs-th sort-key="SDT_USER">SĐT</vs-th>
            <vs-th sort-key="GENDER_USER">GIỚI TÍNH</vs-th>
            <vs-th sort-key="BIRTH_DAY">NGÀY SINH</vs-th>
            <vs-th sort-key="NGAY_XIN_VIEC">NGÀY XIN VIỆC</vs-th>
            <vs-th>THAO TÁC</vs-th>
          </template>
          <template slot-scope="{data}">
            <tbody>

              <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">

                <vs-td>{{tr.TEN_CUA_HANG}}</vs-td>

                <vs-td>{{tr.CMND_USER}}</vs-td>

                <vs-td>{{tr.HO_TEN_USER}}</vs-td>

                <vs-td>{{tr.EMAIL_USER}}</vs-td>

                <vs-td>{{tr.SDT_USER}}</vs-td>

                <vs-td>{{tr.GT_USER == 0 ? 'Nam' : 'Nữ'}}</vs-td>

                <vs-td>{{formatDate(tr.BIRTH_DAY)}}</vs-td>
                <vs-td>{{formatDate(tr.NGAY_XIN_VIEC)}}</vs-td>

                <vs-td class="whitespace-no-wrap">
                  <button @click="editAccount(tr)" class="btn btn-action" title="Tạo tài khoản"> <i class="fa fa-key" aria-hidden="true"></i></button>
                  <button @click="editData(tr)" class="btn btn-action" title="Cập nhật thông tin"> <i class="fa fa-edit" aria-hidden="true"></i></button>
                  <button  class="btn btn-action" @click="deleteAccount(tr)" title="Xóa thông tin nhân viên"> <i class="fa fa-trash" aria-hidden="true"></i></button>
                </vs-td>

              </vs-tr>
            </tbody>
          </template>
        </vs-table>
        <sidebar-action-account-store :isSidebarActive="isSidebarActive" :data="account_edit" 
          @close="isSidebarActive = $event"
          @ADD_ACCOUNT="addAccountLocal($event)"
          @updateDateHRM="date = $event" />
        <sidebar-action-account :isSidebarActive="isSidebarAccount" :data="account_user"
          @close="isSidebarAccount = $event" />
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import moment from 'moment'
export default {
    name: 'data-account-store',
    components:
    {
      'sidebar-action-account-store': () => import('./sidebarAccountStore.vue'),
      'sidebar-action-account': () => import('./sidebarActionAccount.vue')
    },
    data()
    {
        return {
            LIST_ACCOUNT_STORE_LOCAL: [],
            filter: '',
            isSidebarActive: false,
            account_edit: {},
            date_time_hrm: {
              year: new Date().getFullYear(),
              month: new Date().getMonth() + 1,
              date: new Date().getDate()
            },
            account_user: {},
            isSidebarAccount: false
        }
    },
    computed:{
      users_hrm(){
        return this.$store.state.hrm.list_user_hrm
      }
    },
    watch:
    {
      isSidebarActive(boolean)
      {
        if(boolean == false)
        {
          this.account_edit = {}
        }
      }
    },
    methods: 
    {
        formatDate(date)
        {
          return moment(date,'YYYY-MM-DD').format('DD/MM/YYYY')
        },
        apiFetchUserStore()
        {
          if(this.users_hrm.length == 0)
          {
            this.$vs.loading();
            this.$store.dispatch('fetchUserHRM',this.filter).then((response) => {
              this.LIST_ACCOUNT_STORE_LOCAL = response.result
              if(response.success == false)
              {
                this.$vs.notify({
                  title: 'DANH SÁCH NHÂN VIÊN',
                  text: response.message,
                  color: 'warning'
                });
               
              } 
               setTimeout(() => {
                  this.$vs.loading.close();
                }, 500);
            })
            .catch((err) => {
              console.log('hrm user', err)
              this.$vs.notify({
                title: 'DANH SÁCH NHÂN VIÊN',
                text: 'Lỗi! Xin vui lòng F5 thử lại!',
                color: 'danger'
              });
              setTimeout(() => {
                this.$vs.loading.close();
              }, 500);
            })
          }
          else
          {
            this.$vs.loading();
            this.LIST_ACCOUNT_STORE_LOCAL = this.users_hrm
            setTimeout(() => {
              this.$vs.loading.close();
            }, 500);
          }
         
        },
        editData(data)
        {
            this.account_edit = data
            this.isSidebarActive = true
        },
        deleteAccount(data)
        {
          this.$vs.dialog({
            type:'confirm',
            color: 'warning',
            title:  'Bạn chắc chắn xóa nhân viên '+data.HO_TEN_USER + ' ?',
            text: 'Sau khi xóa sẽ lưu lại lịch sử thao tác của người dùng!',
            data: data,
            acceptText: 'Đồng ý',
            cancelText: 'Hủy',
            accept: () => {
              this.acceptDeleteAccount(data)
            }
          })
        },
        acceptDeleteAccount(data)
        {
          this.$vs.loading();
          this.$store.dispatch('deleteUserHRM',data.ID_USER_HRM)
          .then((response) => {
            if(response.success == true)
            {
              const IndexAccount = this.LIST_ACCOUNT_STORE_LOCAL.findIndex((account) => account.ID_USER == data.ID_USER);
              this.LIST_ACCOUNT_STORE_LOCAL.splice(IndexAccount,1)
              // this.$emit('DELETE_ACCOUNT',data.ID_USER);
            }
            this.$vs.notify({
              title: 'XÓA NHÂN VIÊN',
              text: response.message,
              color: response.success == true ? 'success' : 'warning'
            });
            setTimeout(() => {
              this.$vs.loading.close();
            }, 500);
          })
          .catch((err) => {
            console.log('delete account',err);
            this.$vs.notify({
              title: 'XÓA NHÂN VIÊN',
              text: 'Lỗi thực hiện, xin vui lòng đăng xuất thử lại!',
              color: 'danger'
            });
            setTimeout(() => {
              this.$vs.loading.close();
            }, 500);
          })
        },
        addAccountLocal(data)
        {
          this.LIST_ACCOUNT_STORE_LOCAL.push(data)
        },
        editAccount(data)
        {
          this.account_user = data
          this.isSidebarAccount = true
        },
        apiFetchRoleDefault()
        {
          this.$store.dispatch('fetchRoleDefault')
          .then((response) => {
            if(response.status == 401) this.$router.push('/logout');
          })
        }
    },
    created()
    {
      new Promise((resolve,reject) => {
        this.apiFetchUserStore();
        this.apiFetchRoleDefault();
      })
    },
    mounted() {
    },
}
</script>