<template>
    <div id="page-hrm-user">
        <div id="table-hrm">
            <p align="center" class="p-3"> BẢNG CHẤM CÔNG THÁNG {{month_now}}</p>
            <div class="item-hrm">
                <div class="name-user item-header-hrm">
                    TÊN NHÂN VIÊN
                </div>
                <div class="month-hrm item-header-hrm">
                    <div class="item-month" v-for="i in 31" :key="i">
                        {{i}}
                    </div>
                </div>
                <div class="total item-header-hrm">
                    TỔNG
                </div>
            </div>
            <item-hrm-account 
                v-for="(account,index) in LIST_ACCOUNT_STORE_LOCAL" 
                :key="index" 
                :account="account"
                @updateHRM="account_hrm = $event" 
                />
            

        </div>

        <sidebar-hrm-account 
                :isSidebarActive="isSidebarHRM"
                :data="account_hrm"
                @close="isSidebarHRM = $event" />

    </div>
</template>

<script>
export default {
    name: 'page-hrm-user-store',
    components:
    {
        'item-hrm-account' : () => import('./hrm/itemHRM.vue'),
        'sidebar-hrm-account' : () => import('./hrm/sidebarHRM.vue'),
    },
    computed:{
      accounts_store(){
        return this.$store.state.user.accounts_store
      }
    },
    data()
    {
        return {
            LIST_ACCOUNT_STORE_LOCAL: [],
            account_hrm: {},
            isSidebarHRM: false,
            month_now: new Date().getMonth() + 1
        }
    },
    watch: {
        account_hrm(account_update)
        {
            console.log('new ',account_update)
            if(Object.entries(account_update).length > 0)
            {
                this.isSidebarHRM = true
            }
            else
            {
                this.isSidebarHRM = false
            }
        },
        isSidebarHRM(boolean)
        {
            if(boolean == false)
            {
                this.account_hrm = {}
                this.$store.commit('EMPTY_DETAIL_HRM',{})
            }
        }
    },
    methods:
    {
        apiFetchUserStore()
        {
          if(this.accounts_store.length == 0)
          {
            this.$vs.loading();
            this.$store.dispatch('user/fetchUserStore',this.filter).then((response) => {
              console.log('user', response.result);
              this.LIST_ACCOUNT_STORE_LOCAL = response.result
              if(response.success == false)
              {
                this.$vs.notify({
                  title: 'DANH SÁCH THÀNH VIÊN',
                  text: response.message,
                  color: 'warning'
                });
                setTimeout(() => {
                  this.$vs.loading.close();
                }, 500);
              } 
            })
            .catch((err) => {
              this.$vs.notify({
                title: 'DANH SÁCH THÀNH VIÊN',
                text: 'Lỗi! Xin vui lòng F5 thử lại!',
                color: 'danger'
              });
              setTimeout(() => {
                this.$vs.loading.close();
              }, 500);
            })
          }
          else
          {
            this.$vs.loading();
            this.LIST_ACCOUNT_STORE_LOCAL = this.accounts_store
            setTimeout(() => {
              this.$vs.loading.close();
            }, 500);
          }
         
        },
        apiFetchHRMStore()
        {
            this.$vs.loading();
            this.$store.dispatch('fetchHRM')
            .then((response) => {
                if(response.success == false)
                {
                    this.$vs.notify({
                        title: 'BẢNG CHẤM CÔNG',
                        text: response.message,
                        color: 'warning'
                    });
                }
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
            .catch((err) => {
                console.log('hrm ',err)
                this.$vs.notify({
                    title: 'BẢNG CHẤM CÔNG',
                    text: 'Lỗi! Xin vui lòng thử lại!',
                    color: 'danger'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
        }
    },
    created()
    {
        this.apiFetchUserStore();
        this.apiFetchHRMStore();
    }
}
</script>

<style lang="css">
    .item-hrm {width: 100%; display: flex;border-right: 1px solid #e2e2e2;min-width: 1000px;}
    .item-hrm>.name-user, .total {width: 15%;text-align: center;}
    .total {width: 10%;}
    .item-hrm>.month-hrm {width: 75%;text-align: center;}
    .item-hrm>.month-hrm>.item-month {display: inline-block;width: calc(100% / 31);border-right: 1px solid #e2e2e2;}
    .item-hrm>.month-hrm>.item-month:last-child {border-right: none;}
    .item-header-hrm {border: 1px solid #e2e2e2;border-right: none;;}
    .item-header-hrm {padding: 5px;}
</style>