<template>
    <div id="module-user-store">
        <router-view></router-view>
    </div>
</template>

<script>
import ModuleHRM from '@/store/users/hrm/moduleHRM.js'
export default {
    name: 'page-user-store',
    methods:
    {
        apiFecthStore()
        {
            this.$vs.loading()
            this.$store.dispatch("fetchStore").then(() => {
                setTimeout( ()=> {
                this.$vs.loading.close()
                }, 1000);
            }).catch(() => {
                this.$vs.notify({
                    title: 'CÀI ĐẶT DỮ LIỆU',
                    text: 'Load dữ liệu tỉnh loại cửa hàng',
                    position: 'bottom-left',
                    color:'warning'
                    })
                setTimeout( ()=> {
                this.$vs.loading.close()
                }, 1500);
            })
        }
    },
    created()
    {
        this.apiFecthStore();
    },
    beforeCreate()
    {
        if(!this.$store.hasModule('hrm'))
        {
            this.$store.registerModule('hrm',ModuleHRM);
        }
    },
    beforeDestroy()
    {
        this.$store.unregisterModule('hrm');
    }
}
</script>