<template>
    <vs-sidebar @keyup.esc="isSidebarActiveLocal = false" position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
        <div class="mt-6 flex items-center justify-between px-6">
            <h4>{{ this.data.USERNAME_USER == null ? "THÊM MỚI" : "CẬP NHẬT" }} TÀI KHOẢN NHÂN VIÊN</h4>
            <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
        </div>
        <vs-divider class="mb-0"></vs-divider>
        <VuePerfectScrollbar class="scroll-area--data-list-add-new" >
            <div class="p-2">
                <vs-input disabled v-model="account.HO_TEN_USER" class="w-full"
                    label="Họ & Tên nhân viên"></vs-input>
            </div>
            <div class="p-2">
                <label for="role-default" class="vs-input--label">
                    Danh sách quyền tài khoản <span class="text-danger">(*)</span>
                </label>
                <v-select class="w-full" value="UUID_GROUP_ROLE" label="NAME_GROUP_ROLE"
                    :options="LIST_ROLE_DEFAULT"
                    v-model="selected_role" placeholder="Chọn quyền tài khoản cho nhân viên"></v-select>
            </div>
            <div class="p-2">
                <label for="username" class="vs-input--label">
                    Tài khoản nhân viên <span class="text-danger">(*)</span>
                </label>
                <vs-input id="username" class="w-full" v-model="account.USERNAME_USER"
                placeholder="Nhập tài khoản nhân viên" :disabled="data.USERNAME_USER != null"
                @change="checkUser"></vs-input>
                 <span class="text-danger text-sm">{{ errors_username == true ? 'Tài khoản đã tồn tại': ''}}</span>
            </div>

            <div class="p-2" v-if="data.USERNAME_USER == null">
                <label for="password" class="vs-input--label">Mật khẩu tài khoản <span class="text-danger">(*)</span></label>
                <vs-input id="password" class="w-full" v-model="account.PASSWORD_USER"
                    placeholder="Nhập mật khẩu cho nhân viên"></vs-input>
            </div>
            <div class="group-reset-password" v-else>
                 <div class="p-2">
                    <label for="password" class="vs-input--label">Mật khẩu mới <span class="text-danger">(*)</span></label>
                    <vs-input id="password" class="w-full" v-model="account.PASSWORD_NEW"
                        placeholder="Nhập mật khẩu cho nhân viên"></vs-input>
                </div>
                <div class="p-2">
                    <label for="password" class="vs-input--label">Nhập lại mật khẩu <span class="text-danger">(*)</span></label>
                    <vs-input id="password" class="w-full" v-model="account.COFIRM_PASSWORD"
                    placeholder="Nhập mật khẩu cho nhân viên"></vs-input>
                </div>
            </div>
        </VuePerfectScrollbar>
        <div class="flex flex-wrap items-center p-6 layout-pc" slot="footer">
        <vs-button @click="apiSubmitAccountUser" class="mr-6" :disabled="!isFormValid">{{this.data.USERNAME_USER == null ? "THÊM MỚI": "CẬP NHẬT"}}</vs-button>
        <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">Cancel</vs-button>
        </div>
        
  </vs-sidebar>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import { mapGetters } from 'vuex';

export default {
    name: 'sidebar-action-account',
    components: {
        VuePerfectScrollbar
    },
    props: {
        isSidebarActive: {
            required: true,
            type: Boolean
        },
        data: {
            required: true,
            type: Object
        }
    },
    data()
    {
        return {
            account: {

            },
            selected_role: null,
            errors_username: false
        }
    },  
    computed:
    {
        isSidebarActiveLocal: {
            get()
            {
                return this.isSidebarActive;
            },
            set(val)
            {
                this.$emit('close',val);
            }
        },
        isFormValid() {
            return !this.errors.any()
        },
        ...mapGetters(["LIST_ROLE_DEFAULT"])
    },
    watch:
    {
        isSidebarActiveLocal(boolean)
        {   
            if(!boolean) return;
            this.$validator.reset();
            if(Object.entries(this.data).length == 0)
            {
                this.initValue();
            }
            else
            {
                this.account = {...this.data}
                if(this.data.USERNAME_USER != null)
                {
                    this.selected_role = this.LIST_ROLE_DEFAULT.find((role) => role.UUID_GROUP_ROLE == this.data.UUID_GROUP_ROLE)
                }
            }
        },
        selected_role(role)
        {
            if(role != null)
            {
                this.account.UUID_GROUP_ROLE = role.UUID_GROUP_ROLE
            }
        }
    },
    methods:{
        apiSubmitAccountUser()
        {
            if(this.data.USERNAME_USER == null)
            {
                this.apiCreateAccount();
            }
        },
        apiCreateAccount()
        {
            this.$vs.loading();
            if(this.selected_role == null)
            {
                this.$vs.notify({
                    title: 'TẠo TÀI KHoẢn NHÂn VIÊn',
                    text: "BẠn chƯa chỌn quyỀn cho nhÂn viÊn",
                    color: "warning"
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            }
            else if(this.errors_username == false)
            {
                this.$store.dispatch('createAccountUser',this.account)
                .then((response) => {
                    if(response.status == 401) this.$router.push('/logout');
                    this.$vs.notify({
                        title: 'TẠO TÀI KHOẢN CHO NHÂN VIÊN',
                        text: response.message,
                        color: response.success == true ? 'success' : 'warning'
                    });
                    setTimeout(() => {
                        this.$vs.loading.close();
                    }, 500);
                })
                .catch((err) => {
                    setTimeout(() => {
                        this.$vs.loading.close();
                    }, 500);
                })
            }
            else
            {
                this.$vs.notify({
                    title: 'TẠo TÀI KHoẢn CHO NHÂn VIÊn',
                    text: this.errors_username == true ? 'Tài khoản đã tồn tại' : 'Bạn chưa nhập đầy đủ thông tin!',
                    color: 'warning'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            }
            
        },
        checkUser()
        {
          this.$vs.loading();
          this.$store.dispatch('user/checkUsername',this.account.USERNAME_USER).then((response)=> {
            if(response.success == true)
            {
              this.errors_username = true
            }
            else{
              this.errors_username = false
            }
            this.$vs.notify({
                title: 'TẠo TÀi KHoẢn NHÂn VIÊn',
                text: response.success == true ? 'Tài khoản đã có người đăng ký' : 'Tài khoản chưa có người đăng ký',
                color: response.success == true ? 'warning' : 'success'
            })
            setTimeout(() => {
                this.$vs.loading.close();
            }, 500);
          }).catch(() => {
            this.errors_username = true
            setTimeout(() => {
                this.$vs.loading.close();
            }, 500);
          })
        }
    },
    mounted()
    {
    },
    created()
    {
       
    }
}
</script>

<style lang="scss" scoped>
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 600px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    height: calc(100% - 4.3rem);
}
</style>