<template>
    <vs-sidebar @keyup.esc="isSidebarActiveLocal = false" position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
        <div class="mt-6 flex items-center justify-between px-6">
            <h4>{{ Object.entries(this.data).length === 0 ? "THÊM MỚI" : "CẬP NHẬT" }} THÀNH VIÊN</h4>
            <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
        </div>
        <vs-divider class="mb-0"></vs-divider>
        <VuePerfectScrollbar class="scroll-area--data-list-add-new" >
           <div>
                <label for="LIST_STORE" class="vs-input--label p-3">
                    Danh sách cửa hàng <span class="text-danger">(*)</span>
                </label>
                <v-select :options="LIST_STORE"
                    id="LIST_STORE"
                    v-model="selected_store"
                    placeholder="Chọn cửa hàng"
                    class="w-full p-3"
                    value="ID_CUA_HANG"
                    label="TEN_CUA_HANG"
                    :disabled="Object.entries(this.data).length > 0 ? true : false"
                    >

                </v-select>
                <label for="HO_TEN_USER" class="vs-input--label p-3">
                    Họ & Tên <span class="text-danger">(*)</span>
                </label>
                <vs-input name="HO_TEN_USER"
                    v-model="account.HO_TEN_USER"
                    class="w-full p-3"
                    v-validate="'required'" 
                    data-vv-validate-on="blur"
                    placeholder="Nhập họ tên thành viên"
                    ></vs-input>
                <span  class="text-danger text-sm p-3" v-show="errors.has('HO_TEN_USER')">
                    {{ errors.has('HO_TEN_USER') == true ? 'Chưa nhập tên cho thành viên' : '' }}
                </span>

                <label for="gender" class="vs-input--label p-3">
                    Giới tính <span class="text-danger">(*)</span>
                </label>
                <v-select :options="LIST_GENDER"
                        id="gender"
                        v-model="selected_gender"
                        placeholder="Chọn giới tính"
                        class="w-full p-3"
                        value="ID_GENDER"
                        label="NAME_GENDER"
                    >

                </v-select>

                <vs-input name="SDT_USER"
                    v-model="account.SDT_USER"
                    class="w-full p-3"
                    v-validate="'required|min:10'" 
                    data-vv-validate-on="blur"
                    placeholder="Nhập số điện thoại thành viên"
                    ></vs-input>
                <span  class="text-danger text-sm p-3" v-show="errors.has('SDT_USER')">
                    {{ errors.has('SDT_USER') == true ? 'Chưa nhập số điện thoại thành viên' : '' }}
                </span>
                
                <vs-input name="EMAIL_USER"
                    v-model="account.EMAIL_USER"
                    class="w-full p-3"
                    placeholder="Nhập email thành viên"
                    label="EMAIL"
                    ></vs-input>
                
                <label for="CMND" class="vs-input--label p-3">
                    CMND <span class="text-danger">(*)</span>
                </label>
                <vs-input name="CMND_USER"
                    id="CMND"
                    v-model="account.CMND_USER"
                    class="w-full p-3"
                    v-validate="'required|min:8|max:12'" 
                    data-vv-validate-on="blur"
                    placeholder="Nhập CMND thành viên"
                    ></vs-input>
                <span  class="text-danger text-sm p-3" v-show="errors.has('CMND_USER')">
                    {{ errors.has('CMND_USER') == true ? 'Số CMND không hợp lệ' : '' }}
                </span>

                <label for="BIRTH_DAY" class="vs-input--label p-3">
                    Ngày sinh <span class="text-danger">(*)</span>
                </label>
                <vs-input type="date"
                    class="w-full p-3"
                    name="BIRTH_DAY"
                    v-model="account.BIRTH_DAY"
                    ></vs-input>

                <label for="NGAY_XIN_VIEC" class="vs-input--label p-3">
                    Ngày bắt đầu làm <span class="text-danger">(*)</span>
                </label>
                <vs-input type="date"
                    class="w-full p-3"
                    name="NGAY_XIN_VIEC"
                    v-validate="'required'" 
                    data-vv-validate-on="blur"
                    v-model="account.NGAY_XIN_VIEC"
                    label="NGÀY XIN VIỆC"
                    ></vs-input>
                <span  class="text-danger text-sm p-3" v-show="errors.has('NGAY_XIN_VIEC')">
                    {{ errors.has('NGAY_XIN_VIEC') == true ? 'Chưa nhập ngày xin việc ' : '' }}
                </span>

                
           </div>
        </VuePerfectScrollbar>
        <div class="flex flex-wrap items-center p-6 layout-pc" slot="footer">
        <vs-button class="mr-6" @click="submitUserHRM" :disabled="!isFormValid">{{Object.entries(this.data).length === 0 ? "THÊM MỚI": "CẬP NHẬT"}}</vs-button>
        <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">Cancel</vs-button>
        </div>
        
  </vs-sidebar>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import { mapGetters } from 'vuex';

export default {
    name: 'sidebar-action-account-store',
    components: {
        VuePerfectScrollbar
    },
    props: {
        isSidebarActive: {
            required: true,
            type: Boolean
        },
        data: {
            required: true,
            type: Object
        }
    },
    data()
    {
        return {
            account: {
                GT_USER: 0,
                HO_TEN_USER: '',
                BIRTH_DAY: new Date().toISOString().substring(0,10),
                NGAY_XIN_VIEC: new Date().toISOString().substring(0,10),
                GT_USER: 0,
                SDT_USER: '',
                EMAIL_USER: '',
                CMND_USER: ''
            },
            warning: false,
            selected_store: null,
            LIST_GENDER: [
                {
                    ID_GENDER: 0,
                    NAME_GENDER: 'Nam'
                },
                {
                    ID_GENDER: 1,
                    NAME_GENDER: 'Nữ'
                }
            ],
            selected_gender: null
        }
    },  
    computed:
    {
        isSidebarActiveLocal: {
            get()
            {
                if(this.LIST_STORE.length == 0)
                {
                    this.apiFecthStore();
                }
                return this.isSidebarActive;
            },
            set(val)
            {
                this.$emit('close',val);
            }
        },
        isFormValid() {
            return !this.errors.any()
        },
        ...mapGetters(["LIST_STORE"])
    },
    watch:
    {
        isSidebarActiveLocal(boolean)
        {   
            if(!boolean) return;
            this.$validator.reset();
            if(Object.entries(this.data).length == 0)
            {
                this.initValue();
            }
            else
            {
                this.account = {...this.data}
                this.selected_gender = this.LIST_GENDER.find((gender) => gender.ID_GENDER == this.data.GT_USER)
                this.selected_store = this.LIST_STORE.find((store) => store.ID_CUA_HANG == this.data.ID_CUA_HANG);
            }
        },
        selected_store(store)
        {
            if(store != null)
            {
                this.account.ID_CUA_HANG = store.ID_CUA_HANG
                this.account.TEN_CUA_HANG = store.TEN_CUA_HANG
            }
        },
        selected_gender(gender)
        {
            if(gender != null)
            {
                this.account.GT_USER = gender.ID_GENDER
            }
        }
    },
    methods:{
        initValue()
        {
            this.$validator.reset();
            this.account = {
                GT_USER: 0,
                HO_TEN_USER: '',
                BIRTH_DAY: new Date().toISOString().substring(0,10),
                NGAY_XIN_VIEC: new Date().toISOString().substring(0,10),
                GT_USER: 0,
                SDT_USER: '',
                EMAIL_USER: '',
                CMND_USER: ''
            }
            this.selected_gender = this.LIST_GENDER[0]
            this.selected_store = this.LIST_STORE.length > 0 ? this.LIST_STORE[0] : null;
            this.account.ID_CUA_HANG = this.selected_store == null ? 0 : this.selected_store.ID_CUA_HANG;
            this.account.TEN_CUA_HANG = this.selected_store == null ? '' : this.selected_store.TEN_CUA_HANG;
            this.account.GT_USER = this.selected_gender == null ? 0 : this.selected_gender.ID_GENDER;
        },
        submitUserHRM()
        {
            if(Object.entries(this.data).length == 0)
            {
                this.apiCreateStore();
            }
            else
            {

            }
            
        },
        apiCreateStore()
        {
            if(this.isFormValid && this.selected_gender != null && this.selected_store != null)
            {
                this.$vs.loading();
                if(this.selected_store == null)
                {
                    this.$vs.notify({
                        title: 'TẠO THÀNH VIÊN MỚI',
                        text: 'Chưa chọn cửa hàng',
                        color: 'warning'
                    });
                    setTimeout(() => {
                        this.$vs.loading.close();
                    }, 500);
                }
                else
                {
                    this.$store.dispatch('createUserHRM',this.account)
                    .then((response) => {
                        if(response.success == true) this.initValue();
                        this.$vs.notify({
                            title: 'TẠO THÀNH VIÊN MỚI',
                            text: response.message,
                            color: response.success == true ? 'success' : 'warning'
                        });
                        setTimeout(() => {
                            this.$vs.loading.close();
                        }, 500);
                    })
                    .catch((err) => {
                        console.log(err)
                        this.$vs.notify({
                            title: 'TẠO THÀNH VIÊN MỚI',
                            text: 'Lỗi! Xin vui lòng đăng xuất thử lại!',
                            color: 'danger'
                        });
                        setTimeout(() => {
                            this.$vs.loading.close();
                        }, 500);
                    })
                }
            }
            else
            {
                this.$vs.loading();
                this.$vs.notify({
                    title: 'TẠO THÀNH VIÊN',
                    text: 'Bạn chưa nhập đầy đủ thông tin',
                    color: 'warning'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            }
        },
        apiFecthStore()
        {
            this.$vs.loading()
            this.$store.dispatch("fetchStore").then(() => {
                setTimeout( ()=> {
                this.$vs.loading.close()
                }, 1000);
            }).catch(() => {
                this.$vs.notify({
                    title: 'Lỗi',
                    text: 'Load dữ liệu tỉnh loại cửa hàng',
                    position: 'bottom-left',
                    color:'warning'
                    })
                setTimeout( ()=> {
                this.$vs.loading.close()
                }, 1500);
            })
        }
        
    },
    mounted()
    {
    },
    created()
    {
       
    }
}
</script>

<style lang="scss" scoped>
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 600px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    height: calc(100% - 4.3rem);
}
</style>