<template>
    <div id="data-ip-store">
    <vs-table ref="table" pagination :max-items="50" search :data="LIST_IP_LOCAL"
        :noDataText="'Chưa cài đặt địa chỉ truy cập cho cửa hàng'">

      <div slot="header" class="flex flex-wrap-reverse items-center flex-grow">
          <div class="w-col w-1/4 mr-2">
            <v-select :options="LIST_STORE" v-model="selected_store"
            value="ID_CUA_HANG" label="TEN_CUA_HANG"
            placeholder="Chọn cửa hàng"
            class="w-full"></v-select> </div>
          <vs-button type="border" icon-pack="feather" icon="icon-plus" @click="isSidebar = true" >Thêm mới</vs-button>
      </div>

        <template slot="thead">
          <vs-th >STT</vs-th>
          <vs-th>CỬA HÀNG</vs-th>
          <vs-th>IP</vs-th>
          <vs-th >Ghi chú </vs-th>
          <vs-th>Thao tác</vs-th>
        </template>
        <template slot-scope="{data}">
          <tbody>
            <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
              <vs-td>
                <p align="center">{{indextr + 1}}</p>
              </vs-td>

              <vs-td>
                {{tr.TEN_CUA_HANG}}
              </vs-td>

              <vs-td>
                {{tr.IP_ADDRESS}}
              </vs-td>

              <vs-td>
                {{tr.GHI_CHU}}
              </vs-td>

              <vs-td class="whitespace-no-wrap">
                <vs-button class="btn-not-color" @click="editData(tr)" size="small"> <vs-icon icon="edit"></vs-icon></vs-button>
                <vs-button class="btn-not-color" @click="deleteData(tr)" size="small"> <vs-icon icon="delete"></vs-icon></vs-button>
              </vs-td>

            </vs-tr>
          </tbody>
        </template>

    </vs-table>
    <sidebar-action-ip  :isSidebarActive="isSidebar" 
      @closeSidebar="isSidebar = $event"
      :data="ip_edit" />
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    components:
    {
        'sidebar-action-ip': () => import('./sidebarActionIp.vue')
    },
    data()
    {
        return {
            isSidebar: false,
            ip_edit: {},
            selected_store: null
        }
    },
    computed: {
      ...mapGetters(["LIST_IP", "LIST_STORE"]),
      LIST_IP_LOCAL: {
        get()
        {
          if(this.selected_store != null) return this.LIST_IP.filter((value,index,array) => {
            return array[index].ID_CUA_HANG == this.selected_store.ID_CUA_HANG;
          })
          return this.LIST_IP;
        }
      }
    },
    methods: {
      apiFetchIpStore()
      {
        this.$store.dispatch('fetchIpStore')
        .then((response) => {
          if(response.status == 401) this.$router.push('/logout');
        })
        .catch((err) => {
          console.log(err)
        });
      },
      deleteData(data)
      {
        this.$vs.dialog({
          type:'confirm',
          color: 'warning',
          title:  'Bạn muốn xóa IP '+data.IP_ADDRESS + ' ?',
          text: 'Các tài khoản nhân viên đăng nhập từ địa chỉ IP này sẽ không vào được hệ thống của bạn!',
          data: data,
          acceptText: 'Đồng ý',
          cancelText: 'Hủy',
          accept: () => {
            this.acceptDeleteIP(data)
          }
        })
      },
      acceptDeleteIP(ip)
      {
        this.$store.dispatch('deleteIpStore',ip)
        .then((response) => {
          if(response.status == 401) this.$router.push('/logout');
          this.$vs.notify({
            title: 'XÓA ĐỊA CHỈ IP',
            text: response.message,
            color: response.success == true ? 'success' : 'warning'
          });
        })
        .catch((err) => {
          console.log(err)
        });
      }
    },
    created() {
      this.apiFetchIpStore();
    },
}
</script>