<template>
  <div id="data-list-list-view" class="data-list-container">
    <sidebar-action-ch :isSidebarActive="isSidebarActive"  :data="sidebarData" @closeSidebar="isSidebarActive = $event"  />
    <vs-table ref="table" pagination :max-items="itemsPerPage" search :data="stores">

      <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
        <vs-button v-if="stores.length < createStore_number" type="border" icon-pack="feather" icon="icon-plus" @click="addNewData" >Thêm mới</vs-button>
        <!-- ITEMS PER PAGE -->
        <vs-dropdown vs-trigger-click class="cursor-pointer mb-4 mr-4">
          <vs-dropdown-menu>

            <vs-dropdown-item @click="itemsPerPage=4">
              <span>4</span>
            </vs-dropdown-item>
            <vs-dropdown-item @click="itemsPerPage=10">
              <span>10</span>
            </vs-dropdown-item>
            <vs-dropdown-item @click="itemsPerPage=15">
              <span>15</span>
            </vs-dropdown-item>
            <vs-dropdown-item @click="itemsPerPage=20">
              <span>20</span>
            </vs-dropdown-item>
          </vs-dropdown-menu>
        </vs-dropdown>
      </div>

        <template slot="thead">
          <vs-th sort-key="name">Tên cửa hàng</vs-th>
          <vs-th>Tên loại cửa hàng</vs-th>
          <vs-th>Tỉnh / Thành Phố</vs-th>
          <vs-th>Quận / Huyện                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  </vs-th>
          <vs-th sort-key="category">Địa chỉ</vs-th>
          <vs-th sort-key="popularity">Số điện thoại</vs-th>
          <vs-th sort-key="price">Ghi chú </vs-th>
          <vs-th>Thao tác</vs-th>
        </template>
        <template slot-scope="{data}">
          <tbody>
            <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">

              <vs-td>
                <p class="product-name font-medium truncate"><a :href="'./cua-hang/'+tr.ID_CUA_HANG"  target="_blank"> {{ tr.TEN_CUA_HANG }} </a></p>
              </vs-td>
               <vs-td>
                <p class="product-name font-medium truncate">{{ tr.TEN_LOAI_CUA_HANG }}</p>
              </vs-td>
            
              <vs-td>{{tr.NAME_PROVINCE}}</vs-td>

              <vs-td>{{tr.NAME_DISTRICT}}</vs-td>

              <vs-td>
                <p class="product-category">{{ tr.DIA_CHI_CUA_HANG }}</p>
              </vs-td>
              
              <vs-td>
                <p class="product-category">{{ tr.SDT_CUA_HANG }}</p>
              </vs-td>

                <vs-td>
                <p class="product-category">{{ tr.GHI_CHU }}</p>
              </vs-td>
              <vs-td class="whitespace-no-wrap">
                <vs-button class="btn-not-color" @click="editData(tr)" size="small"> <vs-icon icon="edit"></vs-icon></vs-button>
                <vs-button class="btn-not-color" @click="deleteData(tr)" size="small"> <vs-icon icon="delete"></vs-icon></vs-button>
              </vs-td>

            </vs-tr>
          </tbody>
        </template>

    </vs-table>
  </div>
</template>

<script>

import { mapGetters } from 'vuex'
export default {
  components: {
    'sidebar-action-ch': () => ({
      component: new Promise(function(resolve,reject) {
          setTimeout(function() {
            resolve(import('./SidebarActionCH.vue'))
          },1500)
      }),
      delay: 100,
      timeout: 2000
    }),
  },
  data() {
    return {
      selected: [],
      // products: [],
      itemsPerPage: 10,
      isMounted: false,
      sidebarDataStore: {},
      // Data Sidebar
      addNewDataSidebar: false,
      sidebarData: {},
      isSidebarActive: false,
      isSidebarActiveManager: false,
      createStore_number: 2
    }
  },
  computed: {
    ...mapGetters(["SETTING_STORE"]),
    currentPage() {
      if(this.isMounted) {
        return this.$refs.table.currentx
      }
      return 0
    },
    stores() {
      return this.$store.state.store.stores
    }
  },
  methods: {
    addNewData() {
      this.sidebarData = {}
      // this.toggleDataSidebar(true)
      this.isSidebarActive = true
    },
    deleteData(data) {
      this.$vs.dialog({
        type:'confirm',
        color: 'warning',
        title:  'Bạn muốn xóa cửa hàng '+data.TEN_CUA_HANG + ' ?',
        text: 'Tất cả dữ liệu của cửa hàng sẽ mất hết !',
        data: data,
        acceptText: 'Đồng ý',
        cancelText: 'Hủy',
        accept: () => {
          this.acceptDeleteStore(data)
        }
      })
    },
    editData(data) {
      this.isSidebarActive = true
      this.sidebarData = data
      console.log(data)
    },
    getOrderStatusColor(status) {
      if(status == 'on_hold') return "warning"
      if(status == 'delivered') return "success"
      if(status == 'canceled') return "danger"
      return "primary"
    },
    getPopularityColor(num) {
      if(num > 90) return "success"
      if(num >70) return "primary"
      if(num >= 50) return "warning"
      if(num < 50) return "danger"
      return "primary"
    },
    toggleDataSidebar(val=false) {
      this.addNewDataSidebar = val
    },
    acceptDeleteStore(data)
    {
      this.$vs.loading();
      this.$store.dispatch('deleteStore',data)
      .then((response) => {
        if(response.success == true)
        {
          const IndexStore = this.stores.findIndex((store) => store.ID_CUA_HANG == data.ID_CUA_HANG);
          if(IndexStore != -1)
          {
            this.stores.splice(IndexStore,1);
          }
        }
        this.$vs.notify({
          title: 'XÓA CỬA HÀNG',
          text: response.messsage,
          color: response.success == true ? 'success' : 'warning'
        });
        setTimeout(() => {
          this.$vs.loading.close();
        }, 500);
      })
      .catch((err) => {
        console.log('Xóa cửa hàng ',err);
        this.$vs.notify({
          title: 'XÓA CỬA HÀNG',
          text: 'Lỗi! Xin vui lòng đăng xuất thử lại!',
          color: 'danger'
        });
        setTimeout(() => {
          this.$vs.loading.close();
        }, 500);
      })
    }
  },
  created() {
    // console.log('check', localStorage.getItem('service-store2'))
    if(localStorage.getItem('service-store') != null)
    {
      var serviceStore = localStorage.getItem('service-store');
      serviceStore = JSON.parse(serviceStore);
      this.createStore_number = parseInt(serviceStore.VALUE_SERVICES)
    }
    else
    {
      this.createStore_number = 2
    }
    this.$vs.loading()
      this.$store.dispatch("fetchStore").then(() => {
        setTimeout( ()=> {
          this.$vs.loading.close()
        }, 1000);
      }).catch((err) => {
        this.$vs.notify({
              title: 'DANH SÁCH CỬA HÀNG',
              text: 'Load dữ liệu tỉnh loại cửa hàng',
              color:'warning'
            })
        setTimeout( ()=> {
          this.$vs.loading.close()
        }, 1500);
      })

   
    
    },
  mounted() {
    this.isMounted = true;
    if(this.$cookies.isKey('facebook'))
    {
      this.isSidebarActive = true
    }
  }
}
</script>

<style lang="scss">
.vs-button.btn-not-color {background: transparent !important;color: #333;}
.user_manager {
  color: #333
}
#data-list-list-view {
  .vs-con-table {

    .product-name {
      max-width: 23rem;
    }

    .vs-table--header {
      display: flex;
      flex-wrap: wrap-reverse;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      > span {
        display: flex;
        flex-grow: 1;
      }

      .vs-table--search{
        padding-top: 0;

        .vs-table--search-input {
          padding: 0.9rem 2.5rem;
          font-size: 1rem;

          &+i {
            left: 1rem;
          }

          &:focus+i {
            left: 1rem;
          }
        }
      }
    }

    .vs-table {
      border-collapse: separate;
      // border-spacing: 0 1.3rem;
      padding: 0 1rem;

      tr{
          box-shadow: 0 4px 20px 0 rgba(0,0,0,.05);
          td{
            padding: 20px;
            &:first-child{
              border-top-left-radius: .5rem;
              border-bottom-left-radius: .5rem;
            }
            &:last-child{
              border-top-right-radius: .5rem;
              border-bottom-right-radius: .5rem;
            }
          }
          td.td-check{
            padding: 20px !important;
          }
      }
    }

    .vs-table--thead{
      th {
        padding-top: 0;
        padding-bottom: 0;

        .vs-table-text{
          text-transform: uppercase;
          font-weight: 600;
        }
      }
      th.td-check{
        padding: 0 15px !important;
      }
      tr{
        background: none;
        box-shadow: none;
      }
    }

    .vs-table--pagination {
      justify-content: center;
    }
  }
}
</style>
