<template>
    <div>
        <vs-row vs-w="12" >
            <vs-col class="pd-5 mt-0" vs-justify="left" vs-align="left" vs-lg="7" vs-sm="12" vs-xs="12" >

            </vs-col>
        </vs-row>
    </div>
</template>
<script>
export default {
    created() {

        console.log(this.$route)
        this.$store.dispatch('fetchStoreByID',this.$route.params.id)
    },
}
</script>