<template>
   <router-view></router-view>
</template>

<script>
export default {
    name: 'page-store',
    created()
    {
        
    },
    mounted()
    {
        if(this.$cookies.isKey('facebook'))
        {
            this.$vs.notify({
                title: 'TÀI KHOẢN CHƯA CÀI ĐẶT CỬA HÀN',
                text: 'Tạo cửa hàng cho bạn để hoàn sử dụng hệ thống cùng ECOSY',
                color: 'warning'
            });
        }
    }
}
</script>