<template>
    <div id="page-setting-store">
        <vs-row>
            <div class="vx-col lg:w-1/4 md:w-1/3 w-1/2">
                <ul class="menu menu-setting p-3">
                    <li class="p-3" :class="menu.point == true ? 'active' : ''" @click="activeMenu('point')">
                        <span>Cài đặt điểm tích lũy</span>
                    </li>
                    <li class="p-3" :class="menu.profile == true ? 'active' : ''" @click="activeMenu('profile')">
                        <span>Thông tin tài khoản</span>
                    </li>
                    <li class="p-3" :class="menu.password_user == true ? 'active' : ''" @click="activeMenu('password_user')">
                        <span>Đổi mật khẩu</span>
                    </li>
                </ul>
            </div>
            
            <div class="vx-col lg:w-3/4 md:w-2/3 w-1/2">
                <form-setting-point v-if="menu.point == true" />
                <form-info-user v-if="menu.profile == true" />
                <form-reset-password  v-if="menu.password_user == true" />
            </div>

        </vs-row>
    </div>
</template>

<script>
export default {
    name: 'page-setting-store',
    components:
    {
        'form-setting-point' : () => import('./form/formSettingPoint.vue'),
        'form-info-user' : () => import('./form/formInfoUser.vue'),
        'form-reset-password' : () => import('./form/formResetPassword.vue')
    },
    data()
    {
        return {
            menu: {
                point: true,
                info: false,
                profile: false,
                password_user: false
            },
            
        }
    },
    methods:
    {
        activeMenu(menu)
        {
            this.menu = {
                point: false,
                info: false,
                profile: false,
                password_user: false
            }
            this.menu[menu] = true
        }
    },
    created()
    {
        if(this.$route.query.tab != undefined)
        {
            this.activeMenu(this.$route.query.tab, true)
        }
    }
}
</script>

<style lang="css">
    .menu-setting>li {border: 1px solid #ddd;background: #fff;cursor: pointer;border-bottom: none; }
    .menu-setting>li:hover, .menu-setting>li.active {background: #e2e2e2;}
    .menu-setting>li span {text-transform: uppercase;}
    .menu-setting>li:last-child {border-bottom: 1px solid #e2e2e2;  }
</style>