<template>
  <vs-sidebar position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
    <div class="mt-6 flex items-center justify-between px-6">
        <h4>{{ Object.entries(this.data).length === 0 ? "THÊM MỚI" : "CẬP NHẬT" }} CỬA HÀNG</h4>
        <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
    </div>
    <vs-divider class="mb-0"></vs-divider>
    <VuePerfectScrollbar class="scroll-area--data-list-add-new" :settings="settings">
       <div class="p-6">
         <label for="CUA_HANG" class="vs-input--label">
           Danh sách loại cửa hàng <span class="text-danger">(*)</span>
         </label>
          <v-select class="select-store" 
          name="CUA_HANG"
          placeholder="Nhập loại cửa hàng" 
          v-model="selected_type_store" 
          :options="TYPE_STORE_LOCAL" 
          v-validate="'required'"
          data-vv-validate-on="blur"
          value="ID_LOAI_CUA_HANG"  label="TEN_LOAI_CUA_HANG"  ></v-select>
          <span class="text-danger text-sm" v-show="errors.has('CUA_HANG')">{{ errors.has('CUA_HANG') == true ? 'Chưa chọn cửa hàng  ' : '' }}</span>
          
          <label for="TEN_CUA_HANG" class="vs-input--label">
            Tên cửa hàng <span class="text-danger">(*)</span>
          </label>
          <vs-input
          v-model="store.TEN_CUA_HANG" 
          class="w-full" 
          name="TEN_CUA_HANG" 
          placeholder="Nhập tên cửa hàng" 
          v-validate="'required'"
          data-vv-validate-on="blur" />
          <span class="text-danger text-sm" v-show="errors.has('TEN_CUA_HANG')">{{ errors.has('TEN_CUA_HANG') == true ? 'Chưa nhập tên cửa hàng' : '' }}</span>
          
          <label for="LIST_PROVINCE" class="vs-input--label">
            Danh sách thành phố <span class="text-danger">(*)</span>
          </label>
          <v-select name="LIST_PROVINCE" class="select-store" placeholder="Tỉnh / Thành phố" :options="LIST_PROVINCE" v-model="selected_province" label="NAME_PROVINCE" value="ID_PROVINCE">
              
          </v-select>
          
          <label for="LIST_DISTRICT" class="vs-input--label">
            Danh sách quận / huyện <span class="text-danger">(*)</span>
          </label>
          <v-select name="LIST_DISTRICT" class="select-store" 
          placeholder="Quận / Huyện" :options="LIST_DISTRICT" v-model="selected_district" label="NAME_DISTRICT" value="ID_DISTRICT"></v-select>

          <vs-input label="Địa chỉ" v-model="store.DIA_CHI_CUA_HANG" class="w-full" name="DIA_CHI_CUA_HANG" placeholder="Nhập địa chỉ cửa hàng" v-validate="'required'" />
          <span class="text-danger text-sm" v-show="errors.has('DIA_CHI_CUA_HANG')">{{ errors.has('DIA_CHI_CUA_HANG') == true ? 'Chưa nhập địa chỉ cửa hàng' : '' }}</span>

          <vs-input label="Số điện thoại" v-model="store.SDT_CUA_HANG" class="w-full" name="SDT_CUA_HANG" placeholder="Nhập số điện thoại cửa hàng" v-validate="'required'" />
          <span class="text-danger text-sm" v-show="errors.has('SDT_CUA_HANG')">{{ errors.has('SDT_CUA_HANG') == true ? 'Số điện thoại cửa hàng' : '' }}</span>
     
          <vs-textarea class="mt-5 w-full"  counter="255" label="GHI CHÚ" v-model="store.GHI_CHU" />

       </div>
    </VuePerfectScrollbar>
    <div class="flex flex-wrap items-center p-6" slot="footer">
      <vs-button  class="mr-6" @click="submitCH" :disabled="!isFormValid">{{Object.entries(this.data).length === 0 ? "THÊM MỚI": "CẬP NHẬT"}}</vs-button>
      <vs-button type="border" color="danger" @click="close">ĐÓNG</vs-button>
    </div>
  </vs-sidebar>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import {mapGetters} from 'vuex'
export default {
    components:
    {
      VuePerfectScrollbar
    },
   props: {
     isSidebarActive: {
       type: Boolean,
       required: true
     },
    data: {
      type: Object,
      default: () => {},
    }
  },
  watch: {
    selected_province(province)
    {
      if(province != null)
      {
        this.store.NAME_PROVINCE = province.NAME_PROVINCE
        this.$store.dispatch('fetchDistrict',province.ID_PROVINCE).then((response) => {
          if(Object.entries(this.data).length > 0)
          {
            this.selected_district = response.filter((value,index,array) => {
              return array[index].ID_DISTRICT == this.data.ID_DISTRICT
            })[0]
          }
        })
        this.store.ID_PROVINCE = province.ID_PROVINCE
      }
    },
    selected_district(district)
    {
      if(district != null)
      {
        this.store.ID_DISTRICT = district.ID_DISTRICT
        this.store.NAME_DISTRICT = district.NAME_DISTRICT
      }
    },
    isSidebarActiveLocal(val) {
      if(!val) return
      this.$validator.reset()
      if(Object.entries(this.data).length === 0) {
        this.initValues()
      }else {
        // console.log(this.data)
        this.store = {...this.data}
        this.selected_province = this.LIST_PROVINCE.filter((value,index,arr) => {
          return arr[index].ID_PROVINCE == this.data.ID_PROVINCE
        })[0]
        this.selected_type_store = this.TYPE_STORE.filter((value,index,array) => {
          return array[index].ID_LOAI_CUA_HANG == this.store.ID_LOAI_CUA_HANG
        })[0]
      }
    },
    selected_type_store(type)
    {
      this.store.ID_LOAI_CUA_HANG = type.ID_LOAI_CUA_HANG
      this.store.TEN_LOAI_CUA_HANG = type.TEN_LOAI_CUA_HANG
    },
    TYPE_STORE(types)
    {
      if(types.length == 0)
      {
        this.$store.dispatch('fetchTypeStore')
      }
      else
      {
        this.TYPE_STORE_LOCAL = types
      }
    },
  },
  computed: {
    ...mapGetters([ "TYPE_STORE", "LIST_PROVINCE", "LIST_DISTRICT"]),
    isFormValid() {
      return !this.errors.any()
    },
    isSidebarActiveLocal:{
      get()
      {       
        if(this.TYPE_STORE.length == 0)
        {
          this.$store.dispatch("fetchTypeStore")
          .then((response) => {
            this.TYPE_STORE_LOCAL = response.result
          })
        }
        else
        {
          this.TYPE_STORE_LOCAL = this.TYPE_STORE
        }
        if(this.LIST_PROVINCE.length == 0) 
        {
          this.$store.dispatch('fetchProvince')
        }
        return this.isSidebarActive
      },
      set(val)
      {
        this.$emit('closeSidebar',val)
        this.initValues() 
      }
    }
  },
  data()
  {
    return {
      settings: { // perfectscrollbar settings
          maxScrollbarLength: 60,
          wheelSpeed: .60,
      },
      store: {
        TEN_CUA_HANG: "",
        DIA_CHI_CUA_HANG: "",
        SDT_CUA_HANG: "",
        GHI_CHU: "",       
      },
       selected_type_store: null,
       selected_province: null,
       selected_district: null,
       TYPE_STORE_LOCAL: []
    }
  },
  methods: {
    initValues() {
        this.store = {
          TEN_CUA_HANG: "",
          DIA_CHI_CUA_HANG: "",
          SDT_CUA_HANG: "",
          GHI_CHU: "",
        }
        this.selected_type_store = null
        this.selected_province =  null
    },
    submitCH()
    {
      if(Object.entries(this.data).length === 0)
      {
        if(this.isFormValid && this.selected_province != null && this.selected_district != null && this.selected_type_store != null)
        {
          this.$store.dispatch('createStore',this.store).then((response) => {
           this.$vs.notify({
              title: 'THÊM MỚI CỬA HÀNG',
              text:response.message,
              color: response.success == true ? 'success' : 'warning'
            })
            if(response.success == true)
            {
              
                this.initValues();
                if(this.$cookies.isKey('facebook'))
                {
                  this.$cookies.remove('facebook')
                }
                this.$emit('closeSidebar',false)
            }
          })
        }
        else
        {
          this.$vs.notify({
            title: 'THÊM CỬA HÀNG',
            text: 'Bạn chưa nhập đầy đủ thông tin!',
            color: 'warning'
          });
        }
        
      }
      else
      {
        this.$store.dispatch("updateStore",this.store).then((response) => {
           if(response.success == true)
          {
              this.$vs.notify({
                title: 'Cập nhật cửa hàng',
                position: 'bottom-left',
                text:response.message,
                color:'success'
              })
          }
          else
          { this.$vs.notify({
              title: 'Cập nhật cửa hàng',
              position: 'bottom-left',
              text:response.message,
              color:'danger'
            })
          }
        }).catch(() => {
          this.$vs.notify({
              title: 'Cập nhật cửa hàng',
              position: 'bottom-left',
              text: 'Lỗi server!',
              color:'danger'
            })
        })
      }
    },
    close()
    {
      if(!this.$cookies.isKey('facebook'))
      {
        this.isSidebarActiveLocal = false
      }
      else
      {
        this.$vs.notify({
          title: 'TẠO CỬA HÀNG',
          text: 'Bạn chưa tạo cửa hàng, Vui lòng tạo cửa hàng để sử dụng hệ thống cùng ECOSY!',
          color: 'warning'
        });
      }

    }
  },

}
</script>


<style lang="scss" scoped>
.m15 {margin-top: 15px;}
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 400px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    height: calc(100% - 4.3rem);
}
</style>