<template>
  <vs-sidebar position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
    <div class="mt-6 flex items-center justify-between px-6">
       <h4>THÊM ĐỊA CHỈ IP TRUY CẬP</h4>
        <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
    </div>
    <vs-divider class="mb-0"></vs-divider>
    <VuePerfectScrollbar class="scroll-area--data-list-add-new">
        <div class="p-3">
            <div class="p-2">
                <label for="stores" class="vs-input--label">
                    Danh sách cửa hàng <span class="text-danger">(*)</span>
                </label>
                <v-select id="stores" :options="LIST_STORE" value="ID_CUA_HANG" label="TEN_CUA_HANG"
                    v-model="selected_store" class="w-full" placeholder="Chọn cửa hàng"
                    :disabled="Object.entries(this.data).legnth > 0"></v-select>
            </div>
            <div class="p-2">
                <label for="ip" class="vs-input--label">
                    Địa chỉ ip được truy cập <span class="text-danger">(*)</span>
                </label>
                <vs-input class="w-full" v-model="ip.IP_ADDRESS"
                :disabled="Object.entries(this.data).legnth > 0" 
                placeholder="Nhập địa chỉ ip được truy cập"></vs-input>
            </div>

            <div class="p-2">
                <label for="note_ip" class="vs-input--label">
                    Ghi chú
                </label>
                <vs-textarea id="note_ip" class="w-full"  counter="255"  v-model="ip.GHI_CHU" />
            </div>
        </div>
    </VuePerfectScrollbar>
    <div class="flex flex-wrap items-center p-6" slot="footer">
      <vs-button @click="sbumitActionIP" class="mr-6" :disabled="!isFormValid">Thêm địa chỉ</vs-button>
      <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">Đóng</vs-button>
    </div>
  </vs-sidebar>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import {mapGetters} from 'vuex'
import http from 'axios';
export default {
    components:
    {
      VuePerfectScrollbar
    },
   props: {
     isSidebarActive: {
       type: Boolean,
       required: true
     },
    data: {
      type: Object,
      default: () => {},
    }
  },
  watch: {
    isSidebarActiveLocal(val) {
        if(!val) return
        this.$validator.reset()
        
    },
    selected_store(store)
    {
      if(store != null)
      {
        this.ip.ID_CUA_HANG = store.ID_CUA_HANG;
        this.ip.TEN_CUA_HANG = store.TEN_CUA_HANG;
      }
      else
      {
        this.ip.ID_CUA_HANG = 0;
        this.ip.TEN_CUA_HANG = '';
      }
    }
  },
  computed: {
    isFormValid() {
      return !this.errors.any()
    },
    isSidebarActiveLocal:{
      get()
      {       
        this.getIp();
        return this.isSidebarActive
      },
      set(val)
      {
        this.$emit('closeSidebar',val)
        this.initValues() 
      }
    },
    ...mapGetters(["LIST_STORE"])
  },
  data()
  {
    return {
        selected_store: null,
        ip: {}
    }
  },
  methods: {
    initValues() {
       this.selected_store = this.LIST_STORE[0]
       this.ip.ID_CUA_HANG = this.selected_store.ID_CUA_HANG;
       this.ip.TEN_CUA_HANG = this.selected_store.TEN_CUA_HANG;
    },
    getIp()
    {
        http.get("https://api.ipify.org/?format=json")
        .then((response) => {
            this.ip.IP_ADDRESS = response.data.ip
            console.log(response.data.ip)
        })
    },
    sbumitActionIP()
    {
      if(Object.entries(this.data).length == 0)
      {
        this.apiCreateIpStore();
      }
    },
    apiCreateIpStore()
    {
      this.$vs.loading();
      this.$store.dispatch('createIpStore',this.ip)
      .then((response) => {
        if(response.status == 401) this.$router.push('/logout');
        this.$vs.notify({
          title: 'TẠO ĐỊA CHỈ TRUY CẬP',
          text: response.message,
          color: response.success == true ? 'success' : 'warning'
        });
        setTimeout(() => {
          this.$vs.loading.close();
        }, 500);
      })
      .catch((err) => {
        setTimeout(() => {
          this.$vs.loading.close();
        }, 500);
      })
    },
    apiUpdateIpStore()
    {
      this.$vs.loading();
      this.$store.dispatch('updateIpStore',this.ip)
      .then((response) => {
        if(response.status == 401) this.$router.push('/logout');
        this.$vs.notify({
          title: 'CẬP NHẬT ĐỊA CHỈ IP',
          text: response.message,
          color: response.success == true ? 'success' : 'warning'
        });
      })
      .catch((err) => {
        console.log(err)
      })
    }
  },

}
</script>


<style lang="scss" scoped>
.m15 {margin-top: 15px;}
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 400px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    height: calc(100% - 4.3rem);
}
</style>