<template>
<div class="item-hrm">
    
    <div class="name-user item-content-hrm text-hover" @click="updateHRMAccount">
        {{account.HO_TEN_USER}}
    </div>
    <div class="month-hrm item-content-hrm">
        <div class="item-month text-hover"
             v-for="i in 31" :key="i" 
             :class="date_now >= i ? '' : 'not_hrm'"
             @click="updateHRM(i)">
            <item-time-hrm :ID_USER="account.ID_USER_HRM"
                :ID_CUA_HANG="account.ID_CUA_HANG"
                :date="i" />
        </div>
    </div>
    <div class="total item-header-hrm">
        {{total_time}}
    </div>
</div>
</template>

<script>
export default {
    name: 'item-hrm-account',
    components:
    {
        'item-time-hrm' : () => import('./timeHRM.vue')
    },
    props: {
        account: {
            required: true,
            type: Object
        }
    },
    data()
    {
        return {
            date_now: new Date().getDate(),
            month_now: new Date().getMonth() + 1
        }
    },
    computed:{
        total_time: {
            get()
            {
                var total = 0;
                this.$store.state.hrm.list_hrm.forEach(hrm => {
                    if(hrm.ID_USER == this.account.ID_USER_HRM)
                    { 
                        total = total + parseFloat(hrm.TIME_HRM);
                    }
                });
                return total;
            }
        }
    },
    methods:
    {
        updateHRMAccount()
        {
            this.$emit('updateHRM',this.account)
        },
        updateHRM(date)
        {
            this.updateHRMAccount();
            this.$emit('updateDateHRM',date)
        }
    }
}
</script>

<style lang="css" scope>
    .not_hrm {background: #ddd;}
    .name-user.item-content-hrm, .item-content-hrm .item-month {border: 1px solid #e2e2e2;border-right: none; padding: 5px;}
    .item-content-hrm .item-month {padding: 5px;}
    .item-month:hover {background: #fff;}
    .item-month.not_hrm:hover {background: #ddd;}
</style>