<template>
    <vs-sidebar @keyup.esc="isSidebarActiveLocal = false" click-not-close position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
        <div class="mt-6 flex items-center justify-between px-6">
            <h4>{{ Object.entries(this.data).length === 0 ? "THÊM MỚI" : "CẬP NHẬT" }} THÀNH VIÊN</h4>
            <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
        </div>
        <vs-divider class="mb-0"></vs-divider>
        <VuePerfectScrollbar class="scroll-area--data-list-add-new" >
           <div>
               <v-select :options="LIST_STORE"
                    v-model="selected_store"
                    placeholder="Chọn cửa hàng"
                    class="w-full p-3"
                    value="ID_CUA_HANG"
                    label="TEN_CUA_HANG"
                    :disabled="Object.entries(this.data).length == 0 ? false : true"
                >

               </v-select>
                <vs-input name="HO_TEN_USER"
                    v-model="account.HO_TEN_USER"
                    class="w-full p-3"
                    v-validate="'required'" 
                    data-vv-validate-on="blur"
                    placeholder="Nhập họ tên thành viên"
                    label="HỌ & TÊN"
                    :disabled="Object.entries(this.data).length == 0 ? false : true"
                    ></vs-input>
                <span  class="text-danger text-sm p-3" v-show="errors.has('HO_TEN_USER')">
                    {{ errors.has('HO_TEN_USER') == true ? 'Chưa nhập tên cho thành viên' : '' }}
                </span>
                <vs-input type="date" label="NGÀY CHẤM CÔNG" class="w-full p-3" 
                    ref="NGAY_CHAM_CONG_HRM"
                    v-model="hrm.NGAY_CHAM_CONG_HRM"
                    @blur="fetchHRMDetail"
                    ></vs-input>
                <vs-input type="number" label="GIỜ" class="w-full p-3" v-model="hrm.TIME_HRM" ></vs-input>
                <div class="content-note p-3">
                     <vs-textarea class="p-3 w-full"  height="100" label="GHI CHÚ" v-model="hrm.GHI_CHU_HRM" />
                </div>
           </div>
        </VuePerfectScrollbar>
        <div class="flex flex-wrap items-center p-6 layout-pc" slot="footer">
        <vs-button class="mr-6" @click="submitHRM" :disabled="!isFormValid">CHẤM CÔNG</vs-button>
        <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">Cancel</vs-button>
        </div>
        
  </vs-sidebar>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import { mapGetters } from 'vuex';

export default {
    name: 'sidebar-hrm-account',
    components: {
        VuePerfectScrollbar
    },
    props: {
        isSidebarActive: {
            required: true,
            type: Boolean
        },
        data: {
            required: true,
            type: Object
        }
    },
    data()
    {
        return {
            account: {
                USERNAME_USER: '',
                PASSWORD_USER: '',
                HO_TEN_USER: '',
                BIRTH_DAY: new Date().toISOString().substring(0,10),
                GT_USER: 0,
                SDT_USER: '',
                EMAIL_USER: ''
            },
            warning: false,
            selected_role: null,
            selected_store: null,
            hrm: {
                NGAY_CHAM_CONG_HRM: new Date().toISOString().substr(0,10),
                TIME_HRM: 0,
                GHI_CHU_HRM: ''
            }
        }
    },  
    computed:
    {
        isSidebarActiveLocal: {
            get()
            {
                if(this.LIST_STORE.length ==  0)
                {
                    this.apiFecthStore();
                }
                return this.isSidebarActive;
            },
            set(val)
            {
                this.$emit('close',val);
            }
        },
        isFormValid() {
            return !this.errors.any()
        },
        role_default()
        {
            return this.$store.state.user.role_default
        },
        ...mapGetters(["LIST_STORE", "hrm_detail"])
    },
    watch:
    {
        isSidebarActiveLocal(boolean)
        {
            if(!boolean) return;
            if(Object.entries(this.data) == 0)
            {
                this.selected_store = this.LIST_STORE.length > 0 ? this.LIST_STORE[0] : null;
                this.initValue();
                this.apiDetailHRM();
            }
            else
            {
                this.selected_store = this.LIST_STORE.filter((value,index,array) => {
                    return array[index].ID_CUA_HANG == this.data.ID_CUA_HANG
                })[0];
                this.account = {...this.data}
                this.apiDetailHRM();
            }
        },
        selected_store(store)
        {
            this.account.ID_CUA_HANG = store.ID_CUA_HANG
            this.account.TEN_CUA_HANG = store.TEN_CUA_HANG
        },
        hrm_detail(detail)
        {
            if(Object.entries(detail).length > 0 && detail != null && detail != undefined)
            {
                this.hrm.TIME_HRM = detail.TIME_HRM
            }
            else
            {
                this.hrm.TIME_HRM = 0
            }
        }
    },
    methods:{
        initValue()
        {
            this.account = {
                USERNAME_USER: '',
                PASSWORD_USER: '',
                HO_TEN_USER: '',
                BIRTH_DAY: new Date().toISOString().substring(0,10),
                GT_USER: 0,
                SDT_USER: '',
                EMAIL_USER: ''
            }
        },
        submitHRM()
        {
            this.$vs.loading();
            if(new Date(this.hrm.NGAY_CHAM_CONG_HRM) > new Date())
            {
                this.$vs.notify({
                    title: 'CHẤM CÔNG NHÂN VIÊN',
                    text: 'Không thể chấm công cho ngày lớn hơn ngày hiện tại!',
                    color: 'warning'
                })
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            }
            else
            {
                this.$store.dispatch('createUpdateHRM',{
                    ID_USER: this.account.ID_USER_HRM,
                    ID_CUA_HANG: this.account.ID_CUA_HANG,
                    TIME_HRM: this.hrm.TIME_HRM,
                    NGAY_CHAM_CONG_HRM: this.hrm.NGAY_CHAM_CONG_HRM,
                    GHI_CHU_HRM: this.hrm.GHI_CHU_HRM
                })
                .then((response) => {
                    this.$vs.notify({
                        title: 'CHẤM CÔNG NHÂN VIÊN',
                        text: response.message,
                        color: response.success == true ? 'success' : 'warning'
                    })
                    setTimeout(() => {
                        this.$vs.loading.close();
                    }, 500);
                })
                .catch((err) => {
                    console.log('chấm công', err)
                    this.$vs.notify({
                        title: 'CHẤM CÔNG NHÂN VIÊN',
                        text:  'Lỗi! Xin vui lòng đăng xuất thử lại!',
                        color: 'danger'
                    })
                    setTimeout(() => {
                        this.$vs.loading.close();
                    }, 500);

                })
            }
        },
        apiFecthStore()
        {
            this.$vs.loading()
            this.$store.dispatch("fetchStore").then(() => {
                setTimeout( ()=> {
                this.$vs.loading.close()
                }, 1000);
            }).catch(() => {
                this.$vs.notify({
                    title: 'Lỗi',
                    text: 'Load dữ liệu tỉnh loại cửa hàng',
                    position: 'bottom-left',
                    color:'warning'
                    })
                setTimeout( ()=> {
                this.$vs.loading.close()
                }, 1500);
            })
        },
        fetchHRMDetail(e)
        {
            // const now = new Date().toISOString().substr(0,10);
            // if(this.$refs.NGAY_CHAM_CONG_HRM.value != now)
            // {
            //     this.apiDetailHRM();
            // }
            this.apiDetailHRM();
        //    console.log(this.$refs.NGAY_CHAM_CONG_HRM)
        },
        apiDetailHRM()
        {
            this.$vs.loading();
            this.$store.dispatch('fetchDetailHRM',{
                ID_USER: this.account.ID_USER_HRM,
                NGAY_CHAM_CONG_HRM : this.hrm.NGAY_CHAM_CONG_HRM
            })
            .then((response) => {
                this.$vs.notify({
                    title: 'CHẤM CÔNG NHÂN VIÊN',
                    text: response.message,
                    color: response.success == true ? 'success' : 'warning'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
            .catch((err) => {
                 this.$vs.notify({
                    title: 'CHẤM CÔNG NHÂN VIÊN',
                    text: 'Lỗi! Xin vui lòng đăng xuất thử lại!',
                    color: 'danger'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
        }
    },
}
</script>

<style lang="scss" scoped>
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 600px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    height: calc(100% - 4.3rem);
}
</style>