<template>
    <div class="item-time">
        <span>{{time_hrm}}</span>
    </div>
</template>

<script>
export default {
    name: 'item-time-hrm',
    props: {
        date: {
            required: true,
            type: Number
        },
        ID_CUA_HANG: {
            required: true,
            type: Number
        },
        ID_USER: {
            required: true,
            type: Number
        }
    },
    computed:{
        time_hrm:
        {
            get()
            {
                const obj_time = this.$store.state.hrm.list_hrm.filter((value,index,array) => {
                    let date = new Date(array[index].NGAY_CHAM_CONG_HRM).getDate();
                    return array[index].ID_CUA_HANG == this.ID_CUA_HANG && array[index].ID_USER == this.ID_USER && date == this.date
                });
                if(obj_time.length > 0)
                {
                    return obj_time[0].TIME_HRM;
                }
                else
                {
                    return '...';
                }
            }
        }
    }
}
</script>

<style lang="css">
    .item-time {padding: 0 !important;}
    .item-time>span {font-size: 10.5px;;}
</style>