<template>
<div>
    <vs-row>
        <vs-col class="p-6" vs-justify="left" vs-align="left" vs-lg="4" vs-sm="12" vs-xs="12">
            <v-select class="select-store w-full" v-model="selected_store" :options="LIST_STORE" value="ID_CUA_HANG"  label="TEN_CUA_HANG"  
                placeholder="Chọn cửa hàng"></v-select>
        </vs-col>
        <vs-col class="p-6" vs-justify="left" vs-align="left" vs-lg="12" vs-sm="12" vs-xs="12">
            <p clas="title-group"> <button class="btn-close-open" @click="openCloseInfoMarketting()"><i class="fa" :class="active_info_marketting == true ? 'fa-minus': 'fa-plus'"></i></button> THÔNG TIN QUẢNG CÁO</p>
        </vs-col>
        <div class="info marketting" :class="active_info_marketting == true ? 'active' : ''">
            <vs-col class="p-6" vs-justify="left" vs-align="left" vs-lg="12" vs-sm="12" vs-xs="12">
                <div id="banner-marketting" >
                    <input type="file" ref="banner_marketting" @change="uploadBanner" />
                    <img class="banner-marketting" :src="render_file" v-if="render_file" />
                    <span class="icon-upload-cs"><i class="fa fa-upload fa-2x"></i></span>
                </div>
            </vs-col>
            <vs-col class="p-6" vs-justify="left" vs-align="left" vs-lg="4" vs-sm="12" vs-xs="12">
                <label for="NAME_MARKETTING" class="vs-input--label">
                    Tên quảng cáo <span class="text-danger">(*)</span>
                </label>
                <vs-input name="NAME_MARKETTING" v-model="marketting.NAME_MARKETTING"  class="w-full" type="text" />
            </vs-col>
            <vs-col class="p-6" vs-justify="left" vs-align="left" vs-lg="4" vs-sm="12" vs-xs="12">
                <label for="" class="vs-input--label">
                   Thời gian bắt đầu <span class="text-danger">(*)</span>
                </label>
                <datetime input-class="vs-inputx vs-input--input normal"  :title="'Thời gian bắt đầu'" type="datetime" v-model="marketting.TIME_START_MARKETTING" use12-hour></datetime>           
            </vs-col>
            <vs-col class="p-6" vs-justify="left" vs-align="left" vs-lg="4" vs-sm="12" vs-xs="12">
                <label for="" class="vs-input--label">
                    Thời gian kết thúc <span class="text-danger">(*)</span>
                </label>
                <datetime input-class="vs-inputx vs-input--input normal"  :title="'Thời gian bắt đầu'" type="datetime" v-model="marketting.TIME_END_MARKETTING" use12-hour></datetime>            
            </vs-col>
            <vs-col class="p-6" vs-justify="left" vs-align="left" vs-lg="12" vs-sm="12" vs-xs="12">
                <vue-editor class="content-marketting" v-model="marketting.CONTENT_MARKETTING"></vue-editor>
            </vs-col>
        </div>
        
    </vs-row>



    <vs-row>
        <vs-col class="p-6" vs-justify="left" vs-align="left" vs-lg="12" vs-sm="12" vs-xs="12">
            <vs-button type="border" :color="Object.entries(data).length > 0 ? 'warning' : 'success'" @click="submitMarketting()">{{Object.entries(data).length > 0 ? 'CẬP NHẬT' : 'THÊM MỚI' }}</vs-button>
        </vs-col> 
    </vs-row>
    <list-media :isActive="isActive"  @close="isActive = $event" />
</div>
</template>

<script>
import { VueEditor } from "vue2-editor";
import {mapGetters} from 'vuex'
export default {
    components:
    {
        VueEditor,
        'list-media': () => import('@/views/apps/media/listMedia.vue')
    },
    data()
    {
        return {
            render_file: null,
            marketting: {
                ID_CUA_HANG: 0,
                CONTENT_MARKETTING: '',
                NAME_MARKETTING: '',
                TIME_START_MARKETTING: null,
                TIME_END_MARKETTING: null
            },
            product: {},
            data:{},
            selected_store: null,
            active_info_product: true,
            active_info_marketting: true,
            render_file_product: null,
            isActive: false,
            datetime12: null

        }
    },
    computed: {
        ...mapGetters(["LIST_STORE"])
    },
    watch: {
        LIST_STORE(stores)
        {
           if(stores.length > 0 )
           {
                this.selected_store = stores[0]
                this.marketting.ID_CUA_HANG = stores[0].ID_CUA_HANG
                this.marketting.TEN_CUA_HANG = stores[0].TEN_CUA_HANG
           }
        },
        selected_store(store)
        {
            if(store != null)
            {
                this.marketting.ID_CUA_HANG = store.ID_CUA_HANG
                this.marketting.TEN_CUA_HANG = store.TEN_CUA_HANG
            }
        }
    },
    methods: {
        initValue()
        {
            this.marketting = {
                ID_CUA_HANG: 0,
                CONTENT_MARKETTING: '',
                NAME_MARKETTING: '',
                TIME_START_MARKETTING: new Date().toISOString().substr(0,10),
                TIME_END_MARKETTING: new Date().toISOString().substr(0,10)
            }
            this.product = {}
            this.render_file = null
            this.render_file_product = null
        },
        uploadBanner(event)
        {   
            const file = this.$refs.banner_marketting.files[0]
            this.marketting.BANNER_MARKETTING = file;
            this.render_file  = URL.createObjectURL(file)    
        },
        uploadProduct(event)
        {
            const file = this.$refs.banner_product.files[0]
            this.product.HINH_ANH_DAI_DIEN = file;
            this.render_file_product = URL.createObjectURL(file)    
        },
        submitMarketting()
        {
            if(Object.entries(this.data).length == 0)
            {
                if(this.marketting.NAME_MARKETTING == '')
                {
                    this.$vs.notify({
                        title: 'TẠO QUẢNG CÁO',
                        text: 'Chưa đặt tên quảng cáo',
                        color: 'warning'
                    });
                    return;
                }
                if(this.marketting.TIME_START_MARKETTING == null)
                {
                    this.$vs.notify({
                        title: 'TẠO QUẢNG CÁO',
                        text: 'Chưa chọn thời gian bắt đầu',
                        color: 'warning'
                    });
                    return;
                }
                if(this.marketting.TIME_END_MARKETTING == null)
                {
                    this.$vs.notify({
                        title: 'TẠO QUẢNG CÁO',
                        text: 'Chưa chọn thời gian kết thúc',
                        color: 'warning'
                    });
                    return;
                }
                this.apiCreateMarketting();
            }
            else
            {
                this.$vs.notify({
                    title: 'TẠO QUẢNG CÁO',
                    text: 'Cập nhật quảng cáo',
                    color: 'warning'
                })
            }
        },
        apiCreateMarketting()
        {
            this.$vs.loading();
            this.$store.dispatch('submitMarketting',{
                marketting: this.marketting
            })
            .then((response) => {
                if(response.success == true)
                {
                    this.initValue()
                }
                this.$vs.notify({
                    title: 'TẠO QUẢNG CÁO',
                    text:response.message,
                    color: response.success == true ? 'success' : 'warning'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
            .catch((err) => {
                console.log(err)
                this.$vs.notify({
                    title: 'TẠO QUẢNG CÁO',
                    text: 'Lỗi server!',
                    color:'danger'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
        },
        openColseInfoProuct()
        {
            this.active_info_product = !this.active_info_product
        },
        openCloseInfoMarketting()
        {
            this.active_info_marketting = !this.active_info_marketting
        }
    },
}
</script>

<style lang="css">
    .vdatetime-overlay {z-index: 99999}
    .vdatetime-popup {z-index: 100000}
</style>