<template>
 <section class="ftco-section contact-section ftco-no-pb" id="contact-section">
		<vs-row>
			<vs-col class="p-3" vs-justify="left" vs-align="left" vs-lg="4" vs-sm="12" vs-xs="12">
            <v-select class="select-store w-full" placeholder="Chọn cửa hàng" v-model="selected_store" :options="LIST_STORE" value="ID_CUA_HANG"  label="TEN_CUA_HANG"  ></v-select><br />
       		 </vs-col>
		</vs-row>
        <vs-row>
			<vs-col class="p-3" vs-justify="left" vs-align="left" vs-lg="6" vs-sm="12" vs-xs="12">
                <vs-input v-model="contact_local.ADDRESS_CONTACT"  class="w-full" type="text" label="Địa chỉ liên hệ"/>
            </vs-col>
			<vs-col class="p-3" vs-justify="left" vs-align="left" vs-lg="6" vs-sm="12" vs-xs="12">
                <vs-input v-model="contact_local.PHONE_CONTACT"  class="w-full" type="text" label="Số điện thoại liên hệ"/>
            </vs-col>
			<vs-col class="p-3" vs-justify="left" vs-align="left" vs-lg="6" vs-sm="12" vs-xs="12">
                <vs-input v-model="contact_local.EMAIL_CONTACT"  class="w-full" type="text" label="Email liên hệ"/>
            </vs-col>
			<vs-col class="p-3" vs-justify="left" vs-align="left" vs-lg="6" vs-sm="12" vs-xs="12">
                <vs-input v-model="contact_local.WEBSITE_CONTACT"  class="w-full" type="text" label="Website liên hệ"/>
            </vs-col>
			<vs-col class="p-3" vs-justify="left" vs-align="left" vs-lg="6" vs-sm="12" vs-xs="12">
                <vs-input v-model="contact_local.MAP_CONTACT"  class="w-full" type="text" label="Bản đồ"/>
            </vs-col>
		</vs-row>
		<vs-row>
			<vs-col class="p-3" vs-justify="left" vs-align="left" vs-lg="6" vs-sm="12" vs-xs="12">
                <vs-button type="border" @click="updateContact()">Cập nhật</vs-button>
            </vs-col>
		</vs-row>
		<vs-row class="d-flex contact-info mb-5">
			<vs-col class="p-3 d-flex ftco-animate" vs-justify="left" vs-align="left" vs-lg="3" vs-md="6" vs-sm="12" vs-xs="12">
				<div class="align-self-stretch box text-center p-4 bg-light">
					<div class="icon d-flex align-items-center justify-content-center">
						<span class="fa fa-map-marker"></span>
					</div>
					<div>
						<h3 class="mb-4">ĐỊA CHỈ</h3>
						<p>{{contact_local.ADDRESS_CONTACT}}</p>
					</div>
				</div>
			</vs-col>
			<vs-col class="p-3 d-flex ftco-animate" vs-justify="left" vs-align="left" vs-lg="3" vs-md="6" vs-sm="12" vs-xs="12">
				<div class="align-self-stretch box text-center p-4 bg-light">
					<div class="icon d-flex align-items-center justify-content-center">
						<span class="fa fa-phone"></span>
					</div>
					<div>
						<h3 class="mb-4">SỐ ĐIỆN THOẠI</h3>
						<p><a :href="`tel://${contact_local.PHONE_CONTACT}`">{{contact_local.PHONE_CONTACT}}</a></p>
					</div>
				</div>
			</vs-col>
          	<vs-col class="p-3 d-flex ftco-animate" vs-justify="left" vs-align="left" vs-lg="3" vs-md="6" vs-sm="12" vs-xs="12">
				<div class="align-self-stretch box text-center p-4 bg-light">
					<div class="icon d-flex align-items-center justify-content-center">
						<span class="fa fa-paper-plane"></span>
					</div>
					<div>
						<h3 class="mb-4">Email</h3>
						<p><a :href="`mailto:${contact_local.EMAIL_CONTACT}`">{{contact_local.EMAIL_CONTACT}}</a></p>
					</div>
				</div>
			</vs-col>
          	<vs-col class="p-3 d-flex ftco-animate" vs-justify="left" vs-align="left" vs-lg="3" vs-md="6" vs-sm="12" vs-xs="12">
          		<div class="align-self-stretch box text-center p-4 bg-light">
					<div class="icon d-flex align-items-center justify-content-center">
						<span class="fa fa-globe"></span>
					</div>
					<div>
						<h3 class="mb-4">Website</h3>
						<p><a :href="contact_local.WEBSITE_CONTACT" target="_blank">{{contact_local.WEBSITE_CONTACT}}</a></p>
					</div>
	          	</div>
          	</vs-col>
			<vs-col class="p-3 d-flex ftco-animate" vs-justify="left" vs-align="left" vs-lg="12" vs-md="12" vs-sm="12" vs-xs="12">
				<p v-html="contact_local.MAP_CONTACT"></p>
			</vs-col>
      </vs-row>
    </section>
</template>

<script>
import '@/assets/css/contact.css'
import {mapGetters} from 'vuex'
export default {
	data()
	{
		return {
			contact_local: {
				ADDRESS_CONTACT: "",
				PHONE_CONTACT: "",
				EMAIL_CONTACT: "",
				WEBSITE_CONTACT: "",
				MAP_CONTACT: ""
			},
			selected_store: null
		}
	},
	computed: {
		...mapGetters(["LIST_STORE", "CONTACT"])
	},
	watch: {
		selected_store(store)
		{
			if(Object.entries(store).length > 0)
			{
				this.$store.dispatch("fetchContactMarkettingByID",store.ID_CUA_HANG)
				this.contact_local.ID_CUA_HANG = store.ID_CUA_HANG
			}
		},
		CONTACT(contact)
		{	
			this.$vs.loading();
			if(Object.entries(contact).length > 0 && contact != null)
			{
				this.contact_local = contact
				this.selected_store = this.LIST_STORE.filter((value,index,array) => {
					return array[index].ID_CUA_HANG == contact.ID_CUA_HANG
				})[0]
				 setTimeout(() => {
					this.$vs.loading.close()
				},500)
			}
			else
			{
				this.$vs.notify({
					title: 'CẬP NHẬT THÔNG TIN LIÊN HỆ',
					text: 'Chưa cập nhật thông tin liên hệ cho cửa hàng này!',
					position: 'bottom-left',
					color: 'warning'
				})
				this.initValue()
				 setTimeout(() => {
					this.$vs.loading.close()
				},500)
			}
			
		}
	},
	methods: {
		initValue()
		{
			this.contact_local = {
				ADDRESS_CONTACT: "",
				PHONE_CONTACT: "",
				EMAIL_CONTACT: "",
				WEBSITE_CONTACT: "",
				MAP_CONTACT: ""
			}
			
		},
		updateContact()
		{
			if(this.selected_store.ID_CUA_HANG)
			{
				this.contact_local.ID_CUA_HANG = this.selected_store.ID_CUA_HANG
				this.$store.dispatch("updateContactMarketting",this.contact_local)
				.then((response) => {
					if(response.success == true)
					{
						this.$vs.notify({
							title: 'CẬP NHẬT THÔNG TIN LIÊN HỆ',
							text: response.message,
							position: 'bottom-left',
							color: 'success'
						})
					}
					else
					{
						this.$vs.notify({
							title: 'CẬP NHẬT THÔNG TIN LIÊN HỆ',
							text: response.message,
							position: 'bottom-left',
							color: 'warning'
						})
					}
				})
				.catch((err) => {
					this.$vs.notify({
							title: 'CẬP NHẬT THÔNG TIN LIÊN HỆ',
							text: 'Lỗi! Xin vui lòng load lại',
							position: 'bottom-left',
							color: 'danger'
						})
				})
			}
			else
			{
				this.$vs.notify({
					title: 'CẬP NHẬT THÔNG TIN LIÊN HỆ',
					text: 'Bạn chưa chọn cửa hàng',
					position: 'bottom-left',
					color: 'warning'
				})
			}
		}
	},
}
</script>