<template>
    <div id="data-list-list-view" class="data-list-container">
        <vs-table ref="table" :data="MARKETTINGS_LOCAL" >
            <div slot="header" style="width:100%">
              <vs-row vs-w="12">
                  <vs-col class="p-6 pl-0"  vs-justify="left" vs-align="left" vs-lg="3" vs-sm="12" vs-xs="12" >
                    <v-select class="select-store w-full" placeholder="Chọn cửa hàng" v-model="selected_store" :options="LIST_STORE" value="ID_CUA_HANG"  label="TEN_CUA_HANG"  ></v-select>
                  </vs-col>
                  <vs-col class="p-6 pl-0"  vs-justify="left" vs-align="left" vs-lg="3" vs-sm="12" vs-xs="12" >
                      <vs-button type="border" icon-pack="feather" icon="icon-plus" @click="addNewData">Thêm mới</vs-button>
                  </vs-col>
                   
              </vs-row>
              
            </div>

          <template slot="thead">
            <vs-th sort-key="tenkh">TÊN CỬA HÀNG</vs-th>
            <vs-th sort-key="managers">TÊN MARKETTING</vs-th>
            <vs-th sort-key="managers">NGÀY BẮT ĐẦU</vs-th>
            <vs-th sort-key="category">NGÀY KẾT THÚC</vs-th>
            <vs-th sort-key="category">NGÀY TẠO</vs-th>
            <vs-th sort-key="action"> </vs-th>
          </template>
          <template slot-scope="{data}">
            <tbody>
              <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                <vs-td>
                  <p class="product-name font-medium truncate"><a :href="`/marketting/${tr.UUID_MARKETTING}?ID_CUA_HANG=${tr.ID_CUA_HANG}`"> {{ tr.TEN_CUA_HANG }} </a> </p>
                </vs-td>
                <vs-td>
                  <p class="product-name font-medium truncate"> <a :href="`/quang-cao/${tr.UUID_MARKETTING}`">{{ tr.NAME_MARKETTING }}</a> </p>
                </vs-td>
                 <vs-td>
                  <p class="product-name font-medium truncate"> {{ tr.TIME_START_MARKETTING }} </p>
                </vs-td>
                 <vs-td>
                  <p class="product-name font-medium truncate"> {{ tr.TIME_END_MARKETTING }} </p>
                </vs-td>
                <vs-td>
                  <p class="product-name font-medium truncate"> {{ tr.CREATED_AT }} </p>
                </vs-td>
                 <vs-td class="whitespace-no-wrap">
                <vs-button class="btn-not-color" @click="editData(tr)" size="small"> <vs-icon icon="edit"></vs-icon></vs-button>
                <!-- <vs-button class="btn-not-color" @click="editManager(tr)" size="small"> <vs-icon icon="group"></vs-icon></vs-button> -->
              </vs-td>
              </vs-tr> 
            </tbody>
          </template>
        </vs-table>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    components:{
       
    },
    data()
    {
        return {
           MARKETTINGS_LOCAL: [],
           selected_store: null
        }
    },
    computed:{
      ...mapGetters(["LIST_STORE", "MARKETTINGS"])
    },
    watch:
    {
      MARKETTINGS(markettings)
      {
        this.MARKETTINGS_LOCAL = markettings
      },
    },
    methods: 
    {
        editData(data)
        {
          
        }
    },
    created()
    {
      this.$vs.loading();
      this.$store.dispatch('fetchMarketting')
      .then((response) => {
          setTimeout(() => {
            this.$vs.loading.close()
          },500)
      })
      .catch(() => {
        setTimeout(() => {
            this.$vs.loading.close()
          },500)
          this.$vs.notify({
                title:'ECOSY',
                text: 'Lỗi! Xảy ra vấn đề!',
                color:'warning',
              })
      })
    }
}
</script>

<style lang="css">
  .image-product {
    width: 100%;
    height: auto;
    max-width: 70px;
  }
</style>