<template>
    <div>
        <router-view></router-view>
    </div>
</template>
<script>
import ModuleMarketting from '@/store/marketting/ModuleMarketting.js'
export default {
    created()
    {
        if(!this.$store.hasModule('marketting'))
        {
            this.$store.registerModule('marketting', ModuleMarketting)
        }   
    },
    beforeDestroy()
    {
        console.log('destroy')
        this.$store.unregisterModule('marketting')
    }
}
</script>