<template>
    <div id="page-warehouse">
        <router-view></router-view>
        <sidebar-media />
    </div>
</template>

<script>
import ModuleWarehouse from '@/store/warehouse/moduleWarehouse.js'
import ModuleMedia from '@/store/media/ModuleMedia.js'
export default {
    name: 'page-warehouse',
    components:
    {
        'sidebar-media' : () => import('./media/sidebarMedia.vue')
    },
    data()
    {
        return {
            
        }
    },
    computed: {
        isSidebarMedia:{
            get()
            {
                return this.$store.state.warehouse.sidebarMedia;
            },
            set(boolean)
            {
                this.$store.commit('UPDATE_SIDEBAR_MEDIA',boolean);
            }
        },
    },
    beforeCreate()
    {
        if(!this.$store.hasModule('warehouse'))
        {
            this.$store.registerModule('warehouse',ModuleWarehouse);
        }
        if(!this.$store.hasModule('media'))
        {
            this.$store.registerModule('media',ModuleMedia);
        }
    },
    beforeDestroy()
    {
        this.$store.unregisterModule('warehouse');
    }
}
</script>