<template>
    <div class="data-services">
        <div class="fuelux admin mb-5">
            <div class="wizard">
                <ul class="list-tab steps">
                    <li :class="menu.services == true ? 'active' : ''" @click="toggleMenu('services')">
                        <span class="badge badge-info">1</span>
                            Danh sách dịch vụ
                        <span class="chevron"></span>
                    </li>
                    <li :class="isGroupServices == true ? 'active' : ''" @click="isGroupServices = true">
                        <span class="badge badge-info">2</span>
                            Nhóm dịch vụ
                        <span class="chevron"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tabs">
            <tab-services v-if="menu.services == true" />
            <tab-group-services v-else />
        </div>
        
        
    </div>
</template>

<script>
export default {
    name: 'data-services',
    components:
    {
        'tab-services' : () => import('./table/tableServices.vue')  ,
        'tab-group-services' : () => import('./table/tableGroupServices.vue')
    },
    data()
    {
        return {
            menu : {
                services: true,
                groups: false
            }
        }
    },
    computed:
    {
        isGroupServices: {
            get()
            {
                return this.menu.groups
            },
            set(boolean)
            {
                this.menu = {
                    services: false,
                    groups: false
                }
                this.menu.groups = boolean
                if(boolean == true)
                {
                    this.$store.dispatch('fetchGroupServices')
                }
            }
        }
    },
    methods:
    {
        toggleMenu(name)
        {
            this.menu = {
                services: false,
                groups: false
            }
            this.menu[name] = true
        }
    },
    created()
    {

    }
}
</script>