<template>
    <div id="page-services">
        <router-view></router-view>
    </div>
</template>

<script>
import ModuleAdmin from '@/store/admin/moduleAdmin.js'
import ModuleGroupServices from '@/store/admin/services/moduleServicesCRM.js'
export default {
    name: 'page-services',
    beforeCreate() {
        if(!this.$store.hasModule('servicesCRM'))
        {   
            this.$store.registerModule('servicesCRM',ModuleGroupServices);
        }
        if(localStorage.getItem('admin') != 'true')
        {
            this.$router.push('/not-authorized')
        }
    
    },
}
</script>