<template>
    <div class="p-5 bg-white border-rd">
        <vs-row>
            <vs-col vs-sm="12">
                <vs-button type="border" @click="search = !search">Tìm kiếm nâng cao <i style="margin-left: 5px;" :class="search == true ? 'fas fa-angle-up': 'fas fa-angle-down'"></i></vs-button>
            </vs-col>
        </vs-row>
        <div id="group-search" :class="search == true ? 'active' : ''" >
            <vs-row class="mt-5">
                <vs-col style="padding-left: 0 !important" class="p-2" vs-sm="6" vs-md="4" vs-lg="3" >
                    <label class="vs-label">LOẠI TIÊU DÙNG</label>
                    <v-select class="select-store w-full" placeholder="Chọn loại tiêu dùng" v-model="selected_type_store" :options="TYPE_STORE" value="ID_LOAI_CUA_HANG"  label="TEN_LOAI_CUA_HANG"  ></v-select>
                </vs-col>

                <vs-col style="padding-left: 0 !important" class="p-2" vs-sm="6" vs-md="4" vs-lg="3" >
                    <label class="vs-label">GIỚI TÍNH</label>
                    <v-select class="select-store w-full" placeholder="Chọn giới tính người dùng" v-model="selected_gender" :options="GENDERS" value="ID_GENDER"  label="NAM_GENDER"  ></v-select>
                </vs-col>

                <vs-col style="padding-left: 0 !important" class="p-2" vs-sm="12" vs-md="8" vs-lg="6" >
                    <label class="vs-label">ĐỘ TUỔI KHÁCH HÀNG ({{filter.ages[0]}} - {{filter.ages[1]}})</label>
                <vs-slider class="w-full" icon="age" ticks step=1  max=100 v-model="filter.ages"/>
                </vs-col>
                
                <!-- <vs-col style="padding-left: 0 !important" class="p-2" vs-sm="6" vs-md="4" vs-lg="3" >
                    <label class="vs-label">HỆ THỐNG / CÁ NHÂN</label>
                    <v-select class="select-store w-full" placeholder="Chọn khách hàng của hệ thống / cá nhân" v-model="selected_type_customer_system" :options="TYPE_CUSTOMER_SYSTEM" value="ID_TYPE_CUSTOMER_SYSTEM"  label="NAME_CUSTOMER_SYSTEM"  ></v-select>
                </vs-col> -->

                <vs-col style="padding-left: 0 !important" class="p-2" vs-sm="6" vs-md="4" vs-lg="3" >
                    <vs-input class="w-full" type="number" :label="`SL MUA TRONG THÁNG ${(new Date().getMonth() + 1)}`" v-model="filter.SL_MUA" ></vs-input>
                </vs-col>

                <vs-col style="padding-left: 0 !important" class="p-2" vs-sm="6" vs-md="4" vs-lg="3" >
                    <vs-input class="w-full" type="number" label="SỐ TIỀN CHI THẤP NHẤT" min="0" v-model="filter.SO_TIEN_MIN" ></vs-input>
                </vs-col>
                <vs-col style="padding-left: 0 !important" class="p-2" vs-sm="6" vs-md="4" vs-lg="3" >
                    <vs-input class="w-full" type="number" label="SỐ TIỀN CHI CAO NHẤT" v-model="filter.SO_TIEN_MAX" ></vs-input>
                </vs-col>
            </vs-row>
            <vs-row>
                <vs-col style="padding-left: 0 !important" class="p-2" vs-sm="6" vs-md="4" vs-lg="3" >
                    <label class="vs-label">TỈNH / THÀNH PHỐ</label>
                    <v-select class="select-store w-full" placeholder="Chọn Tỉnh / Thành Phố" v-model="selected_province" :options="LIST_PROVINCE" value="ID_PROVINCE"  label="NAME_PROVINCE"  ></v-select>
                </vs-col>
                <vs-col class="p-2" vs-sm="6" vs-md="4" vs-lg="3" >
                    <label class="vs-label">QUẬN / HUYỆN</label>
                    <v-select  class="select-store w-full" placeholder="Chọn Quận / Huyện" v-model="selected_district" :options="LIST_DISTRICT" value="ID_DISTRICT"  label="NAME_DISTRICT"  ></v-select>
                </vs-col>
                <vs-col vs-sm="6" vs-md="4" vs-log="3" >
                
                </vs-col>
            </vs-row>
            <vs-row>
                <vs-col vs-sm="12">
                    <vs-button @click="filterCustomer" type="border">Tìm kiếm <i style="margin-left: 5px;" class="fas fa-search"></i></vs-button>
                </vs-col>
            </vs-row>
        </div>
        <div id="group-thongbao">
            <vs-row class="mt-10">
                <vs-col vs-sm="12">
                    <p>CÀI ĐẶT NỘI DUNG THÔNG BÁO</p>
                </vs-col>
                 
            </vs-row>
            <vs-row  class="mt-2">
                <vs-col vs-sm="12" vs-md="6" vs-lg="3">
                    <v-select class=" w-full select-store mw-200"  placeholder="Chọn cửa hàng" 
                     v-model="selected_store" :options="LIST_STORE" 
                     value="ID_CUA_HANG"  label="TEN_CUA_HANG" ></v-select>
                </vs-col>
            </vs-row>
            <vs-row>
               
                <vs-col vs-sm="12" vs-md="6" vs-lg="6">
                    <vs-input style="padding-left: 0 !important" class="w-full p-2" type="text" label="TIÊU ĐỀ THÔNG BÁO" v-model="notify.TITLE_THONG_BAO" />
                </vs-col>
                <vs-col vs-sm="12" vs-md="6" vs-lg="6">
                    <vs-input class="w-full p-2" type="text" label="NỘI DUNG THÔNG BÁO" v-model="notify.CONTENT_THONG_BAO" />
                </vs-col>
                <vs-col vs-type="flex" class="mt-2" vs-sm="12" vs-md="12" vs-lg="12">
                    <!-- <vs-checkbox vs-value="sms" v-model="notify.TYPE_THONG_BAO">SMS</vs-checkbox> -->
                    <vs-checkbox vs-value="notify" v-model="notify.TYPE_THONG_BAO">THÔNG BÁO APP</vs-checkbox>
                    <vs-checkbox vs-value="email" v-model="notify.TYPE_THONG_BAO">EMAIL</vs-checkbox>
                </vs-col>
                <vs-col vs-type="flex" class="mt-5" vs-sm="12" vs-md="12" vs-lg="12">
                    <vs-button @click="createThongBao" type="border">Gửi <i style="margin-left:5px;" class="fa fa-check"> </i></vs-button>
                </vs-col>
            </vs-row>
        </div>
        <div class="table-customer-store">
            <tb-customer :data="LIST_CUSTOMER_LOCAL" :title="'DANH SÁCH KHÁCH HÀNG CỦA CỬA HÀNG'" :system="false"/>  
        </div>
      
    </div>
</template>

<script>
import ModuleNotify from '@/store/notify/ModuleNotify.js'
import {mapGetters} from 'vuex'
export default {
    components:
    {
        'tb-customer': () => import('./tableCustomer.vue')
    },
    data()
    {
        return {
            LIST_PROVINCE: [],
            LIST_DISTRICT: [],
            selected_province: null,
            selected_district: null,
            selected_type_store: null,
            selected_gender: {
                ID_GENDER: -1,
                NAM_GENDER: 'Tất cả'
            },
            filter: {
                SO_TIEN_MIN: 0,
                SO_TIEN_MAX: 99999999999999999,
                SL_MUA: 0,
                GENDER: -1,
                ages:[15,50],
                ID_PROVINCE: 0,
                ID_DISTRICT: 0,
                TYPE_STORE: 0
            },
            TYPE_STORE: [],
            GENDERS: [
                {
                    ID_GENDER: -1,
                    NAM_GENDER: 'Tất cả'
                },
                {
                    ID_GENDER: 0,
                    NAM_GENDER: 'Nam'
                },
                {
                    ID_GENDER: 1,
                    NAM_GENDER: 'Nữ'
                }
            ],
            selected_type_customer_system:{
                TYPE_CUSTOMER_SYSTEM: 1,
                NAME_CUSTOMER_SYSTEM: 'Cá nhân'
            },
            TYPE_CUSTOMER_SYSTEM: [
                {
                    TYPE_CUSTOMER_SYSTEM: -1,
                    NAME_CUSTOMER_SYSTEM: 'Tất cả'
                },
                {
                    TYPE_CUSTOMER_SYSTEM: 0,
                    NAME_CUSTOMER_SYSTEM: 'Hệ thống'
                },
                {
                    TYPE_CUSTOMER_SYSTEM: 1,
                    NAME_CUSTOMER_SYSTEM: 'Cá nhân'
                }
            ],
            search: false,
            LIST_CUSTOMER_STORE: [],
            LIST_CUSTOMER_SYSTEM: [],
            notify: {
                TITLE_THONG_BAO: 'ECOSY THÔNG BÁO',
                CONTENT_THONG_BAO: '',
                TYPE_THONG_BAO: [],
                ID_CUA_HANG: 0
            },
            selected_type_notify: [],
            selected_store: null
        }
        
    },
    computed: {
        ...mapGetters(["LIST_STORE", "LIST_CUSTOMER"]),
        LIST_CUSTOMER_LOCAL: {
            get()
            {
                if(this.selected_store == null )
                {
                    return this.LIST_CUSTOMER
                }
                return this.LIST_CUSTOMER.filter((value,index,array) => {
                    return array[index].ID_CUA_HANG == this.selected_store.ID_CUA_HANG
                });
            }
        }
    },
    watch: {
        selected_province(province)
        {
            if(province != null)
            {
                this.filter.ID_PROVINCE = province.ID_PROVINCE
                this.$store.dispatch('fetchDistrict',province.ID_PROVINCE)
                .then((response) => {
                    this.LIST_DISTRICT = response
                })
                .catch((err) => {
                    this.$vs.notify({
                        title: 'ECOSY',
                        text: 'Lỗi! Xin vui lồng F5 lại!',
                        color: 'warning',
                        position: 'bottom-left'
                    })
                })
            }
            else
            {
                this.filter.ID_PROVINCE = 0
            }
            
        },
        selected_district(district)
        {
            if(district != null)
            {
                this.filter.ID_DISTRICT = district.ID_DISTRICT
            }
            else{
                this.filter.ID_DISTRICT = 0
            }
        },
        selected_gender(gennder)
        {
            if(gennder != null)
            {
                this.filter.GENDER = gennder.ID_GENDER
            }
            else
            {
                this.filter.GENDER = -1
            }
        },
        selected_type_store(type_store)
        {
            if(type_store != null)
            {
                 this.filter.TYPE_STORE = type_store.ID_LOAI_CUA_HANG
            }
            else
            {
                this.filter.TYPE_STORE = 0
            }
        },
        selected_store(store)
        {
            if(store.ID_CUA_HANG != undefined)
            {
                this.notify.ID_CUA_HANG = store.ID_CUA_HANG
            }
            else
            {
                this.notify.ID_CUA_HANG = 0
            }
        },
    },
    methods: {
        initValue()
        {
            this.filter = {
                SO_TIEN_MIN: 0,
                SO_TIEN_MAX: 99999999999999999,
                SL_MUA: 0,
                GENDER: -1,
                ages:[15,50],
                ID_PROVINCE: 0,
                ID_DISTRICT: 0,
                TYPE_STORE: 0
            }
            this.selected_store = null
            this.LIST_CUSTOMER_STORE = []
            this.LIST_CUSTOMER_SYSTEM = []
        },
        filterCustomer()
        {
            console.log('type customer', this.selected_type_customer_system.TYPE_CUSTOMER_SYSTEM)
            this.$vs.loading();
            this.$store.dispatch('fetchCustomerStore',this.filter)
            .then((response) => {
                if(response.status == 401) this.$router.push('/logout');
                this.$vs.notify({
                    title: 'LỌC KHÁCH HÀNG',
                    text: response.message,
                    color: response.success == true ? 'success' : 'warning'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
            .catch((err) => {
                this.$vs.notify({
                    title: 'ECOSY',
                    text: 'Lỗi! Xin vui lòng F5 để load lại!',
                    color: 'warning',
                    position: 'bottom-left'
                })
                setTimeout(() => {
                    this.$vs.loading.close()
                },500)
            })
        },
        createThongBao()
        {
           if(this.notify.ID_CUA_HANG == 0)
           {
                this.$vs.notify({
                    title: 'CÀI ĐẶT THÔNG BÁO',
                    text: 'Bạn chưa chọn cửa hàng',
                    color: 'warning',
                })
           }
           else if(this.notify.TYPE_THONG_BAO.length == 0)
           {
                this.$vs.notify({
                    title: 'CÀI ĐẶT THÔNG BÁO',
                    text: 'Bạn chưa chọn loại thông báo',
                    color: 'warning',
                })
           }
           else if(this.LIST_CUSTOMER_LOCAL.length == 0)
           {
               this.$vs.notify({
                   title: 'CÀI ĐẶT THÔNG BÁO',
                   text: 'Chưa có khách hàng nào',
                   color: 'warning',
               })
           }
           else if(this.notify.CONTENT_THONG_BAO.length  == 0) this.$vs.notify({
               title: 'TẠO THÔNG BÁO',
               text: 'Bạn chưa nhập nội dung thông báo',
               color: 'warning'
           })
           else
           {
                var LIST_CUSTOMER = "";
                if(this.LIST_CUSTOMER_LOCAL.length > 0)
                {
                    this.LIST_CUSTOMER_LOCAL.forEach((customer) => {
                        LIST_CUSTOMER = LIST_CUSTOMER + customer.UUID_KH + ' ,'
                    })
                }
                this.notify.LIST_CUSTOMER = LIST_CUSTOMER
                this.$store.dispatch('createThongBao',this.notify)
                .then((response) => {
                    this.initValue()
                    this.$vs.notify({
                        title: 'CÀI ĐẶT THÔNG BÁO',
                        text: response.message,
                        color: response.success == true ? 'success': 'warning'
                    })
                })
                .catch((err) => {
                    this.$vs.notify({
                        title: 'CÀI ĐẶT THÔNG BÁO',
                        text: 'Lỗi! Xin vui lòng F5 thử lại!',
                        color: 'danger',
                        position: 'bottom-left'
                    })
                })
                
           }
        },
        apiFecthCustomer()
        {
           this.$store.dispatch('fetchCustomerStore').then((response) => {
             if(response.success == false)
             {
               this.$vs.notify({
                 title: 'DANH SÁCH KHÁCH HÀNG CỬA HÀNG',
                 text: response.message,
                 color: 'warning'
               });
             }
          })
          .catch(() => {
            setTimeout(() => {
                this.$vs.loading.close()
              },500)
              this.$vs.notify({
                    title:'ECOSY',
                    text: 'Lỗi! Xảy ra vấn đề!',
                    color:'warning',
                  })
          })
        }
    },
    beforeCreate() {
        if(!this.$store.hasModule('notify'))
        {
            this.$store.registerModule('notify',ModuleNotify)
        }
    },
    created() {
        this.$vs.loading();
        this.$store.dispatch('fetchProvince')
        .then((response) => {
            this.LIST_PROVINCE = response
        })
        this.$store.dispatch('fetchTypeStore')
        .then((response) => {
            this.TYPE_STORE = response.result
        })
        this.apiFecthCustomer();
        setTimeout(() => {
            this.$vs.loading.close();
        }, 500);
    },
    destroyed() {
        this.$store.unregisterModule('notify')
    },
    mounted()
    {
        if(!this.$store.hasModule('notify'))
        {
            this.$store.registerModule('notify',ModuleNotify)
        }
    }
}
</script>

<style lang="css">
    #group-search {display: none}
    #group-search.active {display:block;}
</style>