<template>
    <div id="data-list-list-view" class="data-list-container">
        <sidebar-action-customer :isSidebarActive="isSidebarActive" :data="sidebarData" @closeSidebar="isSidebarActive  = $event" />
        <vs-table  ref="table" :data="LIST_CUSTOMER_LOCAL" search
          :maxItems="50"
          :noDataText="'Chưa có dữ liệu khách hàng'">
            <div slot="header" style="width:100%">
              <vs-row vs-w="12" z>
                  <vs-col vs-sm="6" vs-xs="12" vs-md="4" vs-lg="3" class="p-1 pl-0">
                    <label for="LIST_STORE" class="vs-input--label">Danh sách cửa hàng</label>
                    <v-select :options="LIST_STORE" value="ID_CUA_HANG" label="TEN_CUA_HANG"
                      v-model="selected_store" placeholder="Chọn cửa hàng" class="w-full"></v-select>
                  </vs-col>
                  <vs-col class="p-1 "  vs-justify="left" vs-align="left" vs-lg="3" vs-sm="6" vs-xs="12" >
                      <label for="" class="vs-input--label"></label>
                      <vs-button type="border" icon-pack="feather" icon="icon-plus" @click="addNewData">Thêm mới</vs-button>
                  </vs-col>
                   
              </vs-row>
              
            </div>

          <template slot="thead">
            <vs-th>PHÂN LOẠI</vs-th>
            <vs-th >TÊN KHÁCH HÀNG</vs-th>
            <vs-th >NGÀY SINH</vs-th>
            <vs-th >SDT</vs-th>
            <vs-th >GIỚI TÍNH</vs-th>
            <vs-th >THÀNH PHỐ</vs-th>
            <vs-th >QUẬN / HUYỆN</vs-th>
            <vs-th >DC KH</vs-th>
            <vs-th >SL MUA </vs-th>
            <vs-th >TỔNG TIỀN CHI </vs-th>
            <vs-th > </vs-th>
          </template>
          <template slot-scope="{data}">
            <tbody >

              <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                <vs-td>
                    {{getTypeCustomer(tr)}}
                </vs-td>
                <vs-td>
                  <p class="text-hover"><a :href="`/customers/${tr.UUID_KH}?ID_CUA_HANG=${tr.ID_CUA_HANG}`"> {{ tr.TEN_KH }} </a> </p>
                </vs-td>

                <vs-td>
                  <p @click="editData(tr)" class="text-hover">{{ formatDate(tr.NGAY_SINH_KH )}}  <span class="birthday" :class="((new Date(tr.NGAY_SINH_KH).getMonth() + 1) == (new Date().getMonth() + 1) ? 'active' : '')"><i class="fa fa-birthday-cake"></i></span> </p>
                </vs-td>

                <vs-td>
                  <p  @click="editData(tr)" class="text-hover">{{ tr.SDT_KH }}</p>
                </vs-td>

                <vs-td>
                  <p  @click="editData(tr)" class="text-hover">{{ tr.GT_KH == 0 ? 'Nam' : 'Nữ'}}</p>
                </vs-td>

                <vs-td>
                  <p  @click="editData(tr)" class="text-hover">{{ tr.NAME_PROVINCE }}</p>
                </vs-td>
                <vs-td>
                  <p  @click="editData(tr)" class="text-hover">{{ tr.NAME_DISTRICT }}</p>
                </vs-td>

                <vs-td>
                  <p  @click="editData(tr)" class="text-hover">{{ tr.DC_NHA_KH == undefined ? '' :  tr.DC_NHA_KH }}</p>
                </vs-td>

                <vs-td>
                  <p  @click="editData(tr)" class="text-hover">{{ tr.SL_MUA ? tr.SL_MUA : 0 }}</p>
                </vs-td>

                <vs-td>
                  <p  @click="editData(tr)" class="text-hover">{{ tr.SO_TIEN_DA_CHI == undefined ? 0 : (tr.SO_TIEN_DA_CHI).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') }}</p>
                </vs-td>

                <vs-td class="whitespace-no-wrap">
                  <button @click="editData(tr)" class="btn btn-action"> <i class="fa fa-edit" aria-hidden="true"></i></button>
                  <button @click="deleteCustomer(tr)"  class="btn btn-action"> <i class="fa fa-trash" aria-hidden="true"></i></button>
                </vs-td>

              </vs-tr>
            </tbody>
          </template>
        </vs-table>
    </div>
</template>

<script>
import { parseTwoDigitYear } from 'moment'
import { mapGetters } from 'vuex'
import sidebarActionCustomerVue from './sidebarActionCustomer.vue'
import moment from 'moment';
export default {
    components:{
        'sidebar-action-customer': sidebarActionCustomerVue,
    },
    data()
    {
        return {
            sidebarData: {},
            isSidebarActive: false,
            data: [],
            search_sdt: "",
            search_ten: "",
            selected_type_store: null,
            data_edit: {},
            warning_delete: false,
            selected_store: null
        }
        
    },
    computed:{
      ...mapGetters(["LIST_CUSTOMER", "TYPE_STORE", "LIST_STORE", "LIST_TYPE_CUSTOMER_STORE"]),
      LIST_CUSTOMER_LOCAL: {
        get()
        {
          if(this.selected_store != null)
            return this.LIST_CUSTOMER.filter((value,index,array) => {
              return array[index].ID_CUA_HANG == this.selected_store.ID_CUA_HANG;
            })
          return this.LIST_CUSTOMER;
        }
      }
    },
    watch:
    {
      selected_type_store(type_store)
      {
        this.$store.dispatch("fetchCustomerByTypeStore",type_store.ID_LOAI_CUA_HANG)
      }
    },
    methods: 
    {
        addNewData() {
        this.sidebarData = {}
        // this.toggleDataSidebar(true)
        this.isSidebarActive = true
        },
        editData(data)
        {
          this.isSidebarActive = true
          this.sidebarData = data
        },
        deleteCustomer(data)
        {
          this.$vs.dialog({
            type:'confirm',
            color: 'warning',
            title:  'Bạn chắc chắn xóa khách hàng '+data.TEN_KH + '?',
            text: 'Sau khi xóa sẽ lưu lại lịch sử thao tác của người dùng!',
            data: data,
            acceptText: 'Đồng ý',
            cancelText: 'Hủy',
            accept: () => {
              this.acceptDelCustomer(data)
            }
          })
        },
        acceptDelCustomer(data)
        {
          this.$store.dispatch('deleteCustomerStore',data).then(() => {
                this.$vs.notify({
                  title:'XÓA KHÁCH HÀNG',
                  text:'Khách hàng '+ data.TEN_KH + ' vừa xóa khỏi hệ thống quản lý của bạn!',
                  color:'success',
                })
                
          })
          .catch(() => {
              this.$vs.notify({
                title:'XÓA KHÁCH HÀNG',
                text: 'Thao tác không thành công, xin vui lòng thử lại!',
                color:'danger',
              })
          })
        },
        apiFetchTypeStore()
        {
          this.$store.dispatch('fetchTypeStore')
            .then((response) => {
                setTimeout(() => {
                  this.$vs.loading.close()
                },500)
            })
            .catch((err) => {
                setTimeout(() => {
                  this.$vs.loading.close()
                },500)
                this.$vs.notify({
                    title:'ECOSY',
                    text: 'Lỗi! Xảy ra vấn đề!',
                    color:'warning',
                  })
            })
        },
        apiFecthCustomer()
        {
           this.$store.dispatch('fetchCustomerStore').then((response) => {
             if(response.success == false)
             {
               this.$vs.notify({
                 title: 'DANH SÁCH KHÁCH HÀNG CỬA HÀNG',
                 text: response.message,
                 color: 'warning'
               });
             }
          })
          .catch(() => {
            setTimeout(() => {
                this.$vs.loading.close()
              },500)
              this.$vs.notify({
                    title:'ECOSY',
                    text: 'Lỗi! Xảy ra vấn đề!',
                    color:'warning',
                  })
          })
        },
        getTypeCustomer(data)
        {
          const list_type = this.LIST_TYPE_CUSTOMER_STORE.filter((value,index,array) => {
            return ( array[index].ID_CUA_HANG == data.ID_CUA_HANG &&  array[index].SO_TIEN_PHAN_LOAI_MAX >= data.SO_TIEN_DA_CHI)
          });
          if(list_type.length > 0)
          {
            return list_type[0].TEN_PHAN_LOAI;
          }
          else
          {
            return 'Chưa phân loại';
          }
        },
        formatDate(date)
        {
          return moment(date,'YYYY-MM-DD').format('DD/MM/YYYY');
        }
    },
    created()
    {
      this.$vs.loading();
      this.apiFecthCustomer();
      this.apiFetchTypeStore();
        setTimeout(() => {
        this.$vs.loading.close();
      }, 500);
    }
}
</script>

<style lang="css">
  .image-product {
    width: 100%;
    height: auto;
    max-width: 70px;
  }
</style>