<template>
    <vs-row vs-w="12">
        <vs-col class="p-6 pl-0 avatar"  vs-justify="center" vs-align="center" vs-lg="12" vs-sm="12" vs-xs="12" >
            <vs-avatar  size="150px" />
        </vs-col>
        <vs-col class="title-content" vs-justify="left" vs-align="left" vs-lg="12" vs-sm="12" vs-xs="12" >
            <label>Thông tin khách hàng</label>
        </vs-col>
        <vs-col vs-justify="left" vs-align="left" vs-lg="6" vs-sm="6" vs-xs="12">
            <div class="item-info">
                <label class="lb_customer">Tên khách hàng:</label> <span>{{customer.TEN_KH}}</span>
            </div>
            <div class="item-info">
                <label class="lb_customer">Ngày sinh:</label> <span>{{customer.NGAY_SINH_KH}}</span>
            </div>
            <div class="item-info">
                <label class="lb_customer">Giới tính:</label> <span>{{customer.GT_KH == 1 ? 'Nam': 'Nữ'}}</span>
            </div>
        </vs-col>
        <vs-col vs-justify="left" vs-align="left" vs-lg="6" vs-sm="6" vs-xs="12">
            <div class="item-info">
                <label class="lb_customer">Thành phố:</label> <span>{{customer.NAME_PROVINCE}}</span>
            </div>
            <div class="item-info">
                <label class="lb_customer">Quận / Huyện:</label> <span>{{customer.NAME_DISTRICT}}</span>
            </div>
            <div class="item-info">
                <label class="lb_customer">Địa chỉ:</label> <span>{{customer.DC_NHA_KH}}</span>
            </div>
        </vs-col>
        <vs-col vs-justify="left" vs-align="left" vs-lg="6" vs-sm="6" vs-xs="12">
            <div class="item-info">
                <label class="lb_customer">Loại KH:</label> <span>{{TYPE_CUSTOMER.TEN_PHAN_LOAI}}</span>
            </div>
            <div class="item-info">
                <label class="lb_customer">Tổng số tiền đã chi</label> <span>{{customer.TONG_TIEN_KH_CHI == undefined ? 0 : (customer.TONG_TIEN_KH_CHI).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') }} vnd</span>
            </div>
            <div class="item-info">
                <label class="lb_customer">Số tiền đã chi</label> <span>{{ customer.SO_TIEN_DA_CHI == undefined ? 0 :  (customer.SO_TIEN_DA_CHI).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')}} vnd</span>
            </div>
            <div class="item-info">
                <label class="lb_customer">Điểm tích lũy:</label> <span>{{customer.DIEM_TICH_LUY}}</span>
            </div>
        </vs-col>
        <vs-col class="title-content mt-10" vs-justify="left" vs-align="left" vs-lg="12" vs-sm="12" vs-xs="12" >
            <label>Danh sách hóa đơn của khách hàng</label>
        </vs-col>
        <div class="data-bill-customer">
            <vs-table id="table-bill" class="bg-white p-5 border-rd" ref="table" :data="BILLS_LOCAL" >       
                

                <div slot="header" style="width:100%">
                <vs-row vs-w="12">
                    <vs-col class="p-6 pl-0"  vs-justify="left" vs-align="left" vs-lg="3" vs-sm="6" vs-md="4" vs-xs="12" >
                        <vs-input v-model="filter.NGAY_BAT_DAU" type="date" class="w-full" label="NGÀY BẮT ĐẦU" />
                    </vs-col>
                    <vs-col class="p-6 pl-0"  vs-justify="left" vs-align="left" vs-lg="3" vs-sm="6" vs-md="4" vs-xs="12" >
                        <vs-input v-model="filter.NGAY_KET_THUC" type="date" class="w-full" label="NGÀY KẾT THÚC" />
                    </vs-col>
                    <vs-col class="p-6 pl-0" vs-lg="3" vs-md="4" vs-sm="6" vs-xs="12">
                        <label class="vs-input--label"></label><br/>
                        <vs-button type="border"><i class="fa fa-angle-right"></i></vs-button>
                    </vs-col>
                </vs-row>
                    <vs-row>
                        
                    </vs-row>
                </div>
                <template slot="thead" >
                    <vs-th sort-key="image">STT</vs-th>
                    <vs-th>NGÀY LẬP HÓA ĐƠN</vs-th>
                    <vs-th sort-key="managers">CỬA HÀNG</vs-th>
                    <vs-th sort-key="managers">KHÁCH HÀNG</vs-th>
                    <!-- <vs-th sort-key="category">SẢN PHẨM MUA</vs-th> -->
                    <vs-th sort-key="category">TỔNG TIỀN HÓA ĐƠN</vs-th>
                    <vs-th>TỔNG TIỀN SAU KHI GIẢM</vs-th>
                    <vs-th sort-key="category">NGƯỜI LẬP HÓA ĐƠN</vs-th>
                    <!-- <vs-th sort-key="popularity">NGÀY LẬP HÓA ĐƠN</vs-th> -->
                    <vs-th sort-key="action"> </vs-th>
                </template>
                <template slot-scope="{data}">
                    <tbody>
                    <vs-tr :data="tr" :key="index" v-for="(tr, index) in data" v-if="data.length > 0 ">


                        <vs-td  >
                            <span @click="editData(tr)">{{index + 1}}</span>
                        </vs-td>
                        
                        <vs-td >
                        <span @click="editData(tr)">{{tr.CREATED_AT}}</span>
                        
                        </vs-td>

                        <vs-td  >
                        <p @click="editData(tr)" class="product-name font-medium truncate">{{ tr.TEN_CUA_HANG }}</p>
                        </vs-td>

                        <vs-td>
                        <p class="action-hover" @click="editData(tr)">{{ tr.TEN_KH }}</p>
                        </vs-td>

                        <vs-td  @click="editData(tr)">
                        <p class="product-name font-medium truncate">{{ tr.TONG_TIEN == undefined ? 0 :  (tr.TONG_TIEN).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') }} vnđ    </p>
                        </vs-td>
                        <vs-td  @click="editData(tr)">
                        <p class="product-name font-medium truncate">{{ tr.TONG_TIEN_SAU_KHI_GIAM == undefined ? 0 :  (tr.TONG_TIEN_SAU_KHI_GIAM).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') }} vnđ    </p>
                        </vs-td>
                        <vs-td  @click="editData(tr)">
                        <p class="product-name font-medium truncate">{{ tr.HO_TEN_USER }}</p>
                        </vs-td>

                        <vs-td class="whitespace-no-wrap">
                        <vs-button class="btn-not-color" @click="editData(tr)" size="small"> <vs-icon icon="edit"></vs-icon></vs-button>
                        </vs-td>

                    </vs-tr>
                    </tbody>
                </template>
            </vs-table>
        </div>
        <detail-bill :isSidebarActive="isSidebarActive" :data="dataEdit" @close="isSidebarActive = $event" />
    </vs-row>
</template>
<script>
export default {
    components:
    {
         'detail-bill': () => import('../bill/detailBill.vue')
    },
    data()
    {
        return {
            loading: true,
            customer: {
               
            },
            TYPE_CUSTOMER: 'Mới',
            BILLS_LOCAL: [],
            isSidebarActive: false,
            dataEdit: {},
            filter: {
                NGAY_BAT_DAU: new Date().toISOString().substr(0,10),
                NGAY_KET_THUC: new Date().toISOString().substr(0,10)
            }
        }
    },
    methods: {
        editData(data)
        {
            this.isSidebarActive = true
            this.dataEdit = data
        },
    },
    created() {
        this.$vs.loading()
        if(!this.$route.query.ID_CUA_HANG)
        {
            this.$router.back()
        }
        this.$store.state.loading = 'active'
        this.$store.dispatch('SELECT_CUSTOMER_STORE',{
            customer: {
                UUID_KH: this.$route.params.UUID_KH
            },
            store: {
                ID_CUA_HANG: this.$route.query.ID_CUA_HANG
            }
        })
        .then((response) => {
            this.customer = response.result
            this.$store.dispatch("getTypeCustomer",{
            ID_CUA_HANG: this.$route.query.ID_CUA_HANG,
            UUID_KH: this.$route.params.UUID_KH
            })
            .then((response) => {
                this.TYPE_CUSTOMER = response.result
            })
        })
        .catch((err) => {
            this.$vs.motify({
                title: 'CHI TIẾT KHÁCH HÀNG',
                text: 'Lỗi! Xin vui lòng F5 thử lại',
                color: 'warning',
                position: 'bottom-left'
            })
            setTimeout(() => {
                this.$vs.loading.close()
            },500)
        })
        this.$store.dispatch('fetchBillCustomer',{
            UUID_KH: this.$route.params.UUID_KH,
            ID_CUA_HANG: this.$route.query.ID_CUA_HANG
        })
        .then((response) => {
            this.BILLS_LOCAL = response.result
        })
        .catch((err) => {
            this.$vs.notify({
                title: 'DANH SÁCH HÓA ĐƠN CỦA KHÁCH HÀNG',
                text: 'Lỗi! Xin vui lòng F5 thử lại!',
                color: 'warning',
                position: 'bottom-left'
            })
            setTimeout(() => {
                this.$vs.loading.close()
            },500)
        })
        this.$store.state.loading = ''
        setTimeout(() => {
            this.$vs.loading.close()
        },500)
    },
}
</script>
<style lang="css">
    #data-setting.active {position: absolute;width: 100%;height: 100%;top: 0;left: 0;opacity: .5;;}
</style>