<template>
    <div id="data-list-list-view" class="data-list-container">
        <vs-table ref="table" :data="LIST_TYPE_CUSTOMER_STORE_LOCAL" >
            <div slot="header" style="width:100%">
              <vs-row vs-w="12">
                  <vs-col class="p-6 pl-0"  vs-justify="left" vs-align="left" vs-lg="3" vs-sm="12" vs-xs="12" >
                  </vs-col>
                   
              </vs-row>
              
            </div>

          <template slot="thead">
            <vs-th sort-key="tenkh">TÊN KHÁCH HÀNG</vs-th>
            <vs-th sort-key="tenkh">SĐT</vs-th>
            <vs-th sort-key="managers">NGÀY SINH</vs-th>
            <vs-th sort-key="category">GIỚI TÍNH</vs-th>
            <vs-th sort-key="category">THÀNH PHỐ</vs-th>
            <vs-th sort-key="category">QUẬN / HUYỆN</vs-th>
            <vs-th sort-key="popularity">DC KH</vs-th>
            <vs-th sort-key="money">TỔNG TIỀN CHI </vs-th>
          </template>
          <template slot-scope="{data}">
            <tbody>
                 <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">

              
                <vs-td>
                  <p class="product-name font-medium truncate"><a :href="'/apps/customer/'+tr.UUID_KH"> {{ tr.TEN_KH }} </a> </p>
                </vs-td>

                <vs-td>
                  <p class="product-name font-medium truncate">{{ tr.SDT_KH }}</p>
                </vs-td>
                
                <vs-td>
                  <p class="product-name font-medium truncate">{{ tr.NGAY_SINH_KH }}</p>
                </vs-td>


                <vs-td>
                  <p class="product-name font-medium truncate">{{ tr.GT_KH == 0 ? 'Nam' : 'Nữ'}}</p>
                </vs-td>

                <vs-td>
                  <p class="product-name font-medium truncate">{{ tr.NAME_PROVINCE }}</p>
                </vs-td>
                <vs-td>
                  <p class="product-name font-medium truncate">{{ tr.NAME_DISTRICT }}</p>
                </vs-td>

                <vs-td>
                  <p class="product-name font-medium truncate">{{ tr.DC_NHA_KH }}</p>
                </vs-td>

                <vs-td>
                  <p class="product-name font-medium truncate">{{ (tr.SO_TIEN_DA_CHI).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') }}</p>
                </vs-td>

              </vs-tr>
            </tbody>
          </template>
        </vs-table>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import sidebarActionCustomerVue from './sidebarActionCustomer.vue'
export default {
    data()
    {
        return {
          LIST_TYPE_CUSTOMER_STORE_LOCAL: []
        }
    },
    computed: {
      ...mapGetters(["LIST_TYPE_CUSTOMER_STORE"])
    },
    watch: {
      LIST_TYPE_CUSTOMER_STORE(list)
      {
        this.LIST_TYPE_CUSTOMER_STORE_LOCAL = list
      }
    },
    created() {
      this.$vs.loading();
      this.$store.dispatch('fetchTypeCustomerStore',{
        ID_CUA_HANG: this.$route.query.ID_CUA_HANG,
        ID_PHAN_LOAI: this.$route.params.id
      })
      .then((response) => {
        setTimeout(() => {
          this.$vs.loading.close()
        },500)
      })
      .catch((err) => {
         setTimeout(() => {
          this.$vs.loading.close()
        },500)
        this.$vs.notify({
            title:'ECOSY',
            text: 'Lỗi! Xảy ra vấn đề!',
            color:'warning',
          })
      })
    },
   
}
</script>

<style lang="css">
  .image-product {
    width: 100%;
    height: auto;
    max-width: 70px;
  }
</style>