<template>
    <div>
        <router-view></router-view>
    </div>
</template>
<script>
export default {
   name: 'page-customer',
   methods: {
       apiTypeCustomer()
       {
           this.$vs.loading();
           this.$store.dispatch('fetchTypeCustomers')
           .then((response) => {
               if(response.status == 401) this.$router.push('/logout');
               setTimeout(() => {
                   this.$vs.loading.close();
               }, 500);
           })
           .catch((err) => {
               setTimeout(() => {
                   this.$vs.loading.close();
               }, 500);
           })
       }
   },
   created() {
       this.apiTypeCustomer();
   },
}
</script>