<template>
  <vs-sidebar @keyup.esc="isSidebarActiveLocal = false" click-not-close position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
    <div class="mt-6 flex items-center justify-between px-6">
        <h4>{{Object.entries(data).length == 0 ? 'THÊM MỚI' : 'CẬP NHẬT'}} PHÂN LOẠI</h4>
        <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
        
    </div>
    <vs-divider class="mb-0"></vs-divider>
    <VuePerfectScrollbar class="scroll-area--data-list-add-new " >
        <div class="pd15">
                <v-select class="select-store w-full" placeholder="Chọn cửa hàng" v-model="selected_store" :options="LIST_STORE" value="ID_CUA_HANG"  label="TEN_CUA_HANG"  ></v-select><br />
            <vs-input label="TÊN PHÂN LOẠI" v-model="type.TEN_PHAN_LOAI" class="mt-5 w-full" name="TEN_PHAN_LOAI" v-validate="'required'"  />
            <span class="text-danger text-sm" v-show="errors.has('TEN_PHAN_LOAI')">{{ errors.has('TEN_PHAN_LOAI') == true ? 'Chưa nhập tên phân loại' : '' }}</span>
             <vs-input label="SỐ TIỀN CHI TIÊU CAO NHẤT" v-model="type.SO_TIEN_PHAN_LOAI_MAX" class="mt-5 w-full" name="SO_TIEN_PHAN_LOAI_MAX" v-validate="'required'"  />
            <span class="text-danger text-sm" v-show="errors.has('SO_TIEN_PHAN_LOAI_MAX')">{{ errors.has('SO_TIEN_PHAN_LOAI_MAX') == true ? 'Chưa nhập số tiền' : '' }}</span>
            <vs-textarea label="GHI CHÚ" v-model="type.GHI_CHU" class="mt-5 w-full" name="GHI_CHU" placeholder="Ghi chú"  />    

        </div>
    </VuePerfectScrollbar>
    <div class="flex flex-wrap items-center p-6 layout-pc" slot="footer">
      <vs-button type="border" :color="Object.entries(data).length > 0 ? 'warning' : 'success'" @click="submitTypeCustomer()">{{Object.entries(data).length > 0 ? 'CẬP NHẬT' : 'THÊM MỚI' }}</vs-button>
      <vs-button style="margin-left: 10px;" type="border" color="danger" @click="isSidebarActiveLocal = false">Cancel</vs-button>
    </div>
  </vs-sidebar>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import { mapGetters } from 'vuex'

export default {
  props: ["isSidebarActive", "data"],
    components:
    {
        VuePerfectScrollbar
    },
    data()
    {
        return {
           type: {
               TEN_PHAN_LOAI: '',
               SO_TIEN_PHAN_LOAI_MIN: 0,
               SO_TIEN_PHAN_LOAI_MAX: 0,
               GHI_CHU: ''
           },
           selected_store: {}
        }
    },
    computed:
    {
        ...mapGetters(["LIST_STORE"]),
      isSidebarActiveLocal:
      {
          get() {
              return this.isSidebarActive
          },
          set(val)
          {
              this.$emit('close',val)
          }
      },
    },
    watch: {
        isSidebarActiveLocal(val) {
            if(!val) return
            if(Object.entries(this.data).length === 0) {
                this.initValue()
                this.$validator.reset()
            }else {
                this.type = {...this.data}
                const selected_store = this.LIST_STORE.find((store) => store.ID_CUA_HANG == this.data.ID_CUA_HANG)
                if(selected_store != undefined) this.selected_store = selected_store;
            }
        },
        LIST_STORE(stores)
        {
            this.selected_store = stores[0];
            this.type.ID_CUA_HANG = this.selected_store.ID_CUA_HANG;
            this.type.TEN_CUA_HANG = store.TEN_CUA_HANG;
        },
        selected_store(store)
        {
            this.type.ID_CUA_HANG  = store.ID_CUA_HANG;
            this.type.TEN_CUA_HANG = store.TEN_CUA_HANG;
        }
    },
    methods: {
        initValue()
        {
            this.type = {
                TEN_PHAN_LOAI: '',
                SO_TIEN_PHAN_LOAI_MIN: 0,
                SO_TIEN_PHAN_LOAI_MAX: 0,
                GHI_CHU: ''
            }
            this.$validator.reset();
            this.type.ID_CUA_HANG = this.selected_store != null ? this.selected_store.ID_CUA_HANG : 0;
            this.type.TEN_CUA_HANG = this.selected_store != null ? this.selected_store.TEN_CUA_HANG : '';
        },
        submitTypeCustomer()
        {
            if(Object.entries(this.data).length == 0 )
            {
                this.apiCreateTypeCustomer();
            }
            else
            {
                this.$store.dispatch('updatePhanLoaiKH',this.type)
                .then((response) => {
                    if(response.success == true)
                    {
                        this.$vs.notify({
                            title: 'TẠO PHÂN LOẠI MỚI',
                            text:response.message,
                            position: 'bottom-left',
                            color:'success'
                        })
                    }
                    else
                    {
                        this.$vs.notify({
                            title: 'TẠO PHÂN LOẠI MỚI',
                            text:response.message,
                            position: 'bottom-left',
                            color:'warning'
                        })
                    }
                })
                .catch((err) => {
                     this.$vs.notify({
                        title: 'TẠO PHÂN LOẠI MỚI',
                        text: 'Lỗi server!',
                        position: 'bottom-left',
                        color:'danger'
                    })
                })
            }
        },
        apiCreateTypeCustomer()
        {
            this.$vs.loading();
            if(this.selected_store != null)
            {
                this.$store.dispatch('createPhanLoaiKH',this.type)
                .then((response) => {
                    if(response.status == 401) this.$router.push('/logout');
                    if(response.success == true) this.initValue();
                    this.$vs.notify({
                        title: 'TẠO PHÂN LOẠI MỚI',
                        text:response.message,
                        color: response.success == true ? 'success' : 'warning'
                    })
                    setTimeout(() => {
                        this.$vs.loading.close();
                    }, 500);
                })
                .catch((err) => {
                    this.$vs.notify({
                        title: 'TẠO PHÂN LOẠI MỚI',
                        text: 'Lỗi server!',
                        color:'danger'
                    })
                    setTimeout(() => {
                        this.$vs.loading.close();
                    }, 500);
                })
            }
            else
            {
                this.$vs.notify({
                     title: 'TẠO PHÂN LOẠI MỚI',
                    text: 'Bạn chưa chọn cửa hàng',
                    color:'warning'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            }
        }
    },

}
</script>

<style lang="scss" scoped>
.card-image-customer {
  width: 150px;
  height: 200px;
  margin: auto;
  margin-bottom: 15px;
  position: relative;
}
.input-file, .Imagecustomer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
}
.Imagecustomer {z-index: 998;opacity: 1;height: auto;}
.icon-upload-file {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 997;
  transform: translate(-50%,-50%)
}
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 400px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    height: calc(100% - 4.3rem);
}
#data-setting.active {position: absolute;width: 100%;height: 100%;top: 0;left: 0;opacity: .5;;}
</style>
