<template>
<div>
  <vs-sidebar @keyup.esc="isSidebarActiveLocal = false" click-not-close position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
    <div class="mt-6 flex items-center justify-between px-6">
        <h4>{{ Object.entries(this.data).length === 0 ? "THÊM MỚI" : "CẬP NHẬT" }} KHÁCH HÀNG</h4>
        <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
    </div>
    <vs-divider class="mb-0"></vs-divider>
    <VuePerfectScrollbar class="scroll-area--data-list-add-new" :settings="settings">
        <div class="p-6">
          <vs-input :disabled="Object.entries(data).length > 0 ? true : false"
              label="Số điện thoại khách hàng" v-model="customer.SDT_KH" 
              class="w-full" 
              name="SDT_KH" 
              v-validate="'required'" @change="SearchCustomerSDT"
              data-vv-validate-on="blur"
               />
           <span class="text-danger text-sm" v-show="errors.has('SDT_KH')">{{ errors.has('SDT_KH') == true ? 'Chưa nhập số điện thoại khách hàng' : '' }}</span>
          <v-select :disabled="Object.entries(data).length > 0 ? true : false" class="select-store w-full mt-5" placeholder="Chọn cửa hàng" v-model="selected_store" :options="LIST_STORE" value="ID_CUA_HANG"  label="TEN_CUA_HANG"  ></v-select><br />
          <!-- {{selected_store}} -->
         
          <!-- <v-select v-model="customer.ID_CUA_HANG" :options="LIST_STORE" :reduce="store => store.ID_CUA_HANG" label="TEN_CUA_HANG" /> -->
          <vs-input label="Tên khách hàng" v-model="customer.TEN_KH" class="w-full" name="TEN_KH" v-validate="'required'" />
          <span class="text-danger text-sm" v-show="errors.has('TEN_KH')">{{ errors.has('TEN_KH') == true ? 'Chưa nhập tên khách hàng' : '' }}</span>
          <vs-input type="date" label="NGÀY SINH" v-model="customer.NGAY_SINH_KH" class="mt-5 w-full" name="NGAY_SINH_KH" v-validate="'required'" />
          <span class="text-danger text-sm" v-show="errors.has('NGAY_SINH_KH')">{{ errors.has('NGAY_SINH_KH') == true ? 'Chưa nhập ngày sinh khách hàng' : '' }}</span>
          <vs-col class="mt-5 mb-5" vs-type="flex" vs-sm="12">
            <vs-radio vs-value="0" v-model="customer.GT_KH">Nam</vs-radio>
            <vs-radio class="ml-5" vs-value="1" v-model="customer.GT_KH">Nữ</vs-radio>
          </vs-col>
          <p class="text-sm" style="margin-top: 15px;">TỈNH / THÀNH PHỐ</p>
          <v-select v-model="selected_province" :options="LIST_PROVINCE" label="NAME_PROVINCE" />
          <p class="text-sm" style="margin-top: 15px;">QUẬN / HUYỆN</p>
          <v-select v-model="selected_district" :options="LIST_DISTRICT" label="NAME_DISTRICT" />
        <vs-textarea label="Địa chỉ" v-model="customer.DC_NHA_KH" class="mt-5 w-full" name="MO_TA_SAN_PHAM" placeholder="Nhập địa chỉ khách hàng"  />    
        </div>
        <div class="flex flex-wrap items-center p-6 layout-mobile" >
          <vs-button class="mr-6" @click="submitCustomer" :disabled="!isFormValid">{{Object.entries(this.data).length === 0 ? "THÊM MỚI": "CẬP NHẬT"}}</vs-button>
          <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">Cancel</vs-button>
        </div>
    </VuePerfectScrollbar>
    <div class="flex flex-wrap items-center p-6 layout-pc" slot="footer">
      <vs-button class="mr-6" @click="submitCustomer" :disabled="!isFormValid">{{Object.entries(this.data).length === 0 ? "THÊM MỚI": "CẬP NHẬT"}}</vs-button>
      <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">Cancel</vs-button>
    </div>
     
  </vs-sidebar>
  <div class="background-dialog-reset" :class="dialog">
        <div class="dialog-reset">
          <div class="header">
            <h2>Khách hàng <b>{{customer.TEN_KH}}</b> đã tồn tại bạn muốn khôi phục lại ?</h2>
          </div>
          <div class="content">
            Việc khôi phục lại gồm: 
              <ul>
                <li>Thông tin khách hàng</li>
                <li>Số tiền đã chi trước đây tại cửa hàng của bạn</li>
                <li>Số điểm tích lũy</li>
              </ul>
              
          </div>
          <div class="line"></div>
          <div class="close-btn">
              <button class="accept" @click="resetCustomerStore(1)">Có</button>
              <button class=" not-accept" @click="resetCustomerStore(0)">Khônng</button>
          </div>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import {mapGetters} from 'vuex'

export default {
    components:
    {
      VuePerfectScrollbar
    },
   props: {
     isSidebarActive: {
       type: Boolean,
       required: true
     },
    data: {
      type: Object,
      default: () => {},
    }
  },
  watch: {
    isSidebarActiveLocal(val) {
      if(!val) return
      if(Object.entries(this.data).length === 0) {
        this.initValues()
        this.$validator.reset()
      }else {
        this.customer = {...this.data}
        this.selected_province = this.LIST_PROVINCE.find((province) => province.ID_PROVINCE == this.data.DC_TP_KH);
        this.selected_store =  this.LIST_STORE.find((store) => store.ID_CUA_HANG == this.data.ID_CUA_HANG) 
      }
    },
    selected_province(val)
    {
        this.customer.DC_TP_KH = val.ID_PROVINCE
        this.customer.NAME_PROVINCE = val.NAME_PROVINCE
        this.FilterProvince()
    },
    selected_district(val)
    {
      if(val != null)
      {
        this.customer.DC_QH_KH = val.ID_DISTRICT 
        this.customer.NAME_DISTRICT = val.NAME_DISTRICT
      }
    },
    selected_store(store)
    {
      if(store != null)
      {
        this.customer.ID_CUA_HANG= store.ID_CUA_HANG
        this.customer.TEN_CUA_HANG = store.TEN_CUA_HANG
      }
    }
  },
  computed: {
    ...mapGetters(["LIST_PROVINCE", "LIST_DISTRICT", "LIST_STORE"]),
    isFormValid() {
      return !this.errors.any()
    },
    isSidebarActiveLocal:{
      get()
      {
        return this.isSidebarActive
      },
      set(val)
      {
        this.$emit('closeSidebar',val)
      }
    },
  },
  data()
  {
    return {
      settings: { // perfectscrollbar settings
          maxScrollbarLength: 60,
          wheelSpeed: .60,
      },
      customer: {
        ID_CUA_HANG: 1,
        TEN_KH: "",
        NGAY_SINH_KH: new Date(),
        SDT_KH: 0,
        GT_KH: "",
        NOI_DUNG_SAN_PHAM: "",
        HINH_ANH_DAI_DIEN: null
      },
      files: [],
      selected_province: {},
      selected_store: null,
      selected_district: null,
      dialog: ''
    }
  },
  methods: {
    initValues() {
        this.customer = {
        TEN_KH: "",
        NGAY_SINH_KH:new Date().toISOString().substr(0,10),
        SDT_KH: 0,
        GT_KH: "",
        NOI_DUNG_SAN_PHAM: "",
        HINH_ANH_DAI_DIEN: null
      }
      this.image_customer = null
      this.selected_province = null
      this.selected_store = null
      this.selected_district = null
      this.$validator.reset();
    },

    submitCustomer(){
      if(this.selected_store == null)
      {
          this.$vs.notify({
              title: 'TẠO KHÁCH HÀNG',
              text:'Bạn chưa chọn cửa hàng!',
              position: 'bottom-left',
              color:'warning'
          })
      }
      else
      {
          if(Object.entries(this.data).length == 0)
          {
              this.apiCreateCustomer();
          }
          else
          {
              this.apiUpdateCustomer();
          }
      }
    
    },
    apiCreateCustomer()
    {
      this.$vs.loading();
      this.$store.dispatch('createCustomer',this.customer).then((response) => {
            if(response.status == 401) this.$router.push('/logout');
            this.$vs.notify({
              title: 'TẠO KHÁCH HÀNG',
              text: response.message,
              color: response.success == true ? 'success' : 'warning'
            });
            if(response.success == true) this.initValues();
            if(response.status == 201)
            {
              this.dialog = 'active'
            }
            setTimeout(() => {
              this.$vs.loading.close();
            }, 500);
              
        })
      .catch((err) => {
          this.$vs.notify({
              title: 'TẠO KHÁCH HÀNG',
              text:'Lỗi server!',
              position: 'bottom-left',
              color:'danger'
          });
          setTimeout(() => {
            this.$vs.loading.close();
          }, 500);
      })
    },
    apiUpdateCustomer()
    {
      this.$vs.loading();
      this.$store.dispatch('updateCustomerStore',this.customer)
      .then((response) => {
        this.$vs.notify({
          title: 'CẬP NHẬT THÔNG TIN KHÁCH HÀNG',
          text: response.message,
          color: response.success == true ? 'success': 'warning',
          position: 'bottom-left'
        });
        setTimeout(() => {
          this.$vs.loading.close();
        }, 500);
      })
      .catch((err) => {
        this.$vs.notify({
          title: 'CẬP NHẬT THÔNG TIN KHÁCH HÀNG',
          text: 'Lỗi! Xin vui lòng F5 thử lại',
          color: 'warning',
          position: 'bottom-left'
        });
        setTimeout(() => {
          this.$vs.loading.close();
        }, 500);
      })
    },
    FilterProvince()
    {
        this.$store.dispatch('fetchDistrict',this.customer.DC_TP_KH).then((response) => {
           console.log(Object.entries(this.data).length)
          if(Object.entries(this.customer).length > 0)
          {
            console.log(response)
            this.selected_district = response.filter((value,index,array) => {
              return array[index].ID_DISTRICT == this.customer.DC_QH_KH
            })[0]
          }
        })  
    },
    SearchCustomerSDT()
    {
      this.$vs.loading();
      this.$store.dispatch('fetchCustomerBySDT',this.customer.SDT_KH).then((response) => {
          if(response.result != null)
          {
            this.selected_province = this.LIST_PROVINCE.filter((value,index,array) => {
              return array[index].ID_PROVINCE == response.result.DC_TP_KH
            })[0]
            this.customer = response.result
          }
          else
          {
            var sdt = this.customer.SDT_KH
            this.initValues() 
            this.customer.SDT_KH = sdt
          }
          setTimeout(() => {
            this.$vs.loading.close();
          }, 500);
        })
        .catch((err) => {
          console.log(err)
          this.$vs.notify({
            title: 'TẠO KHÁCH HÀNG',
            text: 'Lỗi! Xin vui lòng thử lại!',
            color: 'warning'
          })
           setTimeout(() => {
            this.$vs.loading.close();
          }, 500);
        })
    },
    resetCustomerStore(type_reset)
    {
      this.customer.TYPE_RESET = type_reset
      this.$store.dispatch("resetCustomerStore",this.customer)
      .then((response) => {
        if(response.success == true)
            {
              // this.initValue()
              this.$vs.notify({
                  title: 'RESET KHÁCH HÀNG',
                  text:response.message,
                  position: 'bottom-left',
                  color:'success'
              })
            }
            else
            {
             
              this.$vs.notify({
                title: 'RESET KHÁCH HÀNG',
                text:response.message,
                position: 'bottom-left',
                color:'warning'
              })
            }
          this.dialog = ''
      })
    }
  },
  created()
  {
    this.$store.dispatch('fetchProvince')
  }
}
</script>


<style lang="scss" scoped>
.card-image-customer {
  width: 150px;
  height: 200px;
  margin: auto;
  margin-bottom: 15px;
  position: relative;
}
.input-file, .Imagecustomer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
}
.Imagecustomer {z-index: 998;opacity: 1;height: auto;}
.icon-upload-file {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 997;
  transform: translate(-50%,-50%)
}
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 600px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    height: calc(100% - 4.3rem);
}
</style>