<template>
 <vs-table ref="table" :data="LIST_CUSTOMER_LOCAL" max-items="20" pagination :maxHeight="200">
            <div slot="header" style="width:100%">
              <vs-row vs-w="12">
                  <vs-col class="p-6 pl-0"  vs-justify="left" vs-align="left" vs-lg="12" vs-sm="12" vs-xs="12" >
                     <p style="font-weight:bold">{{title}}</p>
                  </vs-col>
                   
              </vs-row>
              
            </div>

          <template slot="thead">
            <vs-th sort-key="tenkh">TÊN KHÁCH HÀNG</vs-th>
            <vs-th sort-key="managers">NGÀY SINH</vs-th>
            <vs-th sort-key="managers">SDT</vs-th>
            <vs-th sort-key="category">GIỚI TÍNH</vs-th>
            <vs-th sort-key="category">THÀNH PHỐ</vs-th>
            <vs-th sort-key="category">QUẬN / HUYỆN</vs-th>
            <vs-th sort-key="popularity">DC KH</vs-th>
            <vs-th sort-key="price">SL MUA </vs-th>
            <vs-th sort-key="money" >TỔNG TIỀN CHI </vs-th>
            <vs-th sort-key="action"> </vs-th>
          </template>
          <template slot-scope="{data}">
            <tbody>

              <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                <vs-td>
                  <p class="product-name font-medium truncate"><a :href="`/customers/${tr.UUID_KH}?ID_CUA_HANG=${tr.ID_CUA_HANG}`"> {{ tr.TEN_KH }} </a> </p>
                </vs-td>

                <vs-td>
                  <p class="product-name font-medium truncate"> ({{new Date().getFullYear() - new Date(tr.NGAY_SINH_KH).getFullYear()}}+)-{{ tr.NGAY_SINH_KH }}  <span class="birthday" :class="((new Date(tr.NGAY_SINH_KH).getMonth() + 1) == (new Date().getMonth() + 1) ? 'active' : '')"><i class="fa fa-birthday-cake"></i></span> </p>
                </vs-td>

                <vs-td>
                  <p class="product-name font-medium truncate">{{ system == true ? replaceTextHidePhone(tr.SDT_KH) :  tr.SDT_KH  }}</p>
                </vs-td>

                <vs-td>
                  <p class="product-name font-medium truncate">{{ tr.GT_KH == 0 ? 'Nam' : 'Nữ'}}</p>
                </vs-td>

                <vs-td>
                  <p class="product-name font-medium truncate">{{ tr.NAME_PROVINCE }}</p>
                </vs-td>
                <vs-td>
                  <p class="product-name font-medium truncate">{{ tr.NAME_DISTRICT }}</p>
                </vs-td>

                <vs-td>
                  <p class="product-name font-medium truncate">{{ tr.DC_NHA_KH == undefined ? '' :  tr.DC_NHA_KH }}</p>
                </vs-td>

                <vs-td>
                  <p class="product-name font-medium truncate">{{ tr.SL_MUA ? tr.SL_MUA : 0 }}</p>
                </vs-td>

                <vs-td>
                  <p class="product-name font-medium truncate">{{ tr.SO_TIEN_DA_CHI == undefined ? '' : (tr.SO_TIEN_DA_CHI).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') }}</p>
                </vs-td>

                <vs-td class="whitespace-no-wrap">
                  <button @click="editData(tr)" class="btn btn-action"> <i class="fa fa-edit" aria-hidden="true"></i></button>
                  <button @click="deleteCustomer(tr)"  class="btn btn-action"> <i class="fa fa-trash" aria-hidden="true"></i></button>
                </vs-td>

              </vs-tr>
            </tbody>
          </template>
        </vs-table>
</template>

<script>
export default {
    props: ["data", "title", "system"],
    data()
    {
        return {
            LIST_CUSTOMER_LOCAL: []
        }
    },
    watch: {
        data(data)
        {
            this.LIST_CUSTOMER_LOCAL = data
        }
    },
    methods:
    {
      replaceTextHidePhone(v)
      {
        v=v.replace(/\D/g,"");           
        v=v.substring(4);
        v=v.replace(/^(\d{4})(\d)/g,"0xxx-$1-$2"); 
        v=v.replace(/(\d)(\d{4})$/,"$1-$2"); 
        return v;

      }
    }
}
</script>