<template>
    <div id="data-list-list-view" class="data-list-container">
        <vs-table ref="table" :data="LIST_TYPE_CUSTOMER_LOCAL" >
            <div slot="header" style="width:100%">
              <vs-row vs-w="12">
                  <vs-col class="mr-2" vs-lg="3" vs-sm="6" vs-md="4" vs-xs="12">
                    <label for="LIST_STORE" class="vs-input--label">Danh sách cửa hàng</label>
                    <v-select :options="LIST_STORE" value="ID_CUA_HANG" label="TEN_CUA_HANG" 
                      class="w-full" v-model="selected_store" placeholder="Chọn cửa hàng"></v-select>
                  </vs-col>
                  <vs-col class="mb-2"  vs-justify="left" vs-align="left" vs-lg="3" vs-md="4" vs-sm="6" vs-xs="12" >
                      <label for="" class="vs-input--label"></label>
                      <vs-button type="border" icon-pack="feather" icon="icon-plus" @click="isSidebarActive = true" > Thêm mới</vs-button>
                  </vs-col>
                   
              </vs-row>
              
            </div>

          <template slot="thead">
            <vs-th sort-key="STT">STT</vs-th>
              <vs-th sort-key="NAME_TYPE">CỬA HÀNG</vs-th>
            <vs-th sort-key="NAME_TYPE">TÊN PHÂN LOẠI</vs-th>
            <vs-th sort-key="SO_TIEN_MAX">SỐ TIỀN CHI CAO NHẤT</vs-th>
            <vs-th >MÔ TẢ</vs-th>
              <vs-th >THAO TÁC</vs-th>
          </template>
          <template slot-scope="{data}">
            <tbody>
              <tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                <td style="text-align:center">{{indextr + 1}}</td>
                <td>{{tr.TEN_CUA_HANG}}</td>
                <td><a :href="'./type/'+tr.ID_PHAN_LOAI+'?ID_CUA_HANG='+tr.ID_CUA_HANG">{{tr.TEN_PHAN_LOAI}} </a></td>
                <td>{{tr.SO_TIEN_PHAN_LOAI_MAX.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') }} vnđ</td>
                <td>{{tr.GHI_CHU}}</td>
                <vs-td class="whitespace-no-wrap">
                  <button @click="editData(tr)" class="btn btn-action"> <i class="fa fa-pencil" aria-hidden="true"></i></button>
                  <button @click="deleteCustomer(tr)"  class="btn btn-action"> <i class="fa fa-trash" aria-hidden="true"></i></button>
                </vs-td>
              </tr>
             
            </tbody>
          </template>
        </vs-table>
        <sidebar-type :isSidebarActive="isSidebarActive" :data="dataEdit" @close="isSidebarActive = $event" />
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    components:
    { 
        'sidebar-type': () => import('./sidebarActionType.vue')
    },
    data()
    {
        return {
            dataEdit: {},
            isSidebarActive: false,
            selected_store: null

        }
    },
    computed: {
      ...mapGetters(["LIST_TYPE", "LIST_STORE"]),
      LIST_TYPE_CUSTOMER_LOCAL()
      {
        if(this.selected_store != null) return this.LIST_TYPE.filter((value,index,array) => {
          return array[index].ID_CUA_HANG == this.selected_store.ID_CUA_HANG;
        });
        return this.LIST_TYPE;
      }
    },
    methods: 
    {
        editData(data)
        {
          this.dataEdit = data
          this.isSidebarActive = true
        },
        deleteCustomer(data)
        {
          this.$vs.dialog({
            type:'confirm',
            color: 'warning',
            title:  'Bạn chắc chắn xóa khách hàng '+data.TEN_KH + '?',
            text: 'Sau khi xóa sẽ lưu lại lịch sử thao tác của người dùng!',
            data: data,
            acceptText: 'Đồng ý',
            cancelText: 'Hủy',
            accept: () => {
              this.acceptDelTypeCustomer(data)
            }
          })
        },
        acceptDelTypeCustomer(data)
        {
          this.$store.dispatch('deleteTypeCustomer',data)
          .then((response) => {
            if(response.success == true)
            {
               this.$vs.notify({
                  title: 'XÓA PHÂN LOẠI KHÁCH HÀNG',
                  text:response.message,
                  position: 'bottom-left',
                  color:'success'
              })
            }
            else
            {
               this.$vs.notify({
                  title: 'XÓA PHÂN LOẠI KHÁCH HÀNG',
                  text:response.message,
                  position: 'bottom-left',
                  color:'warning'
              })
            }
          })
          .catch((err) => {
             this.$vs.notify({
                  title: 'XÓA PHÂN LỖI KHÁCH HÀNG',
                  text:'Lỗi! Xin vui lòng F5 để thử lại!',
                  position: 'bottom-left',
                  color:'danger'
              })
          })
        }
    },
    created()
    {
      this.$vs.loading();
      this.$store.dispatch('fetchPhanLoaiKH')
      .then((response) => {
         setTimeout(() => {
            this.$vs.loading.close()
          },500)
      })
      .catch((err) => {
        setTimeout(() => {
          this.$vs.loading.close()
        },500)
         this.$vs.notify({
          title:'ECOSY',
          text: 'Lỗi! Xảy ra vấn đề!',
          color:'warning',
        })
      })
    }
}
</script>
