<template>
    <div>
        
    </div>
</template>

<script>
export default {
    name: 'page-logout',
    created()
    {
        this.$cookies.remove('token');
        this.$cookies.remove('info');
        this.$cookies.remove('admin');
        localStorage.removeItem('token');
        localStorage.removeItem('info');
        localStorage.removeItem('admin');
        this.$router.push('/login')
    }
}
</script>