<template lang="html">
  <div>
    <vs-table
      :data="LIST_TYPE_PRODUCT_LOCAL"
      :noDataText="'Chưa có loại sản phẩm nào'">
        <div slot="header" style="width:100%"> 
          <vs-row class="bg-white mb-3">
            <vs-row vs-w="12" class="mt-1.5 mb-1.5" style="padding-left: 0 !important">
              <div class="vx-col lg:w-1/4 md:w-1/3 w-1/2 p-3 ">
                <v-select :options="LIST_STORE" class="w-full"
                  label="TEN_CUA_HANG"
                  value="ID_CUA_HANG"
                  placeholder="Chọn cửa hàng"
                  v-model="selected_store"> </v-select>
              </div>
              <div class="vx-col lg:w-1/4 md:w-1/3 w-1/2 p-3 ">
                <vs-input 
                  icon-pack="feather"
                  icon="icon-search"
                  class="w-full" 
                  placeholder="Nhập từ khóa tìm kiếm"
                  v-model="search_type_product"></vs-input>
              </div>
              <div class="vx-row lg:w-1/2 md:w-1/3 w-full d-flex ">
                <vs-button class="m-3 ml-6" type="border" icon-pack="feather" icon="icon-plus" @click="isSidebarTypeProduct = true">Thêm mới</vs-button>
              </div>                 
            </vs-row>
          </vs-row>
        </div>
        <template slot="thead">
          <vs-th>
            STT
          </vs-th>
          <vs-th>
            LOẠI SẢN PHẨM
          </vs-th>
          <vs-th>
            TÊN CỬA HÀNG
          </vs-th>
          <vs-th>
            MÔ TẢ
          </vs-th>
          <vs-th>
            NGÀY TẠO
          </vs-th>
          <vs-th>
          </vs-th>
        </template>

        <template slot-scope="{data}">
          <tbody>
            <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
              <vs-td align="center">{{indextr + 1}}</vs-td>
              <vs-td align="center">{{tr.NAME_PRODUCT_TYPE}}</vs-td>
              <vs-td>{{tr.TEN_CUA_HANG}}</vs-td>
              <vs-td>{{tr.DESCRIPTION_PRODUCT_TYPE}}</vs-td>
              <vs-td>{{formatDate(tr.CREATED_AT)}}</vs-td>
              <vs-td>
                  <button @click="editData(tr)" class="btn btn-action"> <i class="fa fa-edit" aria-hidden="true"></i></button>
                  <button  class="btn btn-action" @click="deleteData(tr)"> <i class="fa fa-trash" aria-hidden="true"></i></button>
              </vs-td>
            </vs-tr>
          </tbody>
        </template>
    </vs-table>
    <sidebar-type-product :isSidebarActive="isSidebarTypeProduct" 
                          :data="type_product_eidt"
                          @close="isSidebarTypeProduct = $event"
                          @update="update_type_product = $event"/>
  </div>
</template>

<script>
import moment from 'moment';
import { mapGetters } from 'vuex';
export default {
  name: 'data-type-product',
  components: {
    'sidebar-type-product' : () => import('../sidebar/sidebarTypeProduct.vue')
  },
  data:()=>({
    isSidebarTypeProduct: false,
    type_product_eidt: {},
    search_type_product: '',
    update_type_product: false,
    selected_store: null
  }),
  computed:
  {
    ...mapGetters(["LIST_TYPE_PRODUCT","LIST_STORE"]),
    LIST_TYPE_PRODUCT_LOCAL()
    {
      var ID_CUA_HANG = this.selected_store != null ? this.selected_store.ID_CUA_HANG : 0;
      var list =  this.LIST_TYPE_PRODUCT.filter((value,index,array) => {
          return array[index].ID_PRODUCT_TYPE != 1;
        });
      if(ID_CUA_HANG != 0)
      {
        list = list.filter((value,index,array) => {
          return array[index].ID_CUA_HANG == ID_CUA_HANG
        })
      }
      if(this.search_type_product != '')
      {
        list = list.filter((value,index,array) => {
            var check = false;
            Object.values(value).find((item) => {
              console.log('item ',item);
              // if(item.toLowerCase().indexOf(this.search_type_product.toLowerCase()) != -1)
              // {
              //   check = true;
              //   return;
              // }
            });
            if(check = true) return array[index];
        })
      }
      return list;
    }
  },
  watch:
  {
    isSidebarTypeProduct(boolean)
    {
      if(boolean == false) this.type_product_eidt = {};
    },
    update_type_product(boolean)
    {
      if(boolean == true) {
        this.apiFetchTypeProduct();
        this.update_type_product = false;
      }
    },

  },
  methods: {
    apiFetchTypeProduct()
    {
      this.$vs.loading();
      this.$store.dispatch('fetchTypeProduct')
      .then((response) => {
        if(response.status == 401) this.$router.push('/logout');
        this.$vs.notify({
          title: 'DANH SÁCH LOẠI SẢN PHẨM',
          text: response.message,
          color: response.success == true ? 'success' : 'warning'
        });
        setTimeout(() => {
          this.$vs.loading.close();
        }, 500);
      })
      .catch((err) => {
        this.$vs.notify({
          title: 'DANH SÁCH LOẠI SẢN PHẨM',
          text: 'Lỗi! Xin vui lòng đăng xuất thử lại!',
          color: 'danger'
        });
        setTimeout(() => {
          this.$vs.loading.close();
        }, 500);
      })
    },
    formatDate(date)
    {
      if(date == undefined) return '';
      return moment(date,'YYYY-MM-DD hh:mm:ss').format('hh:mm, DD/MM/YYYY')
    },
    editData(data)
    {
      this.isSidebarTypeProduct = true;
      this.type_product_eidt = data;
    },
    deleteData(data)
    {
      
    }
  },
  created()
  {
    this.apiFetchTypeProduct();
  }
}
</script>

<style lang="css" scoped>
.expand-type-product,::v-deep .content-tr-expand {display: block !important;}
</style>