<template>
    <div id="content-data-product">
        <vs-table :noDataText="'Sản phẩm trong kho không có'" :data="LIST_PRODUCT" >
            <div slot="header" style="width:100%">
              
              
              <vs-row class="bg-white mb-3">
                <vs-row vs-w="12" class="mt-1.5 mb-1.5" style="padding-left: 0 !important">
                  <div class="vx-col lg:w-1/4 md:w-1/3 w-full p-3 ">
                    <vs-input 
                      icon-pack="feather"
                      icon="icon-search"
                      class="w-full" 
                      placeholder="Nhập từ khóa tìm kiếm"
                      v-model="search_product"></vs-input>
                  </div>
                  <div class="vx-row lg:w-1/2 md:w-2/3 w-1/2 d-flex ">
                    <vs-button class="m-3 ml-6" type="border" icon-pack="feather" icon="icon-plus" @click="isSidebarProduct = true">Thêm mới</vs-button>
                    <vs-button @click="showGroupFilter = !showGroupFilter" 
                      class="m-3" type="border" icon-pack="feather" :icon="showGroupFilter == false ? 'icon-arrow-down' : 'icon-arrow-up'">Tìm kiếm nâng cao</vs-button>
                  </div>                 
                </vs-row>

                <group-filter-product v-if="showGroupFilter" />
              </vs-row>
            </div>

          <template slot="thead">
            <vs-th sort-key="IMAGE_PRODUCT">HÌNH ẢNH</vs-th>
            <vs-th sort-key="MA_SAN_PHAM">MÃ</vs-th>
            <vs-th sort-key="TEN_SAN_PHAM">TÊN SẢN PHẨM</vs-th>
            <vs-th sort-key="LOAI_SAN_PHAM">LOẠI</vs-th>
            <vs-th sort-key="SL_SAN_PHAM">SỐ LƯỢNG</vs-th>
            <vs-th sort-key="SL_DA_BAN">ĐÃ BÁN</vs-th>
            <vs-th sort-key="GIA_SAN_PHAM">GIÁ</vs-th>
            <vs-th>THAO TÁC</vs-th>
          </template>
          <template slot-scope="{data}">
            <tbody>

              <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">

                <vs-td style="text-align:center">
                  <img :src="tr.HINH_ANH_DAI_DIEN" :alt="tr.TEN_SAN_PHAM" class="iamge-product" width="50px" height="auto">
                </vs-td>
                
                <vs-td style="text-align:center">{{tr.MA_SAN_PHAM}}</vs-td>

                <vs-td>{{tr.TEN_SAN_PHAM}}</vs-td>

                 <vs-td>
                   <span v-for="(type_product,index) in tr.types" :key="index">
                     {{type_product.NAME_PRODUCT_TYPE}} , 
                   </span>
                 </vs-td>

                <vs-td>{{tr.SO_LUONG}}</vs-td>

                <vs-td>{{tr.SO_LUONG_DB}}</vs-td>

                <vs-td>{{formatToCurrency(tr.GIA_SAN_PHAM)}}</vs-td>

                <vs-td class="whitespace-no-wrap">
                  <button @click="editData(tr)" class="btn btn-action"> <i class="fa fa-edit" aria-hidden="true"></i></button>
                  <button  class="btn btn-action" @click="deleteAccount(tr)"> <i class="fa fa-trash" aria-hidden="true"></i></button>
                </vs-td>

              </vs-tr>
            </tbody>
          </template>
        </vs-table>
        <sidebar-product 
            :isSidebarActive="isSidebarProduct" 
            :data="product_edit"
            @close="isSidebarProduct = $event" />
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
    name: 'data-product',
    components: {
        'sidebar-product' : () => import('@/views/apps/products/sidebar/sidebarProduct.vue'),
        'group-filter-product' : () => import('./groupFilterProduct.vue')
    },
    data()
    {
        return {
            isSidebarProduct: false,
            product_edit: {},
            search_product: '',
            showGroupFilter: false
        }
    },
    computed:
    {
      ...mapGetters(["LIST_PRODUCT"]),
    },
    watch:
    {
      isSidebarProduct(boolean)
      {
        if(!boolean) this.product_edit = {};
      }
    },
    methods:
    {
      apiFetchProduct()
      {
        this.$vs.loading();
        this.$store.dispatch('fetchProduct')
        .then((response) => {
          if(response.status == 401) this.$router.push('/logout');
          this.$vs.notify({
            title: 'DANH SÁCH SẢN PHẨM',
            text: response.message,
            color: response.success == true ? 'success' : 'warning'
          });
          setTimeout(() => {
            this.$vs.loading.close();
          }, 500);
        })
        .catch((err) => {
          this.$vs.notify({
            title: 'DANH SÁCH SẢN PHẨM',
            text: 'Lỗi! Xin vui lòng đăng xuất thử lại!',
            color: 'danger'
          });
          setTimeout(() => {
            this.$vs.loading.close();
          }, 500);
        })
      },
      editData(data)
      {
        this.product_edit = data;
        this.isSidebarProduct = true;
      },
      formatToCurrency(number){
          if(number == undefined) return 0;
          return  (number).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      },
      apiFetchTyeProduct()
      {
        this.$vs.loading();
        this.$store.dispatch('fetchTypeProduct')
        .then((response) => {
          this.$vs.notify({
            title: 'CÀI ĐẶT DỮ LIỆU',
            text: response.message,
            color: response.success == true ? 'success' : 'warning'
          });
          if(response.status == 401) this.$router.push('/logout');
          setTimeout(() => {
            this.$vs.loading.close();
          }, 500);
        })
        .catch((err) => {
          this.$vs.notify({
            title: 'CÀI ĐẶT DỮ LIỆU',
            text: 'Lỗi! Xin vui lòng đăng xuất thử lại!',
            color: 'danger'
          });
          setTimeout(() => {
            this.$vs.loading.close();
          }, 500);
        })
      }
    },
    created()
    {
      this.apiFetchProduct();
      this.apiFetchTyeProduct();
    }
}
</script>