<template>
<vs-row>
    <div class="vx-col lg:w-1/4 p-3">
        <label for="TYPE_PRODUCT" class="vs-input--label">Cửa hàng</label>
        <v-select :options="LIST_STORE" class="w-full"
        value="ID_CUA_HANG"
        label="TEN_CUA_HANG"
        placeholder="Chọn cửa hàng"
        v-model="selected_store"></v-select>
    </div>

    <div class="vx-col lg:w-1/4 p-3">
        <label for="TYPE_PRODUCT" class="vs-input--label">Loại sản phẩm</label>
        <v-select :options="LIST_TYPE_PRODUCT_LOCAL" class="w-full"
        value="ID_PRODUCT_TYPE"
        label="NAME_PRODUCT_TYPE"
        placeholder="Chọn loại sản phẩm"
        v-model="selected_type_product"></v-select>
    </div>
    <div class="button-filter p-3">
        <label for="" class="vs-input--label"></label>
        <vs-button @click="filterProduct" type="border" icon-pack="feather" icon="icon-search"></vs-button>
    </div>
</vs-row>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    name: 'group-filter-product',
    data()
    {
        return {
            selected_store: null,
            selected_type_product: null,
            filter: {
                
            }
        }
    },
    computed: {
        ...mapGetters(["LIST_TYPE_PRODUCT", "LIST_STORE"]),
        LIST_TYPE_PRODUCT_LOCAL()
        {
            if(this.selected_store == null) return this.LIST_TYPE_PRODUCT;
            else return this.LIST_TYPE_PRODUCT.filter((value,index,array) => {
                return array[index].ID_CUA_HANG == this.selected_store.ID_CUA_HANG || array[index].ID_CUA_HANG == 0
            });
        }
    },
    watch:{
        selected_store(store)
        {
            if(store != null)
            {
                this.filter.ID_CUA_HANG = store.ID_CUA_HANG
            }
        },
        selected_type_product(category)
        {
            if(category != null)
            {
                this.filter.ID_PRODUCT_TYPE = category.ID_PRODUCT_TYPE;
            }
        }
    },
    methods:
    {
        filterProduct()
        {
            this.$vs.loading();
            this.$store.dispatch('fetchProduct',this.filter)
            .then((response) => {
                if(response.status == 401) this.$router.push('/logout');
                this.$vs.notify({
                    title: 'TÌM KIẾM SẢN PHẨM',
                    text: response.message,
                    color: response.success == true ? 'success' : 'warning'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
            .catch((err) => {
                this.$vs.notify({
                    title: 'TÌM KIẾM SẢN PHẨM',
                    text: 'Lỗi! Xin vui lòng đăng xuất thử lại!',
                    color: 'danger'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            });
        }
    }
}
</script>