<template>
  <div class="h-screen flex w-full bg-img vx-row no-gutter items-center justify-center" id="page-login">
    <div class="vx-col sm:w-3/4 md:w-1/2 lg:w-3/4 xl:w-3/5 sm:m-0 m-4">
      <vx-card>
        <div slot="no-body" class="full-page-bg-color">

          <div class="vx-row no-gutter justify-center items-center">

            <div class="vx-col hidden lg:block lg:w-1/2">
              <img src="@/assets/images/pages/login.png" alt="login" class="mx-auto">
            </div>

            <div class="vx-col sm:w-full md:w-full lg:w-1/2 d-theme-dark-bg">
              <div class="px-8 pt-8 login-tabs-container">

                <div class="vx-card__title mb-4">
                  <h4 class="mb-4">ĐĂNG NHẬP</h4>
                  <p>Chào mừng bạn đến với hệ thống quản lý ECOSY.</p>
                </div>

                <login-jwt></login-jwt>
                <p align="center" class="mt-5">Hoặc đăng nhập</p>
                <div class="p-3 w-full login-facebook mt-2" @click="loginFacebook">
                  <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    ĐĂNG NHẬP BẰNG FACEBOOK
                </div>
              </div>
            </div>
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>


<script>
import LoginJwt from "./LoginJWT.vue"
import firebase from '@/services/firebase.js'
export default {
  components: {
    LoginJwt,
  },
  methods:
  {
     loginFacebook()
    {
        var provider = new firebase.auth.FacebookAuthProvider();
        provider.addScope('public_profile');
        firebase.auth().languageCode = 'en';
        provider.setCustomParameters({
            'display': 'popup'
        });
        var vm = this;
        this.$vs.loading();
        firebase.auth().signInWithPopup(provider).then(function(result) {
                console.log('facebook' , result)
                vm.$store.dispatch('user/registerFacebook',{
                    USERNAME_USER: result.additionalUserInfo.profile.id,
                    HO_TEN_USER: result.additionalUserInfo.profile.name,
                    ACCESS_TOKEN_FACEBOOK: result.credential.accessToken,
                    AVATAR: result.additionalUserInfo.profile.picture.data.url
                })
                .then((response) => {
                    if(response.result.new == true)
                    {
                        vm.$vs.notify({
                            title: 'ĐĂNG KÝ TÀI KHOẢN FACEBOOK',
                            text: response.message,
                            color: 'success'
                        })
                        vm.$cookies.set('facebook',true);
                    }
                    vm.$cookies.set('token',response.result.token)
                    vm.$router.push('/')
                    setTimeout(() => {
                        vm.$vs.loading.close();
                    }, 500);
                    console.log('success' , result);
                })
                .catch((err) => {
                    vm.$vs.notify({
                        title: 'ĐĂNG NHẬP TÀI KHOẢN FACEBOOK',
                        text: 'Lỗi xác thực tài khoản facebook!',
                        color: 'danger'
                    })
                    setTimeout(() => {
                        vm.$vs.loading.close();
                    }, 500);
                })
                
            }).catch(function(error) {
                console.log('err facebook', error)
                vm.$vs.notify({
                    title: 'ĐĂNG NHẬP TÀI KHOẢN FACEBOOK',
                    text: 'Tài khoản facebook không hợp lệ!',
                    color: 'danger'
                })
                    setTimeout(() => {
                    vm.$vs.loading.close();
                }, 500);
        });

    }
  },
  beforeCreate()
  {
    if(this.$cookies.isKey('token'))
    {
      this.$router.push('/')
    }
  }
}
</script>

<style lang="scss">
.login-tabs-container {
  min-height: 505px;

  .con-tab {
    padding-bottom: 14px;
  }

  .con-slot-tabs {
    margin-top: 1rem;
  }
}
.login-facebook {
    padding: 10px;border: 1px solid #5981c2;margin: 5px;text-align: center;
    cursor: pointer;text-transform: uppercase;
    border-radius: 5px;
}
 .login-facebook:hover {background: #5981c2;color: #fff;}
</style>
