<template>
  <form @submit.prevent="loginJWT">
    <vs-input
        v-validate="'required|min:3'"
        data-vv-validate-on="blur"
        name="email"
        icon-no-border
        icon="icon icon-user"
        icon-pack="feather"
        label-placeholder="Tài khoản"
        v-model="user.USERNAME_USER"
        class="w-full"/>
    <span class="text-danger text-sm">{{ errors.first('email') }}</span>

    <vs-input
        data-vv-validate-on="blur"
        v-validate="'required|min:6|max:50'"
        type="password"
        name="password"
        icon-no-border
        icon="icon icon-lock"
        icon-pack="feather"
        label-placeholder="Mật khẩu"
        v-model="user.PASSWORD_USER"
        class="w-full mt-6" />
    <span class="text-danger text-sm">{{ errors.first('password') }}</span>

    <div class="flex flex-wrap justify-between my-5">
        <!-- <vs-checkbox v-model="checkbox_remember_me" class="mb-3">Remember Me</vs-checkbox> -->
        <router-link to="/reset-password">Quên mật khẩu?</router-link>
    </div>
    <div class="flex flex-wrap justify-between mb-3">
      <vs-button  type="border" @click="registerUser">Đăng ký</vs-button>
      <button class="vs-component vs-button vs-button-primary vs-button-filled" type="submit" :disabled="!validateForm" >Đăng nhập</button>
    </div>
  </form>
</template>

<script>
import axios from '@/axios.js'
export default {
  data() {
    return {
      email: 'admin',
      password: 'admin',
      user: {
        USERNAME_USER: '',
        PASSWORD_USER: ''
      },
      checkbox_remember_me: false
    }
  },
  computed: {
    validateForm() {
      return !this.errors.any() && this.email != '' && this.password != '';
    },
  },
  methods: {
    checkLogin() {
      // If user is already logged in notify
      if (this.$store.state.auth.isUserLoggedIn()) {

        // Close animation if passed as payload
        // this.$vs.loading.close()

        this.$vs.notify({
          title: 'Login Attempt',
          text: 'You are already logged in!',
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'warning'
        })

        return false
      }
      return true
    },
    loginJWT() {

      // Loading
      this.$vs.loading()
      this.$store.dispatch('user/loginSystem',this.user).then((response) => {
        setTimeout( ()=> {
          this.$vs.loading.close()
        }, 1500);
        if(response.success == true)
        {
          this.$cookies.set('token',response.result);
          this.$cookies.set('info',response.info);
          this.$cookies.set('admin',response.admin);
          if(response.admin == true)
          {
            this.$acl.change('admin');
          }
          else
          {
            this.$acl.change('editor');
            this.apiServicesDefault();
          }
          this.$router.push('/')
        }
        else
        {
          this.$vs.notify({
            title: 'Đăng nhập',
            text: response.message,
            iconPack: 'feather',
            icon: 'icon-alert-circle',
            color: 'warning'
          })
        }
      }).catch((err) => {
        console.log('login' , err)
        this.$vs.notify({
            title: 'Đăng nhập',
            text: 'Lỗi!',
            iconPack: 'feather',
            icon: 'icon-alert-circle',
            color: 'danger'
          })
           setTimeout( ()=> {
          this.$vs.loading.close()
        }, 1500);
      })
    
    },
    apiServicesDefault()
    {
      this.$store.dispatch('user/fetchServicesDefault');
    },
    registerUser() {
      this.$router.push('/register').catch(() => {})
    }
  }
}

</script>

