<template>
 <div class="add-type-product">
     
    <div class="w-full p-2">
        <label for="LIST_TYPE_PRODUCT" class="vs-input--label">LOẠI SẢN PHẨM</label>
        <v-select class="w-full" 
            :options="LIST_TYPE_PRODUCT_LOCAL"
            v-model="selected_type_product"
            placeholder="Chọn loại sản phẩm cha"
            label="NAME_PRODUCT_TYPE"
            value="ID_PRODUCT_TYPE "></v-select>
    </div>
    <vs-input class="w-full p-2"
        label="TÊN LOẠI SẢN PHẨM"
        v-model="type_product_new.NAME_PRODUCT_TYPE"
        name="NAME_PRODUCT_TYPE"
        v-validate="'required'" 
        data-vv-validate-on="blur"></vs-input>
    <span  class="text-danger text-sm p-2" v-show="errors.has('NAME_PRODUCT_TYPE')">
        {{ errors.has('NAME_PRODUCT_TYPE') == true ? 'Chưa nhập tên loại sản phẩm ' : '' }}
    </span>
    <div class="w-full p-2">
        <vs-button type="border" :disabled="!isFormValid" @click="apiCreateTypeProduct">THÊM MỚI</vs-button>
    </div>
</div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    name: 'form-type-product',
    props:
    {
        selected_store: {
            required: true
        },
    },
    data()
    {
        return {
            selected_type_product: null,
            type_product_new: {
                NAME_PRODUCT_TYPE: '',
                DESCRIPTION_PRODUCT_TYPE: '',
                PARENT_PRODUCT_TYPE: 0
            }
        }
    },
    computed:{
        isFormValid()
        {
            return !this.errors.any()
        },
        LIST_TYPE_PRODUCT_LOCAL()
        {
            // const LIST_TYPE_PRODUCT = {...this.LIST_TYPE_PRODUCT}
            
            if(this.selected_store == null) return this.LIST_TYPE_PRODUCT;
            else {
                const LIST_TYPE_PRODUCT = this.LIST_TYPE_PRODUCT.filter((value,index,array) => {
                    return array[index].ID_CUA_HANG == this.selected_store.ID_CUA_HANG 
                });
                const IndexNone = LIST_TYPE_PRODUCT.findIndex((type) => type.STT = -1);
                if(IndexNone != -1)
                {
                    LIST_TYPE_PRODUCT.splice(IndexNone,1);
                }
                return LIST_TYPE_PRODUCT;
            }
        },
        ...mapGetters(["LIST_TYPE_PRODUCT"])
    },
    watch:
    {
        selected_type_product(type)
        {
            if(type != null)
            {
                if (type.ID_TYPE_PRODUCT == 1) this.type_product_new.PARENT_PRODUCT_TYPE = 0;
                else this.type_product_new.PARENT_PRODUCT_TYPE = type.ID_PRODUCT_TYPE;
            }
            else  this.type_product_new.PARENT_PRODUCT_TYPE = 0;
        }
    },
    methods:
    {
        initValue()
        {
            this.type_product_new = {
                NAME_PRODUCT_TYPE: ''
            }
            this.selected_type_product = null
        },
        apiCreateTypeProduct()
        {
            this.$vs.loading();
            if(this.isFormValid && this.selected_store != null)
            {
                this.type_product_new.ID_CUA_HANG = this.selected_store.ID_CUA_HANG
                this.$store.dispatch('createTypeProduct',this.type_product_new)
                .then((response) => {
                    if(response.success == true)
                    {
                        this.initValue();
                    }
                    this.$vs.notify({
                        title: 'THÊM MỚI LOẠI SẢN PHẨM',
                        text: response.message,
                        color: response.success == true ? 'success' : 'warning'
                    });
                    setTimeout(() => {
                        this.$vs.loading.close();
                    }, 500);
                })
                .catch((err) => {
                    this.$vs.notify({
                        title: 'THÊM MỚI LOẠI SẢN PHẨM',
                        text: 'Lỗi! Xin vui lòng đăng xuất thử lại!',
                        color: 'danger'
                    });
                    setTimeout(() => {
                        this.$vs.loading.close();
                    }, 500);
                })
            }
            else
            {
                this.$vs.notify({
                    title: 'THÊM MỚI LOẠI SẢN PHẨM',
                    text: this.selected_store == null ? 'Bạn chưa chọn cửa hàng' : 'Bạn chưa nhập tên loại sản phẩm' ,
                    color: 'warning'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            }
        }
    }
}
</script>