<template>
 <li class="w-full ml-5 p-1" >
    <vs-checkbox v-model="checkTypeProduct">
        {{type.NAME_PRODUCT_TYPE}}
    </vs-checkbox>
</li>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
    name: 'item-sub-type-product',
    props: {
        type: {
            required: true,
            type: Object
        },
        types: {
            required: true,
            type: Array
        }
    },
    data()
    {
        return {
            checkTypeProduct: false
        }
    },
    computed:{
        ...mapGetters(["reset_check_type_product"])
    },
    watch:
    {
        checkTypeProduct(boolean)
        {
            this.$store.commit("CHECK_TYPE_PRODUCT",{
                ID_PRODUCT_TYPE: this.type.ID_PRODUCT_TYPE,
                CHECK: boolean
            });
        },
        reset_check_type_product(boolean)
        {
            if(boolean == true)
            {
                this.$store.commit("CHECK_TYPE_PRODUCT",{
                    ID_PRODUCT_TYPE: this.type.ID_PRODUCT_TYPE,
                    CHECK: !boolean
                });
                this.checkTypeProduct = false
            }
        },
        types(new_types)
        {
            if(new_types.length > 0)
            {
                const IndexType = new_types.findIndex((type) => type.ID_PRODUCT_TYPE == this.type.ID_PRODUCT_TYPE);
                if(IndexType != -1) 
                {
                    this.checkTypeProduct = true
                }
            }
        }
    },
    created() {
        if(this.types.length > 0)
        {
            const IndexType = this.types.findIndex((type) => type.ID_PRODUCT_TYPE == this.type.ID_PRODUCT_TYPE);
            if(IndexType != -1) 
            {
                this.checkTypeProduct = true
            }
        }
    },

}
</script>