<template>
<li class="w-full p-1">
    <vs-checkbox v-model="checkTypeProduct">{{type_product.NAME_PRODUCT_TYPE}}</vs-checkbox>
    <ul class="menu-sub-type-product">
        <item-sub-type-product 
            v-for="(type,index) in type_product.child" 
            :key="index" 
            :type="type"
            :types="types" />
    </ul>
</li>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
    name: 'item-type-product',
    props: {
        type_product: {
            required: true,
            type: Object
        },
        types: {
            required: true,
            type: Array
        },
    },
    components:
    {
        'item-sub-type-product' : () => import('./itemSubTypeProduct.vue')
    },
    data()
    {
        return {
            checkTypeProduct: false
        }
    },
    computed:
    {
        ...mapGetters(["reset_check_type_product"])
    },  
    watch:
    {
        checkTypeProduct(boolean)
        {
            this.$store.commit("CHECK_TYPE_PRODUCT",{
                ID_PRODUCT_TYPE: this.type_product.ID_PRODUCT_TYPE,
                CHECK: boolean
            });
        },
        reset_check_type_product(boolean)
        {
            if(boolean)
            {
                this.$store.commit("CHECK_TYPE_PRODUCT",{
                    ID_PRODUCT_TYPE: this.type_product.ID_PRODUCT_TYPE,
                    CHECK: !boolean
                });
                this.checkTypeProduct = false
            }
        },
        types(new_types)
        {
            if(new_types.length > 0)
            {
                const IndexType = new_types.findIndex((type) => type.ID_PRODUCT_TYPE == this.type_product.ID_PRODUCT_TYPE);
                if(IndexType != -1) 
                {
                    this.checkTypeProduct = true
                }
            }
        },  
    },
    created() {
        if(this.types.length > 0)
        {
            const IndexType = this.types.findIndex((type) => type.ID_PRODUCT_TYPE == this.type_product.ID_PRODUCT_TYPE);
            if(IndexType != -1) 
            {
                this.checkTypeProduct = true
            }
        }
    },
}
</script>