<template>
  <vs-sidebar @keyup.esc="isSidebarActiveLocal = false" click-not-close position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
        <div class="mt-6 flex items-center justify-between px-6">
            <h4>{{ Object.entries(this.data).length === 0 ? "THÊM MỚI" : "CẬP NHẬT" }} LOẠI SẢN PHẨM</h4>
            <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
        </div>
        <vs-divider class="mb-0"></vs-divider>
        <VuePerfectScrollbar class="scroll-area--data-list-add-new" >
            <div class="w-full p-3">
                <label for="STORE" class="vs-input--label">CỬA HÀNG</label>
                <v-select class="w-full"
                    name="STORE"
                    :options="LIST_STORE"
                    label="TEN_CUA_HANG"
                    value="ID_CUA_HANG"
                    placeholder="Chọn cửa hàng"
                    :disabled="Object.entries(this.data) > 0"
                    v-model="selected_store"></v-select>
            </div>
            <div class="w-full p-3">
                <label for="TYPE_PRODUCT" class="vs-input--label">LOẠI SẢN phẩm</label>
                <v-select :options="LIST_TYPE_PRODUCT_LOCAL" class="w-full"
                        v-model="selected_type_product"
                        label="NAME_PRODUCT_TYPE"
                        value="ID_PRODUCT_TYPE"
                        name="TYPE_PRODUCT"
                        placeholder="Chọn loại sản phẩm"></v-select>
            </div>

            <vs-input v-model="type_product.NAME_PRODUCT_TYPE" class="w-full p-3"
                        name="NAME_PRODUCT_TYPE"
                        placeholder="Nhập tên loại sản phẩm"
                        v-validate="'required'" 
                        data-vv-validate-on="blur"></vs-input>
            <span  class="text-danger text-sm p-3" v-show="errors.has('NAME_PRODUCT_TYPE')">
                {{ errors.has('NAME_PRODUCT_TYPE') == true ? 'Chưa nhập tên loại sản phẩm ' : '' }}
            </span>

            <div class="w-full p-3">
                <vs-textarea  class="w-full" 
                v-model="type_product.DESCRIPTION_PRODUCT_TYPE" 
                height="100"
                placeholder="Nhập mô tả" label="MÔ TẢ"></vs-textarea>
            </div>
        </VuePerfectScrollbar>
        <div class="flex flex-wrap items-center p-6 layout-pc" slot="footer">
            <vs-button class="mr-6" @click="submitTypeProduct" :disabled="!isFormValid">{{Object.entries(this.data).length === 0 ? "THÊM MỚI": "CẬP NHẬT"}}</vs-button>
            <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">Cancel</vs-button>
        </div>
        
  </vs-sidebar>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import { mapGetters } from 'vuex';
import { VueEditor } from "vue2-editor";


export default {
    name: 'sidebar-action-type-product',
    components: {
        VuePerfectScrollbar,
    },
    props: {
        isSidebarActive: {
            required: true,
            type: Boolean
        },
        data: {
            required: true,
            type: Object
        }
    },
    data()
    {
        return {
           selected_store: null,
           selected_type_product: null,
           type_product: {
               NAME_PRODUCT_TYPE: '',
               PARENT_PRODUCT_TYPE: 0
           }
        }
    },  
    computed:
    {
        isSidebarActiveLocal: {
            get()
            {
                return this.isSidebarActive;
            },
            set(val)
            {
                this.$emit('close',val);
            }
        },
        isFormValid() {
            return !this.errors.any()
        },
        LIST_TYPE_PRODUCT_LOCAL()
        {
            if(this.selected_store != null)
            {
                return this.LIST_TYPE_PRODUCT.filter((value,index,array) => {
                    return array[index].ID_PRODUCT_TYPE != 1 && array[index].ID_CUA_HANG == this.selected_store.ID_CUA_HANG &&  array[index].ID_PRODUCT_TYPE != this.type_product.ID_PRODUCT_TYPE;
                });
            }
            else
            {
                return this.LIST_TYPE_PRODUCT.filter((value,index,array) => {
                    return array[index].ID_PRODUCT_TYPE != 1 &&  array[index].ID_PRODUCT_TYPE != this.type_product.ID_PRODUCT_TYPE;
                });
            }
        },
        ...mapGetters(["LIST_STORE", "LIST_TYPE_PRODUCT"])
    },
    watch:
    {
        isSidebarActiveLocal(boolean)
        {   
            if(!boolean) return;
            this.$validator.reset();
            if(Object.entries(this.data).length == 0)
            {
                this.initValue();
            }
            else
            {
                this.type_product = {...this.data};
                this.selected_store = this.LIST_STORE.find(store => store.ID_CUA_HANG == this.data.ID_CUA_HANG);
                if(this.data.PARENT_PRODUCT_TYPE != 0) this.selected_type_product = this.LIST_TYPE_PRODUCT.find(type => type.ID_PRODUCT_TYPE == this.data.PARENT_PRODUCT_TYPE);
                else this.selected_type_product = null

            }
        },
        selected_store(store)
        {
            if(store != null && Object.entries(this.data).length == 0)
            {
                this.type_product.ID_CUA_HANG = store.ID_CUA_HANG
                this.type_product.TEN_CUA_HANG = store.TEN_CUA_HANG
            }
        },
        selected_type_product(type)
        {
            if(type != null)
            {
                this.type_product.PARENT_PRODUCT_TYPE_OLD = this.type_product.PARENT_PRODUCT_TYPE;
                this.type_product.PARENT_PRODUCT_TYPE = type.ID_PRODUCT_TYPE 
            }
            else this.type_product.PARENT_PRODUCT_TYPE = 0;
        }
    },
    methods:{
        initValue(){
            this.selected_type_product = null;
            this.selected_store = null;
            this.type_product = {
                NAME_PRODUCT_TYPE: '',
                PARENT_PRODUCT_TYPE: 0
            }
        },
        submitTypeProduct()
        {
            if(Object.entries(this.data).length > 0)
            {
                this.apiUpdateTypeProduct()
            }
            else
            {
                if(this.selected_store != null)
                {
                    this.apiCreateTypeProduct();
                }
                else
                {
                    this.$vs.notify({
                        title: 'THÊM MỚI LOẠI SẢN PHẨM',
                        text: 'Chưa chọn cửa hàng',
                        color: 'warning'
                    });
                }
            }
        },
        apiCreateTypeProduct()
        {
            this.$vs.loading();
            this.$store.dispatch('createTypeProduct',this.type_product)
            .then((response) => {
                if(response.status == 401) this.$router.push('/logout');
                this.$vs.notify({
                    title: 'THÊM MỚI LOẠI SẢN PHẨM',
                    text: response.message,
                    color: response.success == true ? 'success' : 'warning'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
            .catch((err) => {
                console.log('err ', err)
                this.$vs.notify({
                    title: 'THÊM MỚI LOẠI SẢN PHẨM',
                    text: 'Lỗi! Xin vui lòng đăng xuất thử lại!',
                    color: response.success == true ? 'success' : 'warning'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);    
            })
        },
        apiUpdateTypeProduct()
        {
            this.$vs.loading();
            this.$store.dispatch('updateTypeProduct',this.type_product)
            .then((response) => {
                if(response.status == 401) this.$router.push('/logout');
                if(response.success == true) {
                    this.$store.commit('SET_TYPE_PRODUCT',[]);
                    this.$store.dispatch('fetchTypeProduct');
                }
                this.$vs.notify({
                    title: 'CẬP NHẬT LOẠI SẢN PHẨM',
                    text: response.message,
                    color: response.success == true ? 'success' : 'warning'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
            .catch((err) => {
                console.log('error ',err)
                this.$vs.notify({
                    title: 'CẬP NHẬT LOẠI SẢN PHẨM',
                    text: 'Lỗi! Xin vui lòng đăng xuất thử lại!',
                    color: 'danger'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
        }
            
    },
    created()
    {
        
    }
}
</script>

<style lang="scss" scoped>
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 100%;
    max-width: 40vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    height: calc(100% - 4.3rem);
}
.menu-type-product {max-height: 200px; overflow: hidden scroll;}
.background-product {background-size: cover;}
.background-product {position: absolute;top: 0;left: 0; width: 100%; height: 100%;z-index: 2;
    background-size: cover !important;}
.upload-product {cursor: pointer;}
.upload-product .icon-upload-cs>span {opacity: 0;}
.upload-product:hover .icon-upload-cs>span {opacity: 1;}
.group-action-image {position: absolute;z-index: 98;width: 100%;height: 100%;top: 0;left: 0;}
.upload-product:hover .group-action-image {background: #ffffff82;}

</style>