<template>

    <vs-sidebar click-not-close	position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
        
            <div class="mt-6 flex items-center justify-between px-6">
                <h4>{{ Object.entries(this.data).length === 0 ? "THÊM MỚI" : "CẬP NHẬT" }} SẢN PHẨM</h4>
                <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
            </div>
            <vs-divider class="mb-0"></vs-divider>
            <VuePerfectScrollbar class="scroll-area--data-list-add-new" >
                <form @keyup.esc="isSidebarActiveLocal = false">
                    <vs-row>
                        <vs-col vs-sm="12" vs-md="5" vs-lg="8" >
                                <vs-row>
                                    <div class="w-1/2 p-2">
                                        <label for="TEN_SAN_PHAM" class="vs-input--label">
                                            Tên sản phẩm <span class="text-danger">(*)</span>
                                        </label>
                                        <vs-input 
                                            name="TEN_SAN_PHAM"
                                            class="w-full" 
                                            placeholder="Nhập tên sản phẩm"
                                            v-validate="'required'" 
                                            data-vv-validate-on="blur"
                                            v-model="product.TEN_SAN_PHAM"></vs-input>
                                        <span  class="text-danger text-sm" v-show="errors.has('TEN_SAN_PHAM')">
                                            {{ errors.has('TEN_SAN_PHAM') == true ? 'Chưa nhập tên sản phẩm ' : '' }}
                                        </span>
                                    </div>
                                    <div class="w-1/2 p-2">
                                        <label for="MA_SAN_PHAM" class="vs-input--label">
                                            Mã sản phẩm <span class="text-danger">(*)</span>
                                        </label>
                                        <vs-input class="w-full"
                                            placeholder="Nhập mã sản phẩm"
                                            v-model="product.MA_SAN_PHAM"
                                            v-validate="'required|max:15'" 
                                            data-vv-validate-on="blur"
                                            name="MA_SAN_PHAM"
                                            @blur="checkCode"
                                            :disabled="Object.entries(this.data) == 0 ? false : true"
                                            ></vs-input>
                                        <span  class="text-danger text-sm" v-show="errors.has('MA_SAN_PHAM')">
                                            {{ errors.has('MA_SAN_PHAM') == true ? 'Chưa nhập mã sản phẩm ' : '' }}
                                        </span>
                                        <span  class="text-danger text-sm" v-show="product.CODE == false && product.MA_SAN_PHAM != ''">
                                            Mã sản phẩm đã được sử dụng
                                        </span>
                                    </div>
                                    <div class="vx-col lg:w-1/2 w-1/2 p-2 group-money" >
                                        <vs-input class="w-full"
                                            label="GIÁ SẢN PHẨM"
                                            name="GIA_SAN_PHAM"
                                            v-model="GIA_SAN_PHAM_LOCAL">
                                            </vs-input>
                                        <vs-input class="w-full top"
                                            v-validate="'required|min_value:1000|numeric'" 
                                            label="GIÁ SẢN PHẨM"
                                            data-vv-validate-on="blur"
                                            name="GIA_SAN_PHAM"
                                            placeholder="Nhập giá sản phẩm"
                                            v-model="product.GIA_SAN_PHAM">
                                            </vs-input>
                                        <span  class="text-danger text-sm" v-show="errors.has('GIA_SAN_PHAM')">
                                            {{ errors.has('GIA_SAN_PHAM') == true ? 'Chưa nhập giá sản phẩm ' : '' }}
                                        </span>
                                    </div>

                                    <div class="lg:w-1/2 w-1/2 p-2" v-if="Object.entries(this.data).length == 0">
                                        <vs-input class="w-full"
                                            type="number"
                                            label="SỐ LƯỢNG SẢN PHẨM"
                                            name="SO_LUONG"
                                            :disabled="Object.entries(this.data).length > 0"
                                            v-model="product.SO_LUONG">
                                        </vs-input>
                                    </div>

                                    <div class="lg:w-1/4  md:w-1/2 w-1/4 p-2" v-if="Object.entries(this.data).length > 0">
                                        <vs-input class="w-full"
                                            type="number"
                                            label="SỐ LƯỢNG SẢN PHẨM"
                                            name="SO_LUONG"
                                            :disabled="Object.entries(this.data).length > 0"
                                            v-model="product.SO_LUONG">
                                        </vs-input>
                                    </div>

                                    <div class="lg:w-1/4 md:w-1/2 w-full p-2" v-if="Object.entries(this.data).length > 0">
                                        <vs-input class="w-full"
                                            type="number"
                                            label="CẬP NHẬT SỐ LƯỢNG"
                                            name="SO_LUONG"
                                            v-validate="'required|min_value:0'"
                                            data-vv-validate-on="blur"
                                            v-model="product.SO_LUONG_UPDATE">
                                        </vs-input>
                                    </div>

                                    <div class="w-full p-2">
                                        <label for="NOI_DUNG_SAN_PHAM" class="vs-input--label">NỘI DUNG SẢN PHẨM</label>
                                        <vue-editor name="NOI_DUNG_SAN_PHAM" 
                                            class="content-product" 
                                            v-model="product.NOI_DUNG_SAN_PHAM"></vue-editor>
                                    </div>

                                    <div class="w-full p-2">
                                        <vs-textarea  class="w-full" 
                                        v-model="product.MO_TA_SAN_PHAM" 
                                        height="100"
                                        placeholder="Nhập mô tả" label="MÔ TẢ"></vs-textarea>
                                    </div>
                                </vs-row>

                        </vs-col>
                        <vs-col vs-sm="12" vs-md="5" vs-lg="4">
                            <div class="w-full p-2">
                                    <label for="STORE" class="vs-input--label">CỬA HÀNG</label>
                                    <v-select class="w-full"
                                        :options="LIST_STORE"
                                        placeholder="Chọn cửa hàng"
                                        value="ID_CUA_HANG"
                                        label="TEN_CUA_HANG"
                                        v-model="selected_store">

                                    </v-select>
                            </div>
                            <div class="p-2 w-full">
                                    <label for="LOAI_SAN_PHAM" class="vs-input--label">Loại sản phẩm <span class="text-danger">(*)</span></label>
                                    <p  class="text-danger text-center" v-if="selected_store == null">Bạn chưa chọn cửa hàng</p>
                                    <ul class="menu-type-product p-3">
                                        <item-type-product 
                                            v-for="(type_product,index) in LIST_TYPE_PRODUCT_LOCAL" 
                                            :key="index"
                                            :type_product="type_product"
                                            :types="LIST_TYPE_OF_PRODUCT_LOCAL"
                                            :autocheck="autocheck"
                                            @update="reset = $event"/>
                                    </ul>
                                    <div class="form-type-product" v-if="add_type_product == true" >
                                        <form-type-product :selected_store="selected_store" />
                                    </div>
                                    <span class="text-hover" align="center" style="display:block; text-align:center" @click="add_type_product = !add_type_product">{{add_type_product == false ? 'Thêm mới loại sản phẩm' : 'Đóng thêm mới'}}</span>
                            </div>
                            <div class="w-full p-2">
                                    <label for="IAMGE_PRODUCT" class="vs-input--label">HÌNH ẢNH SẢN PHẨM</label>
                                    <div class="upload-product p-3">
                                        <div class="banner-product"  >
                                            <div class="background-product" v-if="Object.entries(selected_media).length > 0" 
                                                :style="{ 'background': 'url(' + selected_media.FULL_URL + ')' }"> 

                                            </div>
                                            <div class="group-action-image">
                                                <div class="icon-upload-cs ">
                                                    <span class="text-hover p-3" 
                                                        @click="deleteImageProduct" 
                                                        v-if="Object.entries(selected_media).length > 0" >
                                                            <i class="fa fa-trash fa-2x"></i>
                                                    </span>
                                                    <span class="text-hover p-3" @click="openMedia"><i class="fa fa-upload fa-2x"></i></span>
                                                </div>    
                                            </div>     
                                            
                                        </div>
                                    </div>
                            </div>
                        </vs-col>
                    </vs-row>
                </form>
            </VuePerfectScrollbar>
            <div class="flex flex-wrap items-center p-6" slot="footer">
                <vs-button class="mr-6" @click="submitProduct" :disabled="!isFormValid">{{Object.entries(this.data).length === 0 ? "THÊM MỚI": "CẬP NHẬT"}}</vs-button>
                <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">Cancel</vs-button>
            </div>
        
        
  </vs-sidebar>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import { mapGetters } from 'vuex';
import { VueEditor } from "vue2-editor";


export default {
    name: 'sidebar-action-account-store',
    components: {
        VuePerfectScrollbar,
        VueEditor,
        'form-type-product' : () => import('./formTypeProduct.vue'),
        'item-type-product' : () => import('./itemTypeProduct.vue'),
    },
    props: {
        isSidebarActive: {
            required: true,
            type: Boolean
        },
        data: {
            required: true,
            type: Object
        }
    },
    data()
    {
        return {
            product: {
                TEN_SAN_PHAM: '',
                MA_SAN_PHAM: '',
                SO_LUONG: 0,
                MO_TA_SAN_PHAM: ''
            },
            selected_media: {},
            add_type_product: false,
            selected_store: null,
            reset: false,
            autocheck: false
        }
    },  
    computed:
    {
        isSidebarActiveLocal: {
            get()
            {
                return this.isSidebarActive;
            },
            set(val)
            {
                this.autocheck = false;
                this.$emit('close',val);
            }
        },
        isFormValid() {
            return !this.errors.any()
        },

        LIST_TYPE_PRODUCT_LOCAL()
        {
            if(this.selected_store != null) return this.LIST_TYPE_PRODUCT.filter((value,index,array) => {
                    return array[index].ID_CUA_HANG == this.selected_store.ID_CUA_HANG
                });
            else return [];
        },
        GIA_SAN_PHAM_LOCAL: {
            get()
            {
                return this.formatToCurrency(this.product.GIA_SAN_PHAM);
            },
        },
        LIST_TYPE_OF_PRODUCT_LOCAL: {
            get()
            {
                if(Object.entries(this.data).length == 0) return [];
                return this.data.types;
            }
        },
        ...mapGetters(["LIST_MEDIA", "LIST_TYPE_PRODUCT", "LIST_STORE", "CHECK_TYPE_PRODUCT", "media_result", "open_close_sidebar"])
      
    },
    watch:
    {
        isSidebarActiveLocal(boolean)
        {   
            if(!boolean) return;
            this.$validator.reset();
            this.apiFetchTypeProduct();
            if(Object.entries(this.data).length == 0)
            {
                this.initValue();
            }
            else
            {
                this.autocheck = false
                this.$store.commit("EMPTY_MEDIA_SINGLE",{});
                this.$store.commit("RESET_CHECK_TYPE_PRODUCT",true);
                this.product = {...this.data}
                this.selected_store = this.LIST_STORE.filter((value,index,array) => { 
                        return array[index].ID_CUA_HANG == this.product.ID_CUA_HANG
                })[0]
                this.product.CODE = true;
                this.product.SO_LUONG_UPDATE = 0;
                this.selected_media = {
                    ID_MEDIA: 0,
                    URL_MEDIA: this.product.HINH_ANH_DAI_DIEN,
                    FULL_URL: this.product.FULL_URL
                }
            }
        },
        selected_store(store)
        {
            if(store != null)
            {
                this.product.ID_CUA_HANG = store.ID_CUA_HANG;
                this.product.TEN_CUA_HANG = store.TEN_CUA_HANG;
                if(this.product.MA_SAN_PHAM != '' && this.product.MA_SAN_PHAM != undefined)
                {
                    this.checkCode();
                }
            }
        },
        CHECK_TYPE_PRODUCT(list)
        {
            if(list.length == 0)
            {
                this.$store.commit("RESET_CHECK_TYPE_PRODUCT",false);
            }
        },
        open_close_sidebar(new_boolean)
        {
            if(new_boolean== false)
            {
               
                if(this.media_result.length > 0)
                {
                    this.selected_media = new_media[0];
                    this.$store.commit("SET_MEDIA_RESULT",[]);
                }
            }
        }
    },
    methods:{
        initValue(){
            this.$validator.reset();
            this.product = {
                MA_SAN_PHAM: '',
                HINH_ANH_DAI_DIEN: '',
                MO_TA_SAN_PHAM: '',
                SO_LUONG: 0,
                SO_LUONG_UPDATE: 0,
                CODE: false,
                NOI_DUNG_SAN_PHAM: ''
            }
            this.selected_media = {}
            this.selected_store = this.LIST_STORE.length > 0 ? this.LIST_STORE[0] : null;
            this.product.ID_CUA_HANG = this.selected_store == null ? 0 : this.selected_store.ID_CUA_HANG;
            this.product.TEN_CUA_HANG = this.selected_store == null ? '' : this.selected_store.TEN_CUA_HANG;
            this.autocheck = true
        },
        submitProduct()
        {
            if(Object.entries(this.data).length == 0)
            {
                this.apiCreateProduct();
            }
            else
            {
                if(this.isFormValid && this.selected_store != null && this.product.CODE == true)
                {
                    this.apiUpdateProduct();
                }
                else
                {
                    this.$vs.loading();
                    this.$vs.notify({
                        title: 'CẬP NHẬT SẢN PHẨM',
                        text: this.selected_store == null ? 'Chưa chọn cửa hàng' : (this.product.CODE == false ? 'Mã sản phẩm đã được sử dụng' : 'Thông tin chưa nhập đầy đủ')
                    });
                    setTimeout(() => {
                        this.$vs.loading.close();
                    }, 500);
                }
            }
        },
        apiCreateProduct()
        {
            this.$vs.loading();
            if(this.isFormValid && this.selected_store != null && this.product.CODE == true)
            {
                this.product.HINH_ANH_DAI_DIEN = Object.entries(this.selected_media).length == 0 ? '' : this.selected_media.FULL_URL;
                this.$store.dispatch('createProduct',this.product)
                .then((response) => {
                    if(response.success == false)
                    {
                        if(response.status == 401) this.$router.push('/logout')
                    }
                    else
                    {
                        this.initValue();
                        this.$store.commit("RESET_CHECK_TYPE_PRODUCT",true);
                    }
                    this.$vs.notify({
                        title: 'TẠO MỚI SẢN PHẨM',
                        text: response.message,
                        color: response.success == true ? 'success' : 'warning'
                    });
                    setTimeout(() => {
                        this.$vs.loading.close();
                    }, 500);
                })
                .catch((err) => {
                    this.$vs.notify({
                        title: 'TẠO MỚI SẢN PHẨM',
                        text: 'Lỗi! Xin vui lòng đăng xuất thử lại!',
                        color: 'danger'
                    });
                    setTimeout(() => {
                        this.$vs.loading.close();
                    }, 500);
                })
            }
            else
            {
                this.$vs.notify({
                    title: 'TẠO MỚI SẢN PHẨM',
                    text: this.selected_store == null ? 'Bạn chưa chọn cửa hàng ': (this.product.CODE == false ? 'Mã sản phẩm đã được sử dụng' : 'Thông tin chưa đầy đủ'),
                    color: 'warning'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            }
        },
        apiUpdateProduct()
        {
            this.$vs.loading();
            this.product.HINH_ANH_DAI_DIEN = Object.entries(this.selected_media).length == 0 ? '' : this.selected_media.FULL_URL;
            this.$store.dispatch('updateProduct',this.product)
            .then((response) => {
                this.$vs.notify({
                    title: 'CẬP NHẬT SẢN PHẨM',
                    text: response.message,
                    color: response.success == true ? 'success' : 'warning'
                });
                if(response.status == 401) this.$router.push('/logout');
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
            .catch((err) => {
                this.$vs.notify({
                    title: 'CẬP NHẬT SẢN PHẨM',
                    text: 'Lỗi! Xin vui lòng đăng xuất thử lại!',
                    color: 'danger'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
        },
        uploadProduct(e)
        {

        },
        openMedia()
        {
            this.$store.commit('UPDATE_SIDEBAR',true);
            this.$store.commit('SINGLE_IAMGE',true);
        },
        deleteImageProduct()
        {
            this.$vs.loading();
            this.selected_media = {}
            this.$store.commit('EMPTY_MEDIA_SINGLE', null)
            // this.openMedia();
            setTimeout(() => {
                this.$vs.loading.close();
            }, 500);
        },
        apiCreateTypeProduct()
        {
            
        },
        apiFetchTypeProduct()
        {
            if(this.LIST_TYPE_PRODUCT.length == 0)
            {
                this.$vs.loading();
                this.$store.dispatch('fetchTypeProduct')
                .then((response) => {
                    if(response.success == false)
                    {
                        this.$vs.notify({
                            title: 'DANH SÁCH LOẠI SẢN PHẨM',
                            text: response.message,
                            color: 'warning'
                        });
                        if(response.status == 401)
                        {
                            this.$router.push('/logout');
                        }
                    }
                    setTimeout(() => {
                        this.$vs.loading.close();
                    }, 500);
                })
                .catch((err) => {
                    this.$vs.notify({
                        title: 'DANH SÁCH LOẠI SẢN PHẨM',
                        text: 'Lỗi! Xin vui lòng đăng xuất thử lại!',
                        color: 'danger'
                    });
                    setTimeout(() => {
                        this.$vs.loading.close();
                    }, 500);
                })
            }
            
        },
        checkCode()
        {
            if(this.selected_store != null && this.product.MA_SAN_PHAM != '' && this.product.MA_SAN_PHAM != undefined)
            {
                if(Object.entries(this.data).length == 0)
                {
                    this.$vs.loading();
                    this.$store.dispatch('checkCodeProduct',{
                        MA_SAN_PHAM: this.product.MA_SAN_PHAM,
                        ID_CUA_HANG: this.selected_store.ID_CUA_HANG
                    })
                    .then((response) => {
                        this.$vs.notify({
                            title: 'KIỂM TRA MÃ SẢN PHẨM',
                            text: response.message,
                            color: response.success == true ? 'success' : 'warning'
                        });
                        this.product.CODE = response.success
                        if(response.status == 401) this.$router.push('/logout');
                        setTimeout(() => {
                            this.$vs.loading.close();
                        }, 500);
                    })
                    .catch((err) => {
                        this.$vs.notify({
                            title: 'KIỂM TRA MÃ SẢN PHẨM',
                            text: 'Lỗi! Xin vui lòng đăng xuất thử lại!',
                            color: 'danger'
                        });
                        setTimeout(() => {
                            this.$vs.loading.close();
                        }, 500);
                    })
                }
            }
            else
            {
                this.$vs.loading();
                this.$vs.notify({
                    title: 'KIỂM TRA MÃ SẢN PHẨM',
                    text: 'Bạn chưa chọn cửa hàng',
                    color: 'warning'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            }
        },
        formatToCurrency(number){
            if(number == undefined) return 0;
            return  (number).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        }
    },
    created()
    {
        
    }
}
</script>

<style lang="scss" scoped>
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 100%;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    height: calc(100% - 4.3rem);
}
.menu-type-product {max-height: 200px; overflow: hidden scroll;}
.background-product {background-size: cover;}
.background-product {position: absolute;top: 0;left: 0; width: 100%; height: 100%;z-index: 2;
    background-size: cover !important;}
.upload-product {cursor: pointer;}
.upload-product .icon-upload-cs>span {opacity: 0;}
.upload-product:hover .icon-upload-cs>span {opacity: 1;}
.group-action-image {position: absolute;z-index: 98;width: 100%;height: 100%;top: 0;left: 0;}
.upload-product:hover .group-action-image {background: #ffffff82;}

</style>