.card-image-customer {
    width: 150px;
    height: 200px;
    margin: auto;
    margin-bottom: 15px;
    position: relative;
  }
  .input-file, .Imagecustomer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
  }
  .Imagecustomer {z-index: 998;opacity: 1;height: auto;}
  .icon-upload-file {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 997;
    transform: translate(-50%,-50%)
  }
  .add-new-data-sidebar {
    ::v-deep .vs-sidebar--background {
      z-index: 52010;
    }
  
    ::v-deep .vs-sidebar {
      z-index: 52010;
      width: 600px;
      max-width: 90vw;
  
      .img-upload {
        margin-top: 2rem;
  
        .con-img-upload {
          padding: 0;
        }
  
        .con-input-upload {
          width: 100%;
          margin: 0;
        }
      }
    }
  }
  
  .scroll-area--data-list-add-new {
      height: calc(100% - 4.3rem);
  }
.card-bill {position: relative;}
.btn-file {position: absolute;top: 5px; right: 5px;display: none;cursor: pointer;}
.card-bill:hover .btn-file {display: block;}
@media(max-width: 956px)
{
  .btn-file {display: block;}
}