.contact-section .contact-info p a {
    color: #1a1a1a; }
  
  .contact-section .box {
    width: 100%;
    display: block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px; }
    @media (max-width: 991.98px) {
      .contact-section .box {
        margin-bottom: 30px; } }
    .contact-section .box .icon {
      width: 100px;
      height: 100px;
      background: #17b978;
      margin: 0 auto;
      margin-bottom: 10px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
      .contact-section .box .icon span {
        color: #fff;
        font-size: 30px; }
    .contact-section .box h3 {
      font-size: 18px;
      font-weight: 600; }
  
  .contact-section .contact-form {
    width: 100%; }
  
  .contact-section .img {
    width: 100%;
    background-position: top center; }
    @media (max-width: 991.98px) {
      .contact-section .img {
        height: 500px; } }
  
  .contact-section .contact-info p a {
    color: #17b978; }
  
  .contact-section .contact-form {
    width: 100%; }
    @media (max-width: 767.98px) {
      .contact-section .contact-form .btn-primary {
        display: block;
        width: 100%; } }
  .align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important; }
.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important; }
    
.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.d-inline-flex {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important; }