.avatar {margin: auto;text-align: center;}
.lb_customer {margin-right: 10px;font-weight: bold;text-transform: uppercase;}
.item-info label {width: 45%;}
.item-info {display: flex}
.title-content label{font-weight: bold;text-transform: uppercase;}
.title-content {margin-bottom: 10px;}
#table-bill {background: transparent;width: 100%;}
.birthday {opacity: 0;margin-left: 5px;}
.birthday.active {opacity: 1;}