#banner-marketting, .banner-product {
    width: 100%;
    min-height: 300px;
    background: #f2f2f2f2;
    position: relative;
}
#banner-marketting::after, .banner-product::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 70px;
    height: 70px;
    border-top: 5px solid #fff;
    border-left: 5px solid #fff;
    z-index: 99;
}
.p-6 {padding-top: 5px !important; padding-bottom: 5px !important;}

#banner-marketting::before, .banner-product::before {
    content: '';
    position: absolute;
    bottom: 10px;
    right:  10px;
    width: 70px;
    height: 70px;
    border-right: 5px solid #fff;
    border-bottom: 5px solid #fff;
    z-index: 999;
}
.banner-product,.group-action-image {min-height: 250px;position: relative;}
.icon-upload-cs{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);z-index: 3;}
#banner-marketting input, .banner-product input {position: absolute;width: 100%;height: 100%;z-index: 999;opacity: 0;cursor: pointer;}
.banner-marketting {width:  100%;height: auto;min-height: 250px; max-height: 300px;}
.content-marketting {background: #fff;;}
.btn-close-open {margin-right: 15px; cursor: pointer;}
.btn-close-open {padding: 5px;background: transparent;outline: none;box-shadow: none;border: none;}
.info.product,.info.marketting {transition: max-height 0.2s ease-out; max-height: 0;display: none}
.info.product.active,.info.marketting.active {max-height: unset; display: block;}
