.btn.btn-action {
    padding: 7px;
    margin: 3px;
    background: transparent;
    color: #333;
    border: none;
    cursor: pointer;
}
.pl-0 {padding-left: 0 !important;}
.content-area__heading h2{font-size: 18px !important;text-transform: uppercase;}

.promt-reset {position: absolute;z-index: 999999;top: 50%;left: 50%;transform: translate(-50%,-50%);background: #fff;padding: 15px;;}
.background-dialog-reset.active {display: block;}
.background-dialog-reset {
    display: none;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #f2f2f2a3;
    z-index: 9999999;
    left: 0;
}
.dialog-reset {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 
  .dialog-reset  {
    width: 400px;
    height: 350px;
    background: white;
    border-radius: 3px;
    transition: 0.3s ease-in;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4);
  }
  .header {
    padding: 15px ;
    background: #0ba7d5;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  }
  .header h2 {
    color: white;
   
    font-weight: normal;
    font-size: 18px;;
  }
  .dialog-reset .content {padding: 15px;;}
  .dialog-reset ul {margin-left: 15px;margin-top: 15px;;}
  .dialog-reset ul li {list-style: decimal;padding: 7px;;}
  .close-btn {
    position: absolute;
    bottom: 3px;
    right: 10px;
  }
  .close-btn  button {
    cursor: pointer;
    padding: 8px 10px;
    font-size: 18px;
    margin: 10px;;

  }

  .line {
    position: absolute;
    bottom: 65px;
    width: 100%;
    height: 1px;
    background: silver;
  }
  .mt-10 {margin-top: 10px !important;}
  .mb-10 {margin-bottom: 10px;}
  #table-ecosy table.vs-table--tbody-table  tr:nth-child(even){background-color: #f2f2f2;}
  .pd-3 {padding: 3px;}
  .btn-add {padding: 5px;background: transparent;border: none;cursor: pointer;}
  .group-btn-add {height: 40px;line-height: 35px; }
  .mt-0 {margin-top: 0 !important;}
  .add-product-mobile {display: none;}
  @media(max-width: 900px)
  {
    .add-product-mobile {display: block;}
  }
  .section-bill {position: relative;}
  .banner_status {
      padding: 0 15px 0 50px;
      min-width: 100px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      background: #f1f9f9;
      border-radius:  0 5px 5px 0;
      /* border: 1px solid #e2e2e2; */
    }
    .banner_status::before {
      content: '';
      position: absolute;
    }
    .banner_status::after {
      content: '';
      position: absolute;
      /* width: 20px; */
      /* height: 20px; */
      top: 0;
      left: 0;
      /* background: #fff; */
      border: 20px solid transparent;
      border-color: #f8f8f8 transparent transparent #f8f8f8;
      z-index: 99;
    }
.card__info_item {
  width: 100%;
  margin-bottom: 5px;
  color: #444;
}

.card__info_item span:first-child {
  font-weight: 700;
}
.card__info_item span.active {text-decoration: line-through;}
.pd15 {padding: 15px;}
.action-hover {cursor: pointer;}
.action-hover:hover {color: blue;}
.w100 {width: 100px !important; max-width: 100px;;}
.h100 {height: 100px !important; max-height: 100px;min-height: unset !important;}
.w-20 {width: 20%;}
.position {position: absolute;z-index: 999;}
.position-relative {position: relative;}
.top-right {top: 0;right: 0;}

#dark .vs-icon {color: #FFFF !important;}
.bg-white {background: #fff;;}
.border-rd {border-radius: 5px;}
.text-hover {cursor: pointer;}
.text-hover:hover {color: blue;}

.group-money {position: relative;}
.group-money .top {position: absolute;width: calc(100% - 1rem) !important; top: 0.5rem; left: 0.5rem;
    opacity: 0}