.fuelux .wizard ul li.active {
    color: #21436b !important;
    background: #f1f6fc;
}
.fuelux .wizard ul li:first-child {
    padding-left: 20px;
    border-radius: 4px 0 0 4px;
}
.fuelux .wizard ul li {
    position: relative;
    float: left;
    height: 46px;
    padding: 0 20px 0 30px;
    margin: 0;
    font-size: 13px;
    line-height: 46px;
    color: #999;
    cursor: default;
    background: #ededed;
}

.fuelux .wizard ul li .chevron {
    border-top-width: 20px;
    border-bottom-width: 20px;
    border-left-width: 12px;
    border-right-width: 12px;
    position: absolute;
    top: 0;
    right: -15px;
    z-index: 1;
    display: block;
    border: 24px solid transparent;
    border-right: 0;
    border-left: 14px solid #d4d4d4;
}

.fuelux .wizard ul.steps li.active .chevron:before {
    border-right-color: #f1f6fc;
    border-left: 14px solid #f1f6fc;
}

.fuelux .wizard ul.steps li .chevron:before {
    position: absolute;
    top: -24px;
    right: 1px;
    display: block;
    border: 24px solid transparent;
    border-right: 0;
    
    border-left: 14px solid #ededed;
    content: "";
    z-index: 999;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}
.steps li {cursor: pointer;}
.badge-info {margin-right: 10px;}
.fuelux .wizard {
    position: relative;
    overflow: hidden;
    background-color: #f9f9f9;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *zoom: 1;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
}
.data-menu {width: 100%;}
.data-menu>li {display: inline-block;padding: 5px;}
li.name {width: 40%;cursor: pointer;}
li.name>span {cursor: pointer;}
li.name:hover, li.name>span:hover {color: blue;}
li.desc {
    width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
li.stt {width: 10%;text-align: center;}
li.chose {width: 10%;text-align: left;}
.chose>* {
    display: inline-block;
    vertical-align: middle;
    }
.chose>button {cursor: pointer;}