<template>
    <div id="setting-notify-birthday">
        <div class="vx-row p-4">
            <div class="sm:w-1/2 md:w-2/3 xl: lg:w-1/3 xl:w-1/3 w-1/2 pb-2">
                <v-select
                   
                     class="w-full" :options="LIST_SETTING" v-model="selected_setting"
                    label="NAME_SETTING" value="ID_SETTING" placeholder="Chọn loại thông báo"></v-select>
            </div>
            
            <div class="sm:w-1/2 md:w-1/3 lg:w-1/3 xl:w-1/4 w-1/2 pl-2 pb-2">
                <v-select class="w-full" :options="LIST_STORE" v-model="selected_store"
                label="TEN_CUA_HANG" value="ID_CUA_HANG" placeholder="Chọn cửa hàng"></v-select>
            </div>

            <div class="sm:w-2/3 md:w-2/3 lg:w-1/3 xl:w-1/3 w-2/3 lg:pl-2 md:pl-2 group-setting-notify" :class="{'active' : active_select_list }" >
                <v-select
                     class="w-full" :options="LIST_SETTING_NOTIFY" v-model="selected_setting_notify"
                    label="TITLE_NOTIFY" value="ID_SETTING_NOTIFY" placeholder="Chọn thông báo theo cài đặt"></v-select>
            </div>

        </div>
        <div class="form-setting-notify-birthday bg-white mt-2">
            <div class="w-full p-3">
                <label for="TITLE_NOTIFY" class="vs-input--label">Tiêu đề thông báo <span class="text-danger">(*)</span></label>
                <vs-input name="TITLE_NOTIFY" v-model="notify.TITLE_NOTIFY" class="w-full" placeholder="Nhập tiêu đề thông báo"></vs-input>
            </div>
            
            <div class="p-3 label-setting" v-if="selected_setting != null && selected_setting.ID_SETTING == 1">
                <label class="text-hover vs-input--label" @click="active_group_time = !active_group_time">
                    Cài đặt thông báo 
                    <i class="fa" :class="active_group_time == true ? 'fa-angle-down' : 'fa-angle-up'" aria-hidden="true"></i>
                </label>
                <br />
            </div>
            
            <div class="p-3 group-time-setting"  :class="{'active' : active_group_time }" v-if="selected_setting != null && selected_setting.ID_SETTING == 1">
                
                <label for="date" class="vs-input--label">Chọn thứ</label>
                <div class="group-time-date vx-row p-4 pt-1">   
                    <vs-checkbox :disabled="disabled_date" class="w-90" v-model="selected_date" v-for="(item, index) in date" :key="index" 
                        :vs-value="item.value" :value="`${item.value}`">
                        {{item.name}}
                    </vs-checkbox>
                </div>

                <label for="date" class="vs-input--label">Chọn ngày</label>
                <div class="group-time-day vx-row p-4 pt-1">  
                    <vs-checkbox :disabled="disabled_day" class="w-90" v-model="selected_day" v-for="(item, index) in day" :key="index" 
                        :vs-value="item.value" :value="`${item.value}`">
                        <span v-html="item.name"></span>
                    </vs-checkbox> 
                </div>

                <label for="date" class="vs-input--label ">Chọn tháng</label>
                <div class="group-time-month vx-row p-4 pt-1">  
                    <vs-checkbox class="w-90" v-model="selected_month" v-for="(item, index) in month" :key="index" 
                        :vs-value="item.value" :value="`${item.value}`">
                        {{item.name}}
                    </vs-checkbox> 
                </div>
                
                <label for="date" class="vs-input--label ">Chọn khách hàng <span class="text-danger">(*)</span></label>
                <!-- {{selected_customers_uuid}} -->
                <table-customer @UPDATE_SELECTED_CUSTOMER="selected_customers = $event"
                    :selected_customers_uuid="selected_customers_uuid" />
            </div>


            <div class="w-full p-3">
                <label for="CONTENT_NOTIFY" class="vs-input--label">Nội dung thông báo <span class="text-danger">(*)</span></label>
                <vs-textarea name="CONTENT_NOTIFY" class="w-full" v-model="notify.CONTENT_NOTIFY" height="100px">

                </vs-textarea>
            </div>
            <div class="p-3">
                <vs-button type="border" @click="submitSettingNotify();">{{Object.entries(this.SETTING_NOTIFY).length == 0 ? 'Thêm mới' : 'Cập nhật'}}</vs-button>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import date from './date.js'
import day from './day.js'
import month from './month.js'
export default {
    components:
    {
        'table-customer' : () => import('./tableCustomer.vue')
    },
    computed: {
        ...mapGetters(["LIST_STORE","SETTING_NOTIFY", "LIST_SETTING_NOTIFY"]),
        disabled_date()
        {
            if(this.selected_day.length > 0)
            {
                return true;
            }
            return false;
        },
        disabled_day()
        {
            if(this.selected_date.length > 0)
            {
                return true;
            }
            return false;
        },
        selected_customers_uuid()
        {
            
            if(this.selected_customers.length > 0)
            {
                let result = this.selected_customers.map(c => c.UUID_KH);
                return result;
            }
            else return [];
            
        },
        active_select_list()
        {
            if(this.selected_setting != null && this.selected_setting.ID_SETTING == 1) return true;
            return false;
            
        }
    },
    data()
    {
        return {
            selected_store: null,
            date: date,
            day: day,
            month: month,
            LIST_SETTING: [
                {
                    ID_SETTING: 0,
                    NAME_SETTING: 'Thông báo sinh nhật'
                },
                {
                    ID_SETTING: 1,
                    NAME_SETTING: 'Thông báo theo cài đặt'
                }
            ],
            selected_setting: null,
            selected_setting_notify: null,
            selected_date: [],
            selected_day: [],
            selected_month: [],
            active_group_time: false,
            selected_customers: [],
            notify: {}
        }
    },
    watch: {
        
        selected_setting(setting)
        {
            if(setting != null)
            {
                if(this.selected_store != null)
                {
                    this.fetchSettingNotifyBirthday({
                        ID_SETTING: setting.ID_SETTING,
                        ID_CUA_HANG: this.selected_store.ID_CUA_HANG
                    });
                    if(setting.ID_CUA_SETTING == 1)
                    {
                        this.fetchCustomer(this.selected_store.ID_CUA_HANG);
                    }
                }
                else
                {
                    this.$store.commit("SET_SETTING_NOTIFY",{})
                }
            }
            else
            {
                this.$store.commit("SET_SETTING_NOTIFY",{})
            }
        },
        selected_store(store)
        {
            if(store != null)
            {
                if(this.selected_setting != null)
                {
                    this.fetchSettingNotifyBirthday({
                        ID_SETTING: this.selected_setting.ID_SETTING,
                        ID_CUA_HANG: store.ID_CUA_HANG
                    });
                    if(this.selected_setting.ID_SETTING == 1)
                    {
                        this.fetchCustomer(store.ID_CUA_HANG)
                    }
                }
                else
                {
                    this.$store.commit("SET_SETTING_NOTIFY",{})
                }
            }
            else
            {
                this.$store.commit("SET_SETTING_NOTIFY",{})
            }
        },
        SETTING_NOTIFY(setting)
        {
            this.notify = {...setting};
            if(Object.entries(setting).length > 0)
            {
                if(setting.TYPE_NOTIFY == 1)
                {
                    let info_time = JSON.parse(setting.INFO_TIME);
                    this.selected_date = info_time.date;
                    this.selected_day = info_time.day;
                    this.selected_month = info_time.month;
                    // this.selected_customers_uuid = info_time.list_kh;
                }
            }
            else
            {
                this.intiSetting();
            }
        },
        selected_setting_notify(setting_notify)
        {
            // console.log(setting_notify)
            this.$store.commit("SET_SETTING_NOTIFY",setting_notify);
        }
    },
    methods: {
        intiSetting()
        {
            this.selected_day = this.selected_date = this.selected_month = []
        },
        fetchCustomer(ID_CUA_HANG)
        {
            this.$vs.loading();
            this.$store.dispatch('fetchCustomerByIDCH',ID_CUA_HANG)
            .then((response) => {
                this.$vs.notify({
                    title: 'DANH SÁCH KHÁCH HÀNG',
                    text: response.message,
                    color: response.success == true ? 'success' : 'warning'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
            .catch((err) => {
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
        },
        fetchSettingNotifyBirthday(data)
        {
            this.$vs.loading();
            this.selected_setting_notify = null;
            this.$store.commit("SET_SETTING_NOTIFY", {});
            this.$store.dispatch('fetchSettingNotifyBirthday',data)
            .then((response) => {
                this.$vs.notify({
                    title: 'CÀI ĐẶT THÔNG BÁO SINH NHẬT',
                    text: response.message,
                    color: response.success == true ? 'success' : 'warning'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
            .catch((err) => {
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
        },
        submitSettingNotify()
        {
            console.log('submit',Object.entries(this.SETTING_NOTIFY).length)
            if(Object.entries(this.SETTING_NOTIFY).length == 0)
            {
                this.apiCreateNotifySetting();
            }
            else
            {
                this.apiUpdateNotifySetting();
            }
        },
        apiCreateNotifySetting()
        {
            
            if(this.selected_setting == null)
            {
                this.$vs.notify({
                    title: 'CÀI ĐẶT THÔNG BÁO',
                    text: 'Bạn chưa chọn loại thông báo',
                    color: 'warning'
                });
                return;
            }
            if(this.selected_store == null)
            {
                 this.$vs.notify({
                    title: 'CÀI ĐẶT THÔNG BÁO',
                    text: 'Bạn chưa chọn cửa hàng',
                    color: 'warning'
                });
                return;
            }
            // console.log(Object.entries(this.notify).length, this.notify);
            if(Object.entries(this.notify).length < 2)
            {
                 this.$vs.notify({
                    title: 'CÀI ĐẶT THÔNG BÁO',
                    text: 'Bạn chưa nhập đày đủ thông tin',
                    color: 'warning'
                });
                return;
            }
            if(this.selected_setting.ID_SETTING == 1)
            {
                if(this.selected_customers.length == 0)
                {
                    this.$vs.notify({
                        title: 'CÀI ĐẶT THÔNG BÁO',
                        text: 'Bạn chưa chọn khách hàng nào để nhận thông báo',
                        color: 'warning'
                    });
                    return;
                }
                // console.log(this.)
                if(this.selected_day.length == 0 && this.selected_date.length == 0 && this.selected_month.length == 0)
                {
                     this.$vs.notify({
                        title: 'CÀI ĐẶT THÔNG BÁO',
                        text: 'Bạn chưa cài đặt thời gian nhận thông báo',
                        color: 'warning'
                    });
                    return;
                }
            }
            this.$vs.loading();
            this.$store.dispatch('createNotify',{
                TITLE_NOTIFY: this.notify.TITLE_NOTIFY,
                CONTENT_NOTIFY: this.notify.CONTENT_NOTIFY,
                ID_CUA_HANG: this.selected_store.ID_CUA_HANG,
                TYPE_NOTIFY: this.selected_setting.ID_SETTING,
                INFO_TIME: JSON.stringify({
                    date: this.selected_date,
                    day: this.selected_day,
                    month: this.selected_month
                }),
                LIST_KH: JSON.stringify(this.selected_customers_uuid)
            })
            .then((response) => {
                console.log('response', response);
                this.$vs.notify({
                    title: 'CÀI ĐẶT THÔNG BÁO',
                    text: response.message,
                    color: response.success == true ? 'success' : 'warning'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
            .catch((err) => {
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
        },
        apiUpdateNotifySetting()
        {
            let notify = {}
            if(this.notify.TYPE_NOTIFY == 0)
            {
                notify = this.notify;
            }
            else
            {
                notify = {
                    ID_SETTING_NOTIFY: this.notify.ID_SETTING_NOTIFY,
                    TITLE_NOTIFY: this.notify.TITLE_NOTIFY,
                    CONTENT_NOTIFY: this.notify.CONTENT_NOTIFY,
                    ID_CUA_HANG: this.notify.ID_CUA_HANG,
                    TYPE_NOTIFY: this.notify.TYPE_NOTIFY,
                    INFO_TIME: JSON.stringify({
                        date: this.selected_date,
                        day: this.selected_day,
                        month: this.selected_month
                    }),
                    LIST_KH: JSON.stringify(this.selected_customers_uuid)
                }
            }
            this.$vs.loading();
            this.$store.dispatch('updateNotifyBirthday',notify)
            .then((response) => {
                this.$vs.notify({
                    title: notify.TYPE_NOTIFY == 0 ? 'CẬP NHẬT THÔNG BÁO SINH NHẬT' : 'CẬP NHẬT CÀI ĐẶT THÔNG BÁO',
                    text: response.message,
                    color: response.success == true ? 'success' : 'warning'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
            .catch((err) => {
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
            
        }
    },
}
</script>

<style lang="css">
    .w-90 {min-width: 90px !important;}
    .group-time-setting, .group-setting-notify  {display: none;}
    .group-time-setting.active, .group-setting-notify.active {display: block;}
</style>