<template>
    <div id="data-notify-birthday"> 
         <vs-table ref="table" pagination :data="notify" :noDataText="'Chưa có cài đặt thông báo'">

                <div slot="header" class="mb-2 flex flex-wrap-reverse items-center flex-grow">
                    
                    <div class="sm:w-1/2 md:w-1/3 lg:w-1/4 w-1/2">
                        <v-select class="w-full" :options="LIST_STORE" v-model="selected_store"
                        label="TEN_CUA_HANG" value="ID_CUA_HANG" placeholder="Chọn cửa hàng"></v-select>
                    </div>
                
                </div>

                <template slot="thead">
                    <vs-th align="center"> <p align="center">STT</p></vs-th>
                     <vs-th>NGÀY GỬI</vs-th>
                    <vs-th>CỬA HÀNG</vs-th>
                    <vs-th>TIÊU ĐỀ</vs-th>
                    <vs-th>KHÁCH HÀNG</vs-th>
                    <vs-th>XEM</vs-th>
                    <vs-th></vs-th>
                </template>

                <template slot-scope="{data}">
                <tbody>
                    <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                    
                        <vs-td>
                            <p align="center">
                                {{indextr + 1}}
                            </p>
                        </vs-td>

                        <vs-td>
                            {{formatDate(tr.CREATED_AT)}}
                        </vs-td>

                        <vs-td>
                            {{tr.TEN_CUA_HANG}}
                        </vs-td>
                        
                        <vs-td>
                            {{tr.TITLE_NOTIFY}}
                        </vs-td>

                        <vs-td>
                            {{tr.TEN_KH}}
                        </vs-td>

                        <vs-td>
                            {{tr.VIEW == 0 ? 'Chưa xem' : 'Đã xem'}}
                        </vs-td>

                        <vs-td class="whitespace-no-wrap">
                            <feather-icon icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="editData(tr)" />
                            <feather-icon icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click.stop="deleteData(tr)" />
                        </vs-td>

                    </vs-tr>
                </tbody>
                </template>
            </vs-table>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import moment from 'moment'
export default {
    data()
    {
        return {
            selected_store: null,
            isSidebarNotify: false,
            notifyEdit: {},
        }
    },
    computed: {
        notify()
        {
            if(this.selected_store != null)
            {
                return this.LIST_DATA_NOTIFY.filter((value,index,array) => {
                    return array[index].ID_CUA_HANG == this.selected_store.ID_CUA_HANG;
                })
            }
            return this.LIST_DATA_NOTIFY
        },
        ...mapGetters(["LIST_STORE", "LIST_DATA_NOTIFY"])
    },
    watch: {
        isSidebarNotify(boolean)
        {
            if(boolean == false)
            {
                this.notifyEdit = {}
            }
        }
    },
    methods: {
        formatDate(date)
        {
            if(date != null && date != undefined)
            {
                return moment(date,'YYYY-MM-DD hh:mm:ss').format('hh:mm DD/MM/YYYY')
            }
            return ''
        },
        addNewData()
        {
            this.isSidebarNotify = true;
        },
        editData(data)
        {
            this.notifyEdit = data;
            this.isSidebarNotify = true;
        },
        deleteData(data)
        {
            console.log('data ',data)
             this.$vs.dialog({
                type:'confirm',
                color: 'warning',
                title:  'Bạn muốn xóa cài đặt thông báo '+data.TITLE_NOTIFY + ' ?',
                text: 'Sao khi xóa các dữ liệu đã gửi thông báo trước đây sẽ mất hết!',
                data: data,
                acceptText: 'Đồng ý',
                cancelText: 'Hủy',
                accept: () => {
                this.accpetDeleteNotify(data)
                }
            })
        },
        accpetDeleteNotify(data)
        {
            this.$vs.loading();
            this.$store.dispatch('deleteNotifyBirthday',data)
            .then((response) => {
                this.$vs.notify({
                    title: 'XÓA THÔNG BÁO CÀI ĐẶT SINH NHẬT',
                    text: response.message,
                    color: response.success == true ? 'success' : 'warning'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
            .catch((err) => {
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
        },
    },
}
</script>