<template>
 <vs-table  ref="table" :data="LIST_CUSTOMER_LOCAL"
    :noDataText="'Chưa có dữ liệu khách hàng'"
     multiple
    v-model="selected_customer">
    <template slot="thead">
    <vs-th>PHÂN LOẠI</vs-th>
    <vs-th >TÊN KHÁCH HÀNG</vs-th>
    <vs-th >NGÀY SINH</vs-th>
    <vs-th >SDT</vs-th>
    <vs-th >GIỚI TÍNH</vs-th>
    <vs-th >THÀNH PHỐ</vs-th>
    <vs-th >QUẬN / HUYỆN</vs-th>
    <vs-th >DC KH</vs-th>
    <vs-th >SL MUA </vs-th>
    <vs-th >TỔNG TIỀN CHI </vs-th>
    </template>
    <template slot-scope="{data}">
    <tbody ref="tbody">

        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
        
        <vs-td>
            {{getTypeCustomer(tr)}}
        </vs-td>
        <vs-td>
            <p class="text-hover"><a :href="`/customers/${tr.UUID_KH}?ID_CUA_HANG=${tr.ID_CUA_HANG}`"> {{ tr.TEN_KH }} </a> </p>
        </vs-td>

        <vs-td>
            <p class="text-hover">{{ formatDate(tr.NGAY_SINH_KH )}}  <span class="birthday" :class="((new Date(tr.NGAY_SINH_KH).getMonth() + 1) == (new Date().getMonth() + 1) ? 'active' : '')"><i class="fa fa-birthday-cake"></i></span> </p>
        </vs-td>

        <vs-td>
            <p  class="text-hover">{{ tr.SDT_KH }}</p>
        </vs-td>

        <vs-td>
            <p  class="text-hover">{{ tr.GT_KH == 0 ? 'Nam' : 'Nữ'}}</p>
        </vs-td>

        <vs-td>
            <p  class="text-hover">{{ tr.NAME_PROVINCE }}</p>
        </vs-td>
        <vs-td>
            <p  class="text-hover">{{ tr.NAME_DISTRICT }}</p>
        </vs-td>

        <vs-td>
            <p  class="text-hover">{{ tr.DC_NHA_KH == undefined ? '' :  tr.DC_NHA_KH }}</p>
        </vs-td>

        <vs-td>
            <p  class="text-hover">{{ tr.SL_MUA ? tr.SL_MUA : 0 }}</p>
        </vs-td>

        <vs-td>
            <p  class="text-hover">{{ tr.SO_TIEN_DA_CHI == undefined ? 0 : (tr.SO_TIEN_DA_CHI).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') }}</p>
        </vs-td>

        </vs-tr>
    </tbody>
    </template>
</vs-table>
</template>

<script>
import moment from 'moment';
import { mapGetters } from 'vuex';
export default {
    props: {
        selected_customers_uuid: {
            required: true
        }
    },
    computed: {
        ...mapGetters(["LIST_CUSTOMER", "LIST_TYPE_CUSTOMER_STORE", "SETTING_NOTIFY"]),
        LIST_CUSTOMER_LOCAL: {
        get()
        {
          return this.LIST_CUSTOMER;
        }
      }
    },
    watch: {
        selected_customer(customers)
        {
            this.$emit("UPDATE_SELECTED_CUSTOMER",customers)
        },
        SETTING_NOTIFY(setting)
        {

            this.selected_customer = []
            if(setting != null && setting.TYPE_NOTIFY == 1)
            {
                // let list_kh = JSON.parse(setting.LIST_KH);
                var list_uuid = JSON.parse(setting.LIST_KH);
                console.log('list_uuid',setting.LIST_KH,Object.entries(list_uuid),list_uuid.length)
                if(list_uuid.length > 0)
                {
                    // console.log(list_uuid);
                    list_uuid.forEach((uuid) => {
                        console.log(uuid);
                        const customer = this.LIST_CUSTOMER.find((c) => c.UUID_KH == uuid);
                        if(customer != undefined)
                        {
                            this.selected_customer.push(customer);
                        }
                    })
                }
            }
            if(setting == null || Object.entries(setting).length == 0)
            {
                this.selected_customer = []
            }
            // console.log(setting);
            
        }
    },
    data()
    {
        return {
            selected_customer: []
        }
    },
    methods: {
        formatDate(date)
        {
            if(date != null  && date != undefined)
            {
                return moment(date, 'YYYY-MM-DD').format('DD/MM/YYYY');
            }
            return '';
        },
        getTypeCustomer(data)
        {
            let list_type = []; 
            if(data != undefined)
            {
                list_type = this.LIST_TYPE_CUSTOMER_STORE.filter((value,index,array) => {
                    return ( array[index].ID_CUA_HANG == data.ID_CUA_HANG &&  array[index].SO_TIEN_PHAN_LOAI_MAX >= data.SO_TIEN_DA_CHI)
                });
            }
            // console.log(list_type, data);
            if(list_type.length > 0 && list_type != undefined)
            {
                return list_type[0].TEN_PHAN_LOAI;
            }
            else
            {
                return 'Chưa phân loại';
            }
        },
    },
}
</script>