<template>
    <div>
        <router-view></router-view>
    </div>
</template>

<script>
import ModuleAdmin from '@/store/admin/moduleAdmin.js';
export default {
    name: 'page-setting',
    beforeCreate()
    {
        if(!this.$store.hasModule('admin'))
        {
            this.$store.registerModule('admin',ModuleAdmin)
        }
        if(localStorage.getItem('admin') != 'true')
        {
            this.$router.push('/not-authorized')
        }
    }
}
</script>