<template>
<div>
  <vs-sidebar @keyup.esc="isSidebarActiveLocal = false"  position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
    <div class="mt-6 flex items-center justify-between px-6">
        <h4>{{Object.entries(data).length > 0 ? 'CẬP NHẬT' : 'THÊM MỚI'}} CÀI ĐẶT</h4>
        <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
    </div>
    <vs-divider class="mb-0"></vs-divider>
    <VuePerfectScrollbar class="scroll-area--data-list-add-new" >
      <div class="p-3">
          <vs-input class="w-full" label="Tên cài đặt" 
            v-model="setting.NAME_ECOSY_CRM"></vs-input>
          <vs-input class="w-full" label="Giá trị cài đặt"
            v-model="setting.VALUE_ECOSY_CRM"></vs-input>
          <vs-textarea class="w-full mt-3" label="Mô tả cài đặt"
            v-model="setting.DESC_ECOSY_CRM"></vs-textarea>
      </div>
    </VuePerfectScrollbar>
    <div class="flex flex-wrap items-center p-6 layout-pc" slot="footer">
      <vs-button class="mr-6" @click="submitSettingAuth" :disabled="!isFormValid">{{Object.entries(data).length > 0 ? 'CẬP NHẬT' : 'THÊM MỚI'}}</vs-button>
      <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">Cancel</vs-button>
    </div>
     
  </vs-sidebar>
</div>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import {mapGetters} from 'vuex'

export default {
    name: 'sidebar-action-group',
    components:
    {
      VuePerfectScrollbar
    },
   props: {
     isSidebarActive: {
       type: Boolean,
       required: true
     },
     data: {
         type: Object,
         required: true
     }
  },
  watch: {
    isSidebarActiveLocal(val) {
      if(!val) return
      if(Object.entries(this.data).length === 0) {
        this.$validator.reset()
        this.initValue();
      }else {
         this.setting = {...this.data }
      }
    },
  },
  computed: {
    isFormValid() {
      return !this.errors.any()
    },
    isSidebarActiveLocal:{
      get()
      {
        return this.isSidebarActive
      },
      set(val)
      {
        this.$emit('close',val)
      }
    },
  },
    data()
    { 
        return {
            setting: {
                NAME_ECOSY_CRM: '',
                VALUE_ECOSY_CRM: '',
                DESC_ECOSY_CRM: '',
                STATUS_ECOSY_CRM: 0
            },
           
        }
    },
    methods: {
        initValue()
        {
            this.setting = {
                NAME_ECOSY_CRM: '',
                VALUE_ECOSY_CRM: '',
                DESC_ECOSY_CRM: '',
                STATUS_ECOSY_CRM: 0
            }
        },
       submitSettingAuth()
       {
         this.$vs.loading();
         this.$store.dispatch('createSettingCRM',this.setting)
         .then((response) => {
           this.$vs.notify({
             title: 'CÀI ĐẶT ECOSY CRM',
             text: response.message,
             color: response.success == true ? 'success' : 'warning'
           });
           this.initValue();
           setTimeout(() => {
             this.$vs.loading.close();
           }, 500);
         })
         .catch((err) => {
           console.log(err)
           this.$vs.notify({
             title: 'CÀI ĐẶT ECOSY CRM',
             text: 'Lỗi! Xin vui lòng F5 thử lại1',
             color: 'danger'
           })
           setTimeout(() => {
             this.$vs.loading.close();
           }, 500);
         })
       }
    },
    created()
    {

    }
}
</script>


<style lang="scss" scoped>
.card-image-customer {
  width: 150px;
  height: 200px;
  margin: auto;
  margin-bottom: 15px;
  position: relative;
}
.input-file, .Imagecustomer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
}
.Imagecustomer {z-index: 998;opacity: 1;height: auto;}
.icon-upload-file {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 997;
  transform: translate(-50%,-50%)
}
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 600px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    height: calc(100% - 4.3rem);
}
</style>