<template>
<div class="form-profile vx-row">
    <div class="w-full flex">
        <div class="avatar">
             <vs-avatar  
                :src="AVATAR_USER" size="150px"
                class="border-2 border-white border-solid -m-1   items-center justify-between"
                :text="user.HO_TEN_USER">
                    
            </vs-avatar>
            <!-- <input type="file" class="upload-avatar"
                ref="upload_avatar"
                @change="renderAvatar($event)"> -->
        </div>
       
    </div>
    <vs-input class="lg:w-1/2 sm:w-full w-full p-2" label="Tài khoản" v-model="user.USERNAME_USER" disabled></vs-input>
    <vs-input class="lg:w-1/2 sm:w-full w-full p-2" label="Email" v-model="user.EMAIL_USER" ></vs-input>
    <vs-input class="lg:w-1/2 sm:w-full w-full p-2" label="Họ & Tên" v-model="user.HO_TEN_USER" ></vs-input>
    <vs-input class="lg:w-1/2 sm:w-full w-full p-2" label="Số điện thoại" v-model="user.SDT_USER" ></vs-input>
    <vs-input type="date" class="lg:w-1/2 sm:w-full w-full p-2" label="Ngày sinh" v-model="user.BIRTH_DAY" ></vs-input>
    <vs-input class="lg:w-1/2 sm:w-full w-full p-2" label="Địa chỉ nhà" v-model="user.DC_USER" ></vs-input>

    <vs-button @click="updateAccount" class="mt-2" type="border" color="success" :disabled="user.STATUS == 0 ? false: true">Cập nhật</vs-button>
    <vs-button @click="lockAccount" class="mt-2 ml-2" type="border" color="warning">{{user.STATUS == 0 ? 'Khóa tài khoản' : 'Mở tài khoản'}}</vs-button>
    <vs-button @click="accessEmail" v-if="user.ACCESS_EMAIL == 0" class="mt-2 ml-2" type="border" color="warning">Kích hoạt email</vs-button>
</div>
</template>

<script>
export default {
    data()
    {
        return {
             user: {}
        }
    },
    methods:
    {
        renderAvatar(event)
        {
            this.$vs.loading();
            var data = URL.createObjectURL(event.target.files[0]);
            
            this.user.AVATAR = data;
            console.log(event.target.files,data, this.user)
            setTimeout(() => {
                this.$vs.loading.close();
            }, 500);
        },
        updateAccount()
        {
            if(this.user.STATUS == 1)
            {
                this.$vs.notify({
                    title: 'CẬP NHẬT TÀI KHOẢN',
                    text: 'Tài khoản đã bị khóa!',
                    color: 'warning'
                })
            }
            else
            {
                this.$vs.loading();
                this.$store.dispatch('updateAccount',this.user)
                .then((response) => {
                    this.$vs.notify({
                        title: 'Cập nhật tài khoản',
                        text: `${response.message}`,
                        color: response.success == true ? 'success' : 'warning'
                    })
                    setTimeout(() => {
                        this.$vs.loading.close();
                    }, 500);
                })
                .catch((err) => {
                    console.log('err ',err)
                    this.$vs.notify({
                    title: 'Cập nhật tài khoản',
                    text: 'Lỗi! Xin vui lòng F5 thử lại!',
                    color: 'danger'
                    })
                    setTimeout(() => {
                    this.$vs.loading.close();
                    }, 500);
                })
            }
        },
        lockAccount()
        {
            this.$vs.loading();
            this.$store.dispatch('lockAccount',this.user)
            .then((response) => {
                this.$vs.notify({
                    title: this.user.STATUS == 1 ? 'Mở tài khoản' : 'Khóa tài khoản',
                    text: `${response.message}`,
                    color: response.success == true ? 'success' : 'warning'
                })
                 setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
            .catch((err) => {
                console.log(err)
                this.$vs.notify({
                    title: this.user.STATUS == 1 ? 'Mở tài khoản' : 'Khóa tài khoản',
                    text: 'Lỗi! Xin vui lòng F5 thử lại!',
                    color: 'danger'
                })
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
        },
        accessEmail()
        {
            this.$vs.loading();
            this.$store.dispatch('accessEmail',this.user)
            .then((response) => {
                this.user.ACCESS_EMAIL = 1;
                this.$vs.notify({
                    title: 'KÍCH HOẠT TÀI KHOẢN',
                    text: response.message,
                    color: response.success == true ? 'success' : 'warning'
                })
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
            .catch((err) => {
                this.$vs.notify({
                    title: 'KÍCH HOẠT TÀI KHOẢN',
                    text: 'Lỗi! Xin vui lòng F5 thử lại!',
                    color: 'danger'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
        }
    },
    created()
    {
        this.$vs.loading();
        this.$store.dispatch('fetchAccountByID',this.$route.params.ID_USER)
        .then((response) => {
            if(response.success == true)
            {
                this.user = response.result
            }
            setTimeout(() => {
                this.$vs.loading.close();
            }, 500);
        })
        .catch((err) => {
            console.log(err)
            this.$vs.notify({
                title: 'CHI TIẾT NGƯỜI DÙNG',
                text: 'Lỗi! Xin vui lòng thử lại!',
                color: 'danger'
            })
            setTimeout(() => {
                this.$vs.loading.close();
            }, 500);
        })
    }
}
</script>

<style lang="css" slot-scope>
    .upload-avatar {position: absolute;width: 100%;top: 0;left: 0; height: 100%;z-index: 999;opacity: 0;cursor: pointer;}
    .avatar {margin: auto;position: relative;}
</style>