<template>
    <div>
        <vs-td>{{tr.TEN_LOAI_CUA_HANG}}</vs-td>
        <vs-td>{{tr.TEN_CUA_HANG}}</vs-td>
        <vs-td>{{tr.NAME_PROVINCE}}</vs-td>
        <vs-td>{{tr.NAME_DISTRICT}}</vs-td>
        <vs-td><span class="text-hover" @click="showListCustomer(tr.customers)">{{tr.customers.length}}</span></vs-td>
        <vs-td>{{totalPrice(tr.customers).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')}}</vs-td>
    </div>
</template>

<script>
export default {
    props: {
        tr: {
            required: true,
            type: Object
        }
    }
}
</script>