<template>
    <div class="vx-row">
        <table-store :data="MY_STORES_LOCAL" />
    </div>
</template>

<script>
import moduleAdmin from '@/store/admin/moduleAdmin.js'
import { mapGetters } from 'vuex';
export default {
    name: 'my-store',
    components: {
        'table-store' : () => import('./tableStore.vue'),
    },
    data()
    {
        return {
            MY_STORES_LOCAL: []
        }
    },
    computed:{
        ...mapGetters(["my_stores"])
    },
    watch:
    {
        my_stores(stores)
        {
            console.log('stores ', stores)
            this.MY_STORES_LOCAL = stores
        }
    },
    methods:
    {
        fetchMyStore()
        {
            this.$vs.loading();
            this.$store.dispatch('fetchStoreByID_USER',this.$route.params.ID_USER)
            .then((response) => {
                this.MY_STORES_LOCAL = response.result
                 setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
            .catch((err) => {
                console.log(err)
                this.$vs.notify({
                    title: 'DANH SÁCH CỬA HÀNG CỦA TÀI KHOẢN',
                    text: 'Lỗi! Xin vui lòng F5 thử lại!',
                    color: 'danger'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
        }
    },
    beforeCreate()
    {
        if(!this.$store.hasModule('admin'))
        {
            this.$store.registerModule('admin',moduleAdmin)
        }
        if(this.$route.params.ID_USER)
        {
            
        }
    },
    created()
    {
        this.fetchMyStore();
    }
}
</script>