<template>
    <div id="form-reset-password" class="vx-row container p-6">
         <vs-input class="w-full" label="Mật khẩu mới" 
            v-model="user.PASSWORD_USER"
            v-validate="'required|min:6|max:35|confirmed'"
            name="password"></vs-input>

        <vs-input class="w-full" label="Nhập lại mật khẩu" 
            v-model="user.PASSWORD_COFIRM"
           v-validate="'required|target:password'"
            name="password"></vs-input>

        <vs-button @click="updatePassword" class="mt-3" type='border' color='warning'>Cập nhật</vs-button>
    </div>
</template>

<script>

export default {
    data()
    {
        return {
            user: {
                PASSWORD_USER: '',
                PASSWORD_COFIRM: ''
            }
        }
    },
    methods: {
        updatePassword()
        {
            if(this.user.PASSWORD_USER == this.user.PASSWORD_COFIRM 
            && this.user.PASSWORD_USER != '' && this.user.PASSWORD_COFIRM != '')
            {

            }
            else
            {
                this.$vs.notify({
                    title: 'CẬP NHẬT MẬT KHẨU',
                    text: 'Mật khẩu không khớp!',
                    color: 'warning'
                })
            }
        }
    },
    created()
    {
        
    }
}
</script>