<template>
  <vs-sidebar position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
    <div class="mt-6 flex items-center justify-between px-6">
        <h4>{{ Object.entries(this.data).length === 0 ? "THÊM MỚI" : "CẬP NHẬT" }} CỬA HÀNG</h4>
        <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
    </div>
    <vs-divider class="mb-0"></vs-divider>
    <VuePerfectScrollbar class="scroll-area--data-list-add-new" :settings="settings">
       <div class="p-6">
          <v-select class="select-store" placeholder="Nhập thể loại cửa hàng" v-model="selected_type_store" :options="TYPE_STORE" 
          value="ID_LOAI_CUA_HANG"  label="TEN_LOAI_CUA_HANG"  ></v-select>
          <vs-input label="Tên cửa hàng" v-model="store.TEN_CUA_HANG" class="mt-5 w-full" name="TEN_CUA_HANG" placeholder="Nhập tên cửa hàng" v-validate="'required'" />
          <span class="text-danger text-sm" v-show="errors.has('TEN_CUA_HANG')">{{ errors.has('TEN_CUA_HANG') == true ? 'Chưa nhập tên cửa hàng' : '' }}</span>
          
          <v-select class="select-store m15" placeholder="Tỉnh / Thành phố" :options="LIST_PROVINCE" v-model="selected_province" label="NAME_PROVINCE" value="ID_PROVINCE">
              
          </v-select>
          
          <v-select class="select-store m15" placeholder="Quận / Huyện" :options="LIST_DISTRICT" v-model="selected_district" label="NAME_DISTRICT" value="ID_DISTRICT"></v-select>

          <vs-input label="Địa chỉ" v-model="store.DIA_CHI_CUA_HANG" class="mt-5 w-full" name="DIA_CHI_CUA_HANG" placeholder="Nhập địa chỉ cửa hàng" v-validate="'required'" />
          <span class="text-danger text-sm" v-show="errors.has('DIA_CHI_CUA_HANG')">{{ errors.has('DIA_CHI_CUA_HANG') == true ? 'Chưa nhập địa chỉ cửa hàng' : '' }}</span>

          <vs-input label="Số điện thoại" v-model="store.SDT_CUA_HANG" class="mt-5 w-full" name="SDT_CUA_HANG" placeholder="Nhập địa số điện thoại cửa hàng" v-validate="'required'" />
          <span class="text-danger text-sm" v-show="errors.has('SDT_CUA_HANG')">{{ errors.has('SDT_CUA_HANG') == true ? 'Số điện thoại cửa hàng' : '' }}</span>
     
          <vs-textarea class="mt-5 w-full"  counter="255" label="Ghi chú" v-model="store.GHI_CHU" />

       </div>
    </VuePerfectScrollbar>
    <div class="flex flex-wrap items-center p-6" slot="footer">
      <vs-button  class="mr-6" @click="submitCH" :disabled="!isFormValid">{{Object.entries(this.data).length === 0 ? "THÊM MỚI": "CẬP NHẬT"}}</vs-button>
      <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">ĐÓNG</vs-button>
    </div>
  </vs-sidebar>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import {mapGetters} from 'vuex'
export default {
    components:
    {
      VuePerfectScrollbar
    },
   props: {
     isSidebarActive: {
       type: Boolean,
       required: true
     },
    data: {
      type: Object,
      default: () => {},
    }
  },
  watch: {
    selected_province(province)
    {
      if(province != null)
      {
        this.$store.dispatch('fetchDistrict',province.ID_PROVINCE).then((response) => {
          if(Object.entries(this.data).length > 0)
          {
            this.selected_district = response.filter((value,index,array) => {
              return array[index].ID_DISTRICT == this.data.ID_DISTRICT
            })[0]
          }
        })
        this.store.ID_PROVINCE = province.ID_PROVINCE
        this.store.NAME_PROVINCE = province.NAME_PROVINCE
      }
    },
    selected_district(district)
    {
      if(district != null)
      {
        this.store.ID_DISTRICT = district.ID_DISTRICT
        this.store.NAME_DISTRICT = district.NAME_DISTRICT
      }
    },
    isSidebarActiveLocal(val) {
      if(!val) return
      if(this.LIST_PROVINCE.length == 0 )
      {
        this.$store.dispatch('fetchProvince').then(() => {
          if(Object.entries(this.data).length > 0)
          {
            this.selected_province = this.LIST_PROVINCE.filter((value,index,array) => {
              return array[index].ID_PROVINCE == this.data.ID_PROVINCE
            })[0]
          }
        })
      }
      if(this.TYPE_STORE.length == 0)
      {
        this.$store.dispatch("fetchTypeStore").then(() => {
          if(Object.entries(this.data).length > 0)
          {
            this.selected_type_store = this.TYPE_STORE.filter((value,index,array) => {
              return array[index].ID_LOAI_CUA_HANG == this.data.ID_LOAI_CUA_HANG
            })[0]
          }
        })
      }
      if(Object.entries(this.data).length === 0) {
        this.initValues()
        this.$validator.reset()
      }else {
         this.store = {...this.data}
        if(this.LIST_PROVINCE.length > 0 )
        {
          this.selected_province = this.LIST_PROVINCE.filter((value,index,arr) => {
            return arr[index].ID_PROVINCE == this.data.ID_PROVINCE
          })[0]
        }
        if(this.TYPE_STORE.length > 0)
        {
          this.selected_type_store = this.TYPE_STORE.filter((value,index,array) => {
            return array[index].ID_LOAI_CUA_HANG == this.data.ID_LOAI_CUA_HANG
          })[0]
        }
      }
    },
    selected_type_store(type)
    {
      if(type != null)
      {
        this.store.ID_LOAI_CUA_HANG = type.ID_LOAI_CUA_HANG
        this.store.TEN_LOAI_CUA_HANG = type.TEN_LOAI_CUA_HANG
      }
    }
  },
  computed: {
    ...mapGetters([ "TYPE_STORE", "LIST_PROVINCE", "LIST_DISTRICT"]),
    isFormValid() {
      return !this.errors.any()
    },
    isSidebarActiveLocal:{
      get()
      {        
        return this.isSidebarActive
      },
      set(val)
      {
        this.$emit('closeSidebar',val)
        this.initValues() 
      }
    }
  },
  data()
  {
    return {
      settings: { // perfectscrollbar settings
          maxScrollbarLength: 60,
          wheelSpeed: .60,
      },
      store: {
        TEN_CUA_HANG: "",
        DIA_CHI_CUA_HANG: "",
        SDT_CUA_HANG: "",
        GHI_CHU: "",
        OPTION_STORE: [],
       
      },
       selected_type_store: null,
       selected_province: null,
       selected_district: null
    }
  },
  methods: {
    initValues() {
        this.store = {
          TEN_CUA_HANG: "",
          DIA_CHI_CUA_HANG: "",
          SDT_CUA_HANG: "",
          GHI_CHU: "",
        }
        this.selected_province = null
        this.selected_district = null
        this.selected_type_store = null
    },
    submitCH()
    {
      if(Object.entries(this.data).length === 0)
      {
        this.$vs.loading();
        this.$store.dispatch('createStoreAuth',{
          store: this.store,
          ID_USER: this.$route.params.ID_USER
        }).then((response) => {
          if(response.success == true)
          {
              this.$vs.notify({
                title: 'Thêm mới cửa hàng',
                text:response.message,
                position: 'bottom-left',
                color:'success'
              })
              this.initValues()
              this.$validator.reset()
          }
          else
          { this.$vs.notify({
              title: 'Thêm mới cửa hàng',
              text:response.message,
              position: 'bottom-left',
              color:'danger'
            })
          }
          setTimeout(() => {
            this.$vs.loading.close();
          }, 500);
        })
        .catch((err) => {
          console.log(err)
          this.$vs.notify({
            title: 'THÊM MỚI CỬA HÀNG',
            text: 'Lõi! Xin vui lòng F5 thử lại!',
            color: 'danger'
          });
          setTimeout(() => {
            this.$vs.loading.close();
          }, 500);
        })
      }
      else
      {
        this.$store.dispatch("updateStoreAuth",this.store).then((response) => {
           if(response.success == true)
          {
              this.$vs.notify({
                title: 'CẬP NHẬT CỬA HÀNG',
                position: 'bottom-left',
                text:response.message,
                color:'success'
              })
          }
          else
          { this.$vs.notify({
              title: 'Cập nhật cửa hàng',
              position: 'bottom-left',
              text:response.message,
              color:'danger'
            })
          }
        }).catch(() => {
          this.$vs.notify({
              title: 'Cập nhật cửa hàng',
              position: 'bottom-left',
              text: 'Lỗi server!',
              color:'danger'
            })
        })
      }
    }
  },

}
</script>


<style lang="scss" scoped>
.m15 {margin-top: 15px;}
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 400px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    height: calc(100% - 4.3rem);
}
</style>