<template>
<div>
  <vs-sidebar @keyup.esc="isSidebarActiveLocal = false" 
      click-not-close position-right parent="body" 
      default-index="1" color="primary" 
      class="add-new-data-sidebar items-no-padding" 
      spacer v-model="isSidebarActiveLocal">
    <div class="mt-6 flex items-center justify-between px-6">
        <h4>DANH SÁCH KHÁCH HÀNG</h4>
        <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
    </div>
    <vs-divider class="mb-0"></vs-divider>
    <VuePerfectScrollbar class="scroll-area--data-list-add-new" >
      <div class="p-3">
        <ul class="list-customer list-head">
          <li style="width: 30%">TÊN KHÁCH HÀNG</li>
          <li style="width: 15%">NGÀY SINH</li>
          <li style="width: 15%">ĐIỂM</li>
          <li style="width: 25%">SỐ TIỀN ĐÃ CHI</li>
          <li style="width: 15%">SĐT</li>
        </ul>
        <ul class="list-customer" v-for="(item, index) in LIST_CUSTOMER" :key="index">
          <li style="width: 30%"><span class="text-hover" @click="editData(item)">{{item.TEN_KH}}</span></li>
          <li style="width: 15%">{{formatDate(item.NGAY_SINH_KH)}}</li>
          <li style="width: 15%">{{item.DIEM_TICH_LUY}}</li>
          <li style="width: 25%">{{item.SO_TIEN_DA_CHI.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')}}</li>
          <li style="width: 15%">{{item.SDT_KH}}</li>
        </ul>
      </div>

    </VuePerfectScrollbar>
    <div class="flex flex-wrap items-center p-6 layout-pc" slot="footer">
      <vs-button class="mr-6" @click="isSidebarCustomer = true">THÊM MỚI</vs-button>
      <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">Cancel</vs-button>
    </div>
     
  </vs-sidebar>
  <sidebar-action-customer  
      :isSidebarActive="isSidebarCustomer"
      :data="customer_edit"
      @closeSidebar="isSidebarCustomer = $event"
      :id="id"

    />
</div>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import {mapGetters} from 'vuex'
import moment from 'moment'
export default {
    name: 'sidebar-list-customer',
    components:
    {
      VuePerfectScrollbar,
      'sidebar-action-customer': () => import('./sidebarActionCustomer.vue')
    },
   props: {
     isSidebarActive: {
       type: Boolean,
       required: true
     },
     data:{
       type: Object,
       required: true
     }
  },
  watch: {
    isSidebarActiveLocal(val) {
      if(!val) return
      if(Object.entries(this.data).length === 0) {
        this.$validator.reset()
      }else {
          
      }
    },
    data(new_data)
    {
      console.log('list', new_data)
      this.LIST_CUSTOMER = new_data.customers
      this.id = new_data.ID_CUA_HANG
    },
    isSidebarCustomer(boolean)
    {
      if(!boolean) this.customer_edit = {};
    }
  },
  computed: {
    isFormValid() {
      return !this.errors.any()
    },
    isSidebarActiveLocal:{
      get()
      {
        return this.isSidebarActive
      },
      set(val)
      {
        this.$emit('close',val)
      }
    },
  },
  data()
  { 
      return {
        LIST_CUSTOMER: [],
        isSidebarCustomer: false,
        customer_edit: {},
        id: 0
      }
  },
  methods: {
      formatDate(date)
      {
        if(date == null) return null;
        else 
        return moment(date,'YYYY-mm-dd').format('d/m/yyyy')
      },
      editData(data)
      {
        this.isSidebarCustomer = true
        this.customer_edit = data
      }
      
  },
  created()
  {

  }
}
</script>


<style lang="scss" scoped>
.list-customer {width: 100%;}
.list-head>li,.list-customer>li{list-style: none; display: inline-block;padding: 10px;text-align: center;}
.card-image-customer {
  width: 150px;
  height: 200px;
  margin: auto;
  margin-bottom: 15px;
  position: relative;
}
.input-file, .Imagecustomer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
}
.Imagecustomer {z-index: 998;opacity: 1;height: auto;}
.icon-upload-file {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 997;
  transform: translate(-50%,-50%)
}
 .add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52011;
  }

  ::v-deep .vs-sidebar {
    z-index: 52011;
    width: 700px;
    max-width: 100%;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    height: calc(100% - 4.3rem);
}
</style>