<template>
<div class=" w-full">
    <vs-table ref="table" class="mt-3 w-full" :data="STORE_LOCAL"  >
        <div id="table-ecosy" slot="header" class=" p-3 header-table-search flex flex-wrap-reverse items-center flex-grow bg-white">
        <vs-row>
            <vs-col class="p-3" vs-sm="4" vs-md="3" vs-lg="3">
                <vs-button type="border" color="success" @click="isSidebarStore = true">Thêm mới</vs-button>
            </vs-col>
        </vs-row>
        
        </div>
        
        <template slot="thead" >
            <vs-th>Loại cửa hàng</vs-th>
            <vs-th>Tên cửa hàng </vs-th>
            <vs-th>Tỉnh / Thành Phố</vs-th>
            <vs-th>Quận / Huyện</vs-th>
            <vs-th>Khách hàng</vs-th>
            <vs-th>Doanh thu</vs-th>
        </template>
        <template slot-scope="{data}">
        <tbody >
            <vs-tr 
            :data="tr" 
            :key="index" 
            v-for="(tr, index) in data" 
            >
            
                <vs-td>{{tr.TEN_LOAI_CUA_HANG}}</vs-td>
                <vs-td><span class="text-hover" @click="editData(tr)">{{tr.TEN_CUA_HANG}}</span></vs-td>
                <vs-td>{{tr.NAME_PROVINCE}}</vs-td>
                <vs-td>{{tr.NAME_DISTRICT}}</vs-td>
                <vs-td><span class="text-hover" @click="showListCustomer(tr)">{{tr.customers.length}}</span></vs-td>
                <vs-td>{{totalPrice(tr.customers).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')}}</vs-td>
            </vs-tr>
        </tbody>
        </template>
        
    </vs-table>
    <sidebar-action-store 
        :isSidebarActive="isSidebarStore"
        :data="store_edit"
        @closeSidebar="isSidebarStore = $event"
        />

    <sidebar-list-customer 
        :isSidebarActive="isListCustomer" 
        :data="customers"
        @close="isListCustomer = $event" />
    
</div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    components:
    {
        'sidebar-list-customer': () => import('./sidebarListCustomer.vue'),
        'sidebar-action-store': () => import('./sidebarActionStore.vue')
    },
    props: {
        data: {
            required: true,
        }
    },
    data()
    {
        return {
            STORE_LOCAL: [],
            isListCustomer: false,
            customers: {},
            isSidebarStore: false,
            store_edit: {},
        }
    },
    computed:{
        ...mapGetters(["my_stores"])
    },
    watch: {
        data(new_data)
        {
            console.log(new_data)
            this.STORE_LOCAL = new_data
        },
        my_stores(new_stores)
        {
            this.STORE_LOCAL = new_stores
        },
        isSidebarStore(boolean)
        {
            if(boolean == false) this.store_edit = {};
        }
    },
    methods:
    {
        totalPrice(customer)
        {
            var total = 0;
            customer.forEach((c) => {
                total = total + c.SO_TIEN_DA_CHI
            })
            return total
        },
        showListCustomer(data)
        {
            console.log('data ',data)
            this.isListCustomer = true
            this.customers = data
        },
        editData(data)
        {
            this.store_edit = data
            this.isSidebarStore = true
        }
    }
}
</script>