
<template>
    <div>
        <div class="vx-row">
           
            <div class="vx-col w-full md:w-1/3 lg:w-1/3 xl:w-1/3">
              <a href="/dashboard/doanh-thu-ngay" target="_blank" v-for="(item, index) in dayTrafficBill" :key="index">
                {{item}}
                <statistics-card-line
                  icon="DollarSignIcon"
                  icon-right
                  :statistic="totaDay"
                  :statisticTitle="item.name"
                  :chartData="item.series" />
                </a>
            </div>

            <div class="vx-col w-full md:w-1/3 lg:w-1/3 xl:w-1/3">
              <a href="/khach-hang" target="_blank">
                <statistics-card-line
                  icon="UserCheckIcon"
                  icon-right
                  :statistic="totalCustomer"
                  statisticTitle="KHÁCH HÀNG"
                  :chartData="monthTrafficCustomer.series"
                  color="success" />
                </a>
            </div>

            <div class="vx-col w-full md:w-1/3 lg:w-1/3 xl:w-1/3">
              <a href="/hoa-don" target="_blank">
                <statistics-card-line
                  icon="FileTextIcon"
                  icon-right
                  :statistic="totalBill"
                  statisticTitle="HÓA ĐƠN"
                  :chartData="monthTrafficBill.series"
                  color="warning" />
              </a>
            </div>
        </div>
    </div>
</template>

<script>
import StatisticsCardLine from '@/components/statistics-cards/StatisticsCardLine.vue'
import https from '@/axios'
export default{
    props: ["dayTrafficBill", "monthTrafficCustomer", "monthTrafficBill"],
    components: {
        StatisticsCardLine
    },
    computed: {
      totaDay()
      {
        var total = 0;
        if(Object.entries(this.dayTrafficBill).length > 0)
        {
          this.dayTrafficBill.series[0].data.forEach((money) => {
            total = parseInt(total) + parseInt(money)
          })
        }
        return total.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')+ ' vnđ';
      },
      totalCustomer()
      {
        var total = 0;
        if(Object.entries(this.monthTrafficCustomer).length > 0)
        {
          this.monthTrafficCustomer.series[0].data.forEach((total_customer) => {
            total = total + total_customer
          })
        }
        return total;
      },
      totalBill()
      {
        var total = 0;
        if(Object.entries(this.monthTrafficBill).length > 0)
        {
          this.monthTrafficBill.series[0].data.forEach((total_bill) => {
            total = total + total_bill;
          })
        }
        return total;
      }
    },
    created() {

     

    }
}
</script>
