<template >
    <div>
        <tb-doanh-thu />
    </div>
</template>

<script>
import moduleBill from '@/store/bill/moduleBill.js'
export default {
    components: {
        'tb-doanh-thu': () => import ('./tableDoanhThu.vue')
    },
    beforeCreate() {
        this.$store.registerModule('bill',moduleBill)
    },
    destroyed() {
        this.$store.unregisterModule('bill')
    },
}
</script>