<template>
    <div>
        <div class="vx-col w-full mb-5 text-right">
            <vs-button @click="sidebarSettingDashboard = true" type="border" vs-icon="setting"> Cài đặt hiển thị</vs-button>
        </div>
        <card-dashboard 
                :dayTrafficBill="dayTrafficBill" 
                :monthTrafficCustomer="monthTrafficCustomer" 
                :monthTrafficBill="monthTrafficBill"
             />
        <vs-row vs-w="12" class="mt-15">
              <vs-col vs-justify="left" vs-align="left" vs-lg="9" vs-sm="6" vs-xs="12" >
                <tb-customer-birthday />
              </vs-col>
              <vs-col vs-justify="left" vs-align="left" vs-lg="3" vs-sm="6" vs-xs="12" >
                    <vs-card class="p-3 card-bill" v-for="(bill,index) in LIST_BILL_TODAY" :key="index">
                        <span class="btn-file" @click="openDetailBill(bill)"> <i class="fa fa-file fa-2x"></i></span>
                        <p><strong>Ngày tạo:</strong> {{bill.CREATED_AT}}</p>
                        <p><strong>Khách hàng:</strong> {{bill.TEN_KH}}</p>
                        <p><strong>Tổng tiền:</strong> {{bill.TONG_TIEN_SAU_KHI_GIAM.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') }} vnđ</p>
                    </vs-card>
              </vs-col>
        </vs-row>
        <detail-bill v-if="Object.entries(data).length > 0" :data="data" :isSidebarActive="isActiveBill" @close="isActiveBill = $event" />
        <sidebar-notify />
        <sidebar-setting-dashboard :isSidebarActive="sidebarSettingDashboard"
            @close="sidebarSettingDashboard = $event"/>
    </div>
</template>
<script>
import https from '@/axios'
import ModuleBill from '@/store/bill/moduleBill.js'
import ModuleNotify from '@/store/notify/ModuleNotify.js'
export default {
    data()
    {
        return {
            LIST_BILL_TODAY: [],
            data: {},
            isActiveBill: false,
            dayTrafficBill: [],
            monthTrafficCustomer: {},
            monthTrafficBill: {},
            sidebarSettingDashboard: false
        }
    },
    components:
    {
        'card-dashboard': () => import('./cardDashboard.vue'),
        'detail-bill': () => import('@/views/apps/bill/detailBill.vue'),
        'tb-customer-birthday': () => import('./tableCustomerBirthDay.vue'),
        'sidebar-notify': () => import('./sidebarNotify.vue'),
        'sidebar-setting-dashboard' : () => import('./sidebarSettingDashboard.vue')
    },
    methods:
    {
        openDetailBill(data)
        {
            this.isActiveBill = true
            this.data = data
        },
        apiDashboardBill()
        {
            https.get("/api/dashboard-bill")
            .then((response) => { 
                response.data.result.forEach((dashboard_bill) => {
                    this.dayTrafficBill.push({
                        name: `DOANH THU ${dashboard_bill.TEN_CUA_HANG}`,
                        series: [{
                        name: `DOANH THU ${dashboard_bill.TEN_CUA_HANG}`,
                        data: dashboard_bill.result
                        }],
                    
                    })
                })
            })
            .catch((error) => { console.log(error) })
        },
        apiDashboardCustomer()
        {
             https.get("/api/dashboard-customer")
            .then((response) => { 
                var dashboardCustomerMonth = []
                var dashboardNameMonth = []
                response.data.result.forEach((dashboard) => {
                    dashboardNameMonth.push(dashboard.THANG)
                    dashboardCustomerMonth.push(dashboard.SL)
                })
                this.monthTrafficCustomer = {
                    series: [
                        {
                            name: 'KHÁCH HÀNG',
                            data: dashboardCustomerMonth
                        }
                    ]
                }
            })
            .catch((error) => { console.log(error) })
        },
        apiDashboardTypeBill()
        {
            https.get("/api/dashboard-bill?type=bill")
            .then((response) => { 
                var dashboardCustomerMonth = []
                var dashboardNameMonth = []
                response.data.result.forEach((dashboard) => {
                    dashboardNameMonth.push(dashboard.THANG)
                    dashboardCustomerMonth.push(dashboard.SL)
                })
                this.monthTrafficBill = {
                    series: [
                        {
                            name: 'HÓA ĐƠN',
                            data: dashboardCustomerMonth
                        }
                    ]
                }
            })
            .catch((error) => { console.log(error) })
        },
        apiDashboardBillToday()
        {
             this.$store.dispatch('fetchBillToday')
            .then((response) => {
                this.LIST_BILL_TODAY = response.result
                this.$vs.notify({
                    title: 'THỐNG KÊ',
                    text: response.message,
                    color:  response.success == true ? 'success' : 'warning'
                });
            })
            .catch((err) => {
                console.log('dashboard ',err)
                this.$store.state.error = err
                this.$vs.notify({
                    title: 'THỐNG KÊ',
                    text: 'Lỗi cài đặt dữ liệu!',
                    color: 'danger'
                });
                this.LIST_BILL_TODAY = [];
                // this.$router.push('/pages/error-404');
            })
        }
    },
    beforeCreate() {
        if(!this.$store.hasModule('bill'))
        {
            this.$store.registerModule('bill',ModuleBill)
        }
        if(!this.$store.hasModule('notify'))
        {
            this.$store.registerModule('notify',ModuleNotify)
        }
        
    },
    created()
    {
        console.log('local ', localStorage.getItem('services'))
        if(this.$cookies.isKey('token'))
        {
            new Promise((resolve,reject) => {
                this.apiDashboardBillToday();
                this.apiDashboardBill();
                this.apiDashboardCustomer();
                this.apiDashboardTypeBill();
            })
        }
    },
    beforeDestroy() {
        if(this.$store.hasModule('bill'))
        {
            this.$store.unregisterModule('bill')
        }
        if(this.$store.hasModule('notify'))
        {
            this.$store.unregisterModule('notify')
        }
    },
    mounted()
    {
        if(this.$cookies.isKey('facebook'))
        {
            this.$router.push('/stores')
        }
    }
}
</script>