<template>
  <vs-sidebar @keyup.esc="isSidebarActiveLocal = false" click-not-close position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
    <div class="mt-6 flex items-center justify-between px-6">
        <h4> GỬI THÔNG BÁO</h4>        
    </div>
    <vs-divider class="mb-0"></vs-divider>
    <VuePerfectScrollbar class="scroll-area--data-list-add-new " >
        <vs-col vs-sm="12" class="pd15">
            <v-select class="select-store w-full" placeholder="Chọn cửa hàng" v-model="selected_store" :options="LIST_STORE" value="ID_CUA_HANG"  label="TEN_CUA_HANG"  ></v-select><br />
            <vs-input type="text" class="w-full" placeholder="Nhập tiêu đề thông báo"
            v-model="notify.TITLE_THONG_BAO" label="TIÊU ĐỀ THÔNG BÁO" />
            <vs-input type="text" class="w-full" placeholder="Nhập nội dung thông báo"
            v-model="notify.CONTENT_THONG_BAO" label="NỘI DUNG THÔNG BÁO" />
        </vs-col>
        <vs-col class="pd15" vs-sm="12" vs-type="flex">
            <vs-checkbox vs-value="sms" v-model="notify.TYPE_THONG_BAO">SMS</vs-checkbox>
            <vs-checkbox vs-value="notify" v-model="notify.TYPE_THONG_BAO">NOTIFY</vs-checkbox>
            <vs-checkbox vs-value="email" v-model="notify.TYPE_THONG_BAO">EMAIL</vs-checkbox>
        </vs-col>
        <vs-col class="pd15" vs-sm="12" vs-type="flex">
            <p style="font-weight: bold">DANH SÁCH KHÁCH HÀNG NHẬN THÔNG BÁO</p>
        </vs-col>
        <vs-col class="pd15" vs-sm="12" >
        <vs-checkbox class="mt-2" v-model="checkAll">Tất cả</vs-checkbox>
            <vs-checkbox class="mt-2" v-for="(customer, index) in LIST_CUSTOMER_BIRTHDAY" :key="index" :vs-value="customer.UUID_KH" v-model="notify.LIST_CUSTOMER">{{customer.TEN_KH}}</vs-checkbox>
        </vs-col>
    </VuePerfectScrollbar>
    <div class="flex flex-wrap items-center p-6 layout-pc" slot="footer">
      <vs-button type="border" :color="`success`" @click="createThongBao()">GỬI</vs-button>
      <vs-button style="margin-left: 10px;" type="border" color="danger" @click="$store.commit('SET_SIDEBAR_NOTIFY',false)">Cancel</vs-button>
    </div>
  </vs-sidebar>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import { mapGetters } from 'vuex'

export default {
  props: ["isSidebarActive", "data"],
    components:
    {
        VuePerfectScrollbar
    },
    data()
    {
        return {
           selected_store: {},
           notify: {
               ID_CUA_HANG: 0,
               TITLE_THONG_BAO: 'TIÊU ĐỀ THÔNG BÁO',
               CONTENT_THONG_BAO: '',
               TYPE_THONG_BAO: [],
               LIST_CUSTOMER: []
               
           },
           checkAll:false
        }
    },
    computed:
    {
        ...mapGetters(["LIST_STORE"]),
      isSidebarActiveLocal:
      {
          get() {
              return this.$store.state.notify.isSidebarActive
          },
          set(val)
          {
              this.$store.commit("SET_SIDEBAR_NOTIFY",false)
          }
      },
      LIST_CUSTOMER_BIRTHDAY:
      {
          get()
          {
              return this.$store.state.customer.LIST_CUSTOMER_BIRTHDAY
          }
          
      }
    },
    watch: {
        data(newVal)
        {
            if(Object.entries(newVal).length > 0)
            {
                this.selected_store = this.LIST_STORE.filter((value,index,array) => {
                    return array[index].ID_CUA_HANG == newVal.ID_CUA_HANG
                })
            }
        },
        LIST_STORE(stores)
        {
            this.selected_store = stores[0]
        },
        selected_store(store)
        {
          if(store.ID_CUA_HANG != undefined)
          {
              this.notify.ID_CUA_HANG = store.ID_CUA_HANG
          }
          else
          {
              this.notify.ID_CUA_HANG = 0
          }
        },
        checkAll(boolean)
        {
          if(boolean == true)
          {
            var LIST_CUSTOMER = []
            this.LIST_CUSTOMER_BIRTHDAY.forEach((customer) => {
              LIST_CUSTOMER.push(customer.UUID_KH)
            })
            this.notify.LIST_CUSTOMER = LIST_CUSTOMER
          }
          else
          {
            this.notify.LIST_CUSTOMER = []
          }
        }
    },
    methods: {
        initValue()
        {
          this.notify = {
            ID_CUA_HANG: 0,
            TITLE_THONG_BAO: 'TIÊU ĐỀ THÔNG BÁO',
            CONTENT_THONG_BAO: '',
            TYPE_THONG_BAO: [],
            LIST_CUSTOMER: []
          }
          this.checkAll = false
          this.selected_store = null
          
        },
        createThongBao()
        {
           if(this.notify.ID_CUA_HANG == 0)
           {
                this.$vs.notify({
                    title: 'CÀI ĐẶT THÔNG BÁO',
                    text: 'Bạn chưa chọn cửa hàng',
                    color: 'warning',
                    position: 'bottom-left'
                })
           }
           else if(this.notify.TYPE_THONG_BAO.length == 0)
           {
                this.$vs.notify({
                    title: 'CÀI ĐẶT THÔNG BÁO',
                    text: 'Bạn chưa chọn loại thông báo',
                    color: 'warning',
                    position: 'bottom-left'
                })
           }
           else if(this.notify.LIST_CUSTOMER.length == 0)
           {
               this.$vs.notify({
                   title: 'CÀI ĐẶT THÔNG BÁO',
                   text: 'Chưa có khách hàng nào',
                   color: 'warning',
                   position: 'bottom-left'
               })
           }
           else
           {
              var LIST_CUSTOMER = "";
              this.notify.LIST_CUSTOMER.forEach((customer) => {
                LIST_CUSTOMER = LIST_CUSTOMER + customer + ' ,'
              })
              this.notify.LIST_CUSTOMER = LIST_CUSTOMER
              this.$store.dispatch('createThongBao',this.notify)
                .then((response) => {
                    this.initValue()
                    this.$vs.notify({
                        title: 'CÀI ĐẶT THÔNG BÁO',
                        text: response.message,
                        color: response.success == true ? 'success': 'warning',
                        position: 'bottom-left'
                    })
                })
                .catch((err) => {
                  console.log(err)
                    this.$vs.notify({
                        title: 'CÀI ĐẶT THÔNG BÁO',
                        text: 'Lỗi! Xin vui lòng F5 thử lại!',
                        color: 'danger',
                        position: 'bottom-left'
                    })
                })
                
           }
        }
    },

}
</script>

<style lang="scss" scoped>
.card-image-customer {
  width: 150px;
  height: 200px;
  margin: auto;
  margin-bottom: 15px;
  position: relative;
}
.input-file, .Imagecustomer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
}
.Imagecustomer {z-index: 998;opacity: 1;height: auto;}
.icon-upload-file {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 997;
  transform: translate(-50%,-50%)
}
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 400px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    height: calc(100% - 4.3rem);
}
#data-setting.active {position: absolute;width: 100%;height: 100%;top: 0;left: 0;opacity: .5;;}
</style>
