<template>
  <vs-sidebar @keyup.esc="isSidebarActiveLocal = false" position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
    <div class="mt-6 flex items-center justify-between px-6">
        <h4>CÀI ĐẶT HIỂN THỊ THỐNG KÊ</h4>
        <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
    </div>
    <vs-divider class="mb-0"></vs-divider>
    <VuePerfectScrollbar class="scroll-area--data-list-add-new p-6" >
      <div class="list-dashboard-system p-3">
        <p align="center">DANH SÁCH CARD THỐNG KÊ CỦA HỆ THỐNG</p>
        <ul class="mt-5">
          <li class="item-dashboard p-2" v-for="(item,index) in lstDashboard" :key="index">
            <vs-checkbox v-model="item.display">
              <span class="ml-5">{{item.text}}</span>
            </vs-checkbox>
          </li>
        </ul>
      </div>
    </VuePerfectScrollbar>
    <div class="flex flex-wrap items-center p-6" slot="footer">
      <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">Cancel</vs-button>
    </div>
  </vs-sidebar>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'

export default {
    props: {
        isSidebarActive: {
            required: true,
            type: Boolean
        }
    },
    components:
    {
        VuePerfectScrollbar,
    },
    data()
    {
        return {
          lstDashboard: [
            {
              code: 'bill-today',
              text: 'Thống kê doanh thu ngày',
              display: true
            },
            {
              code: 'bill-month',
              text: 'Thống kê doanh thu tháng',
              display: false
            },
            {
              code: 'bill-year',
              text: 'Thống kê doanh thu năm',
              display: false
            },
            {
              code: 'total-customer',
              text: 'Thống kê số lượng khách hàng',
              display: true
            },
            {
              code: 'total-bill',
              text: 'Thống kê hóa đơn',
              display: true
            },

          ]
        }
    },
    computed:
    {
      isSidebarActiveLocal:
      {
          get() {
              return this.isSidebarActive
          },
          set(val)
          {
              this.$emit('close',val)
          }
      }
    },
    methods:
    {
    
    }
}
</script>


<style lang="scss" scoped>
.card-image-customer {
  width: 150px;
  height: 200px;
  margin: auto;
  margin-bottom: 15px;
  position: relative;
}
.input-file, .Imagecustomer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
}
.Imagecustomer {z-index: 998;opacity: 1;height: auto;}
.icon-upload-file {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 997;
  transform: translate(-50%,-50%)
}
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 500px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    height: calc(100% - 4.3rem);
}
#data-setting.active {position: absolute;width: 100%;height: 100%;top: 0;left: 0;opacity: .5;;}
</style>