<template>
    <div>
        <vs-table ref="table" :data="BILLS_LOCAL" >
          <div id="table-ecosy" slot="header" class="header-table-search flex flex-wrap-reverse items-center flex-grow  mb-10">
                <v-select class="select-store mw-200"  placeholder="Chọn cửa hàng"  v-model="selected_store" :options="LIST_STORE" value="ID_CUA_HANG"  label="TEN_CUA_HANG" ></v-select>
                <vs-input class="ml-5" type="date" lbael="Ngày bắt đầu" v-model="filter.time_start"></vs-input>
                <vs-input class="ml-5" type="date" lbael="Ngày kết thúc" v-model="filter.time_end" ></vs-input>
                <vs-button type="border ml-5" @click="FilterBill()"> <i class="fa fa-search"></i> </vs-button>
            <div class="total-bill w-full">
              <b>{{(TOTAL_BILL).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')}} <small>vnđ</small></b> 
            </div> 
          </div>
            
            
          <template slot="thead" >
            <vs-th sort-key="image">STT</vs-th>
            <vs-th>NGÀY LẬP HÓA ĐƠN</vs-th>
            <vs-th sort-key="managers">CỬA HÀNG</vs-th>
            <vs-th sort-key="managers">KHÁCH HÀNG</vs-th>
            <!-- <vs-th sort-key="category">SẢN PHẨM MUA</vs-th> -->
            <vs-th sort-key="category">TỔNG TIỀN HÓA ĐƠN</vs-th>
            <vs-th>TỔNG TIỀN SAU KHI GIẢM</vs-th>
            <vs-th sort-key="category">NGƯỜI LẬP HÓA ĐƠN</vs-th>
            <!-- <vs-th sort-key="popularity">NGÀY LẬP HÓA ĐƠN</vs-th> -->
            <vs-th sort-key="action"> </vs-th>
          </template>
          <template slot-scope="{data}">
            <tbody>
              <vs-tr :data="tr" :key="index" v-for="(tr, index) in data">


                <vs-td>
                 {{index + 1}}
                </vs-td>
                
                <vs-td>{{tr.CREATED_AT}}</vs-td>

                <vs-td>
                  <p class="product-name font-medium truncate">{{ tr.TEN_CUA_HANG }}</p>
                </vs-td>

                <vs-td>
                  <p class="action-hover" @click="editData(tr)">{{ tr.TEN_KH }}</p>
                </vs-td>

                <vs-td>
                  <p class="product-name font-medium truncate">{{ (tr.TONG_TIEN).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') }} vnđ    </p>
                </vs-td>
                 <vs-td>
                  <p class="product-name font-medium truncate">{{ (tr.TONG_TIEN_SAU_KHI_GIAM).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') }} vnđ    </p>
                </vs-td>
                <vs-td>
                  <p class="product-name font-medium truncate">{{ tr.HO_TEN_USER }}</p>
                </vs-td>

               



                <vs-td class="whitespace-no-wrap">
                  <vs-button class="btn-not-color" @click="editData(tr)" size="small"> <vs-icon icon="edit"></vs-icon></vs-button>
                  <vs-button class="btn-not-color" @click="deleteData(tr)" size="small"> <vs-icon icon="delete"></vs-icon></vs-button>
                </vs-td>

              </vs-tr>
            </tbody>
          </template>
        </vs-table>
         <detail-bill :isSidebarActive="isSidebarActive" :data="dataEdit" @close="isSidebarActive = $event" />
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import moment from 'moment'
export default {
    components:
    {
      'detail-bill': () => import('@/views/apps/bill/detailBill.vue')
    },
    data()
    {
        return {
            BILLS_LOCAL: [],
            selected_store: null,
            TOTAL_BILL: 0,
            isSidebarActive: false,
            dataEdit: null,
            filter: {
              time_start: moment(new Date()).format('YYYY-MM-DD'),
              time_end: moment(new Date()).format('YYYY-MM-DD')
            }
        }  
    },
    computed:
    {
        ...mapGetters(["BILLS", "LIST_STORE", "BILL_SEARCH"]),
    },
    watch:
    {
        BILLS(new_bills)
        {   var total = 0;
            new_bills.forEach((bill) => {
              total = total + parseInt(bill.TONG_TIEN_SAU_KHI_GIAM)
            })
            console.log(total)
            this.TOTAL_BILL = total;
            this.BILLS_LOCAL = new_bills
        },
        selected_store(val)
        {
          this.$store.commit("FilterBillByStore",val)
        },
        BILL_SEARCH(new_search)
        {
            var total = 0;
            new_search.forEach((bill) => {
              total = total + parseInt(bill.TONG_TIEN)
            })
            this.TOTAL_BILL = total;
          this.BILLS_LOCAL = new_search
        }
    },
    methods:
    {
      renderListProduct(ListProduct)
      {
        const LIST = JSON.parse(ListProduct)
        return LIST
      },
      deleteData(data)
      {
        this.$vs.dialog({
            type:'confirm',
            color: 'warning',
            title:  'Xóa hóa đơn',
            text: `Bạn có đồng ý xóa hóa đơn của khách hàng ${data.TEN_KH} ?`,
            data: data,
            acceptText: 'Đồng ý',
            cancelText: 'Hủy',
            accept: () => {
              this.acceptDelBill(data)
            }
          })
        
      },
      editData(data)
      {
        this.isSidebarActive = true
        this.dataEdit = data
      },
      acceptDelBill(data)
      {
        this.$store.dispatch("deleteBill",data.ID_HOA_DON)
        .then((response) => {
            if(response.success == true)
            {
              this.$vs.notify({
                title: 'Xóa hóa đơn',
                text:response.message,
                position: 'bottom-left',
                color:'success'
              })
            }
            else
            {
              this.$vs.notify({
                title: 'Xóa hóa đơn',
                text:response.message,
                position: 'bottom-left',
                color:'warning'
              })
            }
        })
        .catch(() => {
            this.$vs.notify({
              title: 'Xóa hóa đơn',
              text: 'Lỗi server!',
              position: 'bottom-left',
              color:'danger'
            })
        })
      },
      FilterBill()
      {
        if(this.filter.time_start == null || this.filter.time_end == null)
        {
          if(this.filter.time_start == null)
          {
            this.$vs.notify({
              title: 'TÌM KIẾM HÓA ĐƠN',
              text: 'Bạn chưa nhập ngày bắt đầu',
              position: 'bottom-left',
              color: 'warning'
            })
          }
          if(this.filter.time_end == null)
          {
            this.$vs.notify({
              title: 'TÌM KIẾM HÓA ĐƠN',
              text: 'Bạn chưa nhập ngày bắt đầu',
              position: 'bottom-left',
              color: 'warning'
            })
          }
        }
        if(this.filter.time_end != null && this.filter.time_start !=null)
        {
          if(new Date(this.filter.time_end) < new Date(this.filter.time_start))
          {
            this.$vs.notify({
              title: 'TÌM KIẾM HÓA ĐƠN',
              text: 'NGÀY KẾT THÚC KHÔNG THỂ NHỎ HƠN NGÀY BẮT ĐẦU',
              position: 'bottom-left',
              color: 'warning'
            })
          }
          else
          {
            this.$vs.loading()
            this.filter.ID_CUA_HANG = this.selected_store == null ? 0 : this.selected_store.ID_CUA_HANG
            this.$store.dispatch('fetchBill',this.filter)
            .then((response) => {
               this.$vs.loading.close()
               this.$vs.notify({
                title: 'DANH SÁCH HÓA ĐƠN',
                text: response.message,
                position: 'bottom-left',
                color: 'success'
              })
            })
            .catch((err) => {
              this.$vs.loading.close()
              console.log(err)
              this.$vs.notify({
                title: 'DANH SÁCH HÓA ĐƠN',
                text: 'Lỗi! Xin vui lòng lọc lại',
                position: 'bottom-left',
                color: 'danger'
              })
            })
          }
        }
      }
    },
    created()
    {
      this.$vs.loading()
      this.$store.dispatch('fetchBill',this.filter).then(() => {
        setTimeout(() => {
          this.$vs.loading.close()
        },1000)
      })
      .catch(() => {
        setTimeout(() => {
          this.$vs.loading.close()
        },1000)

        this.$vs.notify({
          title: 'ECOSY',
          text: 'Qúa trình tải dữ liệu có vấn đề, xin bạn vui lòng load trang lại!',
          position: 'bottom-left',
          color:'warning'
        })
      })
    }
}
</script>

