<template>
    <div v-if="LIST_CUSTOMER_LOCAL.length > 0">
         <vs-table ref="table" :data="LIST_CUSTOMER_LOCAL" >
            <div slot="header" style="width:100%">
              <vs-row vs-w="12">
                  <vs-col class="p-6 pl-0"  vs-justify="left" vs-align="left" vs-lg="12" vs-sm="12" vs-xs="12" >
                    <p style="font-weight:bold">DANH SÁCH KHÁCH HÀNG CÓ SINH NHẬT THÁNG {{new Date().getMonth() + 1}}</p>
                    <vs-button class="mt-2" type="border" @click="$store.commit(`SET_SIDEBAR_NOTIFY`,true)">THÔNG BÁO <i class="ml-5 fa fa-check"> </i></vs-button>
                  </vs-col>
                   
              </vs-row>
              
            </div>

          <template slot="thead">
            <vs-th sort-key="tenkh">TÊN KHÁCH HÀNG</vs-th>
            <vs-th sort-key="managers">NGÀY SINH</vs-th>
            <vs-th sort-key="managers">SDT</vs-th>
            <vs-th sort-key="category">GIỚI TÍNH</vs-th>
            <vs-th sort-key="category">THÀNH PHỐ</vs-th>
            <vs-th sort-key="category">QUẬN / HUYỆN</vs-th>
            <vs-th sort-key="popularity">DC KH</vs-th>
            <vs-th sort-key="money" >TỔNG TIỀN CHI </vs-th>
          </template>
          <template slot-scope="{data}">
            <tbody>

              <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                <vs-td>
                  <p class="product-name font-medium truncate"><a :href="`/customers/${tr.UUID_KH}?ID_CUA_HANG=${tr.ID_CUA_HANG}`"> {{ tr.TEN_KH }} </a> </p>
                </vs-td>

                <vs-td>
                  <p class="product-name font-medium truncate">{{ tr.NGAY_SINH_KH }}  <span class="birthday" :class="((new Date(tr.NGAY_SINH_KH).getMonth() + 1) == (new Date().getMonth() + 1) ? 'active' : '')"><i class="fa fa-birthday-cake"></i></span> </p>
                </vs-td>

                <vs-td>
                  <p class="product-name font-medium truncate">{{ tr.SDT_KH }}</p>
                </vs-td>

                <vs-td>
                  <p class="product-name font-medium truncate">{{ tr.GT_KH == 0 ? 'Nam' : 'Nữ'}}</p>
                </vs-td>

                <vs-td>
                  <p class="product-name font-medium truncate">{{ tr.NAME_PROVINCE }}</p>
                </vs-td>
                <vs-td>
                  <p class="product-name font-medium truncate">{{ tr.NAME_DISTRICT }}</p>
                </vs-td>

                <vs-td>
                  <p class="product-name font-medium truncate">{{ tr.DC_NHA_KH == undefined ? '' :  tr.DC_NHA_KH }}</p>
                </vs-td>

                <vs-td>
                  <p class="product-name font-medium truncate">{{ tr.SO_TIEN_DA_CHI == undefined ? '' : (tr.SO_TIEN_DA_CHI).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') }}</p>
                </vs-td>

              </vs-tr>
            </tbody>
          </template>
        </vs-table>
    </div>
</template>

<script>
export default {
    data()
    {
        return {
            LIST_CUSTOMER_LOCAL: []
        }
    },
    created() {
        this.$store.dispatch('fetchCustomerBirthdayInMonth')
        .then((response) => {
            this.LIST_CUSTOMER_LOCAL = response.result
        })
        .catch((err) => {
            this.LIST_CUSTOMER_LOCAL = []
        })
    },
}
</script>