<template>
    <div id="page-setting-notify">
        <div class="fuelux mb-2">
            <div class="wizard">
                <ul class="list-tab steps">
                    <li :class="tab.data == true ? 'active' : ''" @click="chosetab('data')">
                        <span class="badge badge-info">1</span>
                        Danh sách thông báo
                        <span class="chevron"></span>
                    </li>
                    <li :class="tab.setting == true ? 'active' : ''" @click="chosetab('setting')">
                        <span class="badge badge-info">2</span>
                        Cài đặt thông báo
                        <span class="chevron"></span>
                    </li>
            
                </ul>
            </div>
        </div>
       <div class="content-tab" v-if="tab.data == true">
           <data-notify-birthday />
        </div>
        <div class="content-tab" v-if="tab.setting == true">
           <setting-notify-birthday />
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    components:
    {
        'sidebar-notify' : () => import('./sidebarNotify.vue'),
        'data-notify-birthday' : () => import('./data/dataNotifyBirthday.vue'),
        'setting-notify-birthday' : () => import('./data/dataSettingNotify.vue')
    },
    data()
    {
        return {
            tab: {
                data: true,
                setting: false
            }
        }
    },
    methods: {
        apiFetchNotify()
        {
            this.$vs.loading();
            this.$store.dispatch('fetchNotifyBirthday')
            .then((response) => {
                if(response.success == false)
                {
                    this.$vs.notify({
                        title: 'LOAD DỮ LIỆU CÀI ĐẶT THÔNG BÁO SINH NHẬT',
                        text: response.message,
                        color: 'warning'
                    });
                }
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
            .catch((err) => {
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
        },
        chosetab(tab)
        {
            this.tab = {
                setting: false,
                data: false
            }
            this.tab[tab] = true;
        }
    },
    created() {
        this.apiFetchNotify();
    },
}
</script>