<template>
  <vs-sidebar position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
    <div class="mt-6 flex items-center justify-between px-6">
        <h4>{{ Object.entries(this.data).length === 0 ? "THÊM MỚI" : "CẬP NHẬT" }} THÔNG BÁO</h4>
        <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
    </div>
    <vs-divider class="mb-0"></vs-divider>
    <VuePerfectScrollbar class="scroll-area--data-list-add-new" :settings="settings">
      <div class="p-3">
        <label for="LIST_STORE" class="vs-input--label">
          Danh sách cửa hàng
        </label>
        <v-select name="LIST_STORE" class="w-full" :options="LIST_STORE" value="ID_CUA_HANG" label="TEN_CUA_HANG"
          placeholder="Chọn cửa hàng" v-model="selected_store" :disabled="Object.entries(this.data).length > 0"></v-select>
      </div>
      <div class="p-3">
        <label for="TITLE_NOTIFY" class="vs-input--label">
          Tiêu đề thông báo <span class="text-danger">(*)</span>
        </label>
        <vs-input name="TITLE_NOTIFY" class="w-full" v-model="notify.TITLE_NOTIFY"></vs-input>
      </div>
      
      <div class="p-3">
        <label for="CONTENT_NOTIFY" class="vs-input--label">
          Nội dung thông báo
        </label>
        <vs-textarea name="CONTENT_NOTIFY" class="w-full" v-model="notify.CONTENT_NOTIFY" height="100px">

        </vs-textarea>
      </div>
    </VuePerfectScrollbar>
    <div class="flex flex-wrap items-center p-6" slot="footer">
      <vs-button  class="mr-6" @click="submitNotify" :disabled="!isFormValid">{{Object.entries(this.data).length === 0 ? "THÊM MỚI": "CẬP NHẬT"}}</vs-button>
      <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">ĐÓNG</vs-button>
    </div>
  </vs-sidebar>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import {mapGetters} from 'vuex'
export default {
    components:
    {
      VuePerfectScrollbar
    },
   props: {
     isSidebarActive: {
       type: Boolean,
       required: true
     },
    data: {
      type: Object,
      default: () => {},
    }
  },
  watch: {
    
    isSidebarActiveLocal(val) {
      if(!val) return
      this.$validator.reset()
      if(Object.entries(this.data).length === 0) {
      }else {
        this.notify = this.data;
        this.selected_store = this.LIST_STORE.find((store) => store.ID_CUA_HANG == this.data.ID_CUA_HANG);
      }
    },
    selected_store(store)
    {
      if(store != null)
      {
        this.notify.ID_CUA_HANG = store.ID_CUA_HANG;
        this.notify.TEN_CUA_HANG = store.TEN_CUA_HANG
      }
      else
      {
        this.notify.ID_CUA_HANG = 0;
        this.notify.TEN_CUA_HANG = '';
      }
    }
  },
  computed: {
    ...mapGetters(["LIST_STORE"]),
    isFormValid() {
      return !this.errors.any()
    },
    isSidebarActiveLocal:{
      get()
      {       
        return this.isSidebarActive
      },
      set(val)
      {
        this.$emit('closeSidebar',val)
        this.initValues() 
      }
    }
  },
  data()
  {
    return {
      settings: { // perfectscrollbar settings
          maxScrollbarLength: 60,
          wheelSpeed: .60,
      },
      selected_store: null,
      notify: {

      }
    }
  },
  methods: {
    initValues() {
        this.notify = {
          TITLE_NOTIFY: "",
          CONTENT_NOTIFY: ""
        }
    },
    submitNotify()
    {
      if(Object.entries(this.data).length == 0)
      {
        if(this.selected_store == null)
        {
          this.$vs.notify({
            title: 'CÀI ĐẶT THÔNG BÁO SINH NHẬT',
            text: 'Bạn chưa chọn cửa hàng',
            color: 'warning'
          });
        } 
        else
        {
          this.apiCreateNotify();
        }
      }
      else
      {
        this.apiUpdateNotifyBirthday();
      }
    },
    apiCreateNotify()
    {
      this.$vs.loading();
      this.$store.dispatch('createNotifyBirthday',this.notify)
      .then((response) => {
        this.$vs.notify({
          title: 'CÀI ĐẶT THÔNG BÁO SINH NHẬT',
          text: response.message,
          color: response.success == true ? 'success' : 'warning'
        });
        setTimeout(() => {
          this.$vs.loading.close();
        }, 500);
      })
      .catch((err) => {
        setTimeout(() => {
          this.$vs.loading.close();
        }, 500);
      })
    },
    apiUpdateNotifyBirthday()
    {
      this.$vs.loading();
      this.$store.dispatch("updateNotifyBirthday",this.notify)
      .then((response) => {
        this.$vs.notify({
          title: 'CẬP NHẬT THÔNG BÁO SINH NHẬT',
          text: response.message,
          color: response.success == true ? 'success' : 'warning'
        });
        setTimeout(() => {
          this.$vs.loading.close();
        }, 500);
      })
      .catch((err) => {
        setTimeout(() => {
          this.$vs.loading.close();
        }, 500);
      })
    }

  },

}
</script>


<style lang="scss" scoped>
.m15 {margin-top: 15px;}
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 400px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    height: calc(100% - 4.3rem);
}
</style>