

<template>
  <div class="layout--main" 
    :class="[layoutTypeClass, navbarClasses, footerClasses, {'app-page': isAppPage}]" >
    <v-nav-menu
      :navMenuItems = "navMenuItems"
      :logo         = "navMenuLogo"
      title         = "CRM ECOSY"
      parent        = ".layout--main" />

    <div id="content-area" :class="[contentAreaClass, {'show-overlay': bodyOverlay}]">
      <div id="content-overlay" />

    <!-- Navbar -->
    <template v-if="mainLayoutType === 'horizontal' && windowWidth >= 1200">
      <the-navbar-horizontal
        :navbarType= "navbarType"
        :logo= "navMenuLogo"
        :class="[
          {'text-white' : isNavbarDark  && !isThemeDark},
          {'text-base'  : !isNavbarDark && isThemeDark}
        ]" />

      <div style="height: 62px" v-if="navbarType === 'static'"></div>

      <h-nav-menu
        :class="[
          {'text-white' : isNavbarDark  && !isThemeDark},
          {'text-base'  : !isNavbarDark && isThemeDark}
        ]"
        :navMenuItems="navMenuItems" />
    </template>

    <template v-else>
      <the-navbar-vertical
        :navbarColor="navbarColor"
        :class="[
          {'text-white' : isNavbarDark  && !isThemeDark},
          {'text-base'  : !isNavbarDark && isThemeDark}
        ]" />
    </template>
    <!-- /Navbar -->

      <div class="content-wrapper">

        <div class="router-view">
          <div class="router-content">

            <div class="group-menu">
              <label for="GROUP_MENU">Hệ thống cửa hàng</label>
              <ul class="mt-3 group-menu">
                  <li style="item-menu" v-for="(menu, index) in menus" :key="index">
                     <a :href="menu.link">
                        <img width="35px" :src="menu.icon" alt=""><br/>
                        <span class="text-icon">{{menu.text}}</span>
                     </a>
                  </li>
              </ul>                
            </div>
            
            <div class="content-area__content">

              <back-to-top bottom="5%" visibleoffset="500" v-if="!hideScrollToTop">
                <vs-button icon-pack="feather" icon="icon-arrow-up" class="shadow-lg btn-back-to-top" />
              </back-to-top>

              <transition :name="routerTransition" mode="out-in">
                <router-view @changeRouteTitle="changeRouteTitle"></router-view>
              </transition>
            </div>
          </div>
        </div>
      </div>
      <the-footer />
    </div>
    <sidebar-media />
  </div>
</template>


<script>
import BackToTop           from 'vue-backtotop'
import HNavMenu            from "@/layouts/components/horizontal-nav-menu/HorizontalNavMenu.vue"
import navMenuItems        from "@/layouts/components/vertical-nav-menu/navMenuItems.js"
import navMenuItemsAdmin        from "@/layouts/components/vertical-nav-menu/navMenuItemsAdmin.js"
import TheCustomizer       from "@/layouts/components/customizer/TheCustomizer.vue"
import TheNavbarHorizontal from '@/layouts/components/navbar/TheNavbarHorizontal.vue'
import TheNavbarVertical   from '@/layouts/components/navbar/TheNavbarVertical.vue'
import TheFooter           from '@/layouts/components/TheFooter.vue'
import themeConfig         from '@/../themeConfig.js'
import VNavMenu            from '@/layouts/components/vertical-nav-menu/VerticalNavMenu.vue'
import ModuleMedia from '@/store/media/ModuleMedia.js'

const VxTour = () => import('@/components/VxTour.vue')
import axios from '@/axios'
import messaging from '@/services/messaging.js';
export default {
  // sockets: {
  //     connect: function () {
  //         console.log('socket connected')
  //     },
  //     disconnect()
  //     {

  //     },
  //     customEmit: function (data) {
  //         console.log('this method was fired by the socket server. eg: io.emit("customEmit", data)')
  //     }
  // },
  components: {
    BackToTop,
    HNavMenu,
    TheCustomizer,
    TheFooter,
    TheNavbarHorizontal,
    TheNavbarVertical,
    VNavMenu,
    VxTour,
    'sidebar-media' : () => import('@/views/apps/products/media/sidebarMedia.vue')
  },
  data() {
    return {
      disableCustomizer : themeConfig.disableCustomizer,
      disableThemeTour  : themeConfig.disableThemeTour,
      footerType        : themeConfig.footerType  || 'static',
      hideScrollToTop   : themeConfig.hideScrollToTop,
      isNavbarDark      : false,
      navbarColor       : themeConfig.navbarColor || '#fff',
      navbarType        : themeConfig.navbarType  || 'floating',
      navMenuItems      : navMenuItems,
      navMenuItemsAdmin : navMenuItemsAdmin,
      navMenuLogo       : require('@/assets/images/logo/logo.png'),
      routerTransition  : themeConfig.routerTransition || 'none',
      routeTitle        : this.$route.meta.pageTitle,
      steps: [{
          target  : '#btnVNavMenuMinToggler',
          content : 'Toggle Collapse Sidebar.'
        },
        {
          target  : '.vx-navbar__starred-pages',
          content : 'Create your own bookmarks. You can also re-arrange them using drag & drop.'
        },
        {
          target  : '.i18n-locale',
          content : 'You can change language from here.'
        },
        {
          target  : '.navbar-fuzzy-search',
          content : 'Try fuzzy search to visit pages in flash.'
        },
        {
          target  : '.customizer-btn',
          content : 'Customize template based your preference',
          params  : {
            placement: 'left'
          }
        },
      ],
      menus: [
        {
          icon: require('@/assets/icons/customer/shop.svg'),
          text: 'Cửa hàng',
          link: '/cua-hang'
        },
        {
          icon: require('@/assets/icons/bills/bill.svg'),
          text: 'Hóa đơn',
          link: '/hoa-don'
        },
        {
          icon: require('@/assets/icons/bills/add-bill.svg'),
          text: 'Thêm mới',
          link: '/hoa-don/them-moi'
        },
        {
          icon: require('@/assets/icons/customer/customer.svg'),
          text: 'Khách hàng',
          link: '/khach-hang'
        },
        //  {
        //   icon: require('@/assets/icons/customer/add-customer.svg'),
        //   text: 'Thêm mới',
        //    link: '/customers/add'
        // },
        {
          icon: require('@/assets/icons/customer/customer-service.svg'),
          text: 'Chăm sóc',
          link: '/ich-vu-khach-hang/cham-soc'
        },
        {
          icon: require('@/assets/icons/customer/type-customer.svg'),
          text: 'Phân loại',
          link: '/khach-hang/loai-khach-hang'
        },
        // {
        //   icon: require('@/assets/icons/bell.svg'),
        //   text: 'Thông báo',
        //   link: '/notifys'
        // },
        {
          icon: require('@/assets/icons/marketing.svg'),
          text: 'Quảng cáo',
          link: '/quang-cao'
        },
        {
          icon: require('@/assets/icons/add-marketing.svg'),
          text: 'Thêm mới',
          link: '/them-moi-quang-cao'
        }
      ]
    }
  },
  watch: {
    "$route"() {
      if(this.$cookies.isKey('facebook'))
      {
        this.$router.push('/stores')
      }
      this.routeTitle = this.$route.meta.pageTitle
    },
    isThemeDark(val) {
      const color = this.navbarColor == "#fff" && val ? "#10163a" : "#fff"
      this.updateNavbarColor(color)
    },
    "$store.state.mainLayoutType"(val) {
      this.setNavMenuVisibility(val)
      this.disableThemeTour = true
    },
    windowWidth(val) {
      if(val < 1200) this.disableThemeTour = true
    },
    verticalNavMenuWidth() {
      this.disableThemeTour = true
    }
  },
  computed: {
    bodyOverlay() { return this.$store.state.bodyOverlay },
    contentAreaClass() {
      if(this.mainLayoutType === "vertical") {
        if      (this.verticalNavMenuWidth == "default") return "content-area-reduced"
        else if (this.verticalNavMenuWidth == "reduced") return "content-area-lg"
      }
      // else if(this.mainLayoutType === "boxed") return "content-area-reduced"
      else return "content-area-full"
    },
    footerClasses() {
      return {
        'footer-hidden': this.footerType == 'hidden',
        'footer-sticky': this.footerType == 'sticky',
        'footer-static': this.footerType == 'static',
      }
    },
    isAppPage() {
      return this.$route.path.includes('/apps/') ? true : false
    },
    isThemeDark()     { return this.$store.state.theme == 'dark' },
    layoutTypeClass() { return `main-${this.mainLayoutType}` },
    mainLayoutType()  { return this.$store.state.mainLayoutType  },
    navbarClasses()   {
      return {
        'navbar-hidden'   : this.navbarType == 'hidden',
        'navbar-sticky'   : this.navbarType == 'sticky',
        'navbar-static'   : this.navbarType == 'static',
        'navbar-floating' : this.navbarType == 'floating',
      }
    },
    verticalNavMenuWidth() { return this.$store.state.verticalNavMenuWidth },
    windowWidth()          { return this.$store.state.windowWidth }
  },
  methods: {
    changeRouteTitle(title) {
      this.routeTitle = title
    },
    updateNavbar(val) {
      if (val == "static") this.updateNavbarColor("#fff")
      this.navbarType = val
    },
    updateNavbarColor(val) {
      this.navbarColor = val
      if (val == "#fff") this.isNavbarDark = false
      else this.isNavbarDark = true
    },
    updateFooter(val) {
      this.footerType = val
    },
    updateRouterTransition(val) {
      this.routerTransition = val
    },
    setNavMenuVisibility(layoutType) {
      if((layoutType === 'horizontal' && this.windowWidth >= 1200) || (layoutType === "vertical" && this.windowWidth < 1200)) {
        this.$store.commit('TOGGLE_IS_VERTICAL_NAV_MENU_ACTIVE', false)
        this.$store.dispatch('updateVerticalNavMenuWidth', 'no-nav-menu')
      }
      else {
        this.$store.commit('TOGGLE_IS_VERTICAL_NAV_MENU_ACTIVE', true)
      }
    },
    toggleHideScrollToTop(val) {
      this.hideScrollToTop = val
    },
    checkTokenUser()
    {
      if(!this.$cookies.isKey('token') || this.$cookies.isKey('token') == undefined)
      {
        this.$cookies.remove('token');
        this.$cookies.remove('info');
        this.$cookies.remove('admin');
        this.$router.push('/login')
      }
      else{
        this.requestNotifyToken();
        axios.defaults.headers.common['Authorization'] = this.$cookies.get('token')
        if(Object.entries(this.$store.state.user.info).length == 0 || this.$store.state.user.info == null)
        {
          this.$store.state.user.info = this.$cookies.get('info')
        }
        if(this.$cookies.get('admin') == 'true')
        {
          this.navMenuItems = this.navMenuItemsAdmin
        }
        this.$store.dispatch('fetchStore').then((response) => {
          if(response.status == 401) this.$router.push('/logout');
        })

      }
    },
    getMessagingToken () {
        messaging.getToken().then(async (token) => {
            if (token) {
                    const currentMessageToken = window.localStorage.getItem('messagingToken')
                    console.log('token will be updated', currentMessageToken != token)
                    if(currentMessageToken != token){
                        // await this.saveToken(token)
                    }
                } else {
                    console.log('No Instance ID token available. Request permission to generate one.');
                    // this.notificationsPermisionRequest();
                }
        }).catch(function(err) {
            console.log('An error occurred while retrieving token. ', err);
        });
    },
    requestNotifyToken()
    {
      
      var vue = this;
      messaging.requestPermission().then(function(token) {
          messaging.getToken().then((currentToken) => {
              if (currentToken) {
              
                const currentMessageToken = window.localStorage.getItem('messagingToken')
                if(currentMessageToken == null)
                {
                  axios.post('/api/user-notify-token',{
                    TOKEN_NOTIFY: currentToken
                  })
                  .then((response) => {
                    console.log(response.data)
                  });
                }
                else
                {
                  if(currentMessageToken == currentToken)
                  {
                    axios.post('/api/user-notify-token/'+currentMessageToken,{
                      TOKEN_NOTIFY: currentToken
                    })
                    .then((response) => {
                      console.log(response.data)
                    });
                  }
                  console.log('token ', currentMessageToken, currentToken)
                }
                localStorage.setItem('messagingToken', currentToken);
              } else {
              // Show permission request.
              console.log('No Instance ID token available. Request permission to generate one.');
              }
              }).catch((err) => {
              console.log('An error occurred while retrieving token. ', err);
          });
      });
    }
  },

  mounted()
  {
    this.checkTokenUser()
    if(!this.$store.hasModule('media'))
    {
      this.$store.registerModule('media',ModuleMedia);
    }
  },
  created() {
    const color = this.navbarColor == "#fff" && this.isThemeDark ? "#10163a" : this.navbarColor
    this.updateNavbarColor(color)
    this.setNavMenuVisibility(this.$store.state.mainLayoutType)
    this.checkTokenUser()
    if(!this.$store.hasModule('media'))
    {
      this.$store.registerModule('media',ModuleMedia);
    }
  }
}

</script>

<style lang="css">
  .group-menu>li {display: inline-block; widows: 45px;}
  .group-menu>li {text-align: center;margin:5px;}
  .group-menu>li>img {width: 28px;;}
  .group-menu>li .text-icon {font-size: 12px;}
  .group-menu {display: none;}
@media(max-width: 956px){
    .group-menu {
      display: block;
    }
  }
</style>