<template lang="html">
    <div class="data-menu">
        <li class="name">
            <button @click="show_sub = !show_sub" class="p-3 btn-closespan" :class="show_sub == true ? 'active': ''" v-if="menu.children.length > 0">{{show_sub == true ? '-' : '+'}}</button>
            <span @click="edit_menu(menu)"> {{menu.NAME_MENU}}</span>
        </li>
        <li class="desc">{{menu.DESC_MENU}}</li>
        <li class="stt">{{menu.STT_MENU}}</li>
        <li class="chose">
            <vs-checkbox v-model="check_menu" vs-true="true" vs-false="false"></vs-checkbox>
            <button @click="edit_menu(menu)"><i class="fa fa-edit"></i></button>
            <button @click="delete_menu(menu)"><i class="fa fa-trash"></i></button>
        </li>
        <item-menu-sub 
            :class="show_sub == true ? 'active': ''"
            v-for="(menu_sub, index) in menu.children" 
            :key="index" 
            :menu_sub="menu_sub"
             />
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    props: {
        menu: {
            type: Object,
            required: true
        }
    },
    components:{
        'item-menu-sub': () => import('./itemSubMenu.vue')
    },
    data()
    {
        return {
            show_sub: false,
            check_menu: false
        }
    },
    computed:{
        ...mapGetters(["list_menu_by_role"])
    },
    watch: {
        list_menu_by_role(list_menu)
        {
            this.check_menu = list_menu.indexOf(this.menu.UUID_MENU) != -1 ? true : false;
        },
        check_menu(new_check)
        {
            if(new_check == true)
            {
                this.show_sub = true
                this.$store.commit("ADD_MENU_DETAIL",this.menu.UUID_MENU)
            }
            else
            {
                this.$store.commit("REMOVE_MENU_DETAIL",this.menu.UUID_MENU)
            }
        }
    },
    methods: {
        edit_menu(data)
        {
           this.$store.commit('EDIT_MENU',data)
        },
        delete_menu(data)
        {
            this.$vs.dialog({
                type:'confirm',
                color: 'warning',
                title: 'Xóa menu' ,
                text: 'Bạn chắc chắn xóa menu  '+data.NAME_MENU + '?',
                data: data,
                acceptText: 'Đồng ý',
                cancelText: 'Hủy',
                accept: () => {
                this.accept_delete_menu(data)
                }
            })
        },
        accept_delete_menu(data)
        {
            this.$vs.loading();
            this.$store.dispatch('deleteMenu',data)
            .then((response) => {
                setTimeout(() => {
                    this.$vs.loading.close()
                }, 500);
                this.$vs.notify({
                    title: 'XÓA MENU',
                    text: response.message,
                    color: response.success == true ? 'success' : 'warning'
                })
            })
            .catch((err) => {
                console.log(err)
                setTimeout(() => {
                    this.$vs.loading.close()
                }, 500);
                this.$vs.notify({
                    title: 'XÓA MENU',
                    text: 'Lỗi! Xin vui lòng F5 thử lại!',
                    color: 'danger'
                })
            })
        }
    },
}
</script>
<style>
.btn-closespan {cursor: pointer;background: transparent;border: none; outline: none;}
.closespan::before {
    content: '\f147';
}
.closespan.active::before {
    content: '\f196';
}
.data-menu-sub {display: none;}
.data-menu-sub.active {display: block;}
</style>