<template lang="html">
    <div class="data-menu data-menu-sub">
        <li class="name" @click="edit_menu(menu_sub)">
            {{menu_sub.NAME_MENU}}
        </li>
        <li class="desc text-name"  @click="edit_menu(menu_sub)">{{menu_sub.DESC_MENU}}</li>
        <li class="stt">{{menu_sub.STT_MENU}}</li>
        <li class="chose">
            <vs-checkbox v-model="check_menu" :disabled="menu_sub.STATUS_MENU == 1 ? true : false"></vs-checkbox>
            <button @click="edit_menu(menu_sub)"><i class="fa fa-edit"></i></button>
            <button @click="delete_menu(menu_sub)"><i class="fa fa-trash"></i></button>
        </li>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
    props: {
        menu_sub: {
            type: Object,
            required: true
        },
       
    },
    data()
    {
        return {
            check_menu: false
        }
    },
    computed: {
        ...mapGetters(["list_menu_detail", "list_menu_by_role"])
    },
    watch: {
        list_menu_by_role(list_menu)
        {
            this.check_menu = list_menu.indexOf(this.menu_sub.UUID_MENU) != -1 ? true : false;
        },
        check_menu(new_check)
        {
            if(new_check == true)
            {
                this.$store.commit('ADD_MENU_DETAIL',this.menu_sub.UUID_MENU)
            }
            else
            {
                this.$store.commit('REMOVE_MENU_DETAIL',this.menu_sub.UUID_MENU)
            }
        }
    },
    methods: {
        edit_menu(data)
        {
            console.log('edit menu',data)
            this.$store.commit('EDIT_MENU',data)
        },
        delete_menu(data)
        {
            this.$vs.dialog({
                type:'confirm',
                color: 'warning',
                title: 'Xóa menu' ,
                text: 'Bạn chắc chắn xóa menu  '+data.NAME_MENU + '?',
                data: data,
                acceptText: 'Đồng ý',
                cancelText: 'Hủy',
                accept: () => {
                this.accept_delete_menu(data)
                }
            })
        },
        accept_delete_menu(data)
        {
            this.$vs.loading();
            this.$store.dispatch('deleteMenu',data)
            .then((response) => {
                setTimeout(() => {
                    this.$vs.loading.close()
                }, 500);
                this.$vs.notify({
                    title: 'XÓA MENU',
                    text: response.message,
                    color: response.success == true ? 'success' : 'warning'
                })
            })
            .catch((err) => {
                console.log(err)
                setTimeout(() => {
                    this.$vs.loading.close()
                }, 500);
                this.$vs.notify({
                    title: 'XÓA MENU',
                    text: 'Lỗi! Xin vui lòng F5 thử lại!',
                    color: 'danger'
                })
            })
        }
    },    
}
</script>
<style>
.data-menu-sub>.name {padding-left: 55px; }
.text-name {cursor: pointer;}
.text-name:hover {color: blue;}
</style>