<template>
<div>
  <vs-sidebar @keyup.esc="isSidebarActiveLocal = false" click-not-close position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
    <div class="mt-6 flex items-center justify-between px-6">
        <h4>{{Object.entries(data).length > 0 ? 'CẬP NHẬT' : 'THÊM MỚI'}} MENU</h4>
        <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
    </div>
    <vs-divider class="mb-0"></vs-divider>
    <VuePerfectScrollbar class="scroll-area--data-list-add-new" >
        <div class="p-3">
            <v-select class="w-full" placeholder="Chọn menu cha" 
            :disabled="Object.entries(data).length > 0 ? true : false"
            v-model="selected_menu_parent"
            :options="menu_parent" 
            value="UUID_MENU" 
            label="NAME_MENU"></v-select>
        </div>
        <div class="p-3">
            <vs-row>
                <vs-col vs-sm="7" vs-md="8" vs-lg="9">
                    <vs-input  class="w-full" 
                        ref="ten_menu"
                        v-model="menu.NAME_MENU"
                        label="TÊN MENU" ></vs-input>
                </vs-col>
                <vs-col vs-sm="5" vs-md="4" vs-lg="3">
                    <span class="vs-input--label ml-2"> STT</span>
                    <vs-input-number  v-model="menu.STT_MENU" :min="0" :step="1" />
                </vs-col>
            </vs-row>
        </div>
        <div class="p-3">
          <vs-input label="Icon" class="w-full" v-model="menu.ICON_MENU" placeholder="Nhập class icon"></vs-input>
        </div>
        <div class="p-3">
            <vs-input  class="w-full" v-model="menu.URL_MENU" placeholder="Nhập đường dẫn url menu" label="URL MENU" ></vs-input>
        </div>
        <div class="p-3">
            <vs-textarea  class="w-full" v-model="menu.DESC_MENU" placeholder="Nhập mô tả" label="MÔ TẢ" ></vs-textarea>
        </div>

    </VuePerfectScrollbar>
    <div class="flex flex-wrap items-center p-6 layout-pc" slot="footer">
      <vs-button class="mr-6" @click="submitGroupFunction" :disabled="!isFormValid">{{Object.entries(data).length > 0 ? 'CẬP NHẬT' : 'THÊM MỚI'}}</vs-button>
      <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">Cancel</vs-button>
    </div>
     
  </vs-sidebar>
</div>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import {mapGetters} from 'vuex'

export default {
    name: 'sidebar-action-menu',
    components:
    {
      VuePerfectScrollbar
    },
   props: {
     isSidebarActive: {
       type: Boolean,
       required: true
     },
     data:{
       type: Object,
       required: true
     }
  },
  watch: {
    isSidebarActiveLocal(val) {
      if(!val) return
      if(Object.entries(this.data).length === 0) {
        this.$validator.reset()
        this.initValue();
      }else {
          if(this.data.MENU_PARENT == null)
          {
            this.selected_menu_parent = null
          }
          else
          {
            this.selected_menu_parent =  this.menu_parent.filter((value,index,array) => {
              return array[index].UUID_MENU == this.data.MENU_PARENT 
            })[0]
          }
          this.menu = this.data
      }
    },
    selected_menu_parent(menu)
    {
        if(menu == null) 
        {
            this.menu.MENU_PARENT = NULL
        }
        else
        {
            this.menu.MENU_PARENT = menu.UUID_MENU
        }
    }
  },
  computed: {
    isFormValid() {
      return !this.errors.any()
    },
    isSidebarActiveLocal:{
      get()
      {
        return this.isSidebarActive
      },
      set(val)
      {
        this.$emit('close',val)
      }
    },
    ...mapGetters(["menu_parent"])
  },
    data()
    { 
        return {
            menu: {
                NAME_MENU: '',
                STT_MENU: 1,
                MENU_PARENT: null,
                URL_MENU: '',
                DESC_MENU: '',
                ICON_MENU: ''
            },
            selected_menu_parent: null
        }
    },
    methods: {
        focusSidebar()
        {
          //  this.$refs.ten_menu.focus();
          // this.$refs.ten_menu.focus();
        },
        initValue()
        {
            this.menu = {
                NAME_MENU: '',
                STT_MENU: 1,
                MENU_PARENT: null,
                URL_MENU: '',
                DESC_MENU: ''
            }
            this.selected_menu_parent = null
        },
        submitGroupFunction()
        {
            this.$vs.loading()
            if(Object.entries(this.data).length == 0)
            {
              this.$store.dispatch('createMenu',this.menu)
              .then((response) => {
                  var color = response.success == true ? 'success' : 'warning';
                  this.$vs.notify({
                      title: 'THÊM MỚI MENU',
                      text: response.message,
                      color: color
                  })
                  if(response.success == true)
                  {
                      this.menu.UUID_MENU = response.result
                      setTimeout(() => {
                        this.$vs.loading.close()
                        this.initValue()
                      },500)
                    
                  }
              
              })
              .catch((err) => {
                console.log('err ', err)
                this.$vs.notify({
                  title: 'THÊM MỚI MENU',
                  text: 'Lỗi! Xin vui lòng F5 thử lại!',
                  color: 'danger',
                  position: 'bottom-right'
                })
                setTimeout(() => {
                  this.$vs.loading.close()
                }, 500);
              })
            }
            else
            {
              this.$store.dispatch('updateMenu',this.menu)
              .then((response) => {
                setTimeout(() => {
                  this.$vs.loading.close()
                },500)
                this.$vs.notify({
                  title: 'CẬP NHẬT MENU '+ this.menu.NAME_MENU,
                  text: response.message,
                  color: response.success == true ? 'success' : 'warning' 
                })
                })
                .catch((err) => {
                  console.log(err)
                  setTimeout(() => {
                    this.$vs.loading.close()
                  }, 500);
                  this.$vs.notify({
                    title: 'CẬP NHÂT MENU ' + this.menu.NAME_MENU,
                    text: 'Lỗi! Xin vui lòng F5 thử lại!',
                    color: 'danger'
                  })
                })
            }
        },
       
    },
    mounted()
    {
      setTimeout(() => {
        this.focusSidebar();
      },500)
    },
    created()
    {

    }
}
</script>


<style lang="scss" scoped>
.card-image-customer {
  width: 150px;
  height: 200px;
  margin: auto;
  margin-bottom: 15px;
  position: relative;
}
.input-file, .Imagecustomer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
}
.Imagecustomer {z-index: 998;opacity: 1;height: auto;}
.icon-upload-file {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 997;
  transform: translate(-50%,-50%)
}
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 600px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    height: calc(100% - 4.3rem);
}
</style>