<template>
    <ul class="data-menu">
        <li class="name">TÊN MENU</li>
        <li class="desc">MÔ TẢ</li>
        <li class="stt">STT</li>
        <li class="chose">CHỌN</li>
        <item-menu v-for="(menu, index) in MENU_LOCAL" :key="index" :menu="menu"  />
    </ul>
</template>
<script>
import moment from 'moment'
import {mapGetters} from 'vuex'
export default {
    components:
    {
        'item-menu' : () => import('./itemMenu.vue')
    },
    data(){
        return {
            MENU_LOCAL: [],
            selected_role: null
        }
    },
    computed: {
        ...mapGetters(["menus"])
    },
    watch: {
        menus(new_menu)
        {
            this.MENU_LOCAL = new_menu
        }
    },
    methods: {
        editData(data)
        {

        },
        deleteData(data)
        {

        }
    },
    created() {
      
    },
}
</script>
<style>
    .data-menu {border: 1px solid #e2e2e2;border-bottom: none;min-height: 47px;}
    .data-menu-sub, ul.data-menu {border: none;}
    .data-menu-sub>li, div.data-menu>li {vertical-align: middle;}
    ul.data-menu>li:first-child {padding-left: 10px;}
    ul.data-menu>.data-menu(event) {background: #ededed}
</style>
