<template>
 <div class="group-function">
    <vs-row>
        <vs-col class="p-3" vs-sm="6" vs-md="5" vs-lg="4">
            <v-select  class="w-full" placeholder="Chọn nhóm chức năng" v-model="selected_role" :options="group_roles" value="UUID_GROUP_ROLE"  label="NAME_GROUP_ROLE"  ></v-select>
        </vs-col>
        <vs-col class="p-3" vs-sm="6" vs-md="4" vs-lg="3">
            <v-select  class="w-full" placeholder="Chọn người dùng" v-model="selected_user" :options="list_user_local" value="ID_USER"  label="USERNAME_USER"  ></v-select>
        </vs-col>
        <vs-col class="p-3" vs-lg="3"></vs-col>
        <vs-col class="p-3" vs-sm="4" vs-md="3" vs-lg="2">
            <vs-button style="float:right" @click="openSidebar()">Thêm mới</vs-button>
        </vs-col>
    </vs-row>
    <vs-row class="w-full">
        <tb-menu />
    </vs-row>
   
    <vs-row class="mt-5"> 
        <vs-col vs-sm="12">
            <vs-button @click="update_detail_menu()">CẬP NHẬT</vs-button>
        </vs-col>
    </vs-row>
    <sidebar-action-menu
        :isSidebarActive="sidebarActive" 
        :data="menu_edit_local" 
        @close="close_sidebar"
    />
</div>
</template>

<script>
import {mapGetters} from 'vuex'
import ModuleMenu from '@/store/menu/ModuleMenu.js'
export default {
    components: {
       'tb-menu': () => import('./tableMenu.vue'),
       'sidebar-action-menu': () => import('./sidebarMenuAction.vue')
    },
    data()
    {
        return {
            sidebarActive: false,
            menu_edit_local: {},
            group_function_local: [],
            selected_role: null,
            list_user_local: [],
            selected_user: null,
        }
    },
    computed: {
        ...mapGetters(["group_roles", "menu_edit", "LIST_USER_ROLE"])
    },
    watch: {

        LIST_USER_ROLE(users_role)
        {
            console.log('watch ',users_role)
            this.list_user_local = users_role
        },
        selected_role(role)
        {
            if(role != null)
            {
                this.$vs.loading()
                this.$store.dispatch('user/fetchUserByGroupRole',role.UUID_GROUP_ROLE)
                .then((response) => {
                    if(response.success == false)
                    {
                        this.$vs.notify({
                            title: 'Danh sách user',
                            text: response.message,
                            color: 'warning'
                        })
                    }
                    else
                    {
                        this.list_user_local = response.result
                    }
                })
                .catch((err) => {
                    this.$vs.notify({
                        title: 'Danh sách user',
                        text: 'Lỗi! Xin vui lòng F5 thử lại!',
                        color: 'danger'
                    })
                    this.$vs.loading.close();
                })

                this.$store.dispatch('fetchMenuByRole',role.UUID_GROUP_ROLE)
                .then((response) => {
                  
                    if(response.success == false)
                    {
                        this.$vs.notify({
                            title: 'Danh sách menu theo quyền',
                            text: response.message,
                            color: 'warning'
                        })
                    }
                })
                .catch((err) => {
                    this.$vs.loading.close()
                    this.$vs.notify({
                        title: 'Danh sách menu theo quyền',
                        text: 'Lỗi! Xin vui lòng F5 thử lại!',
                        color: 'danger'
                    })
                })

                this.$store.dispatch('fetchDetailRoleByUUID',role.UUID_GROUP_ROLE)
                .then(() => {
                    setTimeout(() => {
                        this.$vs.loading.close()
                    })
                })
                .catch(() => {
                    setTimeout(() => {
                        this.$vs.loading.close()
                    })
                    this.$vs.notify({
                        title: 'CẬP NHẬT QUYỀN',
                        text: 'Lỗi! Xin vui lòng F5 thử lại',
                        color: 'warning'
                    })
                })
            }
            else
            {
                this.list_user_local = []
            }
        },
        menu_edit(menu)
        {
            if(Object.entries(menu).length > 0)
            {
                this.menu_edit_local = menu
                this.sidebarActive = true 
            }
            else
            {
                this.menu_edit_local = {}
            }
        },
        selected_user(user)
        {
            this.$vs.loading();
            if(user != null)
            {   
                this.$store.commit('UPDATE_CHECK_MENU_USER',true)
                this.$store.dispatch('fetchMenuUser',user.ID_USER)
                .then((response) => {
                    if(response.success == false)
                    {
                        this.$vs.notify({
                            title: 'Danh sách menu user',
                            text: `${response.message}`,
                            color: 'warning'
                        })
                    }
                })
                .catch((err) => {
                    console.log('err ',err)
                    this.$vs.notify({
                        title: 'Danh sách menu user',
                        text: ' Lỗi! Xin vui lòng F5 thử lại!',
                        color: 'danger'
                    })
                    setTimeout(() => {
                        this.$vs.loading.close();
                    },500)
                })
            }
            else
            {
                this.$store.commit('UPDATE_CHECK_MENU_USER',false)
                this.$store.commit('UPDATE_MENU_USER');
            }
            setTimeout(() => {
                this.$vs.loading.close();
            },500)
        }
    },
    methods: {
       api_menu()
        {
            this.$store.dispatch('fetchMenu',null)
            .then((repsonse) => {

            })
            .catch((err) => {
                console.log('menu', err)
                this.$vs.notify({
                    title: 'DANH SÁCH MENU',
                    text: 'Lỗi! Xin vui lòng F5 thử lại',
                    color: 'warning'
                })
                setTimeout(() => {
                    this.$vs.loading.close()
                },500)
            })
        },
        close_sidebar(boolean)
        {
            this.sidebarActive = boolean
            this.$store.commit('EDIT_MENU',{})
        },
        update_detail_menu()
        {
            this.$vs.loading()
            if(this.selected_role == null)
            {
                this.$vs.notify({
                    title: 'CẬP NHẬT MENU CHO NHÓM QUYỀN',
                    text: 'Bạn chưa chọn nhóm quyền!',
                    color: 'warning'
                })
            }
            else
            {
               
                if(this.$store.state.menu.check_create_menu_user == true)
                {
                    this.$store.dispatch('createMenuUser',this.selected_user.ID_USER)
                    .then((response) => {
                        this.$vs.notify({
                            title: 'Cập nhật menu user',
                            text: `${response.message}`,
                            color: response.success == true ? 'success' : 'warning'
                        });
                        setTimeout(() => {
                            this.$vs.loading.close()
                        },500)
                    })
                    .catch((err) => {
                        console.log('err ',err)
                        this.$vs.notify({
                            title: 'Cập nhật menu user',
                            text: 'Lỗi! Xin vui lòng F5 thử lại!',
                            color: 'warning'
                        });
                         setTimeout(() => {
                            this.$vs.loading.close()
                        },500)
                    })
                }
                else
                {
                    this.$store.dispatch('createDetailMenu',this.selected_role.UUID_GROUP_ROLE)
                    .then((response) => {
                        console.log('response detail menu',response)
                        setTimeout(() => {
                            this.$vs.loading.close()
                        },500)
                    })
                    .catch((err) => {
                        console.log(err)
                        setTimeout(() => {
                            this.$vs.loading.close()
                        },500)
                        this.$vs.notify({
                            title: 'CẬP NHẬT MENU CHO NHÓM QUYỀN',
                            text: 'Lỗi! Xin vui lòng F5 thử lại!',
                            color: 'danger'
                        })
                    })
                }
            }
            setTimeout(() => {
                this.$vs.loading.close()
            },500)
        },
        openSidebar()
        {
            this.sidebarActive = true
            this.$store.commit('EDIT_MENU',{})
        }
    },
    beforeCreate() {
        this.$store.registerModule('menu',ModuleMenu)
    },
    created() {
        this.$vs.loading()
        try {
            this.api_menu()
            setTimeout(() => {
                this.$vs.loading.close()
            })     
        } catch (error) {
            this.$vs.notify({
                title: 'TAB MENU',
                text: 'Qúa trình load dữ liệu có vấn đề, xin vui lòng kiểm tra lại hoặc F5 để thử lại! Lỗi: ' +error,
                color: 'warning',
                time: 3
            })
            setTimeout(() => {
                this.$vs.loading.close()
            }, 500);  
        }
        
    },
    beforeDestroy() {
        this.$store.unregisterModule('menu')
    },
}
</script>