<template>
    <div>
        <vs-table ref="table" class="mt-10" 
          :data="SETTING_LOCAL" 
          :maxItems="20"
          loading
        >
          <div id="table-ecosy" slot="header" class=" p-3 header-table-search flex flex-wrap-reverse items-center flex-grow bg-white">
            <vs-row>
              <vs-col class="p-3" vs-sm="4" vs-md="3" vs-lg="3">
                 <vs-button type="border" color="success" @click="isSidebar = true">Thêm mới</vs-button>
              </vs-col>
            </vs-row>
          </div>
            
          <template slot="thead" >
            <vs-th align="center">STT</vs-th>
            <vs-th>Tên cài đặt </vs-th>
            <vs-th>Giá trị</vs-th>
            <vs-th>Mô tả</vs-th>
          </template>
          <template slot-scope="{data}" >
            <tbody oncontextmenu="return false;">
              <vs-tr 
              :data="tr" 
              :key="index" 
              v-for="(tr, index) in data"
              >
                <vs-td align="center">{{index + 1}}</vs-td>
                <vs-td>{{tr.NAME_ECOSY_CRM}}</vs-td>
                <vs-td>{{tr.VALUE_ECOSY_CRM}}</vs-td>
                <vs-td>{{tr.DESC_ECOSY_CRM}}</vs-td>

              </vs-tr>
            </tbody>
          </template>
        </vs-table>
        <div class="pagination p-3">
           <vs-row>
                <vs-pagination :total="pagination.total" v-model="current_page"></vs-pagination>
            </vs-row>
        </div>
        <sidebar-acount-setting 
            :isSidebarActive="isSidebar" 
            :data="setting_edit" 
            @close="isSidebar = $event"
        />
    </div>
</template>
<script>
import moment from 'moment'
import { mapGetters } from 'vuex'
export default {
    components:
    {
      'sidebar-acount-setting': () => import('../sidebarSetting.vue')
    },  
    data(){
        return {
            SETTING_LOCAL: [],
            isSidebar: false,
            setting_edit: {},
            pagination: {
              total: 0,
              current_page: 1,
              show: 20
            }
        }
    },
    watch:
    {
      isSidebar(boolean)
      {
        if(boolean == false)
        {
          this.setting_edit = {}
        }
      },
      pagination(new_pagination)
      {
        console.log(new_pagination)
        this.fetchAccount(new_pagination)
      },
      settingAuth(settings)
      {
          this.SETTING_LOCAL = settings
      }
    },
    computed:
    {
        ...mapGetters(["settingAuth"])
    },
    methods: {
        apiFetchSetting()
        {
            this.$vs.loading();
            this.$store.dispatch('fetchSettingCRM')
            .then((response) => {
                this.SETTING_LOCAL = response.result
                if(response.success == false)
                {
                    this.$vs.notify({
                        title: 'DANH SÁCH CÀI ĐẶT CRM',
                        text: response.message,
                        color: 'warning'
                    });
                }
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
            .catch((err) => {
                console.log(err)
                this.$vs.notify({
                    title: 'DANH SÁCH CÀI ĐẶT CRM',
                    text: 'Lỗi! Xin vui lòng F5 thử lại!',
                    color: 'danger'
                })
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
        }
        
    },
    created() {
        this.apiFetchSetting();
    },
}
</script>

<style lang="css">
  tr.warning {
    background: rgba(var(--vs-warning),1)!important;
      color: #fff
  }
  .btn-action:hover {cursor: pointer;}
  .list-menu-context {position: absolute;width: 250px;background: #fff;display: none;}
  .list-menu-context.active {display: block;}
  .list-menu-context>li {display: block;width: 100%;padding: 10px; border: 1px solid #e2e2e2;
  border-bottom: none;cursor: pointer;}
  .list-menu-context>li:hover {background: #e2e2e2;}
  .list-menu-context>li:last-child {border-bottom: 1px solid #e2e2e2;}
</style>