<template>
    <div class="image-media lib-image text-hover" 
        :style="{ 'background': 'url(' + media.FULL_URL + ') center no-repeat' }">
        <vs-checkbox class="item-checkbox" :class="checkBoxImage == true ? 'active' : ''" v-model="checkBoxImage"></vs-checkbox>             
        <div  @click="CHECK_MEDIA" class="background">

        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
    name: 'item-media',
    props: {
        media: {
            type: Object,
            required: true
        }
    },
    data()
    {
        return {
            checkBoxImage: false
        }
    },
    computed: {
       ...mapGetters(["media_result"])
    },
    watch:
    {
        checkBoxImage(boolean)
        {
            if(boolean == true)
            {
                this.$store.commit('ADD_MEDIA_RESULT',this.media)
            }
            else
            {
                this.$store.commit('REMOVE_MEDIA_RESULT',this.media)
            }
        },
        media_result(new_result)
        {
            console.log('new media',new_result.length)
            if(new_result.length == 0)
            {
                this.checkBoxImage = false
            }
            else
            {
                const CheckIndex = new_result.findIndex((media) => media.ID_MEDIA == this.media.ID_MEDIA);
                if(CheckIndex == -1) this.checkBoxImage = false
            }
        }

    },
    methods: 
    {
        CHECK_MEDIA()
        {
           this.checkBoxImage = !this.checkBoxImage;
        }
    }
}
</script>

<style lang="css">
    .lib-image {position: relative;min-height: 150px;}
    .item-checkbox {position: absolute; top: 5px; right: 5px; z-index: 1;margin: 0; opacity: 0;}
    .item-checkbox.active {opacity: 1 !important;}
    .background {position: absolute; width: 100%;height: 100%;z-index: 2; top: 0; left: 0;}
</style>