<template>
    <vs-sidebar @keyup.esc="closeMedia" click-not-close position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
        <div class="mt-6 flex items-center justify-between px-6">
            <h4>THƯ VIỆN ẢNH</h4>
            <feather-icon icon="XIcon" @click.stop="closeMedia" class="cursor-pointer"></feather-icon>
        </div>
        <vs-divider class="mb-0"></vs-divider>
        <VuePerfectScrollbar class="scroll-area--data-list-add-new" >
            <vs-row>
                <div class="w-full p-2">
                    <div class="sm:w-1/3 md:w-1/4 lg:w-1/5">
                        <v-select :options="LIST_STORE" class="w-full"
                            label="TEN_CUA_HANG"
                            value="ID_CUA_HANG"
                            v-model="selected_store"></v-select>
                    </div>
                </div>
                <div class="lg:w-1/6 md:w-1/6 sm:w-1/5 w-1/4 cs-w-10 p-2" >
                    <div class="banner-product ">
                        <input type="file" ref="banner_product" @change="uploadFile" /> 
                        <img class="image-media"  style="heigt: auto;width: 100%;" />
                        <span class="icon-upload-cs"><i class="fa fa-upload fa-2x"></i></span>
                    </div>
                </div>
                <div class="lg:w-1/6 md:w-1/5 sm:w-1/4 w-1/3 cs-w-10 p-2" v-for="(media, index) in LIST_MEDIA_LOCAL" :key="index">
                     <item-media :media="media" />
                </div>
                
            </vs-row>
        </VuePerfectScrollbar>
        <div class="flex flex-wrap items-center p-2" slot="footer">
            <vs-button type="border"  @click="isSidebarActiveLocal = false">Chọn</vs-button>
            <vs-button class="ml-5" type="border" color="danger" @click="closeMedia">Đóng</vs-button>
        </div>
        
  </vs-sidebar>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import { mapGetters } from 'vuex';
import { VueEditor } from "vue2-editor";
export default {
    name: 'sidebar-media',
    components: {
        VuePerfectScrollbar,
        VueEditor,
        'item-media' : () => import('./itemMedia.vue')
    },
    data()
    {
        return {
            media: {
                TYPE_MEDIA: '',
                URL_MEDIA: '',
                IMAGE_MEDIA: ''
            },
            selected_store: null
        }
    },  
    computed:
    {
        isSidebarActiveLocal: {
            get()
            {
                return this.$store.state.media.sidebar;
            },
            set(val)
            {
                this.$store.commit('UPDATE_SIDEBAR',false);
            }
        },
        isFormValid() {
            return !this.errors.any()
        },
        LIST_MEDIA_LOCAL:
        {
            get()
            {   
                if(this.selected_store == null) return this.LIST_MEDIA;
                return this.LIST_MEDIA.filter((value,index,array) => {
                    return array[index].ID_CUA_HANG == this.selected_store.ID_CUA_HANG
                });
            }
        },
        ...mapGetters(["LIST_STORE", "LIST_MEDIA", "single", "media_single", "media_store"])
    },
    watch:
    {
        isSidebarActiveLocal(boolean)
        {   
            if(!boolean) return;
            if(this.LIST_MEDIA.length == 0) this.apiMedia();
            this.selected_store = this.LIST_STORE.legnth == 0 ? null : this.LIST_STORE[0]
            this.$validator.reset();
        },
        selected_store(store)
        {
            if(store != null)
            {
                this.media.ID_CUA_HANG = store.ID_CUA_HANG
            }
            else
            {
                this.media.ID_CUA_HANG = 0
            }
        },
    },
    methods:{
        uploadFile()
        {   
           
            const file = this.$refs.banner_product.files[0]
            if(file != undefined)
            {
                this.$vs.loading();
                this.media.IMAGE_MEDIA = file;  
                this.media.TYPE_MEDIA = file.type;
                this.media.SIZE_MEDIA = file.size;
                this.$store.dispatch('uploadMedia',this.media)
                .then((response) => {
                    this.$vs.notify({
                        title: 'THÊM HÌNH ẢNH MỚI',
                        text: response.message,
                        color: response.success == true ? 'success' : 'warning'
                    });
                    this.$refs.banner_product.value = null;
                    setTimeout(() => {
                        this.$vs.loading.close();
                    }, 500);
                })
                .catch((err) => {
                    console.log('media ',err)
                    this.$vs.notify({
                        title: 'THÊM MỚI HÌNH ẢNH',
                        text: 'Lỗi! Xin vui lòng đăng xuất thử lại!',
                        color: 'danger'
                    });
                    this.$refs.banner_product.value = null;
                    setTimeout(() => {
                        this.$vs.loading.close();
                    }, 500);
                })
            }
        },
        apiMedia()
        {
            this.$vs.loading();
            this.$store.dispatch('fetchMedia')
            .then((response) => {
                this.$vs.notify({
                    title: 'THƯ VIỆN HỆ THỐNG',
                    text: response.message,
                    color: response.success == true ? 'success' : 'warning'
                });
                if(response.success == false && response.status == 401)
                {
                    
                    this.$router.push('/logout');
                }
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
            .catch((err) => {
                console.log('media ',err)
                this.$vs.notify({
                    title: 'THƯ VIỆN HỆ THỐNG',
                    text: 'Lỗi! Xin vui lòng đăng xuất thử lại!',
                    color: 'danger'
                });
                 setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
        },
        choseMediaProduct()
        {
            this.$vs.loading();
            if(this.single == false)
            {
                 if(this.media_store.length == 0)
                {
                    this.$vs.notify({
                        title: 'THƯ VIỆN HÌNH ẢNH',
                        text: 'Bạn chưa chọn hình ảnh nào!',
                        color: 'warning'
                    });
                }
                else
                {
                    this.isSidebarActiveLocal = false
                }
            }
            else
            {
                if(this.media_single == null)
                {
                    this.$vs.notify({
                        title: 'CHỌN HÌNH ẢNH TRONG THƯ VIỆN',
                        text: 'Bạn chưa chọn hình ảnh nào',
                        color: 'warning'
                    });
                }
                else
                {
                     this.isSidebarActiveLocal = false
                }
            }
            setTimeout(() => {
                this.$vs.loading.close();
            }, 500);
        },
        choseMediaUser()
        {
            
        },
        closeMedia()
        {
            this.$store.commit('SET_MEDIA_RESULT',[]);
            this.isSidebarActiveLocal = false;
        }
    },
    created()
    {
       
    }
}
</script>

<style lang="scss" scoped>
.cs-w-10 {width: calc(100% / 8) !important;}
.cs-w-10 .banner-product  {min-height: 150px !important;}
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52011;
  }

  ::v-deep .vs-sidebar {
    z-index: 52011;
    width: 100%;
    max-width: 100vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    height: calc(100% - 4.3rem);
}
.menu-type-product {max-height: 200px; overflow: hidden scroll;}
.image-media.lib-image {width: 100%;height: 100%;background-size: cover !important;}
.lib-image {border: 1px solid #ddd;border-radius: 5px;}
</style>