
<template>
    <div class="h-screen flex w-full bg-img vx-row no-gutter items-center justify-center">
        <div class="vx-col sm:w-1/2 md:w-1/2 lg:w-3/4 xl:w-3/5 sm:m-0 m-4">
            <vx-card>
                <div slot="no-body" class="full-page-bg-color">
                    <div class="vx-row no-gutter">
                        <div class="vx-col hidden sm:hidden md:hidden lg:block lg:w-1/2 mx-auto self-center">
                            <img src="@/assets/images/pages/rocket.png" alt="register" class="mx-auto">
                        </div>
                        <div class="vx-col sm:w-full md:w-full lg:w-1/2 mx-auto self-center  d-theme-dark-bg">
                            <div class="px-8 pt-8 register-tabs-container">
                                <div class="vx-card__title mb-4">
                                    <h4 class="mb-4">XÁC THỰC TÀI KHOẢN</h4>
                                    <p>Hệ thống ECOSY giải pháp cho cửa hàng.</p>
                                    <div class="p-3">
                                        <vs-input class="w-full" label="Tài khoản người dùng" v-model="user.USERNAME_USER" disabled></vs-input>
                                        <vs-input class="w-full" label="Email người dùng" v-model="user.EMAIL_USER" disabled></vs-input>
                                        <vs-input class="w-full" label="Họ & Tên" v-model="user.HO_TEN_USER" disabled></vs-input>
                                        <vs-input class="w-full" label="Tên cửa hàng" v-model="store.TEN_CUA_HANG" disabled></vs-input>
                                    </div>
                                </div>

                                <p>Vui lòng kiểm tra {{user.EMAIL_USER}} của bạn!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </vx-card>
        </div>
    </div>
</template>

<script>

export default {
    data()
    {
        return {
            store: {},
            user: {}
        }
    },
    methods:
    {
        accessTokenEmail()
        {
            this.store = this.$cookies.get('store_register');
            this.user = this.$cookies.get('user_register');
            if(this.$route.query.access_token)
            {
                this.$vs.loading();
                this.$store.dispatch('user/accessTokenEmail',{
                    ACCESS_TOKEN_EMAIL: this.$route.query.access_token,
                    USERNAME_USER: this.$cookies.get('user_register').USERNAME_USER
                })
                .then((response) => {
                    console.log('response ',response)
                   if(response.success == true)
                   {
                       this.$vs.notify({
                            title: 'XÁC THỰC TÀI KHOẢN',
                            text: 'Chúc mừng bạn đã tạo tài khoản thành công!',
                            color: 'success'
                        });
                        this.$cookies.remove('user_register');
                        this.$cookies.remove('store_register');
                        this.$cookies.remove('email_access');
                        this.$cookies.set('token',response.result);
                        this.$cookies.set('info',response.info);
                        this.$cookies.set('admin',response.admin);
                        if(response.admin == true)
                        {
                            this.$acl.change('admin');
                        }
                        else
                        {
                            this.$acl.change('editor');
                            this.apiServicesDefault();
                        }
                        this.$router.push('/')
                        
                        
                   }
                   else
                   {
                       this.$vs.notify({
                           title: 'XÁC THỰC TÀI KHOẢN',
                           text: response.message,
                           color: 'warning'
                       })
                   }
                    setTimeout(() => {
                        this.$vs.loading.close()
                    }, 500);
                })
                .catch((err) => {
                    console.log(err)
                    this.$vs.notify({
                        title: 'XÁC THỰC TÀI KHOẢN',
                        text: 'Lỗi! Xin vui lòng thử lại!',
                        color: 'wraning'
                    });
                    setTimeout(() => {
                        this.$vs.loading.close()
                    }, 500);
                })
               
            }
        }
    },  
    created(){
        console.log('created')
        if(!this.$cookies.isKey('email_access'))
        {
            this.$router.push('/login')
        }
    },
    mounted()
    {
         if(this.$cookies.isKey('email_access'))
        {
            this.accessTokenEmail();
        }
    }
}
</script>

<style lang="scss">
.register-tabs-container {
  min-height: 517px;

  .con-tab {
    padding-bottom: 23px;
  }
}
</style>