
<template>
    <div class="h-screen flex w-full bg-img vx-row no-gutter items-center justify-center">
        <div class="vx-col sm:w-1/2 md:w-1/2 lg:w-3/4 xl:w-3/5 sm:m-0 m-4">
            <vx-card>
                <div slot="no-body" class="full-page-bg-color">
                    <div class="vx-row no-gutter">
                        <div class="vx-col hidden sm:hidden md:hidden lg:block lg:w-1/2 mx-auto self-center">
                            <img src="@/assets/images/pages/register.jpg" alt="register" class="mx-auto">
                        </div>
                        <div class="vx-col sm:w-full md:w-full lg:w-1/2 mx-auto self-center  d-theme-dark-bg">
                            <div class="px-8 pt-8 register-tabs-container">
                                <div class="vx-card__title mb-4">
                                    <h4 class="mb-4">TẠO TÀI KHOẢN</h4>
                                    <p>Đăng ký để có ứng dụng quản lý cho riêng bạn cùng Ecosy.</p>
                                </div>
                                <div class="p-3" v-if="!register.email && !register.phone">
                                    <div class="item-register login" @click="$router.push('/login')">Đăng nhập</div>
                                    <div class="item-register register-facebook" @click="registerFacebook">Đăng nhập bằng Facebook</div>
                                    <div class="item-register register-phone" @click="register.phone = true">Đăng ký qua số điện thoại</div>
                                    <div class="item-register register-email" @click="register.email = true">Đăng ký qua email</div>
                                </div>
                                <register-jwt v-if="register.email"></register-jwt>
                                <register-phone v-if="register.phone"></register-phone>
                            </div>
                        </div>
                    </div>
                </div>
            </vx-card>
        </div>
    </div>
</template>

<script>
import RegisterJwt from "./RegisterJWT.vue"
import RegisterPhone from './RegisterPhone.vue'
import firebase from '@/services/firebase.js'
export default {
    components: {
      RegisterJwt,
      RegisterPhone
    },
    data()
    {
        return {
            register: {
                email: false,
                phone: false
            }
        }
    },
    methods:
    {
        registerFacebook()
        {
            var provider = new firebase.auth.FacebookAuthProvider();
            provider.addScope('public_profile');
            firebase.auth().languageCode = 'en';
            provider.setCustomParameters({
                'display': 'popup'
            });
            var vm = this;
            this.$vs.loading();
            firebase.auth().signInWithPopup(provider).then(function(result) {
                   console.log('facebook' , result)
                    vm.$store.dispatch('user/registerFacebook',{
                        USERNAME_USER: result.additionalUserInfo.profile.id,
                        HO_TEN_USER: result.additionalUserInfo.profile.name,
                        ACCESS_TOKEN_FACEBOOK: result.credential.accessToken,
                        AVATAR: result.additionalUserInfo.profile.picture.data.url
                    })
                    .then((response) => {
                        if(response.result.new == true)
                        {
                            vm.$vs.notify({
                                title: 'ĐĂNG KÝ TÀI KHOẢN FACEBOOK',
                                text: response.message,
                                color: 'success'
                            })
                            vm.$cookies.set('facebook',true);
                        }
                        vm.$cookies.set('token',response.result.token)
                        vm.$router.push('/')
                        setTimeout(() => {
                            vm.$vs.loading.close();
                        }, 500);
                        console.log('success' , result);
                    })
                    .catch((err) => {
                        vm.$vs.notify({
                            title: 'ĐĂNG KÝ TÀI KHOẢN FACEBOOK',
                            text: 'Lỗi xác thực tài khoản facebook!',
                            color: 'danger'
                        })
                        setTimeout(() => {
                            vm.$vs.loading.close();
                        }, 500);
                    })
                    
                }).catch(function(error) {
                    console.log('err facebook', error)
                   vm.$vs.notify({
                        title: 'ĐĂNG KÝ TÀI KHOẢN FACEBOOK',
                        text: 'Tài khoản facebook không hợp lệ!',
                        color: 'danger'
                    })
                        setTimeout(() => {
                        vm.$vs.loading.close();
                    }, 500);
            });

        }
    },
    created(){
      if(this.$cookies.isKey('token'))
      {
          this.$router.push('/')
      }
      else
      {
        this.$store.dispatch('fetchTypeStore')
        this.$store.dispatch("fetchProvince")
      }
    }
}
</script>

<style lang="scss">
.register-tabs-container {
  min-height: 517px;

  .con-tab {
    padding-bottom: 23px;
  }
}
.item-register {
    padding: 10px;border: 1px solid #e2e2e2;margin: 5px;text-align: center;
    cursor: pointer;text-transform: uppercase;
}
.register-phone:hover, .login:hover, .register-facebook:hover {background: #5981c2;color: #fff;}
.register-email:hover {background: #F37151;color: #fff;;}
</style>