<template>
  <vs-tabs v-model="next">
      <vs-tab label="">
         <div class="clearfix">
          <vs-input
            v-validate="'required|min:3'"
            data-vv-validate-on="blur"
            label-placeholder="Họ & Tên"
            name="displayName"
            placeholder="Họ & Tên"
            v-model="user.HO_TEN_USER"
            class="w-full" />
            <!-- {{errors}} -->
          <span class="text-danger text-sm"> {{errors.has('displayName') == true  ? 'Bạn chưa nhập họ tên' : '' }}</span>

          <vs-input 
            type="email" 
            label-placeholder="Email" 
            v-model="user.EMAIL_USER" 
            class="w-full"
            v-validate="'required|email'"
            data-vv-validate-on="blur"
            name="email_user"
          ></vs-input>
           <span class="text-danger text-sm">  {{ errors.has('email_user') == true ? 'Email không hợp lệ' : '' }}</span>

          <vs-input
            v-validate="'required'"
            data-vv-validate-on="blur"
            name="username_user"
            type="text"
            label-placeholder="Tài khoản"
            placeholder="Tài khoản"
            v-model="user.USERNAME_USER"
            @input="checkUser()"
            @change="checkUser()"
            class="w-full mt-6" />
            <span class="text-danger text-sm">{{ errors.has('username_user') ? 'Bạn chưa nhập tài khoản': ''}}</span>
           <span class="text-danger text-sm">{{ errors_username == true ? 'Tài khoản đã tồn tại': ''}}</span>
          <vs-input
            ref="password"
            type="text"
            data-vv-validate-on="blur"
            v-validate="'required|min:6|max:20'"
            name="password"
            label-placeholder="Mật khẩu"
            placeholder="Mật khẩu"
            v-model="user.PASSWORD_USER"
            class="w-full mt-6" />
          <span class="text-danger text-sm">{{ errors.has('password') == true ? 'Bạn chưa nhập mật khẩu' : '' }}</span>

          <vs-button type="border" to="/login" class="mt-6">Đăng nhập</vs-button>
          <vs-button class="float-right mt-6" @click="nextTab">Tiếp</vs-button>
          <!-- <vs-checkbox v-model="isTermsConditionAccepted" class="mt-6">I accept the terms & conditions.</vs-checkbox>
          <vs-button  type="border" to="/pages/login" class="mt-6">Login</vs-button>
          <vs-button class="float-right mt-6" @click="registerUserJWt" :disabled="!validateForm">Register</vs-button> -->
        </div>
      </vs-tab>
      <vs-tab label="">
       <div class="clearfix">
          <label for="TYPE_STORE" class="vs-input--label">
            Danh sách loại cửa hàng <span class="text-danger">(*)</span>
          </label>
          <v-select name="TYPE_STORE" class="select-store" placeholder="Nhập loại cửa hàng" 
          v-model="selected_type_store" :options="TYPE_STORE" 
          value="ID_LOAI_CUA_HANG" 
          label="TEN_LOAI_CUA_HANG"  ></v-select>

          <label for="TEN_CUA_HANG" class="vs-input--label">
            Tên cửa hàng <span class="text-danger">(*)</span>
          </label>
          <vs-input name="TEN_CUA_HANG" class="w-full" v-model="store.TEN_CUA_HANG" type="text" 
          placeholder="Nhập tên cửa hàng"></vs-input>

          <label for="LIST_PROVINCE" class="vs-input--label">
            Danh sách thành phố <span class="text-danger">(*)</span>
          </label>
          <v-select name="LIST_PROVINCE" class="select-province mt-15" placeholder="Chọn Tỉnh / Thành Phố" v-model="select_province" :options="LIST_PROVINCE" 
          value="ID_PROVINCE" label="NAME_PROVINCE"  ></v-select>
          
          <label for="LIST_DISTRICT" class="vs-input--label">
            Danh sách quận / huyện <span class="text-danger">(*)</span>
          </label>
          <v-select name="LIST_DISTRICT" class="select-district mt-15" placeholder="Chọn Quận / Huyện" v-model="select_district" :options="LIST_DISTRICT_LOCAL" 
          value="ID_DISTRICT" label="NAME_DISTRICT"  ></v-select>


           <vs-input label-placeholder="Địa chỉ" v-model="store.DIA_CHI_CUA_HANG" class="mt-5 w-full" name="DIA_CHI_CUA_HANG" placeholder="Nhập địa chỉ cửa hàng" v-validate="'required'" />
          <span class="text-danger text-sm" v-show="errors.has('DIA_CHI_CUA_HANG')">{{ errors.has('DIA_CHI_CUA_HANG') == true ? 'Chưa nhập địa chỉ cửa hàng' : '' }}</span>

          <vs-input label-placeholder="Số điện thoại" v-model="store.SDT_CUA_HANG" class="mt-5 w-full" name="SDT_CUA_HANG" placeholder="Nhập địa số điện thoại cửa hàng" v-validate="'required'" />
          <span class="text-danger text-sm" v-show="errors.has('SDT_CUA_HANG')">{{ errors.has('SDT_CUA_HANG') == true ? 'Số điện thoại cửa hàng' : '' }}</span>
          
          
          <vs-button  type="border"  @click="next = 0" class="mt-6">Quay lại</vs-button>

          <vs-button class="float-right mt-6" :disabled="!validateForm" @click="Resignter()">Đăng ký</vs-button>

       </div>
      </vs-tab>
  </vs-tabs>
</template>

<script>
import axios from '@/axios'
import { mapGetters } from 'vuex';
export default {
    data() {
        return {
            next: 0,
            password: '',
            isTermsConditionAccepted: true,
            select_province: null,
            select_district: null,
            user: {
              ACCESS_PHONE: null
            },
            store: {
              TEN_CUA_HANG: '',
              DIA_CHI_CUA_HANG: '',
              SDT_CUA_HANG: ''
            },
            errors_username: false,
            LIST_DISTRICT_LOCAL: [],
            selected_type_store: null
        }
    },
    computed: {
        ...mapGetters(["TYPE_STORE", "LIST_PROVINCE", "LIST_DISTRICT"]),
        validateForm() {
            return !this.errors.any()  && this.confirm_password != ''  && this.errors_username === false;
        }
    },
    watch:
    {
      select_province(province)
      {
        if(province != null)
        {
          this.$store.dispatch('fetchDistrict',province.ID_PROVINCE)
          this.store.ID_PROVINCE = province.ID_PROVINCE
        }
        else
        {
          this.LIST_DISTRICT_LOCAL = []
          this.select_district = null
        }
      },
      select_district(district)
      {
        if(district != null)
        {
          this.store.ID_DISTRICT = district.ID_DISTRICT
        }
      },
      selected_type_store(type)
      {
        this.store.ID_LOAI_CUA_HANG = type.ID_LOAI_CUA_HANG
      },
      LIST_DISTRICT(districts)
      {
        this.LIST_DISTRICT_LOCAL = districts
      }
    },
    methods: {
        checkUser()
        {
          console.log('change')
          this.$store.dispatch('user/checkUsername',this.user.USERNAME_USER).then((response)=> {
            if(response.success == true)
            {
              this.errors_username = true
            }
            else{
              this.errors_username = false
            }
          }).catch(() => {
            this.errors_username = true
          })
        },
        Resignter()
        {
          this.$vs.loading();
          this.$store.dispatch('resignterStore',{
            user: this.user,
            store: this.store
          }).then((response) => {
            if(response.success == true)
            {
              this.$cookies.set('email_access',this.user.EMAIL_USER)
              this.$cookies.set('user_register',this.user)
              this.$cookies.set('store_register',this.store)
              this.$router.push('/access-email')
            }
            else
            {
              this.$vs.notify({
                title: 'ĐĂNG KÝ',
                text:response.message,
                position: 'bottom-left',
                color:'warning'
              })
            }
            setTimeout(() => {
              this.$vs.loading.close();
            }, 500);
          })
          .catch(() => {
            this.$vs.notify({
              title: 'ĐĂNG KÝ',
              text: 'Lỗi server!',
              position: 'bottom-left',
              color:'danger'
            });
            setTimeout(() => {
              this.$vs.loading.close();
            }, 500);
          })
        
        },
        nextTab()
        {
          if(Object.entries(this.user).length < 4)
          {
            this.$vs.notify({
              title: 'ĐĂNG KÝ TÀI KHOẢN',
              text: 'Bạn chưa nhập đầy đủ thông tin',
              color: 'warning'
            })
          }
          else
          {
             this.next = 1
          }
        }
    },
    created()
    {
      this.$validator.reset()
    },
    
}
</script>
<style>
.ul-tabs.vs-tabs--ul.ul-tabs-left {display: none !important;}
</style>