<template>
  <vs-tabs v-model="next">
      <vs-tab label="">
         <div class="clearfix">
          <div id="recaptcha-container"></div>
          <vs-input
            v-validate="'required|min:3'"
            data-vv-validate-on="blur"
            label-placeholder="Họ & Tên"
            name="displayName"
            placeholder="Họ & Tên"
            v-model="user.HO_TEN_USER"
            :disabled="sms"
            class="w-full" />
            <!-- {{errors}} -->
          <span class="text-danger text-sm"> {{errors.has('displayName') == true  ? 'Bạn chưa nhập họ tên' : '' }}</span>
          
          <vs-input label-placeholder="Số điện thoại" v-model="user.USERNAME_USER" 
            class="mt-5 w-full" name="USERNAME_USER" 
            v-validate="'required'"
            data-vv-validate-on="blur"
            @input="checkPhone()"
            @change="checkPhone()"
            :disabled="sms" />
            <span class="text-danger text-sm" v-show="errors.has('USERNAME_USER')">{{ errors.has('SDT_CUA_HANG') == true ? 'Số điện thoại không hợp lệ' : '' }}</span>
            <span class="text-danger text-sm">{{ errors_username == true ? 'Số điện thoại đã đăng ký': ''}}</span>

          <vs-input
            ref="password"
            type="text"
            data-vv-validate-on="blur"
            v-validate="'required|min:6|max:20'"
            name="password"
            label-placeholder="Mật khẩu"
            placeholder="Mật khẩu"
            v-model="user.PASSWORD_USER"
            :disabled="sms"
            class="w-full mt-6" />
          <span class="text-danger text-sm">{{ errors.has('password') == true ? 'Bạn chưa nhập mật khẩu' : '' }}</span>
          
          <vs-input class="w-full" v-model="otp"  label-placeholder="Nhập mã xác thực"></vs-input>

          <vs-button type="border" to="/login" class="mt-6">Đăng nhập</vs-button>
          <vs-button class="float-right mt-6" v-if="sms == false" @click="sendOtp">Gửi SMS</vs-button>
          <vs-button class="float-right mt-6" v-else @click="verifyOtp">Tiếp</vs-button>
        </div>
      </vs-tab>
      <vs-tab label="">
       <div class="clearfix">
          <v-select class="select-store" placeholder="Nhập thể loại cửa hàng" 
          v-model="selected_type_store" :options="TYPE_STORE" 
          value="ID_LOAI_CUA_HANG" 
          label="TEN_LOAI_CUA_HANG"  ></v-select>
          <vs-input class="w-full" v-model="store.TEN_CUA_HANG" type="text" 
          placeholder="Nhập tên cửa hàng" label-placeholder="Tên cửa hàng"></vs-input>
          <v-select class="select-province mt-15" placeholder="Chọn Tỉnh / Thành Phố" v-model="select_province" :options="LIST_PROVINCE" 
          value="ID_PROVINCE" label="NAME_PROVINCE"  ></v-select>
          <v-select class="select-district mt-15" placeholder="Chọn Quận / Huyện" v-model="select_district" :options="LIST_DISTRICT_LOCAL" 
          value="ID_DISTRICT" label="NAME_DISTRICT"  ></v-select>
           <vs-input label-placeholder="Địa chỉ" v-model="store.DIA_CHI_CUA_HANG" class="mt-5 w-full" name="DIA_CHI_CUA_HANG" placeholder="Nhập địa chỉ cửa hàng" v-validate="'required'" />
          <span class="text-danger text-sm" v-show="errors.has('DIA_CHI_CUA_HANG')">{{ errors.has('DIA_CHI_CUA_HANG') == true ? 'Chưa nhập địa chỉ cửa hàng' : '' }}</span>
          <vs-button  type="border"  @click="next = 0" class="mt-6">Quay lại</vs-button>

          <vs-button class="float-right mt-6" :disabled="!validateForm" @click="Resignter()">Đăng ký</vs-button>

       </div>
      </vs-tab>
  </vs-tabs>
</template>

<script>
import axios from '@/axios'
import { mapGetters } from 'vuex';
import firebase from '@/services/firebase.js'
export default {
    name: 'register-phone',
    data() {
        return {
            next: 0,
            password: '',
            isTermsConditionAccepted: true,
            select_province: null,
            select_district: null,
            user: {
              ACCESS_PHONE: ''
             },
            store: {
              TEN_CUA_HANG: '',
              DIA_CHI_CUA_HANG: '',
              SDT_CUA_HANG: ''
            },
            errors_username: false,
            LIST_DISTRICT_LOCAL: [],
            selected_type_store: null,
            otp: '',
            appVerifier: null,
            sms: false
        }
    },
    computed: {
        ...mapGetters(["TYPE_STORE", "LIST_PROVINCE", "LIST_DISTRICT"]),
        validateForm() {
            return !this.errors.any()  && this.confirm_password != ''  && this.errors_username === false;
        }
    },
    watch:
    {
      select_province(province)
      {
        if(province != null)
        {
          this.$store.dispatch('fetchDistrict',province.ID_PROVINCE)
          this.store.ID_PROVINCE = province.ID_PROVINCE
        }
        else
        {
          this.LIST_DISTRICT_LOCAL = []
          this.select_district = null
        }
      },
      select_district(district)
      {
        if(district != null)
        {
          this.store.ID_DISTRICT = district.ID_DISTRICT
        }
      },
      selected_type_store(type)
      {
        this.store.ID_LOAI_CUA_HANG = type.ID_LOAI_CUA_HANG
      },
      LIST_DISTRICT(districts)
      {
        this.LIST_DISTRICT_LOCAL = districts
      }
    },
    methods: {
        checkPhone()
        {
          console.log('change')
          this.$store.dispatch('user/checkPhone',parseInt(this.user.USERNAME_USER)).then((response)=> {
             this.errors_username = !response.success
             if(response.success == false)
             {
               this.$vs.notify({
                 title: 'ĐĂNG KÝ TÀI KHOẢN',
                 text: response.message,
                 color: 'warning'
               })
             }
          }).catch(() => {
            this.errors_username = true
          })
        },
        Resignter()
        {
          this.$vs.loading();
          this.$store.dispatch('resignterStore',{
            user: this.user,
            store: this.store
          }).then((response) => {
            if(response.success == true)
            {
              this.$cookies.set('token',response.result)
              this.$router.push('/')
            }
            else
            {
              this.$vs.notify({
                title: 'ĐĂNG KÝ',
                text:response.message,
                position: 'bottom-left',
                color:'warning'
              })
            }
            setTimeout(() => {
              this.$vs.loading.close();
            }, 500);
          })
          .catch(() => {
            this.$vs.notify({
              title: 'ĐĂNG KÝ',
              text: 'Lỗi server!',
              position: 'bottom-left',
              color:'danger'
            });
            setTimeout(() => {
              this.$vs.loading.close();
            }, 500);
          })
        
        },
        nextTab()
        {
          if(Object.entries(this.user).length < 3)
          {
            this.$vs.notify({
              title: 'ĐĂNG KÝ TÀI KHOẢN',
              text: 'Bạn chưa nhập đầy đủ thông tin',
              color: 'warning'
            })
          }
          else
          {
             this.next = 1
          }
        },
         sendOtp(){
          if(this.user.USERNAME_USER.length < 9 ){
            this.$vs.notify({
              title: 'XÁC THỰC TÀI KHOẢN',
              text: 'Lỗi! Số điện thoại không hợp lệ!',
              color: 'warning'
            });
          }else{
            //
            let countryCode = '+84' //vn  
            let phoneNumber = countryCode + parseInt(this.user.USERNAME_USER)
            //
            let appVerifier = this.appVerifier
            var vm = this;
            this.$vs.loading();
            firebase.auth().signInWithPhoneNumber(phoneNumber, appVerifier)
              .then(function (confirmationResult) {
                window.confirmationResult = confirmationResult;
                vm.$vs.notify({
                  title: 'XÁC THỰC TÀI KHOẢN',
                  text: 'Vui lòng nhập mã xác thực từ SMS để tạo tài khoản!',
                  color: 'success'
                });
                setTimeout(() => {
                  vm.$vs.loading.close()
                }, 500);
                vm.sms = true
              }).catch(function (error) {
                vm.$vs.notify({
                  title: 'XÁC THỰC TÀI KHOẢN',
                  text: 'Xin vui lòng thử lại số điện thoại khác do quá trình gửi mã xác thực lỗi!',
                  color: 'warning'
                });
                setTimeout(() => {
                  vm.$vs.loading.close()
                }, 500);
            });
          }
        },
        verifyOtp(){
          if(this.user.USERNAME_USER.length < 9 || this.otp.length != 6){
            this.$vs.notify({
              title: 'XÁC THỰC TÀI KHOẢN',
              text: this.otp.length == 0 ? 'Chưa nhập mã xác thực' : 'Mã xác thực không hợp lệ!',
              color: 'warning'
            })
          }else{
            let vm = this;
            let code = this.otp;
            this.$vs.loading();
            window.confirmationResult.confirm(code).then(function (result) {
                vm.user.ACCESS_PHONE = vm.otp
                vm.$vs.notify({
                    title: 'XÁC THỰC TÀI KHOẢN',
                    text: 'Xác thực số điện thoại thành công!',
                    color: 'success'
                  });
                  setTimeout(() => {
                    vm.$vs.loading.close()
                  }, 500);
                  vm.nextTab();
              // vm.$router.push({path:'/setPassword'})
            }).catch(function (error) {
                vm.$vs.notify({
                  title: 'XÁC THỰC TÀI KHOẢN',
                  text: 'Xác thực tài khoản thất bại, xin vui lòng thử lại!',
                  color: 'success'
                });
                setTimeout(() => {
                  vm.$vs.loading.close()
                }, 500);
            });
          }
        },
        initReCaptcha(){
          setTimeout(()=>{
            let vm = this
            window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container', {
              'size': 'invisible',
              'callback': function(response) {
                // reCAPTCHA solved, allow signInWithPhoneNumber.
                // ...
              },
              'expired-callback': function() {
                // Response expired. Ask user to solve reCAPTCHA again.
                // ...
              }
            });
            //
            this.appVerifier =  window.recaptchaVerifier
          },1000)
        }
    },
    created()
    {
      this.$validator.reset()
      this.initReCaptcha()
    },
    mounted()
    {

    }
    
}
</script>
<style>
.ul-tabs.vs-tabs--ul.ul-tabs-left {display: none !important;}
.item-register {
    padding: 10px;border: 1px solid #e2e2e2;margin: 5px;text-align: center;
    cursor: pointer;text-transform: uppercase;
}
.register-phone:hover, .login:hover, .register-facebook:hover {background: #5981c2;color: #fff;}
.register-email:hover {background: #F37151;color: #fff;;}
</style>