
<template>
    <div class="h-screen flex w-full bg-img vx-row no-gutter items-center justify-center">
        <div class="vx-col sm:w-1/2 md:w-1/2 lg:w-3/4 xl:w-3/5 sm:m-0 m-4">
            <vx-card>
                <div slot="no-body" class="full-page-bg-color">
                    <div class="vx-row no-gutter">
                        <div class="vx-col hidden sm:hidden md:hidden lg:block lg:w-1/2 mx-auto self-center">
                            <img src="@/assets/images/pages/reset-password.png" alt="register" class="mx-auto">
                        </div>
                        <div class="vx-col sm:w-full md:w-full lg:w-1/2 mx-auto self-center  d-theme-dark-bg">
                            <div class="px-8 pt-8 register-tabs-container">
                                <div class="vx-card__title mb-4">
                                    <h4 class="mb-4">QUÊN MẬT KHẨU</h4>
                                    <p>Hệ thống ECOSY giải pháp cho cửa hàng. Vui lòng nhập tài khoản & email xác thực để cập nhật mật khẩu!</p>
                                    
                                    <div class="p-1" v-if="!$route.query.access_token">
                                        <vs-input class="w-full" label="Tài khoản" v-model="user.USERNAME_USER"  :disabled="$cookies.isKey('reset_password')"></vs-input>
                                        <vs-input class="w-full" label="Email xác thực" v-model="user.EMAIL_USER" :disabled="$cookies.isKey('reset_password')" ></vs-input>
                                        
                                        <vs-button v-if="!$cookies.isKey('reset_password')" class="mt-3" type="border" color="success" @click="resetPassword">Xác nhận</vs-button>
                                        <p class="mt-3" v-else>Vui lòng vào email đăng ký để cập nhật lại mật khẩu cho tài khoản</p>
                                    </div>
                                    <div class="p-1" v-else>
                                        <vs-input type="password" label="Mật khẩu mới" v-model="user_update.PASSWORD_USER" class="w-full"></vs-input>
                                        <vs-input type="password" label="Nhập lại mật khẩu" v-model="user_update.PASSWORD_COFIRM" class="w-full"></vs-input>
                                        <vs-button class="mt-3" type="border" color="success" @click="updatePassword">Cập nhật</vs-button>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </vx-card>
        </div>
    </div>
</template>

<script>

export default {
    data()
    {
        return {
            store: {},
            user: {},
            user_update: {}
        }
    },
    methods:
    {
        resetPassword()
        {
        
          if(Object.entries(this.user).length < 2)
          {
              this.$vs.notify({
                  title: 'QUÊN MẬT KHẨU',
                  text: 'Bạn chưa nhập đầy đủ thông tin!',
                  color: 'warning'
              })
          }
          else
          {
              this.$vs.loading();
              this.$store.dispatch('user/resetPassword',this.user)
              .then((response) => {
                  this.$cookies.set('reset_password',response.result);
                  this.$vs.notify({
                      title: 'QUÊN MẬT KHẨU',
                      text: response.message,
                      color: response.success == true ? 'success' : 'warning'
                  })
                  setTimeout(() => {
                      this.$vs.loading.close();
                  }, 500);
              })
              .catch((err) => {
                  this.$vs.notify({
                      title: 'QUÊN MẬT KHẨU',
                      text: 'Lỗi! Xin vui lòng thử lại!',
                      color: 'danger'
                  });
                  setTimeout(() => {
                      this.$vs.loading.close();
                  }, 500);
              })
          }
        },
        api_update_password()
        {
            this.$vs.loading();
            this.$store.dispatch('user/updatePassword',{
                ACCESS_TOKEN_EMAIL: this.$route.query.access_token,
                USERNAME_USER: this.$cookies.get('reset_password').USERNAME_USER,
                PASSWORD_USER: this.user_update.PASSWORD_USER,
                PASSWORD_COFIRM: this.user_update.PASSWORD_COFIRM
            })
            .then((response) => {
                console.log('response ',response)
            if(response.success == true)
            {
                    this.$cookies.remove('reset_password');
                    this.$cookies.set('token',response.result);
                    this.$vs.notify({
                        title: 'CẬP NHẬT LẠI MẬT KHẨU',
                        text: 'Chúc mừng bạn đã cập nhật tài khoản thành công!',
                        color: 'success'
                    });
                    this.$router.push('/');
            }
            else
            {
                this.$vs.notify({
                    title: 'CẬP NHẬT LẠI MẬT KHẨU',
                    text: response.message,
                    color: 'warning'
                })
            }
                setTimeout(() => {
                    this.$vs.loading.close()
                }, 500);
            })
            .catch((err) => {
                console.log(err)
                this.$vs.notify({
                    title: 'CẬP NHẬT LẠI MẬT KHẨU',
                    text: 'Lỗi! Xin vui lòng thử lại!',
                    color: 'wraning'
                });
                setTimeout(() => {
                    this.$vs.loading.close()
                }, 500);
            })
        },
        updatePassword()
        {
             if(this.$route.query.access_token)
            {
               if(Object.entries(this.user_update).length == 2)
               {
                    if(this.user_update.PASSWORD_USER != this.user_update.PASSWORD_COFIRM)
                    {
                        this.$vs.notify({
                            title: 'CẬP NHẬT LẠI MẬT KHẨU',
                            text: 'Mật khẩu không hợp lệ',
                            color: 'warning'
                        })
                    }
                    else
                    {
                        this.api_update_password()
                    }
               }
               else
               {
                   this.$vs.notify({
                       title: 'CẬP NHẬT LẠI MẬT KHẨU',
                       text: 'Bạn chưa nhập đầy đủ thông tin!',
                       color: 'warning'
                   })
               }
               
            }
        }
    },  
    created(){
        if(this.$cookies.isKey('reset_password'))
        {
            this.user = this.$cookies.get('reset_password')
        }
        if(this.$cookies.isKey('token'))
        {
            this.$router.push('/')
        }
    },
    mounted()
    {
        if(this.$route.query.access_token)
        {
            if(!this.$cookies.isKey('reset_password'))
            {
                this.$router.push('/login')
            }
            else
            {
                this.$vs.notify({
                    title: 'CẬP NHẬT LẠI MẬT KHẨU',
                    text: 'Điền thông tin mật khẩu để cập nhật lại mật khẩu',
                    color: 'success'
                })
                this.user = this.$cookies.get('reset_password')
            }
        }
    }
}
</script>

<style lang="scss">
.register-tabs-container {
  min-height: 517px;

  .con-tab {
    padding-bottom: 23px;
  }
}
</style>