<template>
    <div>
       <div class="tb-notify" v-if="LIST_CUSTOMER_NOTIFY.length == 0">
         <tb-notify :data="LIST_DATA_NOTIFY" :title="'DANH SÁCH THÔNG BÁO CỦA CỬA HÀNG' " />
       </div>
        <div v-else class="tb-customer">   
            <tb-customer :title="'DANH SÁCH KHÁCH HÀNG ĐƯỢC GỬI THÔNG BÁO'" />
        </div>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
    name: 'data-notify',
    components: {
        'tb-notify': () => import('./tableNotify.vue'),
        'tb-customer': () => import ('./tableCustomer.vue') 
    },
    data()
    {
        return {
            LIST_DATA_NOTIFY: [],
        }
    },
    computed: {
        ...mapGetters(["LIST_CUSTOMER_NOTIFY"])
    },
    created() {
        this.$vs.loading();
        this.$store.dispatch('fetchNotify')
        .then((response) => {
            this.LIST_DATA_NOTIFY = response.result
            if(response.success == false)
            {
                this.$vs.notify({
                    title: 'DANH SÁCH THÔNG BÁO',
                    text: response.message,
                    color: 'warning',
                    position: 'bottom-left'
                })
            }
        })
        .catch((err) => {
            this.$vs.notify({
                title: 'DANH SÁCH THÔNG BÁO',
                text: 'Lỗi! Xin vui lòng F5 thử lại!',
                color: 'warning',
                position: 'bottom-left'
            })
             setTimeout(() => {
                this.$vs.loading.close()
            },500)
        })
        setTimeout(() => {
            this.$vs.loading.close()
        },500)
    },
}
</script>