<template>
    <div>
        <router-view></router-view>
    </div>
</template>

<script>
import ModuleNotify from '@/store/notify/ModuleNotify.js'
export default {
    name: 'page-notify',
    beforeCreate() {
        this.$store.registerModule('notify',ModuleNotify)
    },
   
    beforeDestroy() {
        this.$store.unregisterModule('notify')
    },
}
</script>