<template>
 <vs-table ref="table" :data="LIST_DATA" >
            <div slot="header" style="width:100%">
              <vs-row vs-w="12">
                  <vs-col class="p-6 pl-0"  vs-justify="left" vs-align="left" vs-lg="12" vs-sm="12" vs-xs="12" >
                     <p style="font-weight:bold">{{title}}</p>
                  </vs-col>
                   
              </vs-row>
              
            </div>

          <template slot="thead">
            <vs-th sort-key="tenkh">TÊN CỬA HÀNG</vs-th>
            <vs-th sort-key="tenkh">TIÊU ĐỀ</vs-th>
            <vs-th sort-key="managers">NỘI DUNG</vs-th>
            <vs-th sort-key="managers">LOẠI THÔNG BÁO</vs-th>
            <vs-th sort-key="managers">SỐ LƯỢNG GỬI</vs-th>
            <vs-th sort-key="money" >NGÀY TẠO </vs-th>
            <vs-th sort-key="action"></vs-th>
          </template>
          <template slot-scope="{data}">
            <tbody>

              <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">

                <vs-td>
                  <p> {{tr.TEN_CUA_HANG}}</p>
                </vs-td>

                <vs-td>
                  <p> {{tr.TITLE_THONG_BAO}}</p>
                </vs-td>

                <vs-td>
                  <p> {{tr.CONTENT_THONG_BAO}}</p>
                </vs-td>

                 <vs-td>
                  <p> {{tr.TYPE_THONG_BAO}}</p>
                </vs-td>

                <vs-td>
                  <p> {{tr.SL}}</p>
                </vs-td>

                <vs-td>
                  <p> {{tr.CREATED_AT}}</p>
                </vs-td>

                <vs-td class="whitespace-no-wrap">
                    <button @click="editData(tr)" class="btn btn-action"> <i class="fa fa-edit" aria-hidden="true"></i></button>
                    <button @click="deleteCustomer(tr)"  class="btn btn-action"> <i class="fa fa-trash" aria-hidden="true"></i></button>
                    <button @click="nextCustomers(tr)" class="btn btn-action"> <i class="fa fa-angle-right" aria-hidden="true"></i></button>
                </vs-td>

              </vs-tr>
            </tbody>
          </template>
        </vs-table>
</template>

<script>
export default {
    props: ["data", "title"],
    data()
    {
        return {
            LIST_DATA: this.$store.state.notify.LIST_NOTIFY
        }
    },
    watch: {
        data(data)
        {
            this.LIST_DATA = data
        }
    },
    methods: {
        nextCustomers(data)
        {
            this.$vs.loading()
            this.$store.dispatch('fetchCustomerByID_THONG_BAO',data.ID_THONG_BAO)
            .then((response) => {
                if(response.success == false)
                {
                     this.$vs.notify({
                    title: 'DANH SÁCH KHÁCH HÀNG NHẬN THÔNG BÁO',
                    text: response.message,
                    color: 'warning',
                    position: 'bottom-left'
                })
                }
            })
            .catch((err) => {
                console.log(err)
                this.$vs.notify({
                    title: 'DANH SÁCH KHÁCH HÀNG NHẬN THÔNG BÁO',
                    text: 'Lỗi! Xin vui lòng F5 thử lại!',
                    color: 'danger',
                    position: 'bottom-left'
                })
                 setTimeout(() => {
                    this.$vs.loading.close()
                },500)
            })
            setTimeout(() => {
                this.$vs.loading.close()
            },500)
        }
    },
}
</script>