<template>
 <vs-table ref="table" :data="LIST_CUSTOMER_LOCAL" >
            <div slot="header" style="width:100%">
              <vs-row vs-w="12">
                  <vs-col class="p-6 pl-0"  vs-justify="left" vs-align="left" vs-lg="12" vs-sm="12" vs-xs="12" >
                     <p style="font-weight:bold"> <button @click="updateCustomerNotify()" class="btn btn-back"><i class="fa fa-angle-left"></i></button> {{title}}</p>
                  </vs-col>
                   
              </vs-row>
              
            </div>

          <template slot="thead">
            <vs-th>TRẠNG THÁI</vs-th>
            <vs-th sort-key="TEN_KH">TÊN KHÁCH HÀNG</vs-th>
            <vs-th sort-key="managers">NGÀY SINH</vs-th>
            <vs-th sort-key="managers">SDT</vs-th>
            <vs-th sort-key="category">GIỚI TÍNH</vs-th>
            <vs-th sort-key="category">THÀNH PHỐ</vs-th>
            <vs-th sort-key="category">QUẬN / HUYỆN</vs-th>
            <vs-th sort-key="popularity">DC KH</vs-th>
          </template>
          <template slot-scope="{data}">
            <tbody>

              <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                <vs-td>
                  <p class="product-name font-medium truncate">{{tr.STATUS_THONG_BAO == 0 ? 'Chưa xem' : 'Đã xem'}}</p>
                </vs-td>

                <vs-td>
                  <p class="product-name font-medium truncate"><a :href="`/customers/${tr.UUID_KH}?ID_CUA_HANG=${tr.ID_CUA_HANG}`"> {{ tr.TEN_KH }} </a> </p>
                </vs-td>

                <vs-td>
                  <p class="product-name font-medium truncate"> ({{new Date().getFullYear() - new Date(tr.NGAY_SINH_KH).getFullYear()}}+)-{{ tr.NGAY_SINH_KH }}  <span class="birthday" :class="((new Date(tr.NGAY_SINH_KH).getMonth() + 1) == (new Date().getMonth() + 1) ? 'active' : '')"><i class="fa fa-birthday-cake"></i></span> </p>
                </vs-td>

                <vs-td>
                  <p class="product-name font-medium truncate">{{ tr.SDT_KH }}</p>
                </vs-td>

                <vs-td>
                  <p class="product-name font-medium truncate">{{ tr.GT_KH == 0 ? 'Nam' : 'Nữ'}}</p>
                </vs-td>

                <vs-td>
                  <p class="product-name font-medium truncate">{{ tr.NAME_PROVINCE }}</p>
                </vs-td>
                <vs-td>
                  <p class="product-name font-medium truncate">{{ tr.NAME_DISTRICT }}</p>
                </vs-td>

                <vs-td>
                  <p class="product-name font-medium truncate">{{ tr.DC_NHA_KH == undefined ? '' :  tr.DC_NHA_KH }}</p>
                </vs-td>

              </vs-tr>
            </tbody>
          </template>
        </vs-table>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
    props: ["title"],
    data()
    {
        return {
            LIST_CUSTOMER_LOCAL: this.$store.state.notify.LIST_CUSTOMER_NOTIFY
        }
    },
    computed: {
        ...mapGetters(["LIST_CUSTOMER_NOTIFY"])
    },
    watch: {
        LIST_CUSTOMER_NOTIFY(data)
        {
          console.log('data', data)
            this.LIST_CUSTOMER_LOCAL = data
        }
    },
    methods: {
      updateCustomerNotify()
      {
        this.$store.commit("SET_CUSTOMER_NOTIFY",[])
      }
    },
}
</script>
<style lang="css">
  .btn-back {
    padding: 5px 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    border: 1px solid transparent;
  }
  .btn-back:hover {
    background:#e2e2e2;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
  }
</style>