<template>
    <div class="item-media position-relative">
        <input v-model="check_media" ref="check_media" :checked="false" class="position top-right" type="checkbox" :value="media.ID_MEDIA" />
        <img class="img-media" :src="`${$store.state.public_domain}/${media.URL_MEDIA}`" />
    </div>
</template>
<script>
export default {
    props: ["media"],
    data()
    {
        return {
            check_media: []
        }
    },
    methods: {
        info_media()
        {
            this.check_media.push(this.media.ID_MEDIA)
        }
    },
}
</script>