<template>
  <vs-popup button-close-hidden	 title="Quản lý thư viện ảnh" parent="body" default-index="1" color="primary" class="media popup" spacer :active.sync="isSidebarActiveLocal">
    <vs-row>
         <vs-tabs v-model="tabs">
            <vs-tab label="Thư viện">
              <vs-col class="p-6" vs-justify="left" vs-align="left" vs-lg="8" vs-md="7" vs-sm="12" vs-xs="12">
                <div class="card w-20" v-for="(media,index) in LIST_MEDIA_LOCAL" :key="index">
                    <item-media :media="media"  />
                </div>
              </vs-col>
              <vs-col v-if="Object.entries(media_edit).length > 0" class="p-6" vs-justify="left" vs-align="left" vs-lg="4" vs-md="5" vs-sm="12" vs-xs="12">
                <div class="info-media" >
                    <img class="img-media" :src="`${$store.state.public_domain}/${media_edit.URL_MEDIA}`" />
                </div>
                <div class="itme-info media">
                  <p> <strong>Ngày upload:</strong> {{media_edit.CREATED_AT}} </p>
                </div>
              </vs-col>
            </vs-tab>
            <vs-tab label="Tải ảnh">
              
            </vs-tab>
        </vs-tabs>
    </vs-row>
    <div class="footer p-6">
          <vs-button type="border" @click="isSidebarActiveLocal = false"> Đóng </vs-button>
    </div>
  </vs-popup>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import { mapGetters } from 'vuex'
import ModuleMedia from '@/store/media/ModuleMedia.js'
export default {
    components: {
      'item-media': () => import('./itemMedia.vue')
    },
    props: ["isActive", "data"],
    computed: {
      ...mapGetters(["LIST_MEDIA"]),
      isSidebarActiveLocal:
      {
          get() {
              return this.isActive
          },
          set(val)
          {
              this.$emit('close',val)
          }
      },
    },
    data()
    {
      return {
        tabs: 0,
        LIST_MEDIA_LOCAL: [],
        media_edit: {}
      }
    },
    watch: {
      LIST_MEDIA(medias)
      {
        this.LIST_MEDIA_LOCAL = medias
      }
    },
    methods: {
      info_media(media)
      {
        this.media_edit = media
      },
      api_media()
      {
        this.$store.dispatch('fetchMedia')
        .then((response) => {
          this.$vs.loading.close();
        })
        .catch((err) => {
          this.$vs.loading.close()
        })
      }
    },
    beforeCreate() {
      this.$vs.loading()
      this.$store.registerModule('media',ModuleMedia)
    },
    created() {
       this.api_media()
    },
    beforeDestroy() {
      this.$store.unregisterModule('media')
    },

}
</script>

<style lang="css">
  .media.popup .vs-popup {width: 90%;height: 100vh;}
  .img-media {width: 100%;height:auto; cursor: pointer }
</style>

