<template>
<vs-row vs-w="12">
  
  <setting-bill class="po-ab"/>
  <sidebar-setting />
  <sidebar-product :products="LIST_PRODUCT" :isSidebarActive="isSidebarActiveProduct" @close="isSidebarActiveProduct = $event" />
  <sidebar-product-more  :isSidebarActive="isSidebarActiveProductMore" 
  @close="isSidebarActiveProductMore = $event"
  @update="LIST_BILL_MORE = $event" />
  <vs-col class="p-3 pm-5" vs-type="flex" vs-justify="left" vs-align="left" vs-lg="7" md="6 " vs-sm="12" vs-xs="12" >
      <v-select class="select-store mw-200" placeholder="Chọn cửa hàng" 
        v-model="selected_store" :options="LIST_STORE" value="ID_CUA_HANG"  
        label="TEN_CUA_HANG"  
        :disabled="Object.entries(this.edit_bill).length > 0"></v-select>
  </vs-col>
  <vs-col class="p-3 filter-right" vs-type="flex" vs-justify="center" vs-align="center" vs-lg="5" md="6" vs-sm="12" vs-xs="12" >
    <v-select class="select-store mw-200" placeholder="Chọn khách hàng" 
    v-model="selected_customer" :options="LIST_CUSTOMER_LOCAL" 
    value="UUID_KH"  label="SDT_KH"
    :disabled="Object.entries(this.edit_bill).length > 0" >
    </v-select>
    <vs-button class="btn-mobile" style="margin-left: 5px;" @click="isSidebarActive = true">Thêm mới</vs-button>
  </vs-col>

  <vs-col class="p-3 pm-5 layout-pc" vs-justify="left" vs-align="left" vs-lg="7" md="6" vs-sm="12" vs-xs="12" >
  <span class="text-primary text-hover" @click="isSidebarActiveBill=true">Có {{TOTAL_BILL_NOT_PAY}} hóa đơn chưa thanh toán</span>
   <div class="section-product mt-3  filter-product p-3" v-if="LIST_PRODUCT.length > 0">
     <vs-input class="w-full" label="Tìm kiếm sản phẩm" v-model="filter_product"
      placeholder="Nhập mã sản phẩm tìm kiếm"></vs-input>
   </div>
   <div class="section-product mh p-3">
      <span v-if="LIST_PRODUCT.length == 0">Chưa có sản phẩm!</span>
      <item-product v-for="(product,index) in LIST_PRODUCT_LOCAL" :key="index" 
        :product="product" :reload="reload"
        @updateReload="reload = $event"
        :list="LIST_PRODUCT_EDIT"></item-product>
   </div>
    <div class="section-product p-3 mt-15">
      <vs-row vs-w="12" v-for="(bill,index) in LIST_BILL_MORE" :key="index">
        
              <vs-col class="pd-5" vs-justify="left" vs-align="left" vs-lg="5" vs-sm="5" vs-xs="5" >
                  <vs-input v-model="bill.TEN_SAN_PHAM"  class="mt-5 mr-5 w-full" type="text" placeholder="Nhập tên sản phẩm"></vs-input>
              </vs-col>

              <vs-col class="pd-5"  vs-justify="left" vs-align="left" vs-lg="4" vs-sm="4" vs-xs="4" >
                  <vs-input class="mt-5 mr-5 w-full" type="text" v-mask="mask" v-model="bill.GIA_SAN_PHAM"> </vs-input>
                  <!-- <vs-input v-model="bill.GIA_SAN_PHAM"  class="mt-5 mr-5 w-full" type="number"></vs-input> -->
              </vs-col>
          
              <vs-col class="pd-5" vs-justify="left" vs-align="left" vs-lg="2" vs-sm="2" vs-xs="2" >
                  <vs-input min="1" v-model="bill.SO_LUONG"  class="mt-5 mr-5 w-full" type="number"></vs-input>
              </vs-col>

              <vs-col class="pd-5" vs-justify="left" vs-align="left" vs-lg="1" vs-sm="1" vs-xs="1" >
                  <vs-button icon="delete" class="mt-5" @click="removeProduct(index)"></vs-button>
              </vs-col>
      </vs-row>
       <vs-button class="ml-2" type="border" size="small" @click="addProduct()">+</vs-button>
    </div>
  </vs-col>
  
  <vs-col class="p-3" vs-justify="center" vs-align="center" vs-lg="5" md="6" vs-sm="12" vs-xs="12" >
    <!-- {{LIST_BILL_LOCAL}} -->
    <div class="section-bill bg-white p-3">
        <div class="selected_customer" v-if="selected_customer != null">
          <div class="banner_status mb-20">
              <span> {{STATUS}} </span>
          </div>
          <div class="w-full flex mt-5" style="position: relative;">
            <vs-input label="Số điện thoại" disabled v-model="selected_customer.SDT_KH" class="mt-5 w-full" name="SDT_KH" placeholder="Nhập tên cửa hàng" v-validate="'required'" />
            <span class="text-hover button-more" @click="show_more_info = !show_more_info"><i class="fa " :class="show_more_info == true ?  'fa-angle-up' : 'fa-angle-down'"></i></span>
          </div>
          <div class="info-customer" v-if="show_more_info == true">
             <vs-input label="Tên khách hàng" disabled v-model="selected_customer.TEN_KH" class="w-full mt-5" 
              name="TEN_KH" placeholder="Nhập tên cửa hàng" v-validate="'required'"
              data-vv-validate-on="blur" />
            <vs-input label="Tổng tiền số khách hàng đã chi" disabled v-model="TONG_TIEN_KH_CHI" class="mt-5 w-full" name="TONG_TIEN_KH_CHI" />
            <vs-input label="Tổng tiền chi tại cửa hàng" disabled v-model="SO_TIEN_DA_CHI" class="mt-5 w-full" name="SO_TIEN_DA_CHI" />
            <vs-input label="Điểm tích lũy" disabled v-model="selected_customer_store.DIEM_TICH_LUY" class="mt-5 w-full" name="DIEM_TICH_LUY" />
          </div>
          <div class="add-product-mobile">
            <div  style="min-height: 35px; line-height: 30px;">
              <div class="list-product-other">
                <vs-row  vs-w="12" v-for="(bill,index) in LIST_BILL_MORE" :key="index">
                
                  <vs-col class="pd-5 mt-0" vs-justify="left" vs-align="left" vs-lg="5" vs-sm="5" vs-xs="5" >
                      <vs-input v-model="bill.TEN_SAN_PHAM"  class="mt-5 mr-5 w-full" type="text"></vs-input>
                  </vs-col>

                  <vs-col class="pd-5 mt-0"  vs-justify="left" vs-align="left" vs-lg="3" vs-sm="4" vs-xs="4" >
                      
                     <!-- <vs-input v-model="bill.GIA_SAN_PHAM"  class="mt-5 mr-5 w-full" type="number"></vs-input> -->
                  </vs-col>
              
                  <vs-col class="pd-5 mt-0" vs-justify="left" vs-align="left" vs-lg="3" vs-sm="2" vs-xs="2" >
                      <vs-input min="1" v-model="bill.SO_LUONG"  class="mt-5 mr-5 w-full" type="number"></vs-input>
                  </vs-col>

                  <vs-col class="pd-5" vs-justify="left" vs-align="left" vs-lg="1" vs-sm="1" vs-xs="1" >
                      <vs-button icon="delete" class="mt-5" @click="removeProduct(index)"></vs-button>
                  </vs-col>
                </vs-row>
                <vs-col class="pd-3 group-btn-add" vs-justify="center" vs-align="right" vs-sm="12"  >
                    <button class="btn btn-add" @click="addProduct()"><i class="fa fa-plus"></i> Thêm mới sản phẩm</button>
                </vs-col>
              </div>
            </div>
          </div>
          
          <p class="p-3" align="center">Danh sách sản phẩm</p>
          <ul class="list-bill" v-for="(bill,index) in LIST_BILL" :key="index">
            <li style="width: 30%;">{{bill.TEN_SAN_PHAM}}</li>
            <li>{{formatMoney(bill.GIA_SAN_PHAM)}}</li>
            <li style="width: 10%;">{{bill.SO_LUONG}}</li>
            <li>{{formatMoney(bill.SO_LUONG * bill.GIA_SAN_PHAM)}}</li>
          </ul>

          <ul class="list-bill" v-for="(bill,index) in LIST_BILL_MORE" :key="index">
            <li style="width: 30%;">{{bill.TEN_SAN_PHAM}}</li>
            <li>{{formatMoney(formatNumber(bill.GIA_SAN_PHAM))}}</li>
            <li style="width: 10%;">{{bill.SO_LUONG}}</li>
            <li>{{formatMoney(bill.SO_LUONG * formatNumber(bill.GIA_SAN_PHAM))}}</li>
          </ul>

          <ul class="list-point">
            <li>
              <button class="w-full" @click="bill_more = !bill_more">Đổi điểm / giảm giá   <vs-icon class="icon-right" :icon="bill_more == false ? 'keyboard_arrow_down' : 'keyboard_arrow_up'"></vs-icon></button>
              <ul class="list-child" :class="{active: bill_more}">
                <li><vs-input class="w-full" min="0" :max="selected_customer_store.DIEM_TICH_LUY" v-model="more.DOI_DIEM" type="number" label="Đổi điểm thưởng" @change="check_diem_tich_luy"></vs-input></li>
                <li><vs-input class="w-full" label="Giảm giá (%)" v-model="more.GIAM_GIA"></vs-input></li>
              </ul>
            </li>
          </ul>
          <div class="mt-5">
            <label for="STATUS" class="vs-input--label">Trạng thái hóa đơn</label>
            <v-select :options="LIST_STATUS_BILL_LOCAL" v-model="selected_status"
              label="TEN_TRANG_THAI"
              value="ID_TRANG_THAI"
              placeholder="Chọn trạng thái"></v-select>
          </div>
          <ul class="total">
              <li>
                <small><strong>*Ghi chú</strong>  - {{SETTING_POINT.SO_TIEN == 0 ? 'Chưa có cài đặt điểm tích lũy!' : (SETTING_POINT.SO_TIEN).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') + 'VNĐ = '}}   {{SETTING_POINT.SO_TIEN == 0 ? '' : SETTING_POINT.SO_DIEM}}</small>
                <br />
                <small>- {{SETTING_POINT.DOI_TIEN == 0 ? 'Chưa cài đặt đổi điểm thành tiền': (SETTING_POINT.DOI_TIEN).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') + 'VNĐ / 1 điểm '}}</small>
                </li>
              <li  style="width: 35%;">Tích lũy điểm </li>
              <!-- {{more.DOI_DIEM}} -->
              <li  style="width: 65%;" class="right">{{DIEM_TICH_LUY}}</li>
              <li style="width: 35%;">Thành tiền</li>
              <!-- {{(more.DOI_DIEM * SETTING_POINT.DOI_TIEN)}} -->
              <li class="right"  style="width: 65%;"> 
                <span class="money" :class="{active: more.GIAM_GIA > 0 || more.DOI_DIEM > 0}">{{(TOTAL_BILL).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')}} vnđ</span>
                <span class="money" style="margin-left: 5px;" v-if="more.GIAM_GIA > 0 || more.DOI_DIEM > 0">{{
                  (TOTAL_BILL_SALE.toFixed(2))
                  .toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')}} vnđ</span>  
              </li>
              <li  style="width: 100%;" v-if="TOTAL_BILL_SALE < 0">
                <span class="text-danger text-sm" >Số tiền hóa đơn thấp hơn so với quy định!</span>
              </li>
          </ul>
          <vs-button :disabled="disabled" class="btn-tt" @click="submitBill()">{{Object.entries(this.edit_bill).length == 0 ? 'Tạo hóa đơn' : 'Cập nhật hóa đơn'}}</vs-button>
        </div>
        <div class="text-no-selected--customer" v-else style="text-align:center">
          <i align="center">Bạn chưa chọn khách hàng!!!</i>
        </div>
    </div>
  </vs-col>

  <sidebar-customer :isSidebarActive="isSidebarActive" @closeSidebar="isSidebarActive = $event" :data="sidebarData" />
  <sidebar-action-bill :isSidebarActive="isSidebarActiveBill" 
              @close="isSidebarActiveBill = $event"
              :selected_store="selected_store"
              @editBill="edit_bill = $event"/>
</vs-row>
</template>

<style lang="css">
  @media (max-width: 768px) {
    .filter-right {justify-content: left !important;}
  }
</style>

<script>
import vSelect from 'vue-select'
import { mapGetters } from 'vuex'
import createNumberMask from 'text-mask-addons/dist/createNumberMask';
var currencyMask = createNumberMask({
  prefix: '',
  allowDecimal: true,
  includeThousandsSeparator: true,
  decimalLimit: 3,
  allowNegative: false,
  allowLeadingZeroes: false,
});
export default {
  components:
  {
    vSelect,
    'item-product': () => import('./itemProduct'),
    'sidebar-customer': () => import('../customer/sidebarActionCustomer'),
    'setting-bill': () => import('./settingBill'),
    'sidebar-setting': () => import('./sidebarSetting'),
    'sidebar-product': () => import('./sidebarProduct'),
    'sidebar-product-more': () => import('./sidebarProductMore'),
    'sidebar-action-bill': () => import('./sidebarActionBill')
  },
  computed:
  {
    ...mapGetters(["LIST_PRODUCT", "LIST_CUSTOMER", "LIST_BILL", "SETTING_POINT",
     "LIST_CUSTOMER_PUBLIC", "SELECT_CUSTOMER_STORE", 
     "STATUS", "LIST_STORE", "LIST_STATUS_BILL", "LIST_BILL_NOT_PAY"]),
    TOTAL_BILL_SALE()
    {
      
      if(this.more.GIAM_GIA > 0 || this.more.DOI_DIEM > 0)
      {
        var total = 0;
        total = (this.TOTAL_BILL - ((this.TOTAL_BILL/100)*this.more.GIAM_GIA) - (this.more.DOI_DIEM * this.SETTING_POINT.DOI_TIEN) ) 
        return total;
      }
      else{
        return this.TOTAL_BILL
      }
      
    },
    TOTAL_BILL()
    {
      var total = 0;
      this.LIST_BILL_LOCAL.forEach((bill) => {
        total = total + ( parseInt(bill.SO_LUONG) * parseInt( bill.GIA_SAN_PHAM))
      })
      this.LIST_BILL_MORE.forEach((bill) => {
        total = total + ( parseInt(bill.SO_LUONG) * parseInt(this.formatNumber(bill.GIA_SAN_PHAM)))
      })
      return total;
    },  
    DIEM_TICH_LUY()
    {
      return ((this.SETTING_POINT.SO_TIEN == 0 ? 0 : this.TOTAL_BILL/this.SETTING_POINT.SO_TIEN)*this.SETTING_POINT.SO_DIEM).toFixed(0)
    },
    TONG_TIEN_KH_CHI: {
      get()
      {
        if(this.selected_customer == null) return 0;
        else return parseInt(this.selected_customer.TONG_TIEN_KH_CHI).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
      }, 
      set(val)
      {
        this.selected_customer.TONG_TIEN_KH_CHI = val
      }
    },
    SO_TIEN_DA_CHI:
    {
      get()
      {
        if(this.selected_customer_store == null) return 0;
        else return this.selected_customer_store.SO_TIEN_DA_CHI.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
      },
      set(val)
      {
        this.selected_customer_store.SO_TIEN_DA_CHI = val
      }
    },
    LIST_PRODUCT_LOCAL()
    {
      if(this.filter_product == ''){
        if(this.selected_store != null)
        {
           return this.LIST_PRODUCT.filter((value,index,array) => {
             return array[index].ID_CUA_HANG == this.selected_store.ID_CUA_HANG
           })
        }
        else return this.LIST_PRODUCT
      };
      return this.LIST_PRODUCT.filter((value,index,array) => {
        if(this.selected_store != null)
        {
          return (array[index].MA_SAN_PHAM.toLowerCase()).indexOf(this.filter_product.toLowerCase()) != -1 && array[index].ID_CUA_HANG == this.selected_store.ID_CUA_HANG;
        }
        else
        {
          return (array[index].MA_SAN_PHAM.toLowerCase()).indexOf(this.filter_product.toLowerCase()) != -1
        }
      });
    },
    LIST_STATUS_BILL_LOCAL:
    {
      get()
      {
        if(this.selected_store == null) {
          this.selected_status = null
          return [];
        }
        else{
          // this.selected_status = this.LIST_STATUS_BILL.find((status) => status.ID_CUA_HANG == this.selected_store.ID_CUA_HANG && status.SELECTED == 1
          // )
          return this.LIST_STATUS_BILL.filter((value,index,array) => {
            return array[index].ID_CUA_HANG == this.selected_store.ID_CUA_HANG && array[index].STT != 0
          })
        }
      }
    },
    TOTAL_BILL_NOT_PAY()
    {
      if(this.selected_store != null) return this.LIST_BILL_NOT_PAY.filter((value,index,array) => {
        return array[index].ID_CUA_HANG == this.selected_store.ID_CUA_HANG;
      }).length;
      return this.LIST_BILL_NOT_PAY.length;
    }


  },

  data()
  {
    return {
      mask: currencyMask,
      settings: { // perfectscrollbar settings
          maxScrollbarLength: 60,
          wheelSpeed: .60,
      },
      selected_store: null,
      selected_customer: null,
      number: [],
      sidebarData: {},
      isSidebarActive: false,
      more: {
        DOI_DIEM: 0,
        GIAM_GIA: 0
      },
      bill_more: false,
      LIST_BILL_MORE: [],
      LIST_CUSTOMER_LOCAL: [],
      LIST_BILL_LOCAL: [],
      isSidebarActiveProduct: false,
      isSidebarActiveProductMore: false,
      type_select_product: [
        {ID_TYPE: 1, NAME_TYPE: 'Sản phẩm từ kho'},
        {ID_TYPE: 2, NAME_TYPE: 'Sản phẩm khác'}
      ],
      selected_option_product:  {ID_TYPE: 1, NAME_TYPE: 'Sản phẩm từ kho'},
      select_product_store: [
        {}
      ],
      selected_customer_store: {
        SO_TIEN_DA_CHI: 0,
        DIEM_TICH_LUY: 0
      },
      disabled: false,
      show_more_info: false,
      selected_status: null,
      filter_product: '',
      reload: false,
      isSidebarActiveBill: false,
      edit_bill: {},
      LIST_PRODUCT_EDIT: []
    }
  },
  watch:
  {
    LIST_BILL(bills) {
        this.LIST_BILL_LOCAL = bills
    },
    LIST_CUSTOMER_PUBLIC(customers)
    {
      this.LIST_CUSTOMER_LOCAL = customers
    },
    selected_store(store)
    {
      this.reload = true
      if(store != null)
      {
        this.$store.dispatch('fetchPoint',store.ID_CUA_HANG)
        this.selected_customer = null
        const selected_status = this.LIST_STATUS_BILL.find((status) => (status.ID_CUA_HANG == this.selected_store.ID_CUA_HANG  && status.SELECTED == 1))
        if(selected_status != undefined) this.selected_status = selected_status;
        else this.selected_status = null;
        this.$store.commit('SET_BILL',[])

       }
      else{
        // this.LIST_CUSTOMER_LOCAL = []
        // this.LIST_BILL_LOCAL = []
        this.selected_status = null
      }
    },
    selected_customer(customer)
    {
      
      if(customer)
      {
        if(this.selected_store == null)
        {
          this.$vs.notify({
            title: 'TẠO HÓA ĐƠN',
            text: 'Bạn chưa chọn cửa hàng',
            color: 'warning'
          });
          this.selected_customer = null
        }
        else
        {
          this.initSelectedStatus();
          this.$store.dispatch("SELECT_CUSTOMER_STORE",{
            customer: customer,
            store: this.selected_store
          }).then((response) => {
          });
          this.$store.dispatch("getTypeCustomer",{
            ID_CUA_HANG: this.selected_store.ID_CUA_HANG,
            UUID_KH: this.selected_customer.UUID_KH
          })
          .then((response) => {
          })
        }
      }
      this.$store.state.bill.bills = []
    },
    SELECT_CUSTOMER_STORE(customer_store)
    {
      this.selected_customer_store = customer_store
    },
    more(newMore)
    {
      if(this.customer_store.DIEM_TICH_LUY < newMore.DIEM_TICH_LUY)
      {
         this.$vs.notify({
            title: 'ĐIỂM TÍCH LŨY',
            text:'Điểm tích lũy của khách hàng nhỏ hơn số điểm sử dụng',
            position: 'bottom-left',
            color:'warning'
          })
          this.more.DIEM_TICH_LUY = 0
      }
    },
    TOTAL_BILL_SALE(newVal)
    {
      if(newVal < 0 )
      {
        this.disabled = true
      }
      else
      {
        this.disabled = false
      }
    },
    edit_bill(bill_edit)
    {
      // console.log('watch ',bill_edit);  
      if(Object.entries(bill_edit).length > 0)
      {
        this.initValue();
        this.bill = {...bill_edit};
        this.selected_store = this.LIST_STORE.find((store) => store.ID_CUA_HANG == bill_edit.ID_CUA_HANG);
        this.selected_customer = this.LIST_CUSTOMER_LOCAL.find((customer) => customer.UUID_KH == bill_edit.UUID_KH);
        // console.log(this.selected_store,this.LIST_CUSTOMER_LOCAL)
        this.selected_status = this.LIST_STATUS_BILL.find((status) => status.ID_TRANG_THAI == bill_edit.ID_TRANG_THAI);
        this.more.DOI_DIEM = bill_edit.DOI_DIEM;
        this.more.GIAM_GIA = bill_edit.GIAM_GIA;
        const VALUE_HOA_DON = JSON.parse(bill_edit.VALUE_HOA_DON);
        VALUE_HOA_DON.forEach((bill) => {
          if(bill.ID_SAN_PHAM == 0)
          {
            this.LIST_BILL_MORE.push(bill);
          }
          else
          {
            this.LIST_PRODUCT_EDIT.push(bill)
          }
        })
      }
    }
  },
  methods:
  {
    openSidebarProduct()
    {
      if(this.selected_store == null)
      {
        this.$vs.notify({
          title: 'DANH SÁCH SẢN PHẨM',
          text: 'Bạn chưa chọn sản phẩm nào',
          color:'warning  '
        })
      }
      else
      {
        this.isSidebarActiveProduct = true
      }
    },
    removeProduct(index)
    {
        this.LIST_BILL_MORE.splice(index,1)
    },
    addProduct()
    {
      if(this.selected_store == null)
      {
        this.$vs.notify({
          title: 'TẠO HÓA ĐƠN',
          text: 'Bạn chưa chọn cửa hàng',
          color: 'warning'
        })
      }
      else
      {
        this.LIST_BILL_MORE.push({
          ID_SAN_PHAM: 0,
          TEN_SAN_PHAM: '',
          GIA_SAN_PHAM: 0,
          SO_LUONG: 1
         })
      }
    },
    addProductStore()
    {
      this.LIST_BILL.push({
          ID_SAN_PHAM: 0,
          TEN_SAN_PHAM: '',
          GIA_SAN_PHAM: 0,
          SO_LUONG: 1
      })
    },
    initValue()
    {
      this.LIST_BILL_MORE = [];
      this.LIST_BILL_LOCAL = [];
      this.selected_customer = null;
      this.LIST_PRODUCT_EDIT = [];
      

    },
     createBill()
    {
      this.$vs.loading();
      if(this.TOTAL_BILL == 0)
      {
        this.$vs.notify({
            title: 'TẠO HÓA ĐƠN',
            text: 'Bạn chưa nhập sản phẩm nào',
            color:'warning  '
        })
        setTimeout(() => {
          this.$vs.loading.close();
        }, 500);
      }
      else if(this.selected_store == null)
      {
        this.$vs.notify({
          title: 'TẠO HÓA ĐƠN',
          text: 'Bạn chưa chọn cửa hàng',
          color: 'warning'
        })
        setTimeout(() => {
          this.$vs.loading.close();
        }, 500);
      }
      else
      {
        var VALUE_HOA_DON =  (this.LIST_BILL_LOCAL).concat(this.LIST_BILL_MORE)
        console.log('bill 123',this.bill);
        this.$store.dispatch('createBill',{ 
          VALUE_HOA_DON: VALUE_HOA_DON,
          UUID_KH: this.selected_customer.UUID_KH,
          TEN_KH: this.selected_customer.TEN_KH,
          SDT_KH: this.selected_customer.SDT_KH,
          ID_CUA_HANG: this.selected_store.ID_CUA_HANG,
          TONG_TIEN: this.TOTAL_BILL,
          TONG_TIEN_SAU_KHI_GIAM: this.TOTAL_BILL_SALE,
          BILL_MORE: this.LIST_BILL_LOCAL.length > 0 ? true : false,
          DOI_DIEM: this.more.DOI_DIEM ? this.more.DOI_DIEM : 0,
          GIAM_GIA: this.more.GIAM_GIA ? this.more.GIAM_GIA : 0,
          DIEM_TICH_LUY: this.DIEM_TICH_LUY,
          ID_TRANG_THAI: this.selected_status.ID_TRANG_THAI,
          STT_TRANG_THAI: this.selected_status.STT
        }).then((response) => {
          if(response.success == true) this.$store.commit('UPDATE_SO_LUONG',VALUE_HOA_DON);
          this.reload = true;
          this.initValue()
          this.$vs.notify({
              title: 'TẠO HÓA ĐƠN',
              text:response.message,
              color: response.success == true ? 'success' : 'warning'
          })
          setTimeout(() => {
            this.$vs.loading.close();
          }, 500);
        })
        .catch((err) => {
          this.$vs.notify({
              title: 'TẠO HÓA ĐƠN',
              text:'Lỗi server!',
              position: 'bottom-left',
              color:'danger'
          })
          setTimeout(() => {
            this.$vs.loading.close();
          }, 500);
        })
      }
    },
    updateBill()
    {
      this.$vs.loading();
      if(this.TOTAL_BILL == 0)
      {
        this.$vs.notify({
            title: 'CẬP NHẬT HÓA ĐƠN',
            text: 'Bạn chưa nhập sản phẩm nào',
            color:'warning  '
        })
        setTimeout(() => {
          this.$vs.loading.close();
        }, 500);
      }
      else
      {
        var VALUE_HOA_DON =  (this.LIST_BILL_LOCAL).concat(this.LIST_BILL_MORE)
        this.$store.dispatch('updateBill',{ 
          ID_HOA_DON: this.edit_bill.ID_HOA_DON,
          VALUE_HOA_DON: VALUE_HOA_DON,
          UUID_KH: this.selected_customer.UUID_KH,
          SDT_KH: this.selected_customer.SDT_KH,
          ID_CUA_HANG: this.selected_store.ID_CUA_HANG,
          TONG_TIEN: this.TOTAL_BILL,
          TONG_TIEN_SAU_KHI_GIAM: this.TOTAL_BILL_SALE,
          BILL_MORE: this.LIST_BILL_LOCAL.length > 0 ? true : false,
          DOI_DIEM: this.more.DOI_DIEM ? this.more.DOI_DIEM : 0,
          GIAM_GIA: this.more.GIAM_GIA ? this.more.GIAM_GIA : 0,
          DIEM_TICH_LUY: this.DIEM_TICH_LUY,
          ID_TRANG_THAI: this.selected_status.ID_TRANG_THAI,
          STT_TRANG_THAI: this.selected_status.STT
        }).then((response) => {
          this.reload = true
          this.edit_bill = {}
          this.initValue()
          this.$vs.notify({
              title: 'CẬP NHẬT HÓA ĐƠN',
              text:response.message,
              color: response.success == true ? 'success' : 'warning'
          })
          setTimeout(() => {
            this.$vs.loading.close();
          }, 500);
        })
        .catch((err) => {
          this.$vs.notify({
              title: 'TẠO HÓA ĐƠN',
              text:'Lỗi server!',
              position: 'bottom-left',
              color:'danger'
          })
          setTimeout(() => {
            this.$vs.loading.close();
          }, 500);
        })
      }
    },
    select_product_store_index(index)
    {
      this.LIST_BILL[index].ID_SAN_PHAM = this.select_product_store[index].ID_SAN_PHAM
      this.LIST_BILL[index].TEN_SAN_PHAM = this.select_product_store[index].TEN_SAN_PHAM
      this.LIST_BILL[index].GIA_SAN_PHAM = this.select_product_store[index].GIA_SAN_PHAM
    },
    check_diem_tich_luy()
    {
      if(parseInt(this.selected_customer_store.DIEM_TICH_LUY) < parseInt(this.more.DOI_DIEM))
      {
          this.$vs.notify({
              title: 'ĐIỂM TÍCH LŨY',
              text:'Số điểm tích lũy không đủ!',
              position: 'bottom-left',
              color:'warning'
          })
          this.disabled = true
        // this.more.DOI_DIEM = 0
      }
      else
      {
        this.disabled = false
      }
    },
    apiFetchProduct()
    {
      this.$vs.loading();
      this.$store.dispatch('fetchProduct')
      .then((response) => {
        if(response.status == 401) this.$router.push('/logout');
        this.$vs.notify({
          title: 'DANH SÁCH SẢN PHẨM',
          text: response.message,
          color: response.success == true ? 'success' : 'warning'
        });
        setTimeout(() => {
          this.$vs.loading.close();
        }, 500);
      })
      .catch((err) => {
        this.$vs.notify({
          title: 'DANH SÁCH SẢN PHẨM',
          text: 'Lỗi! Xin vui lòng đăng xuất thử lại!',
          color: 'danger'
        });
        setTimeout(() => {
          this.$vs.loading.close();
        }, 500);
      })
    },
    apiFetchTrangThai()
    {
      this.$store.dispatch('fetchStatusBill')
      .then((response) => {
        if(response.status == 401) this.$router.push('/logout');
        if(response.success == false)
        {
          this.$vs.notify({
            title: 'CÀI ĐẶT DỮ LIỆU',
            text: response.message,
            color: 'warning'
          });
        }
      })
      .catch((err) => {
        console.log(err)
      })
    },
    initSelectedStatus()
    {
      const selected_status = this.LIST_STATUS_BILL_LOCAL.find(status => status.SELECTED == 1)
      if(selected_status != undefined) this.selected_status = selected_status;
      else this.selected_status = null;
      
    },
    formatMoney(money)
    {
      var money_format = parseInt(money);
      return (money_format/1000).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') +' K';
    },
    submitBill()
    {
      if(Object.entries(this.edit_bill).length == 0)
      {
        this.createBill()
      }
      else
      {
        this.updateBill();
      }
    },
    formatNumber(money)
    {
      if(money.length > 3)
      {
        return Number(money.replace(/[^0-9\.-]+/g,""))
      }
      else
       return 0;
    }
  },
  created()
  {
    this.selected_store = this.LIST_STORE.length == 0 ? null :  this.LIST_STORE[0];
    
    this.$store.dispatch("fetchCustomerPublic");
    this.apiFetchProduct();
    this.apiFetchTrangThai();
    this.initSelectedStatus();
     this.$store.dispatch('fetchBill');
  }
}
</script>


<style>
.pd-5 {padding: 5px;}
.mlr-10 {margin: 0 10px;}
.icon-right {float: right}
.mr-5 {margin-right: 5px !important;}
.scroll-product {
  width: 100%;
}
.list-product,.list-bill,.total {width:  100%;}
.total {margin-top: 25px;}
.list-product>li,.list-bill>li,.total>li{display: inline-block; width: 25%; padding: 10px 10px 0 0;}
.total>li {width: 50%;text-align: left}
.total>li:first-child {width: 100%;}
.total>li:last-child,.total>li.right {text-align: right}
.section-product,.section-bill,.bg-white{background: #fff;}
.section-bill  {border-radius: 50px 10x 10px 10px;border-radius: 1px solid #e2e2e2;box-shadow: 3px 3px 3px #e2e2e2;}
.btn-tt {margin-top: 15px;}
.list-point {margin-top: 10px;}
.list-point>li {cursor: pointer;padding: 10px 5px;background:  #e2e2e2;}
.list-point>li>ul>li {padding: 10px 0;}
.list-child {display: none;}
.list-child.active {display: block;}
.list-point>li>button {background: transparent;border: none;outline: none;text-align: left; cursor: pointer;}
.money.active {text-decoration: line-through}
.list-product-orther {max-height: 150px; overflow: hidden scroll;}
.button-more {position: absolute; bottom: 0; right: 0;    
    width: 37px;
    height: 37px;
    text-align: center;
    line-height: 37px;}
.section-product.mh{max-height: 250px; overflow: hidden scroll;}
</style>