<template>
    <div>
        <vs-table ref="table" :data="BILLS_LOCAL" 
        :noDataText="'Chưa có hóa đơn'"
        :maxItems="50">
          <div id="table-ecosy" slot="header" class="header-table-search flex flex-wrap-reverse items-center flex-grow  mb-2">
                <!-- {{stores}} -->
                <v-select class="select-store mw-200"  placeholder="Chọn cửa hàng"  v-model="selected_store" :options="LIST_STORE" value="ID_CUA_HANG"  label="TEN_CUA_HANG" ></v-select>
                <vs-input class="ml-5" type="date" lbael="Ngày bắt đầu" v-model="filter.time_start"></vs-input>
                <vs-input class="ml-5" type="date" lbael="Ngày kết thúc" v-model="filter.time_end" ></vs-input>
                <vs-button type="border ml-5" @click="FilterBill()"> <i class="fa fa-search"></i> </vs-button>
            <div class="total-bill w-full">
              <b>{{(TOTAL_BILL).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')}} <small>vnđ</small></b> 
            </div> 
          </div>
            
            
          <template slot="thead" >
            <vs-th>STT</vs-th>
            <vs-th>TRẠNG THÁI</vs-th>
            <vs-th>NGÀY LẬP HÓA ĐƠN</vs-th>
            <vs-th >CỬA HÀNG</vs-th>
            <vs-th >KHÁCH HÀNG</vs-th>
            <!-- <vs-th >SẢN PHẨM MUA</vs-th> -->
            <vs-th >TỔNG TIỀN HÓA ĐƠN</vs-th>
            <vs-th>TỔNG TIỀN SAU KHI GIẢM</vs-th>
            <vs-th >NGƯỜI LẬP HÓA ĐƠN</vs-th>
            <!-- <vs-th sort-key="popularity">NGÀY LẬP HÓA ĐƠN</vs-th> -->
            <vs-th> </vs-th>
          </template>
          <template slot-scope="{data}">
            <tbody>
              <vs-tr :data="tr" :key="index" v-for="(tr, index) in data"
                class="item-bill"
                :class="tr.STT_TRANG_THAI == 0 ? 'warning' : tr.STT_TRANG_THAI == -1 ? 'success' : ''">

                <vs-td><p align="center">{{index + 1}}</p></vs-td>
                <vs-td style="text-align:center">
                  {{tr.TEN_TRANG_THAI}}
                </vs-td>
                
                <vs-td style="text-align:center">{{formatTime(tr.CREATED_AT)}}</vs-td>

                <vs-td>
                  <p >{{ tr.TEN_CUA_HANG }}</p>
                </vs-td>

                <vs-td>
                  <p class="action-hover" @click="editData(tr)">{{ tr.TEN_KH }}</p>
                </vs-td>

                <vs-td>
                  <p >{{ (tr.TONG_TIEN).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') }} vnđ    </p>
                </vs-td>
                 <vs-td>
                  <p >{{ (tr.TONG_TIEN_SAU_KHI_GIAM).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') }} vnđ    </p>
                </vs-td>
                <vs-td>
                  <p >{{ tr.HO_TEN_USER }}</p>
                </vs-td>

               



                <vs-td class="whitespace-no-wrap">
                  <vs-button class="btn-not-color p-2" @click="editData(tr)" size="small"> <vs-icon icon="edit"></vs-icon></vs-button>
                  <vs-button class="btn-not-color p-2" @click="deleteData(tr)" size="small"> <vs-icon icon="delete"></vs-icon></vs-button>
                </vs-td>

              </vs-tr>
            </tbody>
          </template>
        </vs-table>
        <detail-bill :isSidebarActive="isSidebarActive" :data="dataEdit" @close="isSidebarActive = $event" />
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import moment from 'moment'
export default {
    components:
    {
      'detail-bill': () => import('./detailBill.vue')
    },
    data()
    {
        return {
            BILLS_LOCAL: [],
            selected_store: null,
            isSidebarActive: false,
            dataEdit: null,
            filter: {
              time_start: null,
              time_end: null
            }
        }  
    },
    computed:
    {
        ...mapGetters(["BILLS", "LIST_STORE", "BILL_SEARCH"]),
        TOTAL_BILL()
        {
          var total = 0;
          this.BILLS_LOCAL.forEach((bill) => {
            if(bill.STT_TRANG_THAI == -1)
            {
              total = total + parseInt(bill.TONG_TIEN_SAU_KHI_GIAM)
            }
          })
          return total;
        }
    },
    watch:
    {
        BILLS(new_bills)
        {   var total = 0;
            new_bills.forEach((bill) => {
              if(bill.STT_TRANG_THAI == -1)
              {
                total = total + parseInt(bill.TONG_TIEN_SAU_KHI_GIAM)
              }
            })
            console.log(total)
            this.BILLS_LOCAL = new_bills
        },
        selected_store(val)
        {
          this.$store.commit("FilterBillByStore",val)
        },
        BILL_SEARCH(new_search)
        {
            var total = 0;
            new_search.forEach((bill) => {
              total = total + parseInt(bill.TONG_TIEN)
            })
          this.BILLS_LOCAL = new_search
        }
    },
    methods:
    {
      renderListProduct(ListProduct)
      {
        const LIST = JSON.parse(ListProduct)
        return LIST
      },
      deleteData(data)
      {
        this.$vs.dialog({
            type:'confirm',
            color: 'warning',
            title:  'Xóa hóa đơn',
            text: `Bạn có đồng ý xóa hóa đơn của khách hàng ${data.TEN_KH} ?`,
            acceptText: 'Đồng ý',
            cancelText: 'Hủy',
            data: data,
            acceptText: 'Đồng ý',
            cancelText: 'Hủy',
            accept: () => {
              this.acceptDelBill(data)
            }
          })
        
      },
      editData(data)
      {
        this.isSidebarActive = true
        this.dataEdit = data
      },
      acceptDelBill(data)
      {
        this.$store.dispatch("deleteBill",data.ID_HOA_DON)
        .then((response) => {
            if(response.success == true)
            {
              this.$vs.notify({
                title: 'Xóa hóa đơn',
                text:response.message,
                position: 'bottom-left',
                color:'success'
              })
            }
            else
            {
              this.$vs.notify({
                title: 'Xóa hóa đơn',
                text:response.message,
                position: 'bottom-left',
                color:'warning'
              })
            }
        })
        .catch(() => {
            this.$vs.notify({
              title: 'Xóa hóa đơn',
              text: 'Lỗi server!',
              position: 'bottom-left',
              color:'danger'
            })
        })
      },
      FilterBill()
      {
        if(this.filter.time_start == null || this.filter.time_end == null)
        {
          if(this.filter.time_start == null)
          {
            this.$vs.notify({
              title: 'TÌM KIẾM HÓA ĐƠN',
              text: 'Bạn chưa nhập ngày bắt đầu',
              position: 'bottom-left',
              color: 'warning'
            })
          }
          if(this.filter.time_end == null)
          {
            this.$vs.notify({
              title: 'TÌM KIẾM HÓA ĐƠN',
              text: 'Bạn chưa nhập ngày bắt đầu',
              position: 'bottom-left',
              color: 'warning'
            })
          }
        }
        if(this.filter.time_end != null && this.filter.time_start !=null)
        {
          if(new Date(this.filter.time_end) < new Date(this.filter.time_start))
          {
            this.$vs.notify({
              title: 'TÌM KIẾM HÓA ĐƠN',
              text: 'NGÀY KẾT THÚC KHÔNG THỂ NHỎ HƠN NGÀY BẮT ĐẦU',
              position: 'bottom-left',
              color: 'warning'
            })
          }
          else
          {
            this.$vs.loading()
            this.filter.ID_CUA_HANG = this.selected_store == null ? 0 : this.selected_store.ID_CUA_HANG
            this.$store.dispatch('fetchBill',this.filter)
            .then((response) => {
               this.$vs.loading.close()
               this.$vs.notify({
                title: 'DANH SÁCH HÓA ĐƠN',
                text: response.message,
                position: 'bottom-left',
                color: 'success'
              })
            })
            .catch((err) => {
              this.$vs.loading.close()
              console.log(err)
              this.$vs.notify({
                title: 'DANH SÁCH HÓA ĐƠN',
                text: 'Lỗi! Xin vui lòng lọc lại',
                position: 'bottom-left',
                color: 'danger'
              })
            })
          }
        }
      },
      apiFetchBill()
      {
        this.$vs.loading()
        this.$store.dispatch('fetchBill').then(() => {
          setTimeout(() => {
            this.$vs.loading.close()
          },1000)
        })
        .catch(() => {
          setTimeout(() => {
            this.$vs.loading.close()
          },1000)

          this.$vs.notify({
            title: 'ECOSY',
            text: 'Qúa trình tải dữ liệu có vấn đề, xin bạn vui lòng load trang lại!',
            position: 'bottom-left',
            color:'warning'
          })
        })
      },
      formatTime(date)
      {
        return moment(date,'YYYY-MM-DD HH:mm:ss').format('HH:mm DD/MM/YYYY');
      }
    },
    created()
    {
      this.apiFetchBill();
      this.$store.dispatch('fetchStatusBill');
    }
}
</script>

<style lang="css">
  .item-bill.warning {background: rgba(var(--vs-warning));}
  .item-bill.success {background: rgba(var(--vs-primary));color: #fff}
  .item-bill.success * {color: #fff;}
</style>