<template>
    <div>
        <vs-table ref="table" :data="LIST_STATUS_BILL_LOCAL" >
          <div id="table-ecosy" slot="header" class="header-table-search flex flex-wrap-reverse items-center flex-grow mb-3">
                <v-select class="select-store mw-200"  placeholder="Chọn cửa hàng"  v-model="selected_store" :options="LIST_STORE" value="ID_CUA_HANG"  label="TEN_CUA_HANG" ></v-select>
                <vs-button type="border ml-5" @click="isSidebarActive = true"> <i class="fa fa-plus"></i> Thêm mới</vs-button>
          </div>
            
          <template slot="thead" >
            <vs-th sort-key="stt">STT</vs-th>
            <vs-th>CỬA HÀNG</vs-th>
            <vs-th>TÊN TRẠNG THÁI</vs-th>
            <vs-th>MÔ TẢ TRẠNG THÁI</vs-th>
            <vs-th>THAO TÁC</vs-th>
          </template>
          <template slot-scope="{data}">
            <tbody>
              <vs-tr class="item-status" :data="tr" :key="index" v-for="(tr, index) in data" 
                :class="tr.SELECTED == 1 ? 'active' : ''">


                <vs-td align="center">
                    <img v-if="tr.SELECTED == 1 " :src="icon_selected" width="15px" height="15px"  />
                    {{index + 1}}
                </vs-td>
                
                <vs-td>{{tr.TEN_CUA_HANG}}</vs-td>

                <vs-td>{{tr.TEN_TRANG_THAI}}</vs-td>

                <vs-td>{{tr.MO_TA_TRANG_THAI}}</vs-td>

                <vs-td class="whitespace-no-wrap">
                  <vs-button v-if="tr.STT != 0" class="btn-not-color" @click="editData(tr)" size="small"> <vs-icon icon="edit"></vs-icon></vs-button>
                  <vs-button v-if="tr.STT != 0 && tr.STT != -1 && tr.STT != 1" class="btn-not-color" @click="deleteData(tr)" size="small"> <vs-icon icon="delete"></vs-icon></vs-button>
                </vs-td>

              </vs-tr>
            </tbody>
          </template>
        </vs-table>
        <sidebar-status-bill :isSidebarActive="isSidebarActive" @close="isSidebarActive = $event"
                :data="status_edit"/>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    name: 'page-status-bill',
    components:
    {
        'sidebar-status-bill' : () => import('./status/sidebarStatusBill.vue')
    },
    data()
    {
        return {
            selected_store: null,
            isSidebarActive: false,
            status_edit: {},
            icon_selected: require('@/assets/icons/selection.svg')
        }
    },
    computed: {
        ...mapGetters(["LIST_STATUS_BILL", "LIST_STORE"]),
        LIST_STATUS_BILL_LOCAL()
        {
            if(this.selected_store != null)
            {
                return this.LIST_STATUS_BILL.filter((value,index,array) => {
                    return array[index].ID_CUA_HANG == this.selected_store.ID_CUA_HANG || array[index].ID_CUA_HANG == 0
                })
            }
            return this.LIST_STATUS_BILL;
        }
    },
    watch:
    {
        isSidebarActive(boolean)
        {
            if(boolean == false) this.status_edit = {   }
        }
    },
    methods:
    {
        apiFetchStatus()
        {
            this.$vs.loading();
            this.$store.dispatch('fetchStatusBill')
            .then((response) => {
                if(response.status == 401) this.$router.push('/logout');
                this.$vs.notify({
                    title: 'DANH SÁCH TRẠNG THÁI HÓA ĐƠN',
                    text: response.message,
                    color: response.success == true ? 'success' : 'warning'
                });
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
            .catch((err) => {
                setTimeout(() => {
                    this.$vs.loading.close();
                }, 500);
            })
        },
        editData(data)
        {
            this.isSidebarActive = true
            this.status_edit = data
        }
    },
    created()
    {
        this.apiFetchStatus();
    }
}
</script>

<style lang="css">
    .item-status.active {background: var(--vs-success);}
</style>