<template>
  <vs-sidebar position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
    <div class="mt-6 flex items-center justify-between px-6">
        <h4>THÔNG TIN HÓA ĐƠN </h4>
        <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
        
    </div>
    <vs-divider class="mb-0"></vs-divider>
    <VuePerfectScrollbar class="scroll-area--data-list-add-new " v-if="Object.entries(data).length > 0">
        <div class="pd15">
            <div class="card__info_item">
              <span>TRẠNG THÁI HÓA ĐƠN: </span>
              {{data.TEN_TRANG_THAI}}
            </div>
            <div class="card__info_item">
              <span>NGÀY TẠO HÓA ĐƠN: </span>
              {{data.CREATED_AT}}
            </div>
            <div class="card__info_item">
              <span>KHÁCH HÀNG: </span>
              {{data.TEN_KH}}
            </div>
            <div class="card__info_item">
              <span>CỬA HÀNG: </span>
              {{data.TEN_CUA_HANG}}
            </div>
            <div class="card__info_item" v-for="(product,index) in LIST_PRODUCT" :key="index">
              <span> {{product.TEN_SAN_PHAM}}: </span>
              {{product.SO_LUONG}} x {{(product.GIA_SAN_PHAM).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')}}
              =  {{ ((product.SO_LUONG) * (product.GIA_SAN_PHAM) ).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') }}  vnđ
            </div>
            <div class="card__info_item" v-if="data.DOI_DIEM > 0">
              <span> SÓ ĐIỂM SỬ DỤNG: </span>
              {{data.DOI_DIEM}}
            </div>
            <div class="card__info_item" v-if="data.DIEM_TICH_LUY > 0" >
              <span> GIẢM GIÁ: </span>
              {{data.GIAM_GIA}}%
            </div>
             <div class="card__info_item" v-if="data.GIAM_GIA > 0" >
              <span> GIẢM GIÁ: </span>
              {{data.GIAM_GIA}}%
            </div>
             <div class="card__info_item" >
              <span> THÀNH TIỀN: </span>
              <span :class="data.GIAM_GIA > 0 ? 'active' : ''">{{(data.TONG_TIEN).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')}} vnđ</span>
              <span style="margin-left: 15px" v-if="data.GIAM_GIA > 0">{{(data.TONG_TIEN_SAU_KHI_GIAM).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')}} vnđ</span>
            </div>
            <vs-button class="mt-3" type="border" v-if="data.STT_TRANG_THAI > 0">Cập nhật hóa đơn >></vs-button>
        </div>
    </VuePerfectScrollbar>
    <div class="flex flex-wrap items-center p-6 layout-pc" slot="footer">
      <vs-button class="mr-1" v-if="data.STT_TRANG_THAI > 0" type="border" 
      color="primary" @click="updateBill(-1)">Thanh toán</vs-button>
      <vs-button class="mr-1" v-if="data.STT_TRANG_THAI > 0" type="border" 
      color="warning" @click="updateBill(0)">Hủy</vs-button>
      <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">Đóng</vs-button>
    </div>
  </vs-sidebar>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import { mapGetters } from 'vuex'

export default {
  props: ["isSidebarActive", "data"],
    components:
    {
        VuePerfectScrollbar
    },
    data()
    {
        return {
           LIST_PRODUCT: {}
        }
    },
    computed:
    {
      isSidebarActiveLocal:
      {
          get() {
              return this.isSidebarActive
          },
          set(val)
          {
              this.$emit('close',val)
          }
      },
    },
    watch: {
      data(newVal)
      {
        this.LIST_PRODUCT = JSON.parse(newVal.VALUE_HOA_DON);
      }
    },
    methods:
    {
      updateBill(status)
      {
        this.$vs.loading();
        this.$store.dispatch('updateStatusOfBill',{
          ID_HOA_DON: this.data.ID_HOA_DON,
          STATUS: status,
          TEN_TRANG_THAI: status == -1 ? 'Đã được thanh toán' : 'Hủy'
        })
        .then((response) => {
          if(response.status == 401) this.$router.push('/logout');
          this.$vs.notify({
            title: 'CẬP NHẬT TRẠNG THÁI THANH TOÁN',
            text: response.message,
            color: response.success == true ? 'success' : 'warning'
          });
          setTimeout(() => {
            this.$vs.loading.close();
          }, 500);
        })
        .catch((err) => {
          setTimeout(() => {
            this.$vs.loading.close();
          }, 500);
        })
      }
    }

}
</script>


<style lang="scss" scoped>
.card-image-customer {
  width: 150px;
  height: 200px;
  margin: auto;
  margin-bottom: 15px;
  position: relative;
}
.input-file, .Imagecustomer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
}
.Imagecustomer {z-index: 998;opacity: 1;height: auto;}
.icon-upload-file {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 997;
  transform: translate(-50%,-50%)
}
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 400px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    height: calc(100% - 4.3rem);
}
#data-setting.active {position: absolute;width: 100%;height: 100%;top: 0;left: 0;opacity: .5;;}
</style>