<template>
   <router-view></router-view>
</template>

<script>
import moduleBill from '@/store/bill/moduleBill.js'
import moduleCustomer from '@/store/customer/moduleCustomer.js'
import moduleProduct from '@/store/product/moduleProduct.js'
import moduleWarehouse from '@/store/warehouse/moduleWarehouse.js'
export default {
    name: 'page-bill',
    created()
    {
        if(!this.$store.hasModule('bill'))
        {
            this.$store.registerModule('bill', moduleBill)
        }
        if(!this.$store.hasModule('warehouse'))
        {
            this.$store.registerModule('warehouse', moduleWarehouse)
        }
    },
    beforeDestroy()
    {
        this.$store.unregisterModule('bill')
        this.$store.unregisterModule('warehouse')
    }
}
</script>