<template>
<ul class="list-product" >
    <li style="width: 35%">
        ( <strong>{{product.MA_SAN_PHAM}}</strong> ) {{product.TEN_SAN_PHAM}}
    </li>
    <li>{{formatMoney(product.GIA_SAN_PHAM)}}</li>
    <li style="width: 15%">{{product.SO_LUONG}}</li>
    <li><vs-input-number min="0" :max="product.SO_LUONG" v-model="number"/></li>
</ul>
</template>

<script>
export default {
    props: {
        product: {
            required: true,
            type: Object
        },
        reload: {
            type: Boolean
        },
        list: {
            type: Array
        }
    },
    data()
    {
        return {
            number: 0,
            product_local: {

            }
        }
    },
    watch:
    {
        number(new_value)
        {
            const SL_SP = this.product.SO_LUONG_HT
            console.log('SỐ LƯỢNG',SL_SP)
            // this.product_local.SO_LUONG_HT = SL_SP - new_value
            if(new_value > 0)
            {
                this.$store.dispatch("addBill",{
                    ID_SAN_PHAM: this.product.ID_SAN_PHAM,
                    TEN_SAN_PHAM: this.product.TEN_SAN_PHAM,
                    GIA_SAN_PHAM: this.product.GIA_SAN_PHAM,
                    SO_LUONG: new_value
                })
            }
            else
            {
                this.$store.dispatch("removeBill",this.product.ID_SAN_PHAM)
            }
        },
        reload(boolean)
        {
            console.log('reload ',bool)
            if(boolean == true) 
            {
                this.number = 0;
                // this.$emit('updateReload',false);
            }
        },
        list(new_list)
        {
            const IndexProduct = new_list.findIndex((product) => product.ID_SAN_PHAM == this.product.ID_SAN_PHAM);
            if(IndexProduct != -1)
            {
                this.number = new_list[IndexProduct].SO_LUONG;
            }
            else
            {
                this.number = 0
            }
        }
    },
    methods:
    {
        formatMoney(number)
        {
            if(number == undefined) return 0;
            return  number.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
        }
    }
}
</script>

<style lang="css">
    .list-product>li *,.list-product>li{font-size: 12px;}
</style>