<template>
  <vs-sidebar @keyup.esc="isSidebarActiveLocal = false" click-not-close position-left parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
    <div class="mt-6 flex items-center justify-between px-6">
        <h4>DANH SÁCH SẢN PHẨM KHÁC CỦA CỬA HÀNG </h4>
        <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
    </div>
    <vs-divider class="mb-0"></vs-divider>
    <VuePerfectScrollbar class="scroll-area--data-list-add-new p-6" >
        <vs-button type="border" size="small" @click="addProduct()">+</vs-button>
        <vs-row vs-w="12" v-for="(bill,index) in products" :key="index">
            
            <vs-col class="pd-5" vs-justify="left" vs-align="left" vs-lg="5" vs-sm="5" vs-xs="5" >
                <vs-input v-model="bill.TEN_SAN_PHAM"  class="mt-5 mr-5 w-full" type="text"></vs-input>
            </vs-col>

            <vs-col class="pd-5"  vs-justify="left" vs-align="left" vs-lg="4" vs-sm="4" vs-xs="4" >
                <vs-input v-model="bill.GIA_SAN_PHAM"  class="mt-5 mr-5 w-full" type="number"></vs-input>
            </vs-col>
        
            <vs-col class="pd-5" vs-justify="left" vs-align="left" vs-lg="2" vs-sm="2" vs-xs="2" >
                <vs-input min="1" v-model="bill.SO_LUONG"  class="mt-5 mr-5 w-full" type="number"></vs-input>
            </vs-col>

            <vs-col class="pd-5" vs-justify="left" vs-align="left" vs-lg="1" vs-sm="1" vs-xs="1" >
                <vs-button icon="delete" class="mt-5" @click="removeProduct(index)"></vs-button>
            </vs-col>
      </vs-row>
        <div class="flex flex-wrap items-center p-6 layout-mobile" slot="footer">
        <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">Cancel</vs-button>
        </div>
    </VuePerfectScrollbar>
    <div class="flex flex-wrap items-center p-6 layout-pc" slot="footer">
      <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">Cancel</vs-button>
    </div>
  </vs-sidebar>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'

export default {
    props: ["isSidebarActive"],
    components:
    {
        VuePerfectScrollbar,
        'item-product': () => import("./itemProduct")
    },
    data()
    {
        return {
            products: []
        }
    },
    computed:
    {
      isSidebarActiveLocal:
      {
          get() {
              return this.isSidebarActive
          },
          set(val)
          {
              this.$emit('close',val)
          }
      }
    },
    watch:
    {   
        products(products)
        {
            this.$emit('update',products)
        }
    },
    methods:
    {
        removeProduct(index)
        {
            this.products.splice(index,1)
        },
        addProduct()
        {
        this.products.push({
            ID_SAN_PHAM: 0,
            TEN_SAN_PHAM: '',
            GIA_SAN_PHAM: 0,
            SO_LUONG: 1
        })
        },
    }
}
</script>


<style lang="scss" scoped>
.card-image-customer {
  width: 150px;
  height: 200px;
  margin: auto;
  margin-bottom: 15px;
  position: relative;
}
.input-file, .Imagecustomer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
}
.Imagecustomer {z-index: 998;opacity: 1;height: auto;}
.icon-upload-file {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 997;
  transform: translate(-50%,-50%)
}
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 400px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    height: calc(100% - 4.3rem);
}
#data-setting.active {position: absolute;width: 100%;height: 100%;top: 0;left: 0;opacity: .5;;}
</style>