<template>
  <vs-sidebar @keyup.esc="isSidebarActiveLocal = false" position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
    <div class="mt-6 flex items-center justify-between px-6">
        <h4>DANH SÁCH HÓA ĐƠN CHƯA THANH TOÁN</h4>
        <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
    </div>
    <vs-divider class="mb-0"></vs-divider>
    <VuePerfectScrollbar class="scroll-area--data-list-add-new" >
        <div class="p-3">
            <label for="LIST_STORE" class="vs-input--label">Danh sách cửa hàng</label>
            <v-select class="w-full" :options="LIST_STORE" v-model="selected_store_local"
              value="ID_CUA_HANG" label="TEN_CUA_HANG" placeholder="Chọn cửa hàng"></v-select>
            <p align="center" class="mb-3 mt-3">Danh sách hóa đơn chưa thanh toán</p>
            <vs-table ref="table" :data="LIST_BILL_NOT_PAY_LOCAL" >
                <template slot="thead" >
                  <vs-th>
                    <vs-checkbox v-model="checkAll"></vs-checkbox>
                  </vs-th>
                  <vs-th>SỐ ĐIỆN THOẠI</vs-th>
                  <vs-th>KHÁCH HÀNG</vs-th>
                  <vs-th>TỔNG TIỀN</vs-th>
                  <vs-th > </vs-th>
                </template>
                <template slot-scope="{data}">
                  <tbody>
                    <vs-tr :data="tr" :key="index" v-for="(tr, index) in data">
                      <vs-td>
                          <vs-checkbox v-model="LIST_BILL_PAY" :vs-value="tr.ID_HOA_DON"></vs-checkbox>
                      </vs-td>
                      <vs-td>
                        {{tr.SDT_KH}}
                      </vs-td>
                      <vs-td>
                        {{tr.TEN_KH}}
                      </vs-td>
                      <vs-td>
                        <span class="total-money" :class="tr.TONG_TIEN != tr.TONG_TIEN_SAU_KHI_GIAM ? 'active' : ''"> <i>{{formatMoney(tr.TONG_TIEN)}}</i>  </span>
                        <span class="money-sale ml-3" v-if="tr.TONG_TIEN != tr.TONG_TIEN_SAU_KHI_GIAM">
                            <i>{{formatMoney(tr.TONG_TIEN_SAU_KHI_GIAM)}}</i>
                        </span>
                      </vs-td>
                      <vs-td class="whitespace-no-wrap">
                        <vs-button @click="payOneBill(tr.ID_HOA_DON)" class="btn-not-color p-2"><i class="fa fa-dollar"></i></vs-button>
                        <vs-button @click="EditBill(tr)" class="btn-not-color p-2"><i class="fa fa-pen"></i></vs-button>
                        <vs-button class="btn-not-color p-2"><i class="fa fa-trash"></i></vs-button>
                      </vs-td>

                    </vs-tr>
                  </tbody>
                </template>
            </vs-table>
        </div>
    </VuePerfectScrollbar>
    <div class="flex flex-wrap items-center p-6 layout-pc" slot="footer">
      <vs-button @click="payAllBill(-1)" class="m-1" type="border" v-if="LIST_BILL_PAY.length > 0">Thanh toán</vs-button>
      <vs-button @click="payAllBill(0)" class="m-1" type="border" color="warning" v-if="LIST_BILL_PAY.length > 0">Hủy thanh toán</vs-button>
      <vs-button class="m-1" type="border" color="danger" @click="isSidebarActiveLocal = false">Đóng</vs-button>
    </div>
  </vs-sidebar>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import { mapGetters } from 'vuex'

export default {
    props: {
        isSidebarActive: {
            required: true,
            type: Boolean
        },
        selected_store: {
          required: true,
        }
    },
    components:
    {
        VuePerfectScrollbar
    },
    data()
    {
        return {
          LIST_BILL_PAY: [],
          checkAll: false,
          selected_store_local: null
        }
    },
    computed: {
        isSidebarActiveLocal: {
            get(){
                return this.isSidebarActive;
            },
            set(boolean)
            {
                this.$emit('close',boolean)
            }
        },
        ...mapGetters(["LIST_BILL_NOT_PAY", "LIST_STORE"]),
        LIST_BILL_NOT_PAY_LOCAL()
        {
          if(this.selected_store_local != null) return this.LIST_BILL_NOT_PAY.filter((value,index,array) => {
            return array[index].ID_CUA_HANG == this.selected_store_local.ID_CUA_HANG;
          });
          return []
        }
    },
    watch:
    {
          checkAll(boolean)
          {
            if(boolean == true) this.LIST_BILL_NOT_PAY_LOCAL.forEach((bill) => {
              this.LIST_BILL_PAY.push(bill.ID_HOA_DON)
            });
            else this.LIST_BILL_PAY = []
          },
          selected_store(store)
          {
            this.selected_store_local = store
          },
          selected_store_local(store_local)
          {
            this.checkAll = false;
          },
          isSidebarActiveLocal(boolean)
          {
            if(!boolean) return;
            this.selected_store_local = this.selected_store != null ? this.selected_store : null;
            
          }
    },
    methods:
    {
        formatMoney(money)
        {
            var money_format = parseInt(money);
            return (money_format/1000).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') +' K';
        },
        payAllBill(status_action)
        {
          this.$vs.loading();
          if(this.selected_store_local != null)
          {
            this.$store.dispatch('payAllBill',{
              LIST: this.LIST_BILL_PAY,
              STATUS: status_action,
              ID_CUA_HANG: this.selected_store_local != null ? this.selected_store_local.ID_CUA_HANG : 0
            })
            .then((response) => {
                if(response.status == 401) this.$router.push('/logout');
                this.$vs.notify({
                  title: 'THANH TOÁN HÓA ĐƠN',
                  text: response.message,
                  color: response.success == true ? 'success' : 'warning'
                });
                setTimeout(() => {
                  this.$vs.loading.close();
                }, 500);
            })
            .catch((err) => {
              console.log(err);
              setTimeout(() => {
                this.$vs.loading.close();
              }, 500);
            })
          }
          else
          {
            this.$vs.notify({
              title: 'THANH TOÁN HÓA ĐƠN',
              text: 'Bạn chưa chọn cửa hàng',
              color: 'warning'
            });
            setTimeout(() => {
              this.$vs.loading.close();
            }, 500);
          }
        },
        payOneBill(ID_HOA_DON)
        {
          this.LIST_BILL_PAY = [];
          this.LIST_BILL_PAY.push(ID_HOA_DON);
          this.payAllBill(-1);
        },
        EditBill(data)
        {
          this.$emit('editBill',data);
          this.isSidebarActiveLocal = false;
        }
    }
}
</script>


<style lang="scss" scoped>
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 700px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    height: calc(100% - 4.3rem);
}
.total-money.active {text-decoration: line-through;}
.list-bill-not-pay {margin-top: 10px;;}
.list-bill-not-pay .item-bill {display: inline-block;}
.list-bill-not-pay li {border:1px solid #ccc;border-bottom: none;}
.list-bill-not-pay li:last-child {border-bottom: 1px solid #ccc;}
.list-bill-not-pay li:hover {background: #fff;}
.group-action.item-bill {float: right;text-align: right;}
</style>