<template>
    <section class="ftco-about img ftco-section" id="about-section">
		<count-time  :data="data" />
    	<div class="container">
    		<div class="row d-flex no-gutters">
    			<div class="col-md-6 col-lg-6 d-flex">
    				<div class="img-about img d-flex align-items-stretch">
    					<div class="overlay"></div>
	    				<div id="background-product" class="img d-flex align-self-stretch align-items-center" :style="`background-image:url(${this.$store.state.public_domain}${product.HINH_ANH_DAI_DIEN});`">
	    				</div>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-6 pl-md-5">
    				<div class="row justify-content-start pb-3">
		          <div class="col-md-12 heading-section ">
		            <h2 id="title-product" class="mb-4">{{product.TEN_SAN_PHAM}}</h2>
		            <p id="price-product">
						<strong>Giá: </strong> 
						<span>{{(price).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')}} vnđ</span>
						<span class="price-sale" v-if="price < product.GIA_SAN_PHAM">{{( product.GIA_SAN_PHAM).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')}} vnđ</span>
					</p>
					<p class="number-product">
						<strong>Số lượng: </strong> 
						<span> {{product.SO_LUONG_BAN}}</span>
					</p>
					<p class="number-product">
						<strong>Số lượng còn lại: </strong> 
						<span> {{product.SO_LUONG_CL}}</span>
					</p>
		            <div id="text-product" v-html="product.NOI_DUNG_SAN_PHAM">
		            	
		            </div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>
</template>

<script>
export default {
	props: ["product", "data"],
	components:
	{
		'count-time': () => import('./countTime.vue')
	},
	computed: {
		price()
		{
			console.log()
			var price_sale = ((parseInt(this.product.GIA_SAN_PHAM )* parseInt(this.product.GIAM_GIA)) / 100)
			var total =  parseInt(this.product.GIA_SAN_PHAM) - parseInt(price_sale)
			console.log(this.product.GIA_SAN_PHAM, total)
			return total;
		}
	},
}
</script>

<style>
.price-sale {text-decoration: line-through;     font-style: italic; margin-left: 15px;}
</style>