<template>
    <section class="ftco-section contact-section ftco-no-pb" id="contact-section">
      <div class="container">
      	<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ">
            <h2 class="mb-4">LIÊN HỆ NGAY</h2>
          </div>
        </div>

        <div class="row d-flex contact-info mb-5">
          <div class="col-md-6 col-lg-3 d-flex ">
          	<div class="align-self-stretch box text-center p-4 bg-light">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="fa fa-map-marker"></span>
          		</div>
          		<div>
	          		<h3 class="mb-4">Địa chỉ</h3>
		            <p>{{$store.state.landingpage.CONTACT.ADDRESS_CONTACT}}</p>
		          </div>
	          </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex ">
          	<div class="align-self-stretch box text-center p-4 bg-light">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="fa fa-phone"></span>
          		</div>
          		<div>
	          		<h3 class="mb-4">Số điện thoại</h3>
		            <p><a :href="`tel://${$store.state.landingpage.CONTACT.PHONE_CONTACT}`">{{$store.state.landingpage.CONTACT.PHONE_CONTACT}}</a></p>
	            </div>
	          </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex ">
          	<div class="align-self-stretch box text-center p-4 bg-light">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="fa fa-paper-plane"></span>
          		</div>
          		<div>
	          		<h3 class="mb-4">Email</h3>
		            <p><a :href="`mailto:${$store.state.landingpage.CONTACT.EMAIL_CONTACT}`">{{$store.state.landingpage.CONTACT.EMAIL_CONTACT}}</a></p>
		          </div>
	          </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex ">
          	<div class="align-self-stretch box text-center p-4 bg-light">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="fa fa-globe"></span>
          		</div>
          		<div>
	          		<h3 class="mb-4">Website</h3>
		            <p><a :href="$store.state.landingpage.CONTACT.WEBSITE_CONTACT">{{$store.state.landingpage.CONTACT.WEBSITE_CONTACT}}</a></p>
	            </div>
	          </div>
          </div>
        </div>

        <div class="row no-gutters block-9">
          <div class="col-md-6 order-md-last d-flex">
            <form action="#" class="bg-light p-4 p-md-5 contact-form">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Subject">
              </div>
              <div class="form-group">
                <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
              </div>
            </form>
          
          </div>

          <div class="col-md-6 d-flex">
          	<div id="map" class="map" v-html="$store.state.landingpage.CONTACT.MAP_CONTACT">
              </div>
            
          	<!-- <div class="img" style="background-image: url(images/about.jpg);"></div> -->
          </div>
        </div>
      </div>
    </section>
</template>

<style lang="css">
#map {overflow: hidden}
    
</style>