<template>

<div class="row group-time">
  <div id="group-count-time">
    <div class="card">
    <p class="time" id="days">{{day}}</p>
    <span>Days</span>  
   </div>
  <div class="card">
    <p class="time" id="hours">{{hours}}</p>
    <span>Hours</span>
    </div>
  <div class="card">
    <p class="time" id="minutes">{{minutes}}</p>
    <span>Minutes</span>
    </div>
  <div class="card">
    <p class="time" id="seconds">{{seconds}}</p>
    <span>Seconds</span>
</div>
  </div>
    
</div>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
    props: ["data"],
    data()
    {
        return {
            day: '00',
            hours: '00',
            minutes: '00',
            seconds: '00',
            time: 0
        }
    },
    computed: {
        ...mapGetters(["MARKETTING"])
    },
    watch: {
       time()
       {
           this.convert_time()
       }
    },
    methods: {
        convert_time()
        {
            var time = this.time;
            this.day =  parseInt((time)/(24*3600*1000));
            var time_cl = time % (24*3600*1000)
            this.hours =parseInt( time_cl / (3600*1000))
            time_cl = time_cl % (3600*1000)
            this.minutes = parseInt(time_cl / (60*1000))
            time_cl = time_cl % (60*1000)
            this.seconds = parseInt(time_cl / 1000)
            setTimeout(() => {
                    this.time = this.time - 1000
                    
                }, 1000)
        },
        startTimer() {
            console.log('start')
             setTimeout(() => {
                    this.convert_time()
                    
                }, 1000)
        }
    },
    created() {
        this.time =  new Date(this.MARKETTING.TIME_END_MARKETTING).getTime() - new Date().getTime()
    },
}
</script>


<style lang="css" scope>
#group-count-time {display:flex; width: 400px;margin:auto;}
.card {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: beige;
  border-radius: 1rem ;
  display: flex ; 
  justify-content: center; 
  align-items: center;
  transition: background-color 0.5s;
  margin: 5px;
}

.time {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  transition: color 0.5s;
}

.card span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  color: #333;
  transition: color 0.5s;
}

.fas {
  font-size: 2rem ;
  font-weight: bold;
  cursor: pointer; 
  color: #D90429;
  position: absolute; 
  left: 20px; 
  top: 20px;
}

/* /////////////////////// Dark /////////////////// */
body.dark {
  background-color: #2B2D42;
}

.dark .card {
  background-color: #8D99AE;
}

.dark .time , .dark span {
  color: #2B2D42
}

.dark .fas {
  color: #8D99AE
}
.group-time {margin-bottom: 15px;}
</style>