<template>
    <div  data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light site-navbar-target" id="ftco-navbar">
            <div class="container">
            <a class="navbar-brand" href="index.html">ECOSY<span>.</span></a>
            <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav nav ml-auto">
                <li class="nav-item"><a href="#home-section" class="nav-link"><span>Home</span></a></li>
                <li class="nav-item"><a href="#about-section" class="nav-link"><span>About</span></a></li>
                <li class="nav-item"><a href="#contact-section" class="nav-link"><span>Contact</span></a></li>
                </ul>
            </div>
            </div>
	    </nav>
        <section class="hero-wrap js-fullheight beige">
            <div class="overlay"></div>
            <div class="container-fluid px-0">
                <div class="row d-md-flex no-gutters slider-text align-items-center js-fullheight justify-content-end">
                    <img id="banner-marketting" class="one-third js-fullheight align-self-end order-md-last img-fluid" :src="`${this.$store.state.public_domain}${marketting.BANNER_MARKETTING}`" alt="">
                    <div class="one-forth d-flex align-items-center animate__animated animate__bounce js-fullheight">
                        <div class="text mt-5">
                                <h1 id="title-marketting">{{marketting.NAME_MARKETTING}}</h1>
                                <p id="content-marketting" v-html="marketting.CONTENT_MARKETTING"></p>
                    </div>
                    </div>
                    </div>
            </div>
        </section>
        <about-marketting v-if="Object.entries(product).length > 0" :product="product" :data="marketting"/>
        <contact-marketting />
    </div>
</template>

<script>
import '@/assets/landingpage/css/style.css'
import ModuleLandingPage from '@/store/landingpage/ModuleLandingPage.js'
export default {
    components: {
        'about-marketting': () => import('./about.vue'),
        'contact-marketting': () => import('./contact.vue')
    },
    data()
    {
        return {
            marketting: {},
            product: {}
        }
    },
    beforeCreate() {
        this.$store.registerModule('landingpage', ModuleLandingPage)
    },
    created() {
        if(Object.entries(this.$store.state.landingpage.MARKETTING).length == 0)
        {
            this.$store.dispatch('fetchMarkettingPublic',this.$route.params.uuid)
            .then((response) => {
                this.marketting = response
            })
        }
        else{
            this.marketting = this.$store.state.landingpage.MARKETTING
        }

        if(Object.entries(this.$store.state.landingpage.PRODUCT).length == 0)
        {
            this.$store.dispatch('fetchProductMarketting',this.$route.params.uuid)
            .then((response) => {
                this.product = response
            })
            .catch((err) => {
                this.product = {}
            })
            this.$store.dispatch('fetchContactMarketting',this.$route.params.uuid)
        }
    },
    beforeDestroy() {
        this.$store.unregisterModule('landingpage')
    },
}

</script>

<style lang="css">
    .beige {background: beige;}
</style>